<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Container Aware Event Dispatcher &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="EventDispatcher" href="index.html" />
    <link rel="next" title="The Generic Event Object" href="generic_event.html" />
    <link rel="prev" title="The EventDispatcher Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="generic_event.html" title="The Generic Event Object"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The EventDispatcher Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-container-aware-event-dispatcher">
<span id="index-0"></span><h1>The Container Aware Event Dispatcher<a class="headerlink" href="#the-container-aware-event-dispatcher" title="Permalink to this headline">¶</a></h1>
<div class="section" id="introduction">
<h2>Introduction<a class="headerlink" href="#introduction" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.html" title="Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher"><span class="pre">ContainerAwareEventDispatcher</span></a></tt> is
a special EventDispatcher implementation which is coupled to the service container
that is part of <a class="reference internal" href="../dependency_injection/introduction.html"><em>the DependencyInjection component</em></a>.
It allows services to be specified as event listeners making the EventDispatcher
extremely powerful.</p>
<p>Services are lazy loaded meaning the services attached as listeners will only be
created if an event is dispatched that requires those listeners.</p>
</div>
<div class="section" id="setup">
<h2>Setup<a class="headerlink" href="#setup" title="Permalink to this headline">¶</a></h2>
<p>Setup is straightforward by injecting a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DependencyInjection/ContainerInterface.html" title="Symfony\Component\DependencyInjection\ContainerInterface"><span class="pre">ContainerInterface</span></a></tt>
into the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.html" title="Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher"><span class="pre">ContainerAwareEventDispatcher</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\ContainerBuilder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher</span><span class="p">;</span>

<span class="nv">$container</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ContainerBuilder</span><span class="p">();</span>
<span class="nv">$dispatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ContainerAwareEventDispatcher</span><span class="p">(</span><span class="nv">$container</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="adding-listeners">
<h2>Adding Listeners<a class="headerlink" href="#adding-listeners" title="Permalink to this headline">¶</a></h2>
<p>The <em>Container Aware EventDispatcher</em> can either load specified services
directly, or services that implement <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/EventSubscriberInterface.html" title="Symfony\Component\EventDispatcher\EventSubscriberInterface"><span class="pre">EventSubscriberInterface</span></a></tt>.</p>
<p>The following examples assume the service container has been loaded with any
services that are mentioned.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Services must be marked as public in the container.</p>
</div>
<div class="section" id="adding-services">
<h3>Adding Services<a class="headerlink" href="#adding-services" title="Permalink to this headline">¶</a></h3>
<p>To connect existing service definitions, use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.html#method_addListenerService" title="Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher::addListenerService()"><span class="pre">addListenerService()</span></a></tt>
method where the <tt class="docutils literal"><span class="pre">$callback</span></tt> is an array of <tt class="docutils literal"><span class="pre">array($serviceId,</span> <span class="pre">$methodName)</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListenerService</span><span class="p">(</span><span class="nv">$eventName</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="s1">&#39;logListener&#39;</span><span class="p">));</span>
</pre></div>
</div>
</div>
<div class="section" id="adding-subscriber-services">
<h3>Adding Subscriber Services<a class="headerlink" href="#adding-subscriber-services" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><span class="pre">EventSubscribers</span></tt> can be added using the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ContainerAwareEventDispatcher.html#method_addSubscriberService" title="Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher::addSubscriberService()"><span class="pre">addSubscriberService()</span></a></tt>
method where the first argument is the service ID of the subscriber service,
and the second argument is the service&#8217;s class name (which must implement
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/EventSubscriberInterface.html" title="Symfony\Component\EventDispatcher\EventSubscriberInterface"><span class="pre">EventSubscriberInterface</span></a></tt>) as follows:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addSubscriberService</span><span class="p">(</span>
    <span class="s1">&#39;kernel.store_subscriber&#39;</span><span class="p">,</span>
    <span class="s1">&#39;StoreSubscriber&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><span class="pre">EventSubscriberInterface</span></tt> will be exactly as you would expect:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\EventSubscriberInterface</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="k">class</span> <span class="nc">StoreSubscriber</span> <span class="k">implements</span> <span class="nx">EventSubscriberInterface</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">static</span> <span class="k">function</span> <span class="nf">getSubscribedEvents</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;kernel.response&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
                <span class="k">array</span><span class="p">(</span><span class="s1">&#39;onKernelResponsePre&#39;</span><span class="p">,</span> <span class="mi">10</span><span class="p">),</span>
                <span class="k">array</span><span class="p">(</span><span class="s1">&#39;onKernelResponsePost&#39;</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span>
            <span class="p">),</span>
            <span class="s1">&#39;store.order&#39;</span>     <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;onStoreOrder&#39;</span><span class="p">,</span> <span class="mi">0</span><span class="p">),</span>
        <span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onKernelResponsePre</span><span class="p">(</span><span class="nx">FilterResponseEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onKernelResponsePost</span><span class="p">(</span><span class="nx">FilterResponseEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onStoreOrder</span><span class="p">(</span><span class="nx">FilterOrderEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Container Aware Event Dispatcher</a><ul>
<li><a class="reference internal" href="#introduction">Introduction</a></li>
<li><a class="reference internal" href="#setup">Setup</a></li>
<li><a class="reference internal" href="#adding-listeners">Adding Listeners</a><ul>
<li><a class="reference internal" href="#adding-services">Adding Services</a></li>
<li><a class="reference internal" href="#adding-subscriber-services">Adding Subscriber Services</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The EventDispatcher Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="generic_event.html"
                        title="next chapter">The Generic Event Object</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/event_dispatcher/container_aware_dispatcher.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="generic_event.html" title="The Generic Event Object"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The EventDispatcher Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>