<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Generic Event Object &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="EventDispatcher" href="index.html" />
    <link rel="next" title="The Immutable Event Dispatcher" href="immutable_dispatcher.html" />
    <link rel="prev" title="The Container Aware Event Dispatcher" href="container_aware_dispatcher.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="immutable_dispatcher.html" title="The Immutable Event Dispatcher"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="container_aware_dispatcher.html" title="The Container Aware Event Dispatcher"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-generic-event-object">
<span id="index-0"></span><h1>The Generic Event Object<a class="headerlink" href="#the-generic-event-object" title="Permalink to this headline">¶</a></h1>
<p>The base <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/Event.html" title="Symfony\Component\EventDispatcher\Event"><span class="pre">Event</span></a></tt> class provided by the
EventDispatcher component is deliberately sparse to allow the creation of
API specific event objects by inheritance using OOP. This allows for elegant and
readable code in complex applications.</p>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html" title="Symfony\Component\EventDispatcher\GenericEvent"><span class="pre">GenericEvent</span></a></tt> is available
for convenience for those who wish to use just one event object throughout their
application. It is suitable for most purposes straight out of the box, because
it follows the standard observer pattern where the event object
encapsulates an event &#8216;subject&#8217;, but has the addition of optional extra
arguments.</p>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html" title="Symfony\Component\EventDispatcher\GenericEvent"><span class="pre">GenericEvent</span></a></tt> has a simple API in
addition to the base class <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/Event.html" title="Symfony\Component\EventDispatcher\Event"><span class="pre">Event</span></a></tt></p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method___construct" title="Symfony\Component\EventDispatcher\GenericEvent::__construct()"><span class="pre">__construct()</span></a></tt>:
Constructor takes the event subject and any arguments;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_getSubject" title="Symfony\Component\EventDispatcher\GenericEvent::getSubject()"><span class="pre">getSubject()</span></a></tt>:
Get the subject;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_setArgument" title="Symfony\Component\EventDispatcher\GenericEvent::setArgument()"><span class="pre">setArgument()</span></a></tt>:
Sets an argument by key;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_setArguments" title="Symfony\Component\EventDispatcher\GenericEvent::setArguments()"><span class="pre">setArguments()</span></a></tt>:
Sets arguments array;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_getArgument" title="Symfony\Component\EventDispatcher\GenericEvent::getArgument()"><span class="pre">getArgument()</span></a></tt>:
Gets an argument by key;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_getArguments" title="Symfony\Component\EventDispatcher\GenericEvent::getArguments()"><span class="pre">getArguments()</span></a></tt>:
Getter for all arguments;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/GenericEvent.html#method_hasArgument" title="Symfony\Component\EventDispatcher\GenericEvent::hasArgument()"><span class="pre">hasArgument()</span></a></tt>:
Returns true if the argument key exists;</li>
</ul>
<p>The <tt class="docutils literal"><span class="pre">GenericEvent</span></tt> also implements <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.arrayaccess.php" title="ArrayAccess"><span class="pre">ArrayAccess</span></a></tt> on the event
arguments which makes it very convenient to pass extra arguments regarding the
event subject.</p>
<p>The following examples show use-cases to give a general idea of the flexibility.
The examples assume event listeners have been added to the dispatcher.</p>
<p>Simply passing a subject:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\GenericEvent</span><span class="p">;</span>

<span class="nv">$event</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GenericEvent</span><span class="p">(</span><span class="nv">$subject</span><span class="p">);</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>

<span class="k">class</span> <span class="nc">FooListener</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">handler</span><span class="p">(</span><span class="nx">GenericEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getSubject</span><span class="p">()</span> <span class="nx">instanceof</span> <span class="nx">Foo</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// ...</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Passing and processing arguments using the <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.arrayaccess.php" title="ArrayAccess"><span class="pre">ArrayAccess</span></a></tt> API to access
the event arguments:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\GenericEvent</span><span class="p">;</span>

<span class="nv">$event</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GenericEvent</span><span class="p">(</span>
    <span class="nv">$subject</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;type&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="s1">&#39;counter&#39;</span> <span class="o">=&gt;</span> <span class="mi">0</span><span class="p">)</span>
<span class="p">);</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;counter&#39;</span><span class="p">];</span>

<span class="k">class</span> <span class="nc">FooListener</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">handler</span><span class="p">(</span><span class="nx">GenericEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;type&#39;</span><span class="p">])</span> <span class="o">&amp;&amp;</span> <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;type&#39;</span><span class="p">]</span> <span class="o">===</span> <span class="s1">&#39;foo&#39;</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// ... do something</span>
        <span class="p">}</span>

        <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;counter&#39;</span><span class="p">]</span><span class="o">++</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Filtering data:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\GenericEvent</span><span class="p">;</span>

<span class="nv">$event</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GenericEvent</span><span class="p">(</span><span class="nv">$subject</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;data&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Foo&#39;</span><span class="p">));</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;data&#39;</span><span class="p">];</span>

<span class="k">class</span> <span class="nc">FooListener</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">filter</span><span class="p">(</span><span class="nx">GenericEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;data&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="nx">strtolower</span><span class="p">(</span><span class="nv">$event</span><span class="p">[</span><span class="s1">&#39;data&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="container_aware_dispatcher.html"
                        title="previous chapter">The Container Aware Event Dispatcher</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="immutable_dispatcher.html"
                        title="next chapter">The Immutable Event Dispatcher</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/event_dispatcher/generic_event.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="immutable_dispatcher.html" title="The Immutable Event Dispatcher"
             >next</a> |</li>
        <li class="right" >
          <a href="container_aware_dispatcher.html" title="The Container Aware Event Dispatcher"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>