<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Immutable Event Dispatcher &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="EventDispatcher" href="index.html" />
    <link rel="next" title="The Traceable Event Dispatcher" href="traceable_dispatcher.html" />
    <link rel="prev" title="The Generic Event Object" href="generic_event.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="traceable_dispatcher.html" title="The Traceable Event Dispatcher"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="generic_event.html" title="The Generic Event Object"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-immutable-event-dispatcher">
<span id="index-0"></span><h1>The Immutable Event Dispatcher<a class="headerlink" href="#the-immutable-event-dispatcher" title="Permalink to this headline">¶</a></h1>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/ImmutableEventDispatcher.html" title="Symfony\Component\EventDispatcher\ImmutableEventDispatcher"><span class="pre">ImmutableEventDispatcher</span></a></tt> is
a locked or frozen event dispatcher. The dispatcher cannot register new
listeners or subscribers.</p>
<p>The <tt class="docutils literal"><span class="pre">ImmutableEventDispatcher</span></tt> takes another event dispatcher with all the
listeners and subscribers. The immutable dispatcher is just a proxy of this
original dispatcher.</p>
<p>To use it, first create a normal dispatcher (<tt class="docutils literal"><span class="pre">EventDispatcher</span></tt> or
<tt class="docutils literal"><span class="pre">ContainerAwareEventDispatcher</span></tt>) and register some listeners or
subscribers:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\EventDispatcher</span><span class="p">;</span>

<span class="nv">$dispatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">EventDispatcher</span><span class="p">();</span>
<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListener</span><span class="p">(</span><span class="s1">&#39;foo.action&#39;</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$event</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">});</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<p>Now, inject that into an <tt class="docutils literal"><span class="pre">ImmutableEventDispatcher</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\ImmutableEventDispatcher</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$immutableDispatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ImmutableEventDispatcher</span><span class="p">(</span><span class="nv">$dispatcher</span><span class="p">);</span>
</pre></div>
</div>
<p>You&#8217;ll need to use this new dispatcher in your project.</p>
<p>If you are trying to execute one of the methods which modifies the dispatcher
(e.g. <tt class="docutils literal"><span class="pre">addListener</span></tt>), a <tt class="docutils literal"><span class="pre">BadMethodCallException</span></tt> is thrown.</p>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="generic_event.html"
                        title="previous chapter">The Generic Event Object</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="traceable_dispatcher.html"
                        title="next chapter">The Traceable Event Dispatcher</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/event_dispatcher/immutable_dispatcher.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="traceable_dispatcher.html" title="The Traceable Event Dispatcher"
             >next</a> |</li>
        <li class="right" >
          <a href="generic_event.html" title="The Generic Event Object"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>