<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Traceable Event Dispatcher &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="EventDispatcher" href="index.html" />
    <link rel="next" title="Expression Language" href="../expression_language/index.html" />
    <link rel="prev" title="The Immutable Event Dispatcher" href="immutable_dispatcher.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../expression_language/index.html" title="Expression Language"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="immutable_dispatcher.html" title="The Immutable Event Dispatcher"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-traceable-event-dispatcher">
<span id="index-0"></span><h1>The Traceable Event Dispatcher<a class="headerlink" href="#the-traceable-event-dispatcher" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The <tt class="docutils literal"><span class="pre">TraceableEventDispatcher</span></tt> class was moved to the EventDispatcher
component in Symfony 2.5. Before, it was located in the HttpKernel component.</p>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcher.html" title="Symfony\Component\EventDispatcher\Debug\TraceableEventDispatcher"><span class="pre">TraceableEventDispatcher</span></a></tt>
is an event dispatcher that wraps any other event dispatcher and can then
be used to determine which event listeners have been called by the dispatcher.
Pass the event dispatcher to be wrapped and an instance of the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch"><span class="pre">Stopwatch</span></a></tt> to its constructor:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\Debug\TraceableEventDispatcher</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Stopwatch\Stopwatch</span><span class="p">;</span>

<span class="c1">// the event dispatcher to debug</span>
<span class="nv">$eventDispatcher</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>

<span class="nv">$traceableEventDispatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TraceableEventDispatcher</span><span class="p">(</span><span class="nv">$eventDispatcher</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">());</span>
</pre></div>
</div>
<p>Now, the <tt class="docutils literal"><span class="pre">TraceableEventDispatcher</span></tt> can be used like any other event dispatcher
to register event listeners and dispatch events:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="c1">// register an event listener</span>
<span class="nv">$eventListener</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>
<span class="nv">$priority</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>
<span class="nv">$traceableEventDispatcher</span><span class="o">-&gt;</span><span class="na">addListener</span><span class="p">(</span><span class="s1">&#39;the-event-name&#39;</span><span class="p">,</span> <span class="nv">$eventListener</span><span class="p">,</span> <span class="nv">$priority</span><span class="p">);</span>

<span class="c1">// dispatch an event</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>
<span class="nv">$traceableEventDispatcher</span><span class="o">-&gt;</span><span class="na">dispatch</span><span class="p">(</span><span class="s1">&#39;the-event-name&#39;</span><span class="p">,</span> <span class="nv">$event</span><span class="p">);</span>
</pre></div>
</div>
<p>After your application has been processed, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcherInterface.html#method_getCalledListeners" title="Symfony\Component\EventDispatcher\Debug\TraceableEventDispatcherInterface::getCalledListeners()"><span class="pre">getCalledListeners()</span></a></tt>
method to retrieve an array of event listeners that have been called in your
application. Similarly, the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/EventDispatcher/Debug/TraceableEventDispatcherInterface.html#method_getNotCalledListeners" title="Symfony\Component\EventDispatcher\Debug\TraceableEventDispatcherInterface::getNotCalledListeners()"><span class="pre">getNotCalledListeners()</span></a></tt>
method returns an array of event listeners that have not been called:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="nv">$calledListeners</span> <span class="o">=</span> <span class="nv">$traceableEventDispatcher</span><span class="o">-&gt;</span><span class="na">getCalledListeners</span><span class="p">();</span>
<span class="nv">$notCalledListeners</span> <span class="o">=</span> <span class="nv">$traceableEventDispatcher</span><span class="o">-&gt;</span><span class="na">getNotCalledListeners</span><span class="p">();</span>
</pre></div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="immutable_dispatcher.html"
                        title="previous chapter">The Immutable Event Dispatcher</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../expression_language/index.html"
                        title="next chapter">Expression Language</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/event_dispatcher/traceable_dispatcher.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../expression_language/index.html" title="Expression Language"
             >next</a> |</li>
        <li class="right" >
          <a href="immutable_dispatcher.html" title="The Immutable Event Dispatcher"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >EventDispatcher</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>