

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Filesystem Component &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The Finder Component" href="finder.html" />
    <link rel="prev" title="The Container Aware Event Dispatcher" href="event_dispatcher/container_aware_dispatcher.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="finder.html" title="The Finder Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="event_dispatcher/container_aware_dispatcher.html" title="The Container Aware Event Dispatcher"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-filesystem-component">
<span id="index-0"></span><h1>The Filesystem Component<a class="headerlink" href="#the-filesystem-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Filesystem components provides basic utilities for the filesystem.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Filesystem">https://github.com/symfony/Filesystem</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/filesystem</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/filesystem">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html" title="Symfony\Component\Filesystem\Filesystem"><span class="pre">Filesystem</span></a></tt> class is the unique
endpoint for filesystem operations:</p>
<div class="highlight-python"><pre>use Symfony\Component\Filesystem\Filesystem;
use Symfony\Component\Filesystem\Exception\IOException;

$fs = new Filesystem();

try {
    $fs-&gt;mkdir('/tmp/random/dir/' . mt_rand());
} catch (IOException $e) {
    echo "An error occurred while creating your directory";
}</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Methods <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_mkdir" title="Symfony\Component\Filesystem\Filesystem::mkdir()"><span class="pre">mkdir()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_exists" title="Symfony\Component\Filesystem\Filesystem::exists()"><span class="pre">exists()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_touch" title="Symfony\Component\Filesystem\Filesystem::touch()"><span class="pre">touch()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_remove" title="Symfony\Component\Filesystem\Filesystem::remove()"><span class="pre">remove()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chmod" title="Symfony\Component\Filesystem\Filesystem::chmod()"><span class="pre">chmod()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chown" title="Symfony\Component\Filesystem\Filesystem::chown()"><span class="pre">chown()</span></a></tt> and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chgrp" title="Symfony\Component\Filesystem\Filesystem::chgrp()"><span class="pre">chgrp()</span></a></tt> can receive a
string, an array or any object implementing <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> as
the target argument.</p>
</div>
<div class="section" id="mkdir">
<h3>Mkdir<a class="headerlink" href="#mkdir" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_mkdir" title="Symfony\Component\Filesystem\Filesystem::mkdir()"><span class="pre">mkdir()</span></a></tt> creates directory.
On posix filesystems, directories are created with a default mode value
<cite>0777</cite>. You can use the second argument to set your own mode:</p>
<div class="highlight-python"><pre>$fs-&gt;mkdir('/tmp/photos', 0700);</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="exists">
<h3>Exists<a class="headerlink" href="#exists" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_exists" title="Symfony\Component\Filesystem\Filesystem::exists()"><span class="pre">exists()</span></a></tt> checks for the
presence of all files or directories and returns false if a file is missing:</p>
<div class="highlight-python"><pre>// this directory exists, return true
$fs-&gt;exists('/tmp/photos');

// rabbit.jpg exists, bottle.png does not exists, return false
$fs-&gt;exists(array('rabbit.jpg', 'bottle.png'));</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="copy">
<h3>Copy<a class="headerlink" href="#copy" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_copy" title="Symfony\Component\Filesystem\Filesystem::copy()"><span class="pre">copy()</span></a></tt> is used to copy
files. If the target already exists, the file is copied only if the source
modification date is later than the target. This behavior can be overridden by
the third boolean argument:</p>
<div class="highlight-python"><pre>// works only if image-ICC has been modified after image.jpg
$fs-&gt;copy('image-ICC.jpg', 'image.jpg');

// image.jpg will be overridden
$fs-&gt;copy('image-ICC.jpg', 'image.jpg', true);</pre>
</div>
</div>
<div class="section" id="touch">
<h3>Touch<a class="headerlink" href="#touch" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_touch" title="Symfony\Component\Filesystem\Filesystem::touch()"><span class="pre">touch()</span></a></tt> sets access and
modification time for a file. The current time is used by default. You can set
your own with the second argument. The third argument is the access time:</p>
<div class="highlight-python"><pre>// set modification time to the current timestamp
$fs-&gt;touch('file.txt');
// set modification time 10 seconds in the future
$fs-&gt;touch('file.txt', time() + 10);
// set access time 10 seconds in the past
$fs-&gt;touch('file.txt', time(), time() - 10);</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="chown">
<h3>Chown<a class="headerlink" href="#chown" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chown" title="Symfony\Component\Filesystem\Filesystem::chown()"><span class="pre">chown()</span></a></tt> is used to change
the owner of a file. The third argument is a boolean recursive option:</p>
<div class="highlight-python"><pre>// set the owner of the lolcat video to www-data
$fs-&gt;chown('lolcat.mp4', 'www-data');
// change the owner of the video directory recursively
$fs-&gt;chown('/video', 'www-data', true);</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="chgrp">
<h3>Chgrp<a class="headerlink" href="#chgrp" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chgrp" title="Symfony\Component\Filesystem\Filesystem::chgrp()"><span class="pre">chgrp()</span></a></tt> is used to change
the group of a file. The third argument is a boolean recursive option:</p>
<div class="highlight-python"><pre>// set the group of the lolcat video to nginx
$fs-&gt;chgrp('lolcat.mp4', 'nginx');
// change the group of the video directory recursively
$fs-&gt;chgrp('/video', 'nginx', true);</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="chmod">
<h3>Chmod<a class="headerlink" href="#chmod" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chmod" title="Symfony\Component\Filesystem\Filesystem::chmod()"><span class="pre">chmod()</span></a></tt> is used to change
the mode of a file. The fourth argument is a boolean recursive option:</p>
<div class="highlight-python"><pre>// set the mode of the video to 0600
$fs-&gt;chmod('video.ogg', 0600);
// change the mod of the src directory recursively
$fs-&gt;chmod('src', 0700, 0000, true);</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="remove">
<h3>Remove<a class="headerlink" href="#remove" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_remove" title="Symfony\Component\Filesystem\Filesystem::remove()"><span class="pre">remove()</span></a></tt> let&#8217;s you remove
files, symlink, directories easily:</p>
<div class="highlight-python"><pre>$fs-&gt;remove(array('symlink', '/path/to/directory', 'activity.log'));</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="rename">
<h3>Rename<a class="headerlink" href="#rename" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_rename" title="Symfony\Component\Filesystem\Filesystem::rename()"><span class="pre">rename()</span></a></tt> is used to rename
files and directories:</p>
<div class="highlight-python"><pre>//rename a file
$fs-&gt;rename('/tmp/processed_video.ogg', '/path/to/store/video_647.ogg');
//rename a directory
$fs-&gt;rename('/tmp/files', '/path/to/store/files');</pre>
</div>
</div>
<div class="section" id="symlink">
<h3>symlink<a class="headerlink" href="#symlink" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_symlink" title="Symfony\Component\Filesystem\Filesystem::symlink()"><span class="pre">symlink()</span></a></tt> creates a
symbolic link from the target to the destination. If the filesystem does not
support symbolic links, a third boolean argument is available:</p>
<div class="highlight-python"><pre>// create a symbolic link
$fs-&gt;symlink('/path/to/source', '/path/to/destination');
// duplicate the source directory if the filesystem
// does not support symbolic links
$fs-&gt;symlink('/path/to/source', '/path/to/destination', true);</pre>
</div>
</div>
<div class="section" id="makepathrelative">
<h3>makePathRelative<a class="headerlink" href="#makepathrelative" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_makePathRelative" title="Symfony\Component\Filesystem\Filesystem::makePathRelative()"><span class="pre">makePathRelative()</span></a></tt> returns
the relative path of a directory given another one:</p>
<div class="highlight-python"><pre>// returns '../'
$fs-&gt;makePathRelative(
    '/var/lib/symfony/src/Symfony/',
    '/var/lib/symfony/src/Symfony/Component'
);
// returns 'videos'
$fs-&gt;makePathRelative('/tmp/videos', '/tmp')</pre>
</div>
</div>
<div class="section" id="mirror">
<h3>mirror<a class="headerlink" href="#mirror" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_mirror" title="Symfony\Component\Filesystem\Filesystem::mirror()"><span class="pre">mirror()</span></a></tt> mirrors a
directory:</p>
<div class="highlight-python"><pre>$fs-&gt;mirror('/path/to/source', '/path/to/target');</pre>
</div>
</div>
<div class="section" id="isabsolutepath">
<h3>isAbsolutePath<a class="headerlink" href="#isabsolutepath" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_isAbsolutePath" title="Symfony\Component\Filesystem\Filesystem::isAbsolutePath()"><span class="pre">isAbsolutePath()</span></a></tt> returns
<tt class="docutils literal"><span class="pre">true</span></tt> if the given path is absolute, false otherwise:</p>
<div class="highlight-python"><pre>// return true
$fs-&gt;isAbsolutePath('/tmp');
// return true
$fs-&gt;isAbsolutePath('c:\\Windows');
// return false
$fs-&gt;isAbsolutePath('tmp');
// return false
$fs-&gt;isAbsolutePath('../dir');</pre>
</div>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span><tt class="docutils literal"><span class="pre">dumpFile</span></tt> is new in Symfony 2.3</p>
</div>
<div class="section" id="dumpfile">
<h3>dumpFile<a class="headerlink" href="#dumpfile" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_dumpFile" title="Symfony\Component\Filesystem\Filesystem::dumpFile()"><span class="pre">dumpFile()</span></a></tt> allows you to
dump contents to a file. It does this in an atomic manner: it writes a temporary
file first and then moves it to the new file location when it&#8217;s finished.
This means that the user will always see either the complete old file or
complete new file (but never a partially-written file):</p>
<div class="highlight-python"><pre>$fs-&gt;dumpFile('file.txt', 'Hello World');</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">file.txt</span></tt> file contains <tt class="docutils literal"><span class="pre">Hello</span> <span class="pre">World</span></tt> now.</p>
<p>A desired file mode can be passed as the third argument.</p>
</div>
</div>
<div class="section" id="error-handling">
<h2>Error Handling<a class="headerlink" href="#error-handling" title="Permalink to this headline">¶</a></h2>
<p>Whenever something wrong happens, an exception implementing
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Exception/ExceptionInterface.html" title="Symfony\Component\Filesystem\Exception\ExceptionInterface"><span class="pre">ExceptionInterface</span></a></tt> is
thrown.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">An <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Exception/IOException.html" title="Symfony\Component\Filesystem\Exception\IOException"><span class="pre">IOException</span></a></tt> is
thrown if directory creation fails.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Filesystem Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a><ul>
<li><a class="reference internal" href="#mkdir">Mkdir</a></li>
<li><a class="reference internal" href="#exists">Exists</a></li>
<li><a class="reference internal" href="#copy">Copy</a></li>
<li><a class="reference internal" href="#touch">Touch</a></li>
<li><a class="reference internal" href="#chown">Chown</a></li>
<li><a class="reference internal" href="#chgrp">Chgrp</a></li>
<li><a class="reference internal" href="#chmod">Chmod</a></li>
<li><a class="reference internal" href="#remove">Remove</a></li>
<li><a class="reference internal" href="#rename">Rename</a></li>
<li><a class="reference internal" href="#symlink">symlink</a></li>
<li><a class="reference internal" href="#makepathrelative">makePathRelative</a></li>
<li><a class="reference internal" href="#mirror">mirror</a></li>
<li><a class="reference internal" href="#isabsolutepath">isAbsolutePath</a></li>
<li><a class="reference internal" href="#dumpfile">dumpFile</a></li>
</ul>
</li>
<li><a class="reference internal" href="#error-handling">Error Handling</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="event_dispatcher/container_aware_dispatcher.html"
                        title="previous chapter">The Container Aware Event Dispatcher</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="finder.html"
                        title="next chapter">The Finder Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/filesystem.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="finder.html" title="The Finder Component"
             >next</a> |</li>
        <li class="right" >
          <a href="event_dispatcher/container_aware_dispatcher.html" title="The Container Aware Event Dispatcher"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>