

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Finder Component &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="HTTP Foundation" href="http_foundation/index.html" />
    <link rel="prev" title="The Filesystem Component" href="filesystem.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="http_foundation/index.html" title="HTTP Foundation"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="filesystem.html" title="The Filesystem Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-finder-component">
<span id="index-0"></span><h1>The Finder Component<a class="headerlink" href="#the-finder-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Finder Component finds files and directories via an intuitive fluent
interface.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Finder">https://github.com/symfony/Finder</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/finder</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/finder">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html" title="Symfony\Component\Finder\Finder"><span class="pre">Finder</span></a></tt> class finds files and/or
directories:</p>
<div class="highlight-python"><pre>use Symfony\Component\Finder\Finder;

$finder = new Finder();
$finder-&gt;files()-&gt;in(__DIR__);

foreach ($finder as $file) {
    // Print the absolute path
    print $file-&gt;getRealpath()."\n";

    // Print the relative path to the file, omitting the filename
    print $file-&gt;getRelativePath()."\n";

    // Print the relative path to the file
    print $file-&gt;getRelativePathname()."\n";
}</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">$file</span></tt> is an instance of <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/SplFileInfo.html" title="Symfony\Component\Finder\SplFileInfo"><span class="pre">SplFileInfo</span></a></tt>
which extends <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.splfileinfo.php" title="SplFileInfo"><span class="pre">SplFileInfo</span></a></tt> to provide methods to work with relative
paths.</p>
<p>The above code prints the names of all the files in the current directory
recursively. The Finder class uses a fluent interface, so all methods return
the Finder instance.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">A Finder instance is a PHP <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.iterator.php" title="Iterator"><span class="pre">Iterator</span></a></tt>. So, instead of iterating over the
Finder with <tt class="docutils literal"><span class="pre">foreach</span></tt>, you can also convert it to an array with the
<tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.iterator-to-array.php" title="iterator_to_array"><span class="pre">iterator_to_array</span></a></tt> method, or get the number of items with
<tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.iterator-count.php" title="iterator_count"><span class="pre">iterator_count</span></a></tt>.</p>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">When searching through multiple locations passed to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_in" title="Symfony\Component\Finder\Finder::in()"><span class="pre">in()</span></a></tt> method, a separate iterator
is created internally for every location. This means we have multiple result
sets aggregated into one.
Since <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.iterator-to-array.php" title="iterator_to_array"><span class="pre">iterator_to_array</span></a></tt> uses keys of result sets by default,
when converting to an array, some keys might be duplicated and their values
overwritten. This can be avoided by passing <tt class="docutils literal"><span class="pre">false</span></tt> as a second parameter
to <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.iterator-to-array.php" title="iterator_to_array"><span class="pre">iterator_to_array</span></a></tt>.</p>
</div>
</div>
<div class="section" id="criteria">
<h2>Criteria<a class="headerlink" href="#criteria" title="Permalink to this headline">¶</a></h2>
<p>There are lots of ways to filter and sort your results.</p>
<div class="section" id="location">
<h3>Location<a class="headerlink" href="#location" title="Permalink to this headline">¶</a></h3>
<p>The location is the only mandatory criteria. It tells the finder which
directory to use for the search:</p>
<div class="highlight-python"><pre>$finder-&gt;in(__DIR__);</pre>
</div>
<p>Search in several locations by chaining calls to
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_in" title="Symfony\Component\Finder\Finder::in()"><span class="pre">in()</span></a></tt>:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;in(__DIR__)-&gt;in('/elsewhere');</pre>
</div>
<p class="versionadded">
<span class="versionmodified">New in version 2.2: </span>Wildcard support was added in version 2.2.</p>
<p>Use wildcard characters to search in the directories matching a pattern:</p>
<div class="highlight-python"><pre>$finder-&gt;in('src/Symfony/*/*/Resources');</pre>
</div>
<p>Each pattern has to resolve to at least one directory path.</p>
<p>Exclude directories from matching with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_exclude" title="Symfony\Component\Finder\Finder::exclude()"><span class="pre">exclude()</span></a></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;in(__DIR__)-&gt;exclude('ruby');</pre>
</div>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_ignoreUnreadableDirs`" title="Symfony\Component\Finder\Finder::ignoreUnreadableDirs`()"><span class="pre">ignoreUnreadableDirs`()</span></a></tt>
method was added in Symfony 2.3.</p>
<p>It&#8217;s also possible to ignore directories that you don&#8217;t have permission to read:</p>
<div class="highlight-python"><pre>$finder-&gt;ignoreUnreadableDirs()-&gt;in(__DIR__);</pre>
</div>
<p>As the Finder uses PHP iterators, you can pass any URL with a supported
<a class="reference external" href="http://www.php.net/manual/en/wrappers.php">protocol</a>:</p>
<div class="highlight-python"><pre>$finder-&gt;in('ftp://example.com/pub/');</pre>
</div>
<p>And it also works with user-defined streams:</p>
<div class="highlight-python"><pre>use Symfony\Component\Finder\Finder;

$s3 = new \Zend_Service_Amazon_S3($key, $secret);
$s3-&gt;registerStreamWrapper("s3");

$finder = new Finder();
$finder-&gt;name('photos*')-&gt;size('&lt; 100K')-&gt;date('since 1 hour ago');
foreach ($finder-&gt;in('s3://bucket-name') as $file) {
    // ... do something

    print $file-&gt;getFilename()."\n";
}</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Read the <a class="reference external" href="http://www.php.net/streams">Streams</a> documentation to learn how to create your own streams.</p>
</div>
</div>
<div class="section" id="files-or-directories">
<h3>Files or Directories<a class="headerlink" href="#files-or-directories" title="Permalink to this headline">¶</a></h3>
<p>By default, the Finder returns files and directories; but the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_files" title="Symfony\Component\Finder\Finder::files()"><span class="pre">files()</span></a></tt> and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_directories" title="Symfony\Component\Finder\Finder::directories()"><span class="pre">directories()</span></a></tt> methods control that:</p>
<div class="highlight-python"><pre>$finder-&gt;files();

$finder-&gt;directories();</pre>
</div>
<p>If you want to follow links, use the <tt class="docutils literal"><span class="pre">followLinks()</span></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;followLinks();</pre>
</div>
<p>By default, the iterator ignores popular VCS files. This can be changed with
the <tt class="docutils literal"><span class="pre">ignoreVCS()</span></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;ignoreVCS(false);</pre>
</div>
</div>
<div class="section" id="sorting">
<h3>Sorting<a class="headerlink" href="#sorting" title="Permalink to this headline">¶</a></h3>
<p>Sort the result by name or by type (directories first, then files):</p>
<div class="highlight-python"><pre>$finder-&gt;sortByName();

$finder-&gt;sortByType();</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Notice that the <tt class="docutils literal"><span class="pre">sort*</span></tt> methods need to get all matching elements to do
their jobs. For large iterators, it is slow.</p>
</div>
<p>You can also define your own sorting algorithm with <tt class="docutils literal"><span class="pre">sort()</span></tt> method:</p>
<div class="highlight-python"><pre>$sort = function (\SplFileInfo $a, \SplFileInfo $b)
{
    return strcmp($a-&gt;getRealpath(), $b-&gt;getRealpath());
};

$finder-&gt;sort($sort);</pre>
</div>
</div>
<div class="section" id="file-name">
<h3>File Name<a class="headerlink" href="#file-name" title="Permalink to this headline">¶</a></h3>
<p>Restrict files by name with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_name" title="Symfony\Component\Finder\Finder::name()"><span class="pre">name()</span></a></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;name('*.php');</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">name()</span></tt> method accepts globs, strings, or regexes:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;name('/\.php$/');</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">notName()</span></tt> method excludes files matching a pattern:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;notName('*.rb');</pre>
</div>
</div>
<div class="section" id="file-contents">
<h3>File Contents<a class="headerlink" href="#file-contents" title="Permalink to this headline">¶</a></h3>
<p>Restrict files by contents with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_contains" title="Symfony\Component\Finder\Finder::contains()"><span class="pre">contains()</span></a></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;contains('lorem ipsum');</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">contains()</span></tt> method accepts strings or regexes:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;contains('/lorem\s+ipsum$/i');</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">notContains()</span></tt> method excludes files containing given pattern:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;notContains('dolor sit amet');</pre>
</div>
</div>
<div class="section" id="path">
<h3>Path<a class="headerlink" href="#path" title="Permalink to this headline">¶</a></h3>
<p class="versionadded">
<span class="versionmodified">New in version 2.2: </span>The <tt class="docutils literal"><span class="pre">path()</span></tt> and <tt class="docutils literal"><span class="pre">notPath()</span></tt> methods were added in version 2.2.</p>
<p>Restrict files and directories by path with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_path" title="Symfony\Component\Finder\Finder::path()"><span class="pre">path()</span></a></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;path('some/special/dir');</pre>
</div>
<p>On all platforms slash (i.e. <tt class="docutils literal"><span class="pre">/</span></tt>) should be used as the directory separator.</p>
<p>The <tt class="docutils literal"><span class="pre">path()</span></tt> method accepts a string or a regular expression:</p>
<div class="highlight-python"><pre>$finder-&gt;path('foo/bar');
$finder-&gt;path('/^foo\/bar/');</pre>
</div>
<p>Internally, strings are converted into regular expressions by escaping slashes
and adding delimiters:</p>
<div class="highlight-text"><div class="highlight"><pre>dirname    ===&gt;    /dirname/
a/b/c      ===&gt;    /a\/b\/c/
</pre></div>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_notPath" title="Symfony\Component\Finder\Finder::notPath()"><span class="pre">notPath()</span></a></tt> method excludes files by path:</p>
<div class="highlight-python"><pre>$finder-&gt;notPath('other/dir');</pre>
</div>
</div>
<div class="section" id="file-size">
<h3>File Size<a class="headerlink" href="#file-size" title="Permalink to this headline">¶</a></h3>
<p>Restrict files by size with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_size" title="Symfony\Component\Finder\Finder::size()"><span class="pre">size()</span></a></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;size('&lt; 1.5K');</pre>
</div>
<p>Restrict by a size range by chaining calls:</p>
<div class="highlight-python"><pre>$finder-&gt;files()-&gt;size('&gt;= 1K')-&gt;size('&lt;= 2K');</pre>
</div>
<p>The comparison operator can be any of the following: <tt class="docutils literal"><span class="pre">&gt;</span></tt>, <tt class="docutils literal"><span class="pre">&gt;=</span></tt>, <tt class="docutils literal"><span class="pre">&lt;</span></tt>, <tt class="docutils literal"><span class="pre">&lt;=</span></tt>,
<tt class="docutils literal"><span class="pre">==</span></tt>, <tt class="docutils literal"><span class="pre">!=</span></tt>.</p>
<p>The target value may use magnitudes of kilobytes (<tt class="docutils literal"><span class="pre">k</span></tt>, <tt class="docutils literal"><span class="pre">ki</span></tt>), megabytes
(<tt class="docutils literal"><span class="pre">m</span></tt>, <tt class="docutils literal"><span class="pre">mi</span></tt>), or gigabytes (<tt class="docutils literal"><span class="pre">g</span></tt>, <tt class="docutils literal"><span class="pre">gi</span></tt>). Those suffixed with an <tt class="docutils literal"><span class="pre">i</span></tt> use
the appropriate <tt class="docutils literal"><span class="pre">2**n</span></tt> version in accordance with the <a class="reference external" href="http://physics.nist.gov/cuu/Units/binary.html">IEC standard</a>.</p>
</div>
<div class="section" id="file-date">
<h3>File Date<a class="headerlink" href="#file-date" title="Permalink to this headline">¶</a></h3>
<p>Restrict files by last modified dates with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_date" title="Symfony\Component\Finder\Finder::date()"><span class="pre">date()</span></a></tt> method:</p>
<div class="highlight-python"><pre>$finder-&gt;date('since yesterday');</pre>
</div>
<p>The comparison operator can be any of the following: <tt class="docutils literal"><span class="pre">&gt;</span></tt>, <tt class="docutils literal"><span class="pre">&gt;=</span></tt>, <tt class="docutils literal"><span class="pre">&lt;</span></tt>, &#8216;&lt;=&#8217;,
&#8216;==&#8217;. You can also use <tt class="docutils literal"><span class="pre">since</span></tt> or <tt class="docutils literal"><span class="pre">after</span></tt> as an alias for <tt class="docutils literal"><span class="pre">&gt;</span></tt>, and
<tt class="docutils literal"><span class="pre">until</span></tt> or <tt class="docutils literal"><span class="pre">before</span></tt> as an alias for <tt class="docutils literal"><span class="pre">&lt;</span></tt>.</p>
<p>The target value can be any date supported by the <a class="reference external" href="http://www.php.net/manual/en/datetime.formats.php">strtotime</a> function.</p>
</div>
<div class="section" id="directory-depth">
<h3>Directory Depth<a class="headerlink" href="#directory-depth" title="Permalink to this headline">¶</a></h3>
<p>By default, the Finder recursively traverse directories. Restrict the depth of
traversing with <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_depth" title="Symfony\Component\Finder\Finder::depth()"><span class="pre">depth()</span></a></tt>:</p>
<div class="highlight-python"><pre>$finder-&gt;depth('== 0');
$finder-&gt;depth('&lt; 3');</pre>
</div>
</div>
<div class="section" id="custom-filtering">
<h3>Custom Filtering<a class="headerlink" href="#custom-filtering" title="Permalink to this headline">¶</a></h3>
<p>To restrict the matching file with your own strategy, use
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/Finder.html#method_filter" title="Symfony\Component\Finder\Finder::filter()"><span class="pre">filter()</span></a></tt>:</p>
<div class="highlight-python"><pre>$filter = function (\SplFileInfo $file)
{
    if (strlen($file) &gt; 10) {
        return false;
    }
};

$finder-&gt;files()-&gt;filter($filter);</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">filter()</span></tt> method takes a Closure as an argument. For each matching file,
it is called with the file as a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/SplFileInfo.html" title="Symfony\Component\Finder\SplFileInfo"><span class="pre">SplFileInfo</span></a></tt>
instance. The file is excluded from the result set if the Closure returns
<tt class="docutils literal"><span class="pre">false</span></tt>.</p>
</div>
<div class="section" id="reading-contents-of-returned-files">
<h3>Reading contents of returned files<a class="headerlink" href="#reading-contents-of-returned-files" title="Permalink to this headline">¶</a></h3>
<p>The contents of returned files can be read with
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Finder/SplFileInfo.html#method_getContents" title="Symfony\Component\Finder\SplFileInfo::getContents()"><span class="pre">getContents()</span></a></tt>:</p>
<div class="highlight-python"><pre>use Symfony\Component\Finder\Finder;

$finder = new Finder();
$finder-&gt;files()-&gt;in(__DIR__);

foreach ($finder as $file) {
    $contents = $file-&gt;getContents();
    ...
}</pre>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Finder Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#criteria">Criteria</a><ul>
<li><a class="reference internal" href="#location">Location</a></li>
<li><a class="reference internal" href="#files-or-directories">Files or Directories</a></li>
<li><a class="reference internal" href="#sorting">Sorting</a></li>
<li><a class="reference internal" href="#file-name">File Name</a></li>
<li><a class="reference internal" href="#file-contents">File Contents</a></li>
<li><a class="reference internal" href="#path">Path</a></li>
<li><a class="reference internal" href="#file-size">File Size</a></li>
<li><a class="reference internal" href="#file-date">File Date</a></li>
<li><a class="reference internal" href="#directory-depth">Directory Depth</a></li>
<li><a class="reference internal" href="#custom-filtering">Custom Filtering</a></li>
<li><a class="reference internal" href="#reading-contents-of-returned-files">Reading contents of returned files</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="filesystem.html"
                        title="previous chapter">The Filesystem Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="http_foundation/index.html"
                        title="next chapter">HTTP Foundation</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/finder.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="http_foundation/index.html" title="HTTP Foundation"
             >next</a> |</li>
        <li class="right" >
          <a href="filesystem.html" title="The Filesystem Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>