

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Intl Component &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The OptionsResolver Component" href="options_resolver.html" />
    <link rel="prev" title="The HttpKernel Component" href="http_kernel/introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="http_kernel/introduction.html" title="The HttpKernel Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-intl-component">
<span id="index-0"></span><h1>The Intl Component<a class="headerlink" href="#the-intl-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>A PHP replacement layer for the C <a class="reference external" href="http://www.php.net/manual/en/book.intl.php">intl extension</a> that also provides
access to the localization data of the <a class="reference external" href="http://site.icu-project.org/">ICU library</a>.</div></blockquote>
<p class="versionadded">
<span class="versionmodified">New in version 2.3.</span></p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The replacement layer is limited to the locale &#8220;en&#8221;. If you want to use
other locales, you should <a class="reference external" href="http://www.php.net/manual/en/intl.setup.php">install the intl extension</a> instead.</p>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in two different ways:</p>
<ul class="simple">
<li>Using the official Git repository (<a class="reference external" href="https://github.com/symfony/Intl">https://github.com/symfony/Intl</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/intl</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/intl">Packagist</a>).</li>
</ul>
<p>If you install the component via Composer, the following classes and functions
of the intl extension will be automatically provided if the intl extension is
not loaded:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.collator.php" title="Collator"><span class="pre">Collator</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.intldateformatter.php" title="IntlDateFormatter"><span class="pre">IntlDateFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.locale.php" title="Locale"><span class="pre">Locale</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.numberformatter.php" title="NumberFormatter"><span class="pre">NumberFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-error-name.php" title="intl_error_name"><span class="pre">intl_error_name</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-is-failure.php" title="intl_is_failure"><span class="pre">intl_is_failure</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-get-error-code.php" title="intl_get_error_code"><span class="pre">intl_get_error_code</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-get-error-message.php" title="intl_get_error_message"><span class="pre">intl_get_error_message</span></a></tt></li>
</ul>
<p>When the intl extension is not available, the following classes are used to
replace the intl classes:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Collator/Collator.html" title="Symfony\Component\Intl\Collator\Collator"><span class="pre">Collator</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.html" title="Symfony\Component\Intl\DateFormatter\IntlDateFormatter"><span class="pre">IntlDateFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Locale/Locale.html" title="Symfony\Component\Intl\Locale\Locale"><span class="pre">Locale</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/NumberFormatter/NumberFormatter.html" title="Symfony\Component\Intl\NumberFormatter\NumberFormatter"><span class="pre">NumberFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Globals/IntlGlobals.html" title="Symfony\Component\Intl\Globals\IntlGlobals"><span class="pre">IntlGlobals</span></a></tt></li>
</ul>
<p>Composer automatically exposes these classes in the global namespace.</p>
<p>If you don&#8217;t use Composer but the
<a class="reference internal" href="class_loader.html"><em>Symfony ClassLoader component</em></a>, you need to
expose them manually by adding the following lines to your autoload code:</p>
<div class="highlight-python"><pre>if (!function_exists('intl_is_failure')) {
    require '/path/to/Icu/Resources/stubs/functions.php';

    $loader-&gt;registerPrefixFallback('/path/to/Icu/Resources/stubs');
}</pre>
</div>
<div class="sidebar">
<p class="first sidebar-title">ICU and Deployment Problems</p>
<p>The intl extension internally uses the <a class="reference external" href="http://site.icu-project.org/">ICU library</a> to obtain localization
data such as number formats in different languages, country names and more.
To make this data accessible to userland PHP libraries, Symfony2 ships a copy
in the <a class="reference external" href="https://packagist.org/packages/symfony/icu">ICU component</a>.</p>
<p>Depending on the ICU version compiled with your intl extension, a matching
version of that component needs to be installed. It sounds complicated,
but usually Composer does this for you automatically:</p>
<ul class="simple">
<li>1.0.*: when the intl extension is not available</li>
<li>1.1.*: when intl is compiled with ICU 3.8 or higher</li>
<li>1.2.*: when intl is compiled with ICU 4.4 or higher</li>
</ul>
<p>These versions are important when you deploy your application to a <strong>server with
a lower ICU version</strong> than your development machines, because deployment will
fail if</p>
<ul class="simple">
<li>the development machines are compiled with ICU 4.4 or higher, but the
server is compiled with a lower ICU version than 4.4;</li>
<li>the intl extension is available on the development machines but not on
the server.</li>
</ul>
<p>For example, consider that your development machines ship ICU 4.8 and the server
ICU 4.2. When you run <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">update</span></tt> on the development machine, version
1.2.* of the ICU component will be installed. But after deploying the
application, <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">install</span></tt> will fail with the following error:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php composer.phar install
Loading composer repositories with package information
Installing dependencies from lock file
Your requirements could not be resolved to an installable <span class="nb">set </span>of packages.

  Problem 1
    - symfony/icu 1.2.x requires lib-icu &gt;<span class="o">=</span>4.4 -&gt; the requested linked
      library icu has the wrong version installed or is missing from your
      system, make sure to have the extension providing it.
</pre></div>
</div>
<p>The error tells you that the requested version of the ICU component, version
1.2, is not compatible with PHP&#8217;s ICU version 4.2.</p>
<p>One solution to this problem is to run <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">update</span></tt> instead of
<tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">install</span></tt>. It is highly recommended <strong>not</strong> to do this. The
<tt class="docutils literal"><span class="pre">update</span></tt> command will install the latest versions of each Composer dependency
to your production server and potentially break the application.</p>
<p>A better solution is to fix your composer.json to the version required by the
production server. First, determine the ICU version on the server:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php -i | grep ICU
ICU <span class="nv">version</span> <span class="o">=</span>&gt; 4.2.1
</pre></div>
</div>
<p>Then fix the ICU component in your composer.json file to a matching version:</p>
<div class="highlight-json"><pre>"require: {
    "symfony/icu": "1.1.*"
}</pre>
</div>
<p>Set the version to</p>
<ul class="simple">
<li>&#8220;1.0.*&#8221; if the server does not have the intl extension installed;</li>
<li>&#8220;1.1.*&#8221; if the server is compiled with ICU 4.2 or lower.</li>
</ul>
<p class="last">Finally, run <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">update</span> <span class="pre">symfony/icu</span></tt> on your development machine, test
extensively and deploy again. The installation of the dependencies will now
succeed.</p>
</div>
</div>
<div class="section" id="writing-and-reading-resource-bundles">
<h2>Writing and Reading Resource Bundles<a class="headerlink" href="#writing-and-reading-resource-bundles" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.resourcebundle.php" title="ResourceBundle"><span class="pre">ResourceBundle</span></a></tt> class is not currently supported by this component.
Instead, it includes a set of readers and writers for reading and writing
arrays (or array-like objects) from/to resource bundle files. The following
classes are supported:</p>
<ul class="simple">
<li><a class="reference internal" href="#textbundlewriter">TextBundleWriter</a></li>
<li><a class="reference internal" href="#phpbundlewriter">PhpBundleWriter</a></li>
<li><a class="reference internal" href="#binarybundlereader">BinaryBundleReader</a></li>
<li><a class="reference internal" href="#phpbundlereader">PhpBundleReader</a></li>
<li><a class="reference internal" href="#bufferedbundlereader">BufferedBundleReader</a></li>
<li><a class="reference internal" href="#structuredbundlereader">StructuredBundleReader</a></li>
</ul>
<p>Continue reading if you are interested in how to use these classes. Otherwise
skip this section and jump to <a class="reference internal" href="#accessing-icu-data">Accessing ICU Data</a>.</p>
<div class="section" id="textbundlewriter">
<h3>TextBundleWriter<a class="headerlink" href="#textbundlewriter" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Writer/TextBundleWriter.html" title="Symfony\Component\Intl\ResourceBundle\Writer\TextBundleWriter"><span class="pre">TextBundleWriter</span></a></tt>
writes an array or an array-like object to a plain-text resource bundle. The
resulting .txt file can be converted to a binary .res file with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Compiler/BundleCompiler.html" title="Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler"><span class="pre">BundleCompiler</span></a></tt>
class:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\ResourceBundle\Writer\TextBundleWriter;
use Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler;

$writer = new TextBundleWriter();
$writer-&gt;write('/path/to/bundle', 'en', array(
    'Data' =&gt; array(
        'entry1',
        'entry2',
        // ...
    ),
));

$compiler = new BundleCompiler();
$compiler-&gt;compile('/path/to/bundle', '/path/to/binary/bundle');</pre>
</div>
<p>The command &#8220;genrb&#8221; must be available for the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Compiler/BundleCompiler.html" title="Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler"><span class="pre">BundleCompiler</span></a></tt> to
work. If the command is located in a non-standard location, you can pass its
path to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Compiler/BundleCompiler.html" title="Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler"><span class="pre">BundleCompiler</span></a></tt>
constructor.</p>
</div>
<div class="section" id="phpbundlewriter">
<h3>PhpBundleWriter<a class="headerlink" href="#phpbundlewriter" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Writer/PhpBundleWriter.html" title="Symfony\Component\Intl\ResourceBundle\Writer\PhpBundleWriter"><span class="pre">PhpBundleWriter</span></a></tt>
writes an array or an array-like object to a .php resource bundle:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\ResourceBundle\Writer\PhpBundleWriter;

$writer = new PhpBundleWriter();
$writer-&gt;write('/path/to/bundle', 'en', array(
    'Data' =&gt; array(
        'entry1',
        'entry2',
        // ...
    ),
));</pre>
</div>
</div>
<div class="section" id="binarybundlereader">
<h3>BinaryBundleReader<a class="headerlink" href="#binarybundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/BinaryBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader"><span class="pre">BinaryBundleReader</span></a></tt>
reads binary resource bundle files and returns an array or an array-like object.
This class currently only works with the <a class="reference external" href="http://www.php.net/manual/en/book.intl.php">intl extension</a> installed:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader;

$reader = new BinaryBundleReader();
$data = $reader-&gt;read('/path/to/bundle', 'en');

echo $data['Data']['entry1'];</pre>
</div>
</div>
<div class="section" id="phpbundlereader">
<h3>PhpBundleReader<a class="headerlink" href="#phpbundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/PhpBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\PhpBundleReader"><span class="pre">PhpBundleReader</span></a></tt>
reads resource bundles from .php files and returns an array or an array-like
object:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\ResourceBundle\Reader\PhpBundleReader;

$reader = new PhpBundleReader();
$data = $reader-&gt;read('/path/to/bundle', 'en');

echo $data['Data']['entry1'];</pre>
</div>
</div>
<div class="section" id="bufferedbundlereader">
<h3>BufferedBundleReader<a class="headerlink" href="#bufferedbundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/BufferedBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\BufferedBundleReader"><span class="pre">BufferedBundleReader</span></a></tt>
wraps another reader, but keeps the last N reads in a buffer, where N is a
buffer size passed to the constructor:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader;
use Symfony\Component\Intl\ResourceBundle\Reader\BufferedBundleReader;

$reader = new BufferedBundleReader(new BinaryBundleReader(), 10);

// actually reads the file
$data = $reader-&gt;read('/path/to/bundle', 'en');

// returns data from the buffer
$data = $reader-&gt;read('/path/to/bundle', 'en');

// actually reads the file
$data = $reader-&gt;read('/path/to/bundle', 'fr');</pre>
</div>
</div>
<div class="section" id="structuredbundlereader">
<h3>StructuredBundleReader<a class="headerlink" href="#structuredbundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/StructuredBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReader"><span class="pre">StructuredBundleReader</span></a></tt>
wraps another reader and offers a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/StructuredBundleReaderInterface.html#method_readEntry" title="Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReaderInterface::readEntry()"><span class="pre">readEntry()</span></a></tt>
method for reading an entry of the resource bundle without having to worry
whether array keys are set or not. If a path cannot be resolved, <tt class="docutils literal"><span class="pre">null</span></tt> is
returned:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader;
use Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReader;

$reader = new StructuredBundleReader(new BinaryBundleReader());

$data = $reader-&gt;read('/path/to/bundle', 'en');

// Produces an error if the key "Data" does not exist
echo $data['Data']['entry1'];

// Returns null if the key "Data" does not exist
echo $reader-&gt;readEntry('/path/to/bundle', 'en', array('Data', 'entry1'));</pre>
</div>
<p>Additionally, the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/StructuredBundleReaderInterface.html#method_readEntry" title="Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReaderInterface::readEntry()"><span class="pre">readEntry()</span></a></tt>
method resolves fallback locales. For example, the fallback locale of &#8220;en_GB&#8221; is
&#8220;en&#8221;. For single-valued entries (strings, numbers etc.), the entry will be read
from the fallback locale if it cannot be found in the more specific locale. For
multi-valued entries (arrays), the values of the more specific and the fallback
locale will be merged. In order to suppress this behavior, the last parameter
<tt class="docutils literal"><span class="pre">$fallback</span></tt> can be set to <tt class="docutils literal"><span class="pre">false</span></tt>:</p>
<div class="highlight-python"><pre>echo $reader-&gt;readEntry('/path/to/bundle', 'en', array('Data', 'entry1'), false);</pre>
</div>
</div>
</div>
<div class="section" id="accessing-icu-data">
<h2>Accessing ICU Data<a class="headerlink" href="#accessing-icu-data" title="Permalink to this headline">¶</a></h2>
<p>The ICU data is located in several &#8220;resource bundles&#8221;. You can access a PHP
wrapper of these bundles through the static
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Intl.html" title="Symfony\Component\Intl\Intl"><span class="pre">Intl</span></a></tt> class. At the moment, the following
data is supported:</p>
<ul class="simple">
<li><a class="reference internal" href="#language-and-script-names">Language and Script Names</a></li>
<li><a class="reference internal" href="#country-names">Country Names</a></li>
<li><a class="reference internal" href="#locales">Locales</a></li>
<li><a class="reference internal" href="#currencies">Currencies</a></li>
</ul>
<div class="section" id="language-and-script-names">
<h3>Language and Script Names<a class="headerlink" href="#language-and-script-names" title="Permalink to this headline">¶</a></h3>
<p>The translations of language and script names can be found in the language
bundle:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\Intl;

\Locale::setDefault('en');

$languages = Intl::getLanguageBundle()-&gt;getLanguageNames();
// =&gt; array('ab' =&gt; 'Abkhazian', ...)

$language = Intl::getLanguageBundle()-&gt;getLanguageName('de');
// =&gt; 'German'

$language = Intl::getLanguageBundle()-&gt;getLanguageName('de', 'AT');
// =&gt; 'Austrian German'

$scripts = Intl::getLanguageBundle()-&gt;getScriptNames();
// =&gt; array('Arab' =&gt; 'Arabic', ...)

$script = Intl::getLanguageBundle()-&gt;getScriptName('Hans');
// =&gt; 'Simplified'</pre>
</div>
<p>All methods accept the translation locale as the last, optional parameter,
which defaults to the current default locale:</p>
<div class="highlight-python"><pre>$languages = Intl::getLanguageBundle()-&gt;getLanguageNames('de');
// =&gt; array('ab' =&gt; 'Abchasisch', ...)</pre>
</div>
</div>
<div class="section" id="country-names">
<h3>Country Names<a class="headerlink" href="#country-names" title="Permalink to this headline">¶</a></h3>
<p>The translations of country names can be found in the region bundle:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\Intl;

\Locale::setDefault('en');

$countries = Intl::getRegionBundle()-&gt;getCountryNames();
// =&gt; array('AF' =&gt; 'Afghanistan', ...)

$country = Intl::getRegionBundle()-&gt;getCountryName('GB');
// =&gt; 'United Kingdom'</pre>
</div>
<p>All methods accept the translation locale as the last, optional parameter,
which defaults to the current default locale:</p>
<div class="highlight-python"><pre>$countries = Intl::getRegionBundle()-&gt;getCountryNames('de');
// =&gt; array('AF' =&gt; 'Afghanistan', ...)</pre>
</div>
</div>
<div class="section" id="locales">
<h3>Locales<a class="headerlink" href="#locales" title="Permalink to this headline">¶</a></h3>
<p>The translations of locale names can be found in the locale bundle:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\Intl;

\Locale::setDefault('en');

$locales = Intl::getLocaleBundle()-&gt;getLocaleNames();
// =&gt; array('af' =&gt; 'Afrikaans', ...)

$locale = Intl::getLocaleBundle()-&gt;getLocaleName('zh_Hans_MO');
// =&gt; 'Chinese (Simplified, Macau SAR China)'</pre>
</div>
<p>All methods accept the translation locale as the last, optional parameter,
which defaults to the current default locale:</p>
<div class="highlight-python"><pre>$locales = Intl::getLocaleBundle()-&gt;getLocaleNames('de');
// =&gt; array('af' =&gt; 'Afrikaans', ...)</pre>
</div>
</div>
<div class="section" id="currencies">
<h3>Currencies<a class="headerlink" href="#currencies" title="Permalink to this headline">¶</a></h3>
<p>The translations of currency names and other currency-related information can
be found in the currency bundle:</p>
<div class="highlight-python"><pre>use Symfony\Component\Intl\Intl;

\Locale::setDefault('en');

$currencies = Intl::getCurrencyBundle()-&gt;getCurrencyNames();
// =&gt; array('AFN' =&gt; 'Afghan Afghani', ...)

$currency = Intl::getCurrencyBundle()-&gt;getCurrencyName('INR');
// =&gt; 'Indian Rupee'

$symbol = Intl::getCurrencyBundle()-&gt;getCurrencySymbol('INR');
// =&gt; '₹'

$fractionDigits = Intl::getCurrencyBundle()-&gt;getFractionDigits('INR');
// =&gt; 2

$roundingIncrement = Intl::getCurrencyBundle()-&gt;getRoundingIncrement('INR');
// =&gt; 0</pre>
</div>
<p>All methods (except for
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/CurrencyBundleInterface.html#method_getFractionDigits" title="Symfony\Component\Intl\ResourceBundle\CurrencyBundleInterface::getFractionDigits()"><span class="pre">getFractionDigits()</span></a></tt>
and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/CurrencyBundleInterface.html#method_getRoundingIncrement" title="Symfony\Component\Intl\ResourceBundle\CurrencyBundleInterface::getRoundingIncrement()"><span class="pre">getRoundingIncrement()</span></a></tt>)
accept the translation locale as the last, optional parameter, which defaults
to the current default locale:</p>
<div class="highlight-python"><pre>$currencies = Intl::getCurrencyBundle()-&gt;getCurrencyNames('de');
// =&gt; array('AFN' =&gt; 'Afghanische Afghani', ...)</pre>
</div>
<p>That&#8217;s all you need to know for now. Have fun coding!</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Intl Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#writing-and-reading-resource-bundles">Writing and Reading Resource Bundles</a><ul>
<li><a class="reference internal" href="#textbundlewriter">TextBundleWriter</a></li>
<li><a class="reference internal" href="#phpbundlewriter">PhpBundleWriter</a></li>
<li><a class="reference internal" href="#binarybundlereader">BinaryBundleReader</a></li>
<li><a class="reference internal" href="#phpbundlereader">PhpBundleReader</a></li>
<li><a class="reference internal" href="#bufferedbundlereader">BufferedBundleReader</a></li>
<li><a class="reference internal" href="#structuredbundlereader">StructuredBundleReader</a></li>
</ul>
</li>
<li><a class="reference internal" href="#accessing-icu-data">Accessing ICU Data</a><ul>
<li><a class="reference internal" href="#language-and-script-names">Language and Script Names</a></li>
<li><a class="reference internal" href="#country-names">Country Names</a></li>
<li><a class="reference internal" href="#locales">Locales</a></li>
<li><a class="reference internal" href="#currencies">Currencies</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="http_kernel/introduction.html"
                        title="previous chapter">The HttpKernel Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="options_resolver.html"
                        title="next chapter">The OptionsResolver Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/intl.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             >next</a> |</li>
        <li class="right" >
          <a href="http_kernel/introduction.html" title="The HttpKernel Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>