

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Process Component &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="Property Access" href="property_access/index.html" />
    <link rel="prev" title="The OptionsResolver Component" href="options_resolver.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="property_access/index.html" title="Property Access"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-process-component">
<span id="index-0"></span><h1>The Process Component<a class="headerlink" href="#the-process-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Process Component executes commands in sub-processes.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Process">https://github.com/symfony/Process</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/process</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/process">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html" title="Symfony\Component\Process\Process"><span class="pre">Process</span></a></tt> class allows you to execute
a command in a sub-process:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\Process;

$process = new Process('ls -lsa');
$process-&gt;run();

// executes after the command finishes
if (!$process-&gt;isSuccessful()) {
    throw new \RuntimeException($process-&gt;getErrorOutput());
}

print $process-&gt;getOutput();</pre>
</div>
<p>The component takes care of the subtle differences between the different platforms
when executing the command.</p>
<p class="versionadded">
<span class="versionmodified">New in version 2.2: </span>The <tt class="docutils literal"><span class="pre">getIncrementalOutput()</span></tt> and <tt class="docutils literal"><span class="pre">getIncrementalErrorOutput()</span></tt> methods were added in Symfony 2.2.</p>
<p>The <tt class="docutils literal"><span class="pre">getOutput()</span></tt> method always return the whole content of the standard
output of the command and <tt class="docutils literal"><span class="pre">getErrorOutput()</span></tt> the content of the error
output. Alternatively, the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_getIncrementalOutput" title="Symfony\Component\Process\Process::getIncrementalOutput()"><span class="pre">getIncrementalOutput()</span></a></tt>
and <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_getIncrementalErrorOutput" title="Symfony\Component\Process\Process::getIncrementalErrorOutput()"><span class="pre">getIncrementalErrorOutput()</span></a></tt>
methods returns the new outputs since the last call.</p>
</div>
<div class="section" id="getting-real-time-process-output">
<h2>Getting real-time Process Output<a class="headerlink" href="#getting-real-time-process-output" title="Permalink to this headline">¶</a></h2>
<p>When executing a long running command (like rsync-ing files to a remote
server), you can give feedback to the end user in real-time by passing an
anonymous function to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_run" title="Symfony\Component\Process\Process::run()"><span class="pre">run()</span></a></tt> method:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\Process;

$process = new Process('ls -lsa');
$process-&gt;run(function ($type, $buffer) {
    if (Process::ERR === $type) {
        echo 'ERR &gt; '.$buffer;
    } else {
        echo 'OUT &gt; '.$buffer;
    }
});</pre>
</div>
<p class="versionadded">
<span class="versionmodified">New in version 2.1: </span>The non-blocking feature was added in 2.1.</p>
</div>
<div class="section" id="running-processes-asynchronously">
<h2>Running Processes Asynchronously<a class="headerlink" href="#running-processes-asynchronously" title="Permalink to this headline">¶</a></h2>
<p>You can also start the subprocess and then let it run asynchronously, retrieving
output and the status in your main process whenever you need it. Use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_start" title="Symfony\Component\Process\Process::start()"><span class="pre">start()</span></a></tt> method to start an asynchronous
process, the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_isRunning" title="Symfony\Component\Process\Process::isRunning()"><span class="pre">isRunning()</span></a></tt> method
to check if the process is done and the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_getOutput" title="Symfony\Component\Process\Process::getOutput()"><span class="pre">getOutput()</span></a></tt> method to get the output:</p>
<div class="highlight-python"><pre>$process = new Process('ls -lsa');
$process-&gt;start();

while ($process-&gt;isRunning()) {
    // waiting for process to finish
}

echo $process-&gt;getOutput();</pre>
</div>
<p>You can also wait for a process to end if you started it asynchronously and
are done doing other stuff:</p>
<div class="highlight-python"><pre>$process = new Process('ls -lsa');
$process-&gt;start();

// ... do other things

$process-&gt;wait(function ($type, $buffer) {
    if (Process::ERR === $type) {
        echo 'ERR &gt; '.$buffer;
    } else {
        echo 'OUT &gt; '.$buffer;
    }
});</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_wait" title="Symfony\Component\Process\Process::wait()"><span class="pre">wait()</span></a></tt> method is blocking,
which means that your code will halt at this line until the external
process is completed.</p>
</div>
</div>
<div class="section" id="stopping-a-process">
<h2>Stopping a Process<a class="headerlink" href="#stopping-a-process" title="Permalink to this headline">¶</a></h2>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">signal</span></tt> parameter of the <tt class="docutils literal"><span class="pre">stop</span></tt> method was added in Symfony 2.3.</p>
<p>Any asynchronous process can be stopped at any time with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_stop" title="Symfony\Component\Process\Process::stop()"><span class="pre">stop()</span></a></tt> method. This method takes
two arguments : a timeout and a signal. Once the timeout is reached, the signal
is sent to the running process. The default signal sent to a process is <tt class="docutils literal"><span class="pre">SIGKILL</span></tt>.
Please read the <a class="reference internal" href="#reference-process-signal"><em>signal documentation below</em></a>
to find out more about signal handling in the Process component:</p>
<div class="highlight-python"><pre>$process = new Process('ls -lsa');
$process-&gt;start();

// ... do other things

$process-&gt;stop(3, SIGINT);</pre>
</div>
</div>
<div class="section" id="executing-php-code-in-isolation">
<h2>Executing PHP Code in Isolation<a class="headerlink" href="#executing-php-code-in-isolation" title="Permalink to this headline">¶</a></h2>
<p>If you want to execute some PHP code in isolation, use the <tt class="docutils literal"><span class="pre">PhpProcess</span></tt>
instead:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\PhpProcess;

$process = new PhpProcess(&lt;&lt;&lt;EOF
    &lt;?php echo 'Hello World'; ?&gt;
EOF
);
$process-&gt;run();</pre>
</div>
<p>To make your code work better on all platforms, you might want to use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/ProcessBuilder.html" title="Symfony\Component\Process\ProcessBuilder"><span class="pre">ProcessBuilder</span></a></tt> class instead:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\ProcessBuilder;

$builder = new ProcessBuilder(array('ls', '-lsa'));
$builder-&gt;getProcess()-&gt;run();</pre>
</div>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/ProcessBuilder.html#method_setPrefix" title="Symfony\Component\Process\ProcessBuilder::setPrefix()"><span class="pre">ProcessBuilder::setPrefix</span></a></tt>
method was added in Symfony 2.3.</p>
<p>In case you are building a binary driver, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_setPrefix" title="Symfony\Component\Process\Process::setPrefix()"><span class="pre">setPrefix()</span></a></tt> method to prefix all
the generated process commands.</p>
<p>The following example will generate two process commands for a tar binary
adapter:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\ProcessBuilder;

$builder = new ProcessBuilder();
$builder-&gt;setPrefix('/usr/bin/tar');

// '/usr/bin/tar' '--list' '--file=archive.tar.gz'
echo $builder
    -&gt;setArguments(array('--list', '--file=archive.tar.gz'))
    -&gt;getProcess()
    -&gt;getCommandLine();

// '/usr/bin/tar' '-xzf' 'archive.tar.gz'
echo $builder
    -&gt;setArguments(array('-xzf', 'archive.tar.gz'))
    -&gt;getProcess()
    -&gt;getCommandLine();</pre>
</div>
</div>
<div class="section" id="process-timeout">
<h2>Process Timeout<a class="headerlink" href="#process-timeout" title="Permalink to this headline">¶</a></h2>
<p>You can limit the amount of time a process takes to complete by setting a
timeout (in seconds):</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\Process;

$process = new Process('ls -lsa');
$process-&gt;setTimeout(3600);
$process-&gt;run();</pre>
</div>
<p>If the timeout is reached, a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Process/Exception/RuntimeException.html" title="Symfony\Process\Exception\RuntimeException"><span class="pre">RuntimeException</span></a></tt> is thrown.</p>
<p>For long running commands, it is your responsibility to perform the timeout
check regularly:</p>
<div class="highlight-python"><pre>$process-&gt;setTimeout(3600);
$process-&gt;start();

while ($condition) {
    // ...

    // check if the timeout is reached
    $process-&gt;checkTimeout();

    usleep(200000);
}</pre>
</div>
</div>
<div class="section" id="process-signals">
<span id="reference-process-signal"></span><h2>Process Signals<a class="headerlink" href="#process-signals" title="Permalink to this headline">¶</a></h2>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">signal</span></tt> method was added in Symfony 2.3.</p>
<p>When running a program asynchronously, you can send it posix signals with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_signal" title="Symfony\Component\Process\Process::signal()"><span class="pre">signal()</span></a></tt> method:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\Process;

$process = new Process('find / -name "rabbit"');
$process-&gt;start();

// will send a SIGKILL to the process
$process-&gt;signal(SIGKILL);</pre>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p>Due to some limitations in PHP, if you&#8217;re using signals with the Process
component, you may have to prefix your commands with <a class="reference external" href="http://en.wikipedia.org/wiki/Exec_(operating_system)">exec</a>. Please read
<a class="reference external" href="https://github.com/symfony/symfony/issues/5759">Symfony Issue#5759</a> and <a class="reference external" href="https://bugs.php.net/bug.php?id=39992">PHP Bug#39992</a> to understand why this is happening.</p>
<p class="last">POSIX signals are not available on Windows platforms, please refer to the
<a class="reference external" href="http://php.net/manual/en/pcntl.constants.php">PHP documentation</a> for available signals.</p>
</div>
</div>
<div class="section" id="process-pid">
<h2>Process Pid<a class="headerlink" href="#process-pid" title="Permalink to this headline">¶</a></h2>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">getPid</span></tt> method was added in Symfony 2.3.</p>
<p>You can access the <a class="reference external" href="http://en.wikipedia.org/wiki/Process_identifier">pid</a> of a running process with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_getPid" title="Symfony\Component\Process\Process::getPid()"><span class="pre">getPid()</span></a></tt> method.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Process\Process</span><span class="p">;</span>

<span class="nv">$process</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Process</span><span class="p">(</span><span class="s1">&#39;/usr/bin/php worker.php&#39;</span><span class="p">);</span>
<span class="nv">$process</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">();</span>

<span class="nv">$pid</span> <span class="o">=</span> <span class="nv">$process</span><span class="o">-&gt;</span><span class="na">getPid</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">Due to some limitations in PHP, if you want to get the pid of a symfony Process,
you may have to prefix your commands with <a class="reference external" href="http://en.wikipedia.org/wiki/Exec_(operating_system)">exec</a>. Please read
<a class="reference external" href="https://github.com/symfony/symfony/issues/5759">Symfony Issue#5759</a> to understand why this is happening.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Process Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#getting-real-time-process-output">Getting real-time Process Output</a></li>
<li><a class="reference internal" href="#running-processes-asynchronously">Running Processes Asynchronously</a></li>
<li><a class="reference internal" href="#stopping-a-process">Stopping a Process</a></li>
<li><a class="reference internal" href="#executing-php-code-in-isolation">Executing PHP Code in Isolation</a></li>
<li><a class="reference internal" href="#process-timeout">Process Timeout</a></li>
<li><a class="reference internal" href="#process-signals">Process Signals</a></li>
<li><a class="reference internal" href="#process-pid">Process Pid</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="options_resolver.html"
                        title="previous chapter">The OptionsResolver Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="property_access/index.html"
                        title="next chapter">Property Access</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/process.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="property_access/index.html" title="Property Access"
             >next</a> |</li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>