

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Templating Component &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="Yaml" href="yaml/index.html" />
    <link rel="prev" title="The Stopwatch Component" href="stopwatch.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="yaml/index.html" title="Yaml"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="stopwatch.html" title="The Stopwatch Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-templating-component">
<span id="index-0"></span><h1>The Templating Component<a class="headerlink" href="#the-templating-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>Templating provides all the tools needed to build any kind of template
system.</p>
<p>It provides an infrastructure to load template files and optionally monitor
them for changes. It also provides a concrete template engine implementation
using PHP with additional tools for escaping and separating templates into
blocks and layouts.</p>
</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Templating">https://github.com/symfony/Templating</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/templating</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/templating">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html" title="Symfony\Component\Templating\PhpEngine"><span class="pre">PhpEngine</span></a></tt> class is the entry point
of the component. It needs a template name parser
(<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/TemplateNameParserInterface.html" title="Symfony\Component\Templating\TemplateNameParserInterface"><span class="pre">TemplateNameParserInterface</span></a></tt>) to
convert a template name to a template reference and template loader
(<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Loader/LoaderInterface.html" title="Symfony\Component\Templating\Loader\LoaderInterface"><span class="pre">LoaderInterface</span></a></tt>) to find the
template associated to a reference:</p>
<div class="highlight-python"><pre>use Symfony\Component\Templating\PhpEngine;
use Symfony\Component\Templating\TemplateNameParser;
use Symfony\Component\Templating\Loader\FilesystemLoader;

$loader = new FilesystemLoader(__DIR__ . '/views/%name%');

$view = new PhpEngine(new TemplateNameParser(), $loader);

echo $view-&gt;render('hello.php', array('firstname' =&gt; 'Fabien'));</pre>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_render" title="Symfony\Component\Templating\PhpEngine::render()"><span class="pre">render()</span></a></tt> method executes
the file <cite>views/hello.php</cite> and returns the output text.</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/hello.php --&gt;</span>
Hello, <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$firstname</span> <span class="cp">?&gt;</span>!
</pre></div>
</div>
</div>
<div class="section" id="template-inheritance-with-slots">
<h2>Template Inheritance with Slots<a class="headerlink" href="#template-inheritance-with-slots" title="Permalink to this headline">¶</a></h2>
<p>The template inheritance is designed to share layouts with many templates.</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/layout.php --&gt;</span>
<span class="nt">&lt;html&gt;</span>
    <span class="nt">&lt;head&gt;</span>
        <span class="nt">&lt;title&gt;</span><span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">output</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="s1">&#39;Default title&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="nt">&lt;/title&gt;</span>
    <span class="nt">&lt;/head&gt;</span>
    <span class="nt">&lt;body&gt;</span>
        <span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">output</span><span class="p">(</span><span class="s1">&#39;_content&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span>
    <span class="nt">&lt;/body&gt;</span>
<span class="nt">&lt;/html&gt;</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_extend" title="Symfony\Component\Templating\PhpEngine::extend()"><span class="pre">extend()</span></a></tt> method is called in the
sub-template to set its parent template.</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/page.php --&gt;</span>
<span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">extend</span><span class="p">(</span><span class="s1">&#39;layout.php&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span>

<span class="cp">&lt;?php</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;slots&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">title</span><span class="p">)</span> <span class="cp">?&gt;</span>

<span class="nt">&lt;h1&gt;</span>
    <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">title</span> <span class="cp">?&gt;</span>
<span class="nt">&lt;/h1&gt;</span>
<span class="nt">&lt;p&gt;</span>
    <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$page</span><span class="o">-&gt;</span><span class="na">body</span> <span class="cp">?&gt;</span>
<span class="nt">&lt;/p&gt;</span>
</pre></div>
</div>
<p>To use template inheritance, the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/SlotsHelper.html" title="Symfony\Component\Templating\Helper\SlotsHelper"><span class="pre">SlotsHelper</span></a></tt>
helper must be registered:</p>
<div class="highlight-python"><pre>use Symfony\Component\Templating\Helper\SlotsHelper;

$view-&gt;set(new SlotsHelper());

// Retrieve page object
$page = ...;

echo $view-&gt;render('page.php', array('page' =&gt; $page));</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Multiple levels of inheritance is possible: a layout can extend an other
layout.</p>
</div>
</div>
<div class="section" id="output-escaping">
<h2>Output Escaping<a class="headerlink" href="#output-escaping" title="Permalink to this headline">¶</a></h2>
<p>This documentation is still being written.</p>
</div>
<div class="section" id="the-asset-helper">
<h2>The Asset Helper<a class="headerlink" href="#the-asset-helper" title="Permalink to this headline">¶</a></h2>
<p>This documentation is still being written.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Templating Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#template-inheritance-with-slots">Template Inheritance with Slots</a></li>
<li><a class="reference internal" href="#output-escaping">Output Escaping</a></li>
<li><a class="reference internal" href="#the-asset-helper">The Asset Helper</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="stopwatch.html"
                        title="previous chapter">The Stopwatch Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="yaml/index.html"
                        title="next chapter">Yaml</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/templating.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="yaml/index.html" title="Yaml"
             >next</a> |</li>
        <li class="right" >
          <a href="stopwatch.html" title="The Stopwatch Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>