{% extends 'layout.html.twig' %}
{% block nav %}
                <ul class="nav navbar-nav">
                    <li><a href="https://github.com/rafaelgou/doc-renderer" target="_blank">About Doc Renderer</a></li>
                    {% if link_to_source %}
                    <li><a href="{{ requestUriText }}">View Source</a></li>
                    {% endif %}
                </ul>
{% endblock nav %}
{% block content %}
            <div id="content">
{{ htmlData | raw }}
            </div>
{% endblock content %}

