

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The YAML Component &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../../index.html" />
    <link rel="up" title="Yaml" href="index.html" />
    <link rel="next" title="The YAML Format" href="yaml_format.html" />
    <link rel="prev" title="Yaml" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="yaml_format.html" title="The YAML Format"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Yaml"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Yaml</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-yaml-component">
<span id="index-0"></span><h1>The YAML Component<a class="headerlink" href="#the-yaml-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The YAML Component loads and dumps YAML files.</div></blockquote>
<div class="section" id="what-is-it">
<h2>What is it?<a class="headerlink" href="#what-is-it" title="Permalink to this headline">¶</a></h2>
<p>The Symfony2 YAML Component parses YAML strings to convert them to PHP arrays.
It is also able to convert PHP arrays to YAML strings.</p>
<p><a class="reference external" href="http://yaml.org/">YAML</a>, <em>YAML Ain&#8217;t Markup Language</em>, is a human friendly data serialization
standard for all programming languages. YAML is a great format for your
configuration files. YAML files are as expressive as XML files and as readable
as INI files.</p>
<p>The Symfony2 YAML Component implements the YAML 1.2 version of the
specification.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">Learn more about the Yaml component in the
<a class="reference internal" href="yaml_format.html"><em>The YAML Format</em></a> article.</p>
</div>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Yaml">https://github.com/symfony/Yaml</a>);</li>
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/yaml</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/yaml">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="why">
<h2>Why?<a class="headerlink" href="#why" title="Permalink to this headline">¶</a></h2>
<div class="section" id="fast">
<h3>Fast<a class="headerlink" href="#fast" title="Permalink to this headline">¶</a></h3>
<p>One of the goal of Symfony YAML is to find the right balance between speed and
features. It supports just the needed feature to handle configuration files.</p>
</div>
<div class="section" id="real-parser">
<h3>Real Parser<a class="headerlink" href="#real-parser" title="Permalink to this headline">¶</a></h3>
<p>It sports a real parser and is able to parse a large subset of the YAML
specification, for all your configuration needs. It also means that the parser
is pretty robust, easy to understand, and simple enough to extend.</p>
</div>
<div class="section" id="clear-error-messages">
<h3>Clear error messages<a class="headerlink" href="#clear-error-messages" title="Permalink to this headline">¶</a></h3>
<p>Whenever you have a syntax problem with your YAML files, the library outputs a
helpful message with the filename and the line number where the problem
occurred. It eases the debugging a lot.</p>
</div>
<div class="section" id="dump-support">
<h3>Dump support<a class="headerlink" href="#dump-support" title="Permalink to this headline">¶</a></h3>
<p>It is also able to dump PHP arrays to YAML with object support, and inline
level configuration for pretty outputs.</p>
</div>
<div class="section" id="types-support">
<h3>Types Support<a class="headerlink" href="#types-support" title="Permalink to this headline">¶</a></h3>
<p>It supports most of the YAML built-in types like dates, integers, octals,
booleans, and much more...</p>
</div>
<div class="section" id="full-merge-key-support">
<h3>Full merge key support<a class="headerlink" href="#full-merge-key-support" title="Permalink to this headline">¶</a></h3>
<p>Full support for references, aliases, and full merge key. Don&#8217;t repeat
yourself by referencing common configuration bits.</p>
</div>
</div>
<div class="section" id="using-the-symfony2-yaml-component">
<h2>Using the Symfony2 YAML Component<a class="headerlink" href="#using-the-symfony2-yaml-component" title="Permalink to this headline">¶</a></h2>
<p>The Symfony2 YAML Component is very simple and consists of two main classes:
one parses YAML strings (<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Parser.html" title="Symfony\Component\Yaml\Parser"><span class="pre">Parser</span></a></tt>), and the
other dumps a PHP array to a YAML string
(<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Dumper.html" title="Symfony\Component\Yaml\Dumper"><span class="pre">Dumper</span></a></tt>).</p>
<p>On top of these two classes, the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html" title="Symfony\Component\Yaml\Yaml"><span class="pre">Yaml</span></a></tt> class
acts as a thin wrapper that simplifies common uses.</p>
<div class="section" id="reading-yaml-files">
<h3>Reading YAML Files<a class="headerlink" href="#reading-yaml-files" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Parser.html#method_parse" title="Symfony\Component\Yaml\Parser::parse()"><span class="pre">parse()</span></a></tt> method parses a YAML
string and converts it to a PHP array:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Parser</span><span class="p">;</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Parser</span><span class="p">();</span>

<span class="nv">$value</span> <span class="o">=</span> <span class="nv">$yaml</span><span class="o">-&gt;</span><span class="na">parse</span><span class="p">(</span><span class="nb">file_get_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>If an error occurs during parsing, the parser throws a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Exception/ParseException.html" title="Symfony\Component\Yaml\Exception\ParseException"><span class="pre">ParseException</span></a></tt> exception
indicating the error type and the line in the original YAML string where the
error occurred:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Exception\ParseException</span><span class="p">;</span>

<span class="k">try</span> <span class="p">{</span>
    <span class="nv">$value</span> <span class="o">=</span> <span class="nv">$yaml</span><span class="o">-&gt;</span><span class="na">parse</span><span class="p">(</span><span class="nb">file_get_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">));</span>
<span class="p">}</span> <span class="k">catch</span> <span class="p">(</span><span class="nx">ParseException</span> <span class="nv">$e</span><span class="p">)</span> <span class="p">{</span>
    <span class="nb">printf</span><span class="p">(</span><span class="s2">&quot;Unable to parse the YAML string: %s&quot;</span><span class="p">,</span> <span class="nv">$e</span><span class="o">-&gt;</span><span class="na">getMessage</span><span class="p">());</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">As the parser is re-entrant, you can use the same parser object to load
different YAML strings.</p>
</div>
<p>It may also be convenient to use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html#method_parse" title="Symfony\Component\Yaml\Yaml::parse()"><span class="pre">parse()</span></a></tt> wrapper method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Yaml</span><span class="p">;</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="nx">Yaml</span><span class="o">::</span><span class="na">parse</span><span class="p">(</span><span class="nb">file_get_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html#method_parse" title="Symfony\Component\Yaml\Yaml::parse()"><span class="pre">parse()</span></a></tt> static method takes a YAML
string or a file containing YAML. Internally, it calls the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Parser.html#method_parse" title="Symfony\Component\Yaml\Parser::parse()"><span class="pre">parse()</span></a></tt> method, but enhances the
error if something goes wrong by adding the filename to the message.</p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">Because it is currently possible to pass a filename to this method, you
must validate the input first. Passing a filename is deprecated in
Symfony 2.2, and will be removed in Symfony 3.0.</p>
</div>
</div>
<div class="section" id="writing-yaml-files">
<h3>Writing YAML Files<a class="headerlink" href="#writing-yaml-files" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Dumper.html#method_dump" title="Symfony\Component\Yaml\Dumper::dump()"><span class="pre">dump()</span></a></tt> method dumps any PHP
array to its YAML representation:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Dumper</span><span class="p">;</span>

<span class="nv">$array</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;foo&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;bar&#39;</span><span class="p">,</span>
    <span class="s1">&#39;bar&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;bar&#39;</span><span class="p">,</span> <span class="s1">&#39;bar&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;baz&#39;</span><span class="p">),</span>
<span class="p">);</span>

<span class="nv">$dumper</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Dumper</span><span class="p">();</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="nv">$dumper</span><span class="o">-&gt;</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">);</span>

<span class="nb">file_put_contents</span><span class="p">(</span><span class="s1">&#39;/path/to/file.yml&#39;</span><span class="p">,</span> <span class="nv">$yaml</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Of course, the Symfony2 YAML dumper is not able to dump resources. Also,
even if the dumper is able to dump PHP objects, it is considered to be a
not supported feature.</p>
</div>
<p>If an error occurs during the dump, the parser throws a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Exception/DumpException.html" title="Symfony\Component\Yaml\Exception\DumpException"><span class="pre">DumpException</span></a></tt> exception.</p>
<p>If you only need to dump one array, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Yaml.html#method_dump" title="Symfony\Component\Yaml\Yaml::dump()"><span class="pre">dump()</span></a></tt> static method shortcut:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Yaml</span><span class="p">;</span>

<span class="nv">$yaml</span> <span class="o">=</span> <span class="nx">Yaml</span><span class="o">::</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">,</span> <span class="nv">$inline</span><span class="p">);</span>
</pre></div>
</div>
<p>The YAML format supports two kind of representation for arrays, the expanded
one, and the inline one. By default, the dumper uses the inline
representation:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="p-Indicator">{</span> <span class="nv">foo</span><span class="p-Indicator">:</span> <span class="nv">bar</span><span class="p-Indicator">,</span> <span class="nv">bar</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">foo</span><span class="p-Indicator">:</span> <span class="nv">bar</span><span class="p-Indicator">,</span> <span class="nv">bar</span><span class="p-Indicator">:</span> <span class="nv">baz</span> <span class="p-Indicator">}</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
<p>The second argument of the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Yaml/Dumper.html#method_dump" title="Symfony\Component\Yaml\Dumper::dump()"><span class="pre">dump()</span></a></tt>
method customizes the level at which the output switches from the expanded
representation to the inline one:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$dumper</span><span class="o">-&gt;</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">,</span> <span class="mi">1</span><span class="p">);</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">bar</span>
<span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span> <span class="p-Indicator">{</span> <span class="nv">foo</span><span class="p-Indicator">:</span> <span class="nv">bar</span><span class="p-Indicator">,</span> <span class="nv">bar</span><span class="p-Indicator">:</span> <span class="nv">baz</span> <span class="p-Indicator">}</span>
</pre></div>
</div>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$dumper</span><span class="o">-&gt;</span><span class="na">dump</span><span class="p">(</span><span class="nv">$array</span><span class="p">,</span> <span class="mi">2</span><span class="p">);</span>
</pre></div>
</div>
<div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">bar</span>
<span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">bar</span>
    <span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">baz</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The YAML Component</a><ul>
<li><a class="reference internal" href="#what-is-it">What is it?</a></li>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#why">Why?</a><ul>
<li><a class="reference internal" href="#fast">Fast</a></li>
<li><a class="reference internal" href="#real-parser">Real Parser</a></li>
<li><a class="reference internal" href="#clear-error-messages">Clear error messages</a></li>
<li><a class="reference internal" href="#dump-support">Dump support</a></li>
<li><a class="reference internal" href="#types-support">Types Support</a></li>
<li><a class="reference internal" href="#full-merge-key-support">Full merge key support</a></li>
</ul>
</li>
<li><a class="reference internal" href="#using-the-symfony2-yaml-component">Using the Symfony2 YAML Component</a><ul>
<li><a class="reference internal" href="#reading-yaml-files">Reading YAML Files</a></li>
<li><a class="reference internal" href="#writing-yaml-files">Writing YAML Files</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Yaml</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="yaml_format.html"
                        title="next chapter">The YAML Format</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/yaml/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="yaml_format.html" title="The YAML Format"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Yaml"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Yaml</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>