<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Assets Helper &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../../index.html" />
    <link rel="up" title="The Templating Helpers" href="index.html" />
    <link rel="next" title="Translation" href="../../translation/index.html" />
    <link rel="prev" title="Slots Helper" href="slotshelper.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../translation/index.html" title="Translation"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="slotshelper.html" title="Slots Helper"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Templating</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Templating Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="assets-helper">
<span id="index-0"></span><h1>Assets Helper<a class="headerlink" href="#assets-helper" title="Permalink to this headline">¶</a></h1>
<p>The assets helper&#8217;s main purpose is to make your application more portable by
generating asset paths:</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="nt">&lt;link</span> <span class="na">href=</span><span class="s">&quot;</span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;assets&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">getUrl</span><span class="p">(</span><span class="s1">&#39;css/style.css&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="s">&quot;</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span><span class="nt">&gt;</span>

<span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;</span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;assets&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">getUrl</span><span class="p">(</span><span class="s1">&#39;images/logo.png&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="s">&quot;</span><span class="nt">&gt;</span>
</pre></div>
</div>
<p>The assets helper can then be configured to render paths to a CDN or modify
the paths in case your assets live in a sub-directory of your host (e.g. <tt class="docutils literal"><span class="pre">http://example.com/app</span></tt>).</p>
<div class="section" id="configure-paths">
<h2>Configure Paths<a class="headerlink" href="#configure-paths" title="Permalink to this headline">¶</a></h2>
<p>By default, the assets helper will prefix all paths with a slash. You can
configure this by passing a base assets path as the first argument of the
constructor:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Templating\Helper\AssetsHelper</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="nv">$templateEngine</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">AssetsHelper</span><span class="p">(</span><span class="s1">&#39;/foo/bar&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>Now, if you use the helper, everything will be prefixed with <tt class="docutils literal"><span class="pre">/foo/bar</span></tt>:</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;</span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;assets&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">getUrl</span><span class="p">(</span><span class="s1">&#39;images/logo.png&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="s">&quot;</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- renders as:</span>
<span class="c">&lt;img src=&quot;/foo/bar/images/logo.png&quot;&gt;</span>
<span class="c">--&gt;</span>
</pre></div>
</div>
</div>
<div class="section" id="absolute-urls">
<h2>Absolute Urls<a class="headerlink" href="#absolute-urls" title="Permalink to this headline">¶</a></h2>
<p>You can also specify a URL to use in the second parameter of the constructor:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$templateEngine</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">AssetsHelper</span><span class="p">(</span><span class="k">null</span><span class="p">,</span> <span class="s1">&#39;http://cdn.example.com/&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>Now URLs are rendered like <tt class="docutils literal"><span class="pre">http://cdn.example.com/images/logo.png</span></tt>.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>Absolute URLs for assets were introduced in Symfony 2.5.</p>
</div>
<p>You can also use the third argument of the helper to force an absolute URL:</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;</span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;assets&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">getUrl</span><span class="p">(</span><span class="s1">&#39;images/logo.png&#39;</span><span class="p">,</span> <span class="k">null</span><span class="p">,</span> <span class="k">true</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="s">&quot;</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- renders as:</span>
<span class="c">&lt;img src=&quot;http://yourwebsite.com/foo/bar/images/logo.png&quot;&gt;</span>
<span class="c">--&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you already set a URL in the constructor, using the third argument of
<tt class="docutils literal"><span class="pre">getUrl</span></tt> will not affect the generated URL.</p>
</div>
</div>
<div class="section" id="versioning">
<h2>Versioning<a class="headerlink" href="#versioning" title="Permalink to this headline">¶</a></h2>
<p>To avoid using the cached resource after updating the old resource, you can
use versions which you bump every time you release a new project. The version
can be specified in the third argument:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$templateEngine</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">AssetsHelper</span><span class="p">(</span><span class="k">null</span><span class="p">,</span> <span class="k">null</span><span class="p">,</span> <span class="s1">&#39;328rad75&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>Now, every URL is suffixed with <tt class="docutils literal"><span class="pre">?328rad75</span></tt>. If you want to have a different
format, you can specify the new format in fourth argument. It&#8217;s a string that
is used in <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.sprintf.php" title="sprintf"><span class="pre">sprintf</span></a></tt>. The first argument is the path and the
second is the version. For instance, <tt class="docutils literal"><span class="pre">%s?v=%s</span></tt> will be rendered as
<tt class="docutils literal"><span class="pre">/images/logo.png?v=328rad75</span></tt>.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>On-demand versioned URLs for assets were introduced in Symfony 2.5.</p>
</div>
<p>You can also generate a versioned URL on an asset-by-asset basis using the
fourth argument of the helper:</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;</span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;assets&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">getUrl</span><span class="p">(</span><span class="s1">&#39;images/logo.png&#39;</span><span class="p">,</span> <span class="k">null</span><span class="p">,</span> <span class="k">false</span><span class="p">,</span> <span class="s1">&#39;3.0&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="s">&quot;</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- renders as:</span>
<span class="c">&lt;img src=&quot;/images/logo.png?v=3.0&quot;&gt;</span>
<span class="c">--&gt;</span>
</pre></div>
</div>
</div>
<div class="section" id="multiple-packages">
<h2>Multiple Packages<a class="headerlink" href="#multiple-packages" title="Permalink to this headline">¶</a></h2>
<p>Asset path generation is handled internally by packages. The component provides
2 packages by default:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Asset/PathPackage.html" title="Symfony\Component\Templating\Asset\PathPackage"><span class="pre">PathPackage</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Asset/UrlPackage.html" title="Symfony\Component\Templating\Asset\UrlPackage"><span class="pre">UrlPackage</span></a></tt></li>
</ul>
<p>You can also use multiple packages:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$templateEngine</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">AssetsHelper</span><span class="p">());</span>

<span class="nv">$templateEngine</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;assets&#39;</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">addPackage</span><span class="p">(</span><span class="s1">&#39;images&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">PathPackage</span><span class="p">(</span><span class="s1">&#39;/images/&#39;</span><span class="p">));</span>
<span class="nv">$templateEngine</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;assets&#39;</span><span class="p">)</span><span class="o">-&gt;</span><span class="na">addPackage</span><span class="p">(</span><span class="s1">&#39;scripts&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">PathPackage</span><span class="p">(</span><span class="s1">&#39;/scripts/&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>This will setup the assets helper with 3 packages: the default package which
defaults to <tt class="docutils literal"><span class="pre">/</span></tt> (set by the constructor), the images package which prefixes
it with <tt class="docutils literal"><span class="pre">/images/</span></tt> and the scripts package which prefixes it with
<tt class="docutils literal"><span class="pre">/scripts/</span></tt>.</p>
<p>If you want to set another default package, you can use
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/AssetsHelper.html#method_setDefaultPackage" title="Symfony\Component\Templating\Helper\AssetsHelper::setDefaultPackage()"><span class="pre">setDefaultPackage()</span></a></tt>.</p>
<p>You can specify which package you want to use in the second argument of
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/AssetsHelper.html#method_getUrl" title="Symfony\Component\Templating\Helper\AssetsHelper::getUrl()"><span class="pre">getUrl()</span></a></tt>:</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="nt">&lt;img</span> <span class="na">src=</span><span class="s">&quot;</span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="p">[</span><span class="s1">&#39;assets&#39;</span><span class="p">]</span><span class="o">-&gt;</span><span class="na">getUrl</span><span class="p">(</span><span class="s1">&#39;foo.png&#39;</span><span class="p">,</span> <span class="s1">&#39;images&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="s">&quot;</span><span class="nt">&gt;</span>
<span class="c">&lt;!-- renders as:</span>
<span class="c">&lt;img src=&quot;/images/foo.png&quot;&gt;</span>
<span class="c">--&gt;</span>
</pre></div>
</div>
</div>
<div class="section" id="custom-packages">
<h2>Custom Packages<a class="headerlink" href="#custom-packages" title="Permalink to this headline">¶</a></h2>
<p>You can create your own package by extending
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Package/Package.html" title="Symfony\Component\Templating\Package\Package"><span class="pre">Package</span></a></tt>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Assets Helper</a><ul>
<li><a class="reference internal" href="#configure-paths">Configure Paths</a></li>
<li><a class="reference internal" href="#absolute-urls">Absolute Urls</a></li>
<li><a class="reference internal" href="#versioning">Versioning</a></li>
<li><a class="reference internal" href="#multiple-packages">Multiple Packages</a></li>
<li><a class="reference internal" href="#custom-packages">Custom Packages</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="slotshelper.html"
                        title="previous chapter">Slots Helper</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../../translation/index.html"
                        title="next chapter">Translation</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/templating/helpers/assetshelper.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../translation/index.html" title="Translation"
             >next</a> |</li>
        <li class="right" >
          <a href="slotshelper.html" title="Slots Helper"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Templating</a> &raquo;</li>
          <li><a href="index.html" >The Templating Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>