<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The PSR-0 Class Loader &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="ClassLoader" href="index.html" />
    <link rel="next" title="The PSR-4 Class Loader" href="psr4_class_loader.html" />
    <link rel="prev" title="The ClassLoader Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="psr4_class_loader.html" title="The PSR-4 Class Loader"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The ClassLoader Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">ClassLoader</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-psr-0-class-loader">
<span id="index-0"></span><h1>The PSR-0 Class Loader<a class="headerlink" href="#the-psr-0-class-loader" title="Permalink to this headline">¶</a></h1>
<p>If your classes and third-party libraries follow the <a class="reference external" href="http://www.php-fig.org/psr/psr-0/">PSR-0</a> standard, you
can use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/ClassLoader.html" title="Symfony\Component\ClassLoader\ClassLoader"><span class="pre">ClassLoader</span></a></tt> class to
load all of your project&#8217;s classes.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">You can use both the <tt class="docutils literal"><span class="pre">ApcClassLoader</span></tt> and the <tt class="docutils literal"><span class="pre">XcacheClassLoader</span></tt> to
<a class="reference internal" href="cache_class_loader.html"><em>cache</em></a> a <tt class="docutils literal"><span class="pre">ClassLoader</span></tt>
instance or the <tt class="docutils literal"><span class="pre">DebugClassLoader</span></tt> to <a class="reference internal" href="debug_class_loader.html"><em>debug</em></a>
it.</p>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Registering the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/ClassLoader.html" title="Symfony\Component\ClassLoader\ClassLoader"><span class="pre">ClassLoader</span></a></tt> autoloader
is straightforward:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">require_once</span> <span class="s1">&#39;/path/to/src/Symfony/Component/ClassLoader/ClassLoader.php&#39;</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\ClassLoader\ClassLoader</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ClassLoader</span><span class="p">();</span>

<span class="c1">// to enable searching the include path (eg. for PEAR packages)</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">setUseIncludePath</span><span class="p">(</span><span class="k">true</span><span class="p">);</span>

<span class="c1">// ... register namespaces and prefixes here - see below</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The autoloader is automatically registered in a Symfony2 application (see
<tt class="docutils literal"><span class="pre">app/autoload.php</span></tt>).</p>
</div>
<p>Use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/ClassLoader.html#method_addPrefix" title="Symfony\Component\ClassLoader\ClassLoader::addPrefix()"><span class="pre">addPrefix()</span></a></tt> or
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/ClassLoader.html#method_addPrefixes" title="Symfony\Component\ClassLoader\ClassLoader::addPrefixes()"><span class="pre">addPrefixes()</span></a></tt> methods to
register your classes:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// register a single namespaces</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">addPrefix</span><span class="p">(</span><span class="s1">&#39;Symfony&#39;</span><span class="p">,</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/symfony/symfony/src&#39;</span><span class="p">);</span>

<span class="c1">// register several namespaces at once</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">addPrefixes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Symfony&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/../vendor/symfony/symfony/src&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Monolog&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/../vendor/monolog/monolog/src&#39;</span><span class="p">,</span>
<span class="p">));</span>

<span class="c1">// register a prefix for a class following the PEAR naming conventions</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">addPrefix</span><span class="p">(</span><span class="s1">&#39;Twig_&#39;</span><span class="p">,</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/twig/twig/lib&#39;</span><span class="p">);</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">addPrefixes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Swift_&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/swiftmailer/swiftmailer/lib/classes&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Twig_&#39;</span>  <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/twig/twig/lib&#39;</span><span class="p">,</span>
<span class="p">));</span>
</pre></div>
</div>
<p>Classes from a sub-namespace or a sub-hierarchy of <a class="reference external" href="http://pear.php.net/manual/en/standards.naming.php">PEAR</a> classes can be looked
for in a location list to ease the vendoring of a sub-set of classes for large
projects:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">addPrefixes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Doctrine\\Common&#39;</span>           <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/common/lib&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Doctrine\\DBAL\\Migrations&#39;</span> <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/migrations/lib&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Doctrine\\DBAL&#39;</span>             <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/dbal/lib&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Doctrine&#39;</span>                   <span class="o">=&gt;</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/vendor/doctrine/orm/lib&#39;</span><span class="p">,</span>
<span class="p">));</span>
</pre></div>
</div>
<p>In this example, if you try to use a class in the <tt class="docutils literal"><span class="pre">Doctrine\Common</span></tt> namespace
or one of its children, the autoloader will first look for the class under the
<tt class="docutils literal"><span class="pre">doctrine-common</span></tt> directory. If not found, it will then fallback to the default
<tt class="docutils literal"><span class="pre">Doctrine</span></tt> directory (the last one configured) before giving up. The order
of the prefix registrations is significant in this case.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The PSR-0 Class Loader</a><ul>
<li><a class="reference internal" href="#usage">Usage</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The ClassLoader Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="psr4_class_loader.html"
                        title="next chapter">The PSR-4 Class Loader</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/class_loader/class_loader.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="psr4_class_loader.html" title="The PSR-4 Class Loader"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The ClassLoader Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >ClassLoader</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>