<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The ClassLoader Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="ClassLoader" href="index.html" />
    <link rel="next" title="The PSR-0 Class Loader" href="class_loader.html" />
    <link rel="prev" title="ClassLoader" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="class_loader.html" title="The PSR-0 Class Loader"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="ClassLoader"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">ClassLoader</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-classloader-component">
<span id="index-0"></span><h1>The ClassLoader Component<a class="headerlink" href="#the-classloader-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The ClassLoader component provides tools to autoload your classes and
cache their locations for performance.</div></blockquote>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Whenever you reference a class that has not been required or included yet,
PHP uses the <a class="reference external" href="http://php.net/manual/en/language.oop5.autoload.php">autoloading mechanism</a> to delegate the loading of a file defining
the class. Symfony2 provides two autoloaders, which are able to load your classes:</p>
<ul class="simple">
<li><a class="reference internal" href="class_loader.html"><em>The PSR-0 Class Loader</em></a>: loads classes that follow
the <cite>PSR-0</cite> class naming standard;</li>
<li><a class="reference internal" href="map_class_loader.html"><em>MapClassLoader</em></a>: loads classes using
a static map from class name to file path.</li>
</ul>
<p>Additionally, the Symfony ClassLoader component ships with a set of wrapper
classes which can be used to add additional functionality on top of existing
autoloaders:</p>
<ul class="simple">
<li><a class="reference internal" href="cache_class_loader.html"><em>Cache a Class Loader</em></a></li>
<li><a class="reference internal" href="debug_class_loader.html"><em>Debugging a Class Loader</em></a></li>
</ul>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/class-loader</span></tt>
on <a class="reference external" href="https://packagist.org/packages/symfony/class-loader">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/ClassLoader">https://github.com/symfony/ClassLoader</a>).</li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The ClassLoader Component</a><ul>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#installation">Installation</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">ClassLoader</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="class_loader.html"
                        title="next chapter">The PSR-0 Class Loader</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/class_loader/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="class_loader.html" title="The PSR-0 Class Loader"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="ClassLoader"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >ClassLoader</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>