<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>MapClassLoader &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="ClassLoader" href="index.html" />
    <link rel="next" title="Cache a Class Loader" href="cache_class_loader.html" />
    <link rel="prev" title="The PSR-4 Class Loader" href="psr4_class_loader.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="cache_class_loader.html" title="Cache a Class Loader"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="psr4_class_loader.html" title="The PSR-4 Class Loader"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">ClassLoader</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="mapclassloader">
<span id="index-0"></span><h1>MapClassLoader<a class="headerlink" href="#mapclassloader" title="Permalink to this headline">¶</a></h1>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/MapClassLoader.html" title="Symfony\Component\ClassLoader\MapClassLoader"><span class="pre">MapClassLoader</span></a></tt> allows you to
autoload files via a static map from classes to files. This is useful if you
use third-party libraries which don&#8217;t follow the <a class="reference external" href="http://www.php-fig.org/psr/psr-0/">PSR-0</a> standards and so
can&#8217;t use the <a class="reference internal" href="class_loader.html"><em>PSR-0 class loader</em></a>.</p>
<p>The <tt class="docutils literal"><span class="pre">MapClassLoader</span></tt> can be used along with the <a class="reference internal" href="class_loader.html"><em>PSR-0 class loader</em></a>
by configuring and calling the <tt class="docutils literal"><span class="pre">register()</span></tt> method on both.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The default behavior is to append the <tt class="docutils literal"><span class="pre">MapClassLoader</span></tt> on the autoload
stack. If you want to use it as the first autoloader, pass <tt class="docutils literal"><span class="pre">true</span></tt> when
calling the <tt class="docutils literal"><span class="pre">register()</span></tt> method. Your class loader will then be prepended
on the autoload stack.</p>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Using it is as easy as passing your mapping to its constructor when creating
an instance of the <tt class="docutils literal"><span class="pre">MapClassLoader</span></tt> class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">require_once</span> <span class="s1">&#39;/path/to/src/Symfony/Component/ClassLoader/MapClassLoader&#39;</span><span class="p">;</span>

<span class="nv">$mapping</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Foo&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;/path/to/Foo&#39;</span><span class="p">,</span>
    <span class="s1">&#39;Bar&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;/path/to/Bar&#39;</span><span class="p">,</span>
<span class="p">);</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MapClassLoader</span><span class="p">(</span><span class="nv">$mapping</span><span class="p">);</span>

<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">MapClassLoader</a><ul>
<li><a class="reference internal" href="#usage">Usage</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="psr4_class_loader.html"
                        title="previous chapter">The PSR-4 Class Loader</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="cache_class_loader.html"
                        title="next chapter">Cache a Class Loader</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/class_loader/map_class_loader.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="cache_class_loader.html" title="Cache a Class Loader"
             >next</a> |</li>
        <li class="right" >
          <a href="psr4_class_loader.html" title="The PSR-4 Class Loader"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >ClassLoader</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>