<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The PSR-4 Class Loader &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="ClassLoader" href="index.html" />
    <link rel="next" title="MapClassLoader" href="map_class_loader.html" />
    <link rel="prev" title="The PSR-0 Class Loader" href="class_loader.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="map_class_loader.html" title="MapClassLoader"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="class_loader.html" title="The PSR-0 Class Loader"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">ClassLoader</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-psr-4-class-loader">
<span id="index-0"></span><h1>The PSR-4 Class Loader<a class="headerlink" href="#the-psr-4-class-loader" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/Psr4ClassLoader.html" title="Symfony\Component\ClassLoader\Psr4ClassLoader"><span class="pre">Psr4ClassLoader</span></a></tt> was
introduced in Symfony 2.5.</p>
</div>
<p>Libraries that follow the <a class="reference external" href="http://www.php-fig.org/psr/psr-4/">PSR-4</a> standard can be loaded with the <tt class="docutils literal"><span class="pre">Psr4ClassLoader</span></tt>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you manage your dependencies via Composer, you get a PSR-4 compatible
autoloader out of the box. Use this loader in environments where Composer
is not available.</p>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">All Symfony components follow PSR-4.</p>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The following example demonstrates how you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/Psr4ClassLoader.html" title="Symfony\Component\ClassLoader\Psr4ClassLoader"><span class="pre">Psr4ClassLoader</span></a></tt> autoloader to use
Symfony&#8217;s Yaml component. Imagine, you downloaded both the ClassLoader and
Yaml component as ZIP packages and unpacked them to a <tt class="docutils literal"><span class="pre">libs</span></tt> directory.
The directory structure will look like this:</p>
<div class="highlight-text"><div class="highlight"><pre>libs/
    ClassLoader/
        Psr4ClassLoader.php
        ...
    Yaml/
        Yaml.php
        ...
config.yml
demo.php
</pre></div>
</div>
<p>In <tt class="docutils literal"><span class="pre">demo.php</span></tt> you are going to parse the <tt class="docutils literal"><span class="pre">config.yml</span></tt> file. To do that, you
first need to configure the <tt class="docutils literal"><span class="pre">Psr4ClassLoader</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\ClassLoader\Psr4ClassLoader</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Yaml\Yaml</span><span class="p">;</span>

<span class="k">require</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/lib/ClassLoader/Psr4ClassLoader.php&#39;</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Psr4ClassLoader</span><span class="p">();</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">addPrefix</span><span class="p">(</span><span class="s1">&#39;Symfony\\Component\\Yaml\\&#39;</span><span class="p">,</span> <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/lib/Yaml&#39;</span><span class="p">);</span>
<span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">();</span>

<span class="nv">$data</span> <span class="o">=</span> <span class="nx">Yaml</span><span class="o">::</span><span class="na">parse</span><span class="p">(</span><span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/config.yml&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>First of all, the class loader is loaded manually using a <tt class="docutils literal"><span class="pre">require</span></tt>
statement, since there is no autoload mechanism yet. With the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/Psr4ClassLoader.html#method_addPrefix" title="Symfony\Component\ClassLoader\Psr4ClassLoader::addPrefix()"><span class="pre">addPrefix()</span></a></tt> call, you
tell the class loader where to look for classes with the
<tt class="docutils literal"><span class="pre">Symfony\Component\Yaml\</span></tt> namespace prefix. After registering the autoloader,
the Yaml component is ready to be used.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The PSR-4 Class Loader</a><ul>
<li><a class="reference internal" href="#usage">Usage</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="class_loader.html"
                        title="previous chapter">The PSR-0 Class Loader</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="map_class_loader.html"
                        title="next chapter">MapClassLoader</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/class_loader/psr4_class_loader.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="map_class_loader.html" title="MapClassLoader"
             >next</a> |</li>
        <li class="right" >
          <a href="class_loader.html" title="The PSR-0 Class Loader"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >ClassLoader</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>