<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Using a Factory to Create Services &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="DependencyInjection" href="index.html" />
    <link rel="next" title="Configuring Services with a Service Configurator" href="configurators.html" />
    <link rel="prev" title="Working with Tagged Services" href="tags.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="configurators.html" title="Configuring Services with a Service Configurator"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="tags.html" title="Working with Tagged Services"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">DependencyInjection</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="using-a-factory-to-create-services">
<span id="index-0"></span><h1>Using a Factory to Create Services<a class="headerlink" href="#using-a-factory-to-create-services" title="Permalink to this headline">¶</a></h1>
<p>Symfony2&#8217;s Service Container provides a powerful way of controlling the
creation of objects, allowing you to specify arguments passed to the constructor
as well as calling methods and setting parameters. Sometimes, however, this
will not provide you with everything you need to construct your objects.
For this situation, you can use a factory to create the object and tell the
service container to call a method on the factory rather than directly instantiating
the class.</p>
<p>Suppose you have a factory that configures and returns a new <tt class="docutils literal"><span class="pre">NewsletterManager</span></tt>
object:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">class</span> <span class="nc">NewsletterFactory</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">get</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$newsletterManager</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">NewsletterManager</span><span class="p">();</span>

        <span class="c1">// ...</span>

        <span class="k">return</span> <span class="nv">$newsletterManager</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>To make the <tt class="docutils literal"><span class="pre">NewsletterManager</span></tt> object available as a service, you can
configure the service container to use the <tt class="docutils literal"><span class="pre">NewsletterFactory</span></tt> factory
class:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">parameters</span><span class="p-Indicator">:</span>
    <span class="c1"># ...</span>
    <span class="l-Scalar-Plain">newsletter_manager.class</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">NewsletterManager</span>
    <span class="l-Scalar-Plain">newsletter_factory.class</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">NewsletterFactory</span>
<span class="l-Scalar-Plain">services</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">newsletter_manager</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">class</span><span class="p-Indicator">:</span>          <span class="s">&quot;%newsletter_manager.class%&quot;</span>
        <span class="l-Scalar-Plain">factory_class</span><span class="p-Indicator">:</span>  <span class="s">&quot;%newsletter_factory.class%&quot;</span>
        <span class="l-Scalar-Plain">factory_method</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">get</span>
</pre></div>
</div>
</li>
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="nt">&lt;parameters&gt;</span>
    <span class="c">&lt;!-- ... --&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;newsletter_manager.class&quot;</span><span class="nt">&gt;</span>NewsletterManager<span class="nt">&lt;/parameter&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;newsletter_factory.class&quot;</span><span class="nt">&gt;</span>NewsletterFactory<span class="nt">&lt;/parameter&gt;</span>
<span class="nt">&lt;/parameters&gt;</span>

<span class="nt">&lt;services&gt;</span>
    <span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;newsletter_manager&quot;</span>
             <span class="na">class=</span><span class="s">&quot;%newsletter_manager.class%&quot;</span>
             <span class="na">factory-class=</span><span class="s">&quot;%newsletter_factory.class%&quot;</span>
             <span class="na">factory-method=</span><span class="s">&quot;get&quot;</span>
    <span class="nt">/&gt;</span>
<span class="nt">&lt;/services&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\Definition</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;newsletter_manager.class&#39;</span><span class="p">,</span> <span class="s1">&#39;NewsletterManager&#39;</span><span class="p">);</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;newsletter_factory.class&#39;</span><span class="p">,</span> <span class="s1">&#39;NewsletterFactory&#39;</span><span class="p">);</span>

<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;newsletter_manager&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span>
    <span class="s1">&#39;%newsletter_manager.class%&#39;</span>
<span class="p">))</span><span class="o">-&gt;</span><span class="na">setFactoryClass</span><span class="p">(</span>
    <span class="s1">&#39;%newsletter_factory.class%&#39;</span>
<span class="p">)</span><span class="o">-&gt;</span><span class="na">setFactoryMethod</span><span class="p">(</span>
    <span class="s1">&#39;get&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>When you specify the class to use for the factory (via <tt class="docutils literal"><span class="pre">factory_class</span></tt>)
the method will be called statically. If the factory itself should be instantiated
and the resulting object&#8217;s method called, configure the factory itself as a service.
In this case, the method (e.g. get) should be changed to be non-static:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">parameters</span><span class="p-Indicator">:</span>
    <span class="c1"># ...</span>
    <span class="l-Scalar-Plain">newsletter_manager.class</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">NewsletterManager</span>
    <span class="l-Scalar-Plain">newsletter_factory.class</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">NewsletterFactory</span>
<span class="l-Scalar-Plain">services</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">newsletter_factory</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">class</span><span class="p-Indicator">:</span>            <span class="s">&quot;%newsletter_factory.class%&quot;</span>
    <span class="l-Scalar-Plain">newsletter_manager</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">class</span><span class="p-Indicator">:</span>            <span class="s">&quot;%newsletter_manager.class%&quot;</span>
        <span class="l-Scalar-Plain">factory_service</span><span class="p-Indicator">:</span>  <span class="l-Scalar-Plain">newsletter_factory</span>
        <span class="l-Scalar-Plain">factory_method</span><span class="p-Indicator">:</span>   <span class="l-Scalar-Plain">get</span>
</pre></div>
</div>
</li>
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="nt">&lt;parameters&gt;</span>
    <span class="c">&lt;!-- ... --&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;newsletter_manager.class&quot;</span><span class="nt">&gt;</span>NewsletterManager<span class="nt">&lt;/parameter&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;newsletter_factory.class&quot;</span><span class="nt">&gt;</span>NewsletterFactory<span class="nt">&lt;/parameter&gt;</span>
<span class="nt">&lt;/parameters&gt;</span>

<span class="nt">&lt;services&gt;</span>
    <span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;newsletter_factory&quot;</span> <span class="na">class=</span><span class="s">&quot;%newsletter_factory.class%&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;newsletter_manager&quot;</span>
             <span class="na">class=</span><span class="s">&quot;%newsletter_manager.class%&quot;</span>
             <span class="na">factory-service=</span><span class="s">&quot;newsletter_factory&quot;</span>
             <span class="na">factory-method=</span><span class="s">&quot;get&quot;</span>
    <span class="nt">/&gt;</span>
<span class="nt">&lt;/services&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\Definition</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;newsletter_manager.class&#39;</span><span class="p">,</span> <span class="s1">&#39;NewsletterManager&#39;</span><span class="p">);</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;newsletter_factory.class&#39;</span><span class="p">,</span> <span class="s1">&#39;NewsletterFactory&#39;</span><span class="p">);</span>

<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;newsletter_factory&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span>
    <span class="s1">&#39;%newsletter_factory.class%&#39;</span>
<span class="p">));</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;newsletter_manager&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span>
    <span class="s1">&#39;%newsletter_manager.class%&#39;</span>
<span class="p">))</span><span class="o">-&gt;</span><span class="na">setFactoryService</span><span class="p">(</span>
    <span class="s1">&#39;newsletter_factory&#39;</span>
<span class="p">)</span><span class="o">-&gt;</span><span class="na">setFactoryMethod</span><span class="p">(</span>
    <span class="s1">&#39;get&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The factory service is specified by its id name and not a reference to
the service itself. So, you do not need to use the &#64; syntax.</p>
</div>
<div class="section" id="passing-arguments-to-the-factory-method">
<h2>Passing Arguments to the Factory Method<a class="headerlink" href="#passing-arguments-to-the-factory-method" title="Permalink to this headline">¶</a></h2>
<p>If you need to pass arguments to the factory method, you can use the <tt class="docutils literal"><span class="pre">arguments</span></tt>
options inside the service container. For example, suppose the <tt class="docutils literal"><span class="pre">get</span></tt> method
in the previous example takes the <tt class="docutils literal"><span class="pre">templating</span></tt> service as an argument:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">parameters</span><span class="p-Indicator">:</span>
    <span class="c1"># ...</span>
    <span class="l-Scalar-Plain">newsletter_manager.class</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">NewsletterManager</span>
    <span class="l-Scalar-Plain">newsletter_factory.class</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">NewsletterFactory</span>
<span class="l-Scalar-Plain">services</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">newsletter_factory</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">class</span><span class="p-Indicator">:</span>            <span class="s">&quot;%newsletter_factory.class%&quot;</span>
    <span class="l-Scalar-Plain">newsletter_manager</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">class</span><span class="p-Indicator">:</span>            <span class="s">&quot;%newsletter_manager.class%&quot;</span>
        <span class="l-Scalar-Plain">factory_service</span><span class="p-Indicator">:</span>  <span class="l-Scalar-Plain">newsletter_factory</span>
        <span class="l-Scalar-Plain">factory_method</span><span class="p-Indicator">:</span>   <span class="l-Scalar-Plain">get</span>
        <span class="l-Scalar-Plain">arguments</span><span class="p-Indicator">:</span>
            <span class="p-Indicator">-</span> <span class="s">&quot;@templating&quot;</span>
</pre></div>
</div>
</li>
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="nt">&lt;parameters&gt;</span>
    <span class="c">&lt;!-- ... --&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;newsletter_manager.class&quot;</span><span class="nt">&gt;</span>NewsletterManager<span class="nt">&lt;/parameter&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;newsletter_factory.class&quot;</span><span class="nt">&gt;</span>NewsletterFactory<span class="nt">&lt;/parameter&gt;</span>
<span class="nt">&lt;/parameters&gt;</span>

<span class="nt">&lt;services&gt;</span>
    <span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;newsletter_factory&quot;</span> <span class="na">class=</span><span class="s">&quot;%newsletter_factory.class%&quot;</span><span class="nt">/&gt;</span>
    <span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;newsletter_manager&quot;</span>
             <span class="na">class=</span><span class="s">&quot;%newsletter_manager.class%&quot;</span>
             <span class="na">factory-service=</span><span class="s">&quot;newsletter_factory&quot;</span>
             <span class="na">factory-method=</span><span class="s">&quot;get&quot;</span>
    <span class="nt">&gt;</span>
        <span class="nt">&lt;argument</span> <span class="na">type=</span><span class="s">&quot;service&quot;</span> <span class="na">id=</span><span class="s">&quot;templating&quot;</span> <span class="nt">/&gt;</span>
    <span class="nt">&lt;/service&gt;</span>
<span class="nt">&lt;/services&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\Definition</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;newsletter_manager.class&#39;</span><span class="p">,</span> <span class="s1">&#39;NewsletterManager&#39;</span><span class="p">);</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;newsletter_factory.class&#39;</span><span class="p">,</span> <span class="s1">&#39;NewsletterFactory&#39;</span><span class="p">);</span>

<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;newsletter_factory&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span>
    <span class="s1">&#39;%newsletter_factory.class%&#39;</span>
<span class="p">));</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;newsletter_manager&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span>
    <span class="s1">&#39;%newsletter_manager.class%&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">Reference</span><span class="p">(</span><span class="s1">&#39;templating&#39;</span><span class="p">))</span>
<span class="p">))</span><span class="o">-&gt;</span><span class="na">setFactoryService</span><span class="p">(</span>
    <span class="s1">&#39;newsletter_factory&#39;</span>
<span class="p">)</span><span class="o">-&gt;</span><span class="na">setFactoryMethod</span><span class="p">(</span>
    <span class="s1">&#39;get&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Using a Factory to Create Services</a><ul>
<li><a class="reference internal" href="#passing-arguments-to-the-factory-method">Passing Arguments to the Factory Method</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="tags.html"
                        title="previous chapter">Working with Tagged Services</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="configurators.html"
                        title="next chapter">Configuring Services with a Service Configurator</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/dependency_injection/factories.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="configurators.html" title="Configuring Services with a Service Configurator"
             >next</a> |</li>
        <li class="right" >
          <a href="tags.html" title="Working with Tagged Services"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >DependencyInjection</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>