<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>DependencyInjection &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="The Components" href="../index.html" />
    <link rel="next" title="The DependencyInjection Component" href="introduction.html" />
    <link rel="prev" title="Debugging a Class Loader" href="../debug/class_loader.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="introduction.html" title="The DependencyInjection Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../debug/class_loader.html" title="Debugging a Class Loader"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="dependencyinjection">
<h1>DependencyInjection<a class="headerlink" href="#dependencyinjection" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="introduction.html">The DependencyInjection Component</a><ul>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#installation">Installation</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#basic-usage">Basic Usage</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#avoiding-your-code-becoming-dependent-on-the-container">Avoiding your Code Becoming Dependent on the Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#setting-up-the-container-with-configuration-files">Setting up the Container with Configuration Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="types.html">Types of Injection</a><ul>
<li class="toctree-l2"><a class="reference internal" href="types.html#constructor-injection">Constructor Injection</a></li>
<li class="toctree-l2"><a class="reference internal" href="types.html#setter-injection">Setter Injection</a></li>
<li class="toctree-l2"><a class="reference internal" href="types.html#property-injection">Property Injection</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="parameters.html">Introduction to Parameters</a><ul>
<li class="toctree-l2"><a class="reference internal" href="parameters.html#getting-and-setting-container-parameters">Getting and Setting Container Parameters</a></li>
<li class="toctree-l2"><a class="reference internal" href="parameters.html#parameters-in-configuration-files">Parameters in Configuration Files</a></li>
<li class="toctree-l2"><a class="reference internal" href="parameters.html#array-parameters">Array Parameters</a></li>
<li class="toctree-l2"><a class="reference internal" href="parameters.html#constants-as-parameters">Constants as Parameters</a></li>
<li class="toctree-l2"><a class="reference internal" href="parameters.html#php-keywords-in-xml">PHP Keywords in XML</a></li>
<li class="toctree-l2"><a class="reference internal" href="parameters.html#syntax-for-referencing-services">Syntax for Referencing Services</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="definitions.html">Working with Container Service Definitions</a><ul>
<li class="toctree-l2"><a class="reference internal" href="definitions.html#getting-and-setting-service-definitions">Getting and Setting Service Definitions</a></li>
<li class="toctree-l2"><a class="reference internal" href="definitions.html#working-with-a-definition">Working with a Definition</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="compilation.html">Compiling the Container</a><ul>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#managing-configuration-with-extensions">Managing Configuration with Extensions</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#prepending-configuration-passed-to-the-extension">Prepending Configuration Passed to the Extension</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#creating-a-compiler-pass">Creating a Compiler Pass</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#registering-a-compiler-pass">Registering a Compiler Pass</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#dumping-the-configuration-for-performance">Dumping the Configuration for Performance</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="tags.html">Working with Tagged Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="tags.html#define-services-with-a-custom-tag">Define Services with a custom Tag</a></li>
<li class="toctree-l2"><a class="reference internal" href="tags.html#create-a-compilerpass">Create a <tt class="docutils literal"><span class="pre">CompilerPass</span></tt></a></li>
<li class="toctree-l2"><a class="reference internal" href="tags.html#register-the-pass-with-the-container">Register the Pass with the Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="tags.html#adding-additional-attributes-on-tags">Adding additional Attributes on Tags</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="factories.html">Using a Factory to Create Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="factories.html#passing-arguments-to-the-factory-method">Passing Arguments to the Factory Method</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="configurators.html">Configuring Services with a Service Configurator</a><ul>
<li class="toctree-l2"><a class="reference internal" href="configurators.html#configurator-service-config">Configurator Service Config</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="parentservices.html">Managing common Dependencies with parent Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="parentservices.html#overriding-parent-dependencies">Overriding parent Dependencies</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="advanced.html">Advanced Container Configuration</a><ul>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#marking-services-as-public-private">Marking Services as public / private</a></li>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#synthetic-services">Synthetic Services</a></li>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#aliasing">Aliasing</a></li>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#requiring-files">Requiring Files</a></li>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#decorating-services">Decorating Services</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="lazy_services.html">Lazy Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="lazy_services.html#why-lazy-services">Why lazy Services?</a></li>
<li class="toctree-l2"><a class="reference internal" href="lazy_services.html#installation">Installation</a></li>
<li class="toctree-l2"><a class="reference internal" href="lazy_services.html#configuration">Configuration</a></li>
<li class="toctree-l2"><a class="reference internal" href="lazy_services.html#additional-resources">Additional Resources</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="workflow.html">Container Building Workflow</a><ul>
<li class="toctree-l2"><a class="reference internal" href="workflow.html#working-with-a-cached-container">Working with a Cached Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html#application-level-configuration">Application-level Configuration</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html#bundle-level-configuration-with-extensions">Bundle-level Configuration with Extensions</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html#compiler-passes-to-allow-interaction-between-bundles">Compiler Passes to Allow Interaction between Bundles</a></li>
<li class="toctree-l2"><a class="reference internal" href="workflow.html#compilation-and-caching">Compilation and Caching</a></li>
</ul>
</li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../debug/class_loader.html"
                        title="previous chapter">Debugging a Class Loader</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="next chapter">The DependencyInjection Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/dependency_injection/index.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="introduction.html" title="The DependencyInjection Component"
             >next</a> |</li>
        <li class="right" >
          <a href="../debug/class_loader.html" title="Debugging a Class Loader"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>