<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Container Building Workflow &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="DependencyInjection" href="index.html" />
    <link rel="next" title="The DomCrawler Component" href="../dom_crawler.html" />
    <link rel="prev" title="Lazy Services" href="lazy_services.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../dom_crawler.html" title="The DomCrawler Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="lazy_services.html" title="Lazy Services"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">DependencyInjection</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="container-building-workflow">
<span id="index-0"></span><h1>Container Building Workflow<a class="headerlink" href="#container-building-workflow" title="Permalink to this headline">¶</a></h1>
<p>In the preceding pages of this section, there has been little to say about
where the various files and classes should be located. This is because this
depends on the application, library or framework in which you want to use
the container. Looking at how the container is configured and built in the
Symfony2 full stack framework will help you see how this all fits together,
whether you are using the full stack framework or looking to use the service
container in another application.</p>
<p>The full stack framework uses the HttpKernel component to manage the loading
of the service container configuration from the application and bundles and
also handles the compilation and caching. Even if you are not using HttpKernel,
it should give you an idea of one way of organizing configuration in a modular
application.</p>
<div class="section" id="working-with-a-cached-container">
<h2>Working with a Cached Container<a class="headerlink" href="#working-with-a-cached-container" title="Permalink to this headline">¶</a></h2>
<p>Before building it, the kernel checks to see if a cached version of the container
exists. The HttpKernel has a debug setting and if this is false, the
cached version is used if it exists. If debug is true then the kernel
<a class="reference internal" href="../config/caching.html"><em>checks to see if configuration is fresh</em></a>
and if it is, the cached version of the container is used. If not then the container
is built from the application-level configuration and the bundles&#8217;s extension
configuration.</p>
<p>Read <a class="reference internal" href="compilation.html#components-dependency-injection-dumping"><em>Dumping the Configuration for Performance</em></a>
for more details.</p>
</div>
<div class="section" id="application-level-configuration">
<h2>Application-level Configuration<a class="headerlink" href="#application-level-configuration" title="Permalink to this headline">¶</a></h2>
<p>Application level config is loaded from the <tt class="docutils literal"><span class="pre">app/config</span></tt> directory. Multiple
files are loaded which are then merged when the extensions are processed. This
allows for different configuration for different environments e.g. dev, prod.</p>
<p>These files contain parameters and services that are loaded directly into
the container as per <a class="reference internal" href="introduction.html#components-dependency-injection-loading-config"><em>Setting Up the Container with Configuration Files</em></a>.
They also contain configuration that is processed by extensions as per
<a class="reference internal" href="compilation.html#components-dependency-injection-extension"><em>Managing Configuration with Extensions</em></a>.
These are considered to be bundle configuration since each bundle contains
an Extension class.</p>
</div>
<div class="section" id="bundle-level-configuration-with-extensions">
<h2>Bundle-level Configuration with Extensions<a class="headerlink" href="#bundle-level-configuration-with-extensions" title="Permalink to this headline">¶</a></h2>
<p>By convention, each bundle contains an Extension class which is in the bundle&#8217;s
<tt class="docutils literal"><span class="pre">DependencyInjection</span></tt> directory. These are registered with the <tt class="docutils literal"><span class="pre">ContainerBuilder</span></tt>
when the kernel is booted. When the <tt class="docutils literal"><span class="pre">ContainerBuilder</span></tt> is <a class="reference internal" href="compilation.html"><em>compiled</em></a>,
the application-level configuration relevant to the bundle&#8217;s extension is
passed to the Extension which also usually loads its own config file(s), typically from the bundle&#8217;s
<tt class="docutils literal"><span class="pre">Resources/config</span></tt> directory. The application-level config is usually processed
with a <a class="reference internal" href="../config/definition.html"><em>Configuration object</em></a> also stored
in the bundle&#8217;s <tt class="docutils literal"><span class="pre">DependencyInjection</span></tt> directory.</p>
</div>
<div class="section" id="compiler-passes-to-allow-interaction-between-bundles">
<h2>Compiler Passes to Allow Interaction between Bundles<a class="headerlink" href="#compiler-passes-to-allow-interaction-between-bundles" title="Permalink to this headline">¶</a></h2>
<p><a class="reference internal" href="compilation.html#components-dependency-injection-compiler-passes"><em>Compiler passes</em></a> are
used to allow interaction between different bundles as they cannot affect
each other&#8217;s configuration in the extension classes. One of the main uses is
to process tagged services, allowing bundles to register services to be picked
up by other bundles, such as Monolog loggers, Twig extensions and Data Collectors
for the Web Profiler. Compiler passes are usually placed in the bundle&#8217;s
<tt class="docutils literal"><span class="pre">DependencyInjection/Compiler</span></tt> directory.</p>
</div>
<div class="section" id="compilation-and-caching">
<h2>Compilation and Caching<a class="headerlink" href="#compilation-and-caching" title="Permalink to this headline">¶</a></h2>
<p>After the compilation process has loaded the services from the configuration,
extensions and the compiler passes, it is dumped so that the cache can be used
next time. The dumped version is then used during subsequent requests as it
is more efficient.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Container Building Workflow</a><ul>
<li><a class="reference internal" href="#working-with-a-cached-container">Working with a Cached Container</a></li>
<li><a class="reference internal" href="#application-level-configuration">Application-level Configuration</a></li>
<li><a class="reference internal" href="#bundle-level-configuration-with-extensions">Bundle-level Configuration with Extensions</a></li>
<li><a class="reference internal" href="#compiler-passes-to-allow-interaction-between-bundles">Compiler Passes to Allow Interaction between Bundles</a></li>
<li><a class="reference internal" href="#compilation-and-caching">Compilation and Caching</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="lazy_services.html"
                        title="previous chapter">Lazy Services</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../dom_crawler.html"
                        title="next chapter">The DomCrawler Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/dependency_injection/workflow.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../dom_crawler.html" title="The DomCrawler Component"
             >next</a> |</li>
        <li class="right" >
          <a href="lazy_services.html" title="Lazy Services"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >DependencyInjection</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>