<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Using Events &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Console" href="index.html" />
    <link rel="next" title="Using the Logger" href="logger.html" />
    <link rel="prev" title="Building a single Command Application" href="single_command_tool.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="logger.html" title="Using the Logger"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="single_command_tool.html" title="Building a single Command Application"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Console</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="using-events">
<span id="index-0"></span><h1>Using Events<a class="headerlink" href="#using-events" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>Console events were introduced in Symfony 2.3.</p>
</div>
<p>The Application class of the Console component allows you to optionally hook
into the lifecycle of a console application via events. Instead of reinventing
the wheel, it uses the Symfony EventDispatcher component to do the work:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\EventDispatcher</span><span class="p">;</span>

<span class="nv">$dispatcher</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">EventDispatcher</span><span class="p">();</span>

<span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">setDispatcher</span><span class="p">(</span><span class="nv">$dispatcher</span><span class="p">);</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span>
</pre></div>
</div>
<div class="section" id="the-consoleevents-command-event">
<h2>The <tt class="docutils literal"><span class="pre">ConsoleEvents::COMMAND</span></tt> Event<a class="headerlink" href="#the-consoleevents-command-event" title="Permalink to this headline">¶</a></h2>
<p><strong>Typical Purposes</strong>: Doing something before any command is run (like logging
which command is going to be executed), or displaying something about the event
to be executed.</p>
<p>Just before executing any command, the <tt class="docutils literal"><span class="pre">ConsoleEvents::COMMAND</span></tt> event is
dispatched. Listeners receive a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Event/ConsoleCommandEvent.html" title="Symfony\Component\Console\Event\ConsoleCommandEvent"><span class="pre">ConsoleCommandEvent</span></a></tt> event:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Event\ConsoleCommandEvent</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\ConsoleEvents</span><span class="p">;</span>

<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListener</span><span class="p">(</span><span class="nx">ConsoleEvents</span><span class="o">::</span><span class="na">COMMAND</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nx">ConsoleCommandEvent</span> <span class="nv">$event</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// get the input instance</span>
    <span class="nv">$input</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getInput</span><span class="p">();</span>

    <span class="c1">// get the output instance</span>
    <span class="nv">$output</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getOutput</span><span class="p">();</span>

    <span class="c1">// get the command to be executed</span>
    <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getCommand</span><span class="p">();</span>

    <span class="c1">// write something about the command</span>
    <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nb">sprintf</span><span class="p">(</span><span class="s1">&#39;Before running command &lt;info&gt;%s&lt;/info&gt;&#39;</span><span class="p">,</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()));</span>

    <span class="c1">// get the application</span>
    <span class="nv">$application</span> <span class="o">=</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getApplication</span><span class="p">();</span>
<span class="p">});</span>
</pre></div>
</div>
</div>
<div class="section" id="the-consoleevents-terminate-event">
<h2>The <tt class="docutils literal"><span class="pre">ConsoleEvents::TERMINATE</span></tt> Event<a class="headerlink" href="#the-consoleevents-terminate-event" title="Permalink to this headline">¶</a></h2>
<p><strong>Typical Purposes</strong>: To perform some cleanup actions after the command has
been executed.</p>
<p>After the command has been executed, the <tt class="docutils literal"><span class="pre">ConsoleEvents::TERMINATE</span></tt> event is
dispatched. It can be used to do any actions that need to be executed for all
commands or to cleanup what you initiated in a <tt class="docutils literal"><span class="pre">ConsoleEvents::COMMAND</span></tt>
listener (like sending logs, closing a database connection, sending emails,
...). A listener might also change the exit code.</p>
<p>Listeners receive a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Event/ConsoleTerminateEvent.html" title="Symfony\Component\Console\Event\ConsoleTerminateEvent"><span class="pre">ConsoleTerminateEvent</span></a></tt> event:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Event\ConsoleTerminateEvent</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\ConsoleEvents</span><span class="p">;</span>

<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListener</span><span class="p">(</span><span class="nx">ConsoleEvents</span><span class="o">::</span><span class="na">TERMINATE</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nx">ConsoleTerminateEvent</span> <span class="nv">$event</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// get the output</span>
    <span class="nv">$output</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getOutput</span><span class="p">();</span>

    <span class="c1">// get the command that has been executed</span>
    <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getCommand</span><span class="p">();</span>

    <span class="c1">// display something</span>
    <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nb">sprintf</span><span class="p">(</span><span class="s1">&#39;After running command &lt;info&gt;%s&lt;/info&gt;&#39;</span><span class="p">,</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()));</span>

    <span class="c1">// change the exit code</span>
    <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">setExitCode</span><span class="p">(</span><span class="mi">128</span><span class="p">);</span>
<span class="p">});</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">This event is also dispatched when an exception is thrown by the command.
It is then dispatched just before the <tt class="docutils literal"><span class="pre">ConsoleEvents::EXCEPTION</span></tt> event.
The exit code received in this case is the exception code.</p>
</div>
</div>
<div class="section" id="the-consoleevents-exception-event">
<h2>The <tt class="docutils literal"><span class="pre">ConsoleEvents::EXCEPTION</span></tt> Event<a class="headerlink" href="#the-consoleevents-exception-event" title="Permalink to this headline">¶</a></h2>
<p><strong>Typical Purposes</strong>: Handle exceptions thrown during the execution of a
command.</p>
<p>Whenever an exception is thrown by a command, the <tt class="docutils literal"><span class="pre">ConsoleEvents::EXCEPTION</span></tt>
event is dispatched. A listener can wrap or change the exception or do
anything useful before the exception is thrown by the application.</p>
<p>Listeners receive a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Event/ConsoleExceptionEvent.html" title="Symfony\Component\Console\Event\ConsoleExceptionEvent"><span class="pre">ConsoleExceptionEvent</span></a></tt> event:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Event\ConsoleExceptionEvent</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\ConsoleEvents</span><span class="p">;</span>

<span class="nv">$dispatcher</span><span class="o">-&gt;</span><span class="na">addListener</span><span class="p">(</span><span class="nx">ConsoleEvents</span><span class="o">::</span><span class="na">EXCEPTION</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nx">ConsoleExceptionEvent</span> <span class="nv">$event</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$output</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getOutput</span><span class="p">();</span>

    <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getCommand</span><span class="p">();</span>

    <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nb">sprintf</span><span class="p">(</span><span class="s1">&#39;Oops, exception thrown while running command &lt;info&gt;%s&lt;/info&gt;&#39;</span><span class="p">,</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()));</span>

    <span class="c1">// get the current exit code (the exception code or the exit code set by a ConsoleEvents::TERMINATE event)</span>
    <span class="nv">$exitCode</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getExitCode</span><span class="p">();</span>

    <span class="c1">// change the exception to another one</span>
    <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">setException</span><span class="p">(</span><span class="k">new</span> <span class="nx">\LogicException</span><span class="p">(</span><span class="s1">&#39;Caught exception&#39;</span><span class="p">,</span> <span class="nv">$exitCode</span><span class="p">,</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getException</span><span class="p">()));</span>
<span class="p">});</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Using Events</a><ul>
<li><a class="reference internal" href="#the-consoleevents-command-event">The <tt class="docutils literal"><span class="pre">ConsoleEvents::COMMAND</span></tt> Event</a></li>
<li><a class="reference internal" href="#the-consoleevents-terminate-event">The <tt class="docutils literal"><span class="pre">ConsoleEvents::TERMINATE</span></tt> Event</a></li>
<li><a class="reference internal" href="#the-consoleevents-exception-event">The <tt class="docutils literal"><span class="pre">ConsoleEvents::EXCEPTION</span></tt> Event</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="single_command_tool.html"
                        title="previous chapter">Building a single Command Application</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="logger.html"
                        title="next chapter">Using the Logger</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/console/events.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="logger.html" title="Using the Logger"
             >next</a> |</li>
        <li class="right" >
          <a href="single_command_tool.html" title="Building a single Command Application"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Console</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>