<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Console Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Console" href="index.html" />
    <link rel="next" title="Using Console Commands, Shortcuts and Built-in Commands" href="usage.html" />
    <link rel="prev" title="Console" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="usage.html" title="Using Console Commands, Shortcuts and Built-in Commands"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Console"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Console</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-console-component">
<span id="index-0"></span><h1>The Console Component<a class="headerlink" href="#the-console-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Console component eases the creation of beautiful and testable command
line interfaces.</div></blockquote>
<p>The Console component allows you to create command-line commands. Your console
commands can be used for any recurring task, such as cronjobs, imports, or
other batch jobs.</p>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/console</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/console">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Console">https://github.com/symfony/Console</a>).</li>
</ul>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>Windows does not support ANSI colors by default so the Console component detects and
disables colors where Windows does not have support. However, if Windows is not
configured with an ANSI driver and your console commands invoke other scripts which
emit ANSI color sequences, they will be shown as raw escape characters.</p>
<p class="last">To enable ANSI color support for Windows, please install <a class="reference external" href="https://github.com/adoxa/ansicon/releases">ANSICON</a>.</p>
</div>
</div>
<div class="section" id="creating-a-basic-command">
<h2>Creating a basic Command<a class="headerlink" href="#creating-a-basic-command" title="Permalink to this headline">¶</a></h2>
<p>To make a console command that greets you from the command line, create <tt class="docutils literal"><span class="pre">GreetCommand.php</span></tt>
and add the following to it:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme\Console\Command</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Console\Command\Command</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputArgument</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputInterface</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputOption</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Output\OutputInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">GreetCommand</span> <span class="k">extends</span> <span class="nx">Command</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="k">function</span> <span class="nf">configure</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$this</span>
            <span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">setDescription</span><span class="p">(</span><span class="s1">&#39;Greet someone&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
                <span class="s1">&#39;name&#39;</span><span class="p">,</span>
                <span class="nx">InputArgument</span><span class="o">::</span><span class="na">OPTIONAL</span><span class="p">,</span>
                <span class="s1">&#39;Who do you want to greet?&#39;</span>
            <span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">addOption</span><span class="p">(</span>
               <span class="s1">&#39;yell&#39;</span><span class="p">,</span>
               <span class="k">null</span><span class="p">,</span>
               <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_NONE</span><span class="p">,</span>
               <span class="s1">&#39;If set, the task will yell in uppercase letters&#39;</span>
            <span class="p">)</span>
        <span class="p">;</span>
    <span class="p">}</span>

    <span class="k">protected</span> <span class="k">function</span> <span class="nf">execute</span><span class="p">(</span><span class="nx">InputInterface</span> <span class="nv">$input</span><span class="p">,</span> <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$name</span> <span class="o">=</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getArgument</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">);</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$name</span><span class="p">)</span> <span class="p">{</span>
            <span class="nv">$text</span> <span class="o">=</span> <span class="s1">&#39;Hello &#39;</span><span class="o">.</span><span class="nv">$name</span><span class="p">;</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nv">$text</span> <span class="o">=</span> <span class="s1">&#39;Hello&#39;</span><span class="p">;</span>
        <span class="p">}</span>

        <span class="k">if</span> <span class="p">(</span><span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getOption</span><span class="p">(</span><span class="s1">&#39;yell&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$text</span> <span class="o">=</span> <span class="nx">strtoupper</span><span class="p">(</span><span class="nv">$text</span><span class="p">);</span>
        <span class="p">}</span>

        <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nv">$text</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You also need to create the file to run at the command line which creates
an <tt class="docutils literal"><span class="pre">Application</span></tt> and adds commands to it:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">#!/usr/bin/env php</span>
<span class="o">&lt;?</span><span class="nx">php</span>
<span class="c1">// application.php</span>

<span class="k">use</span> <span class="nx">Acme\Console\Command\GreetCommand</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>

<span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">GreetCommand</span><span class="p">);</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span>
</pre></div>
</div>
<p>Test the new console command by running the following</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php demo:greet Fabien
</pre></div>
</div>
<p>This will print the following to the command line:</p>
<div class="highlight-text"><div class="highlight"><pre>Hello Fabien
</pre></div>
</div>
<p>You can also use the <tt class="docutils literal"><span class="pre">--yell</span></tt> option to make everything uppercase:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php demo:greet Fabien --yell
</pre></div>
</div>
<p>This prints:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">HELLO</span> <span class="nx">FABIEN</span>
</pre></div>
</div>
<div class="section" id="coloring-the-output">
<span id="components-console-coloring"></span><h3>Coloring the Output<a class="headerlink" href="#coloring-the-output" title="Permalink to this headline">¶</a></h3>
<p>Whenever you output text, you can surround the text with tags to color its
output. For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// green text</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;info&gt;foo&lt;/info&gt;&#39;</span><span class="p">);</span>

<span class="c1">// yellow text</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;comment&gt;foo&lt;/comment&gt;&#39;</span><span class="p">);</span>

<span class="c1">// black text on a cyan background</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;question&gt;foo&lt;/question&gt;&#39;</span><span class="p">);</span>

<span class="c1">// white text on a red background</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;error&gt;foo&lt;/error&gt;&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>It is possible to define your own styles using the class
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Formatter/OutputFormatterStyle.html" title="Symfony\Component\Console\Formatter\OutputFormatterStyle"><span class="pre">OutputFormatterStyle</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$style</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">OutputFormatterStyle</span><span class="p">(</span><span class="s1">&#39;red&#39;</span><span class="p">,</span> <span class="s1">&#39;yellow&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;bold&#39;</span><span class="p">,</span> <span class="s1">&#39;blink&#39;</span><span class="p">));</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">getFormatter</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="s1">&#39;fire&#39;</span><span class="p">,</span> <span class="nv">$style</span><span class="p">);</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;fire&gt;foo&lt;/fire&gt;&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Available foreground and background colors are: <tt class="docutils literal"><span class="pre">black</span></tt>, <tt class="docutils literal"><span class="pre">red</span></tt>, <tt class="docutils literal"><span class="pre">green</span></tt>,
<tt class="docutils literal"><span class="pre">yellow</span></tt>, <tt class="docutils literal"><span class="pre">blue</span></tt>, <tt class="docutils literal"><span class="pre">magenta</span></tt>, <tt class="docutils literal"><span class="pre">cyan</span></tt> and <tt class="docutils literal"><span class="pre">white</span></tt>.</p>
<p>And available options are: <tt class="docutils literal"><span class="pre">bold</span></tt>, <tt class="docutils literal"><span class="pre">underscore</span></tt>, <tt class="docutils literal"><span class="pre">blink</span></tt>, <tt class="docutils literal"><span class="pre">reverse</span></tt> and <tt class="docutils literal"><span class="pre">conceal</span></tt>.</p>
<p>You can also set these colors and options inside the tagname:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// green text</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;fg=green&gt;foo&lt;/fg=green&gt;&#39;</span><span class="p">);</span>

<span class="c1">// black text on a cyan background</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;fg=black;bg=cyan&gt;foo&lt;/fg=black;bg=cyan&gt;&#39;</span><span class="p">);</span>

<span class="c1">// bold text on a yellow background</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;&lt;bg=yellow;options=bold&gt;foo&lt;/bg=yellow;options=bold&gt;&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="verbosity-levels">
<span id="id1"></span><h3>Verbosity Levels<a class="headerlink" href="#verbosity-levels" title="Permalink to this headline">¶</a></h3>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">VERBOSITY_VERY_VERBOSE</span></tt> and <tt class="docutils literal"><span class="pre">VERBOSITY_DEBUG</span></tt> constants were introduced
in version 2.3</p>
</div>
<p>The console has 5 levels of verbosity. These are defined in the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/OutputInterface.html" title="Symfony\Component\Console\Output\OutputInterface"><span class="pre">OutputInterface</span></a></tt>:</p>
<table border="1" class="docutils">
<colgroup>
<col width="53%" />
<col width="47%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Mode</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>OutputInterface::VERBOSITY_QUIET</td>
<td>Do not output any messages</td>
</tr>
<tr class="row-odd"><td>OutputInterface::VERBOSITY_NORMAL</td>
<td>The default verbosity level</td>
</tr>
<tr class="row-even"><td>OutputInterface::VERBOSITY_VERBOSE</td>
<td>Increased verbosity of messages</td>
</tr>
<tr class="row-odd"><td>OutputInterface::VERBOSITY_VERY_VERBOSE</td>
<td>Informative non essential messages</td>
</tr>
<tr class="row-even"><td>OutputInterface::VERBOSITY_DEBUG</td>
<td>Debug messages</td>
</tr>
</tbody>
</table>
<p>You can specify the quiet verbosity level with the <tt class="docutils literal"><span class="pre">--quiet</span></tt> or <tt class="docutils literal"><span class="pre">-q</span></tt>
option. The <tt class="docutils literal"><span class="pre">--verbose</span></tt> or <tt class="docutils literal"><span class="pre">-v</span></tt> option is used when you want an increased
level of verbosity.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">The full exception stacktrace is printed if the <tt class="docutils literal"><span class="pre">VERBOSITY_VERBOSE</span></tt>
level or above is used.</p>
</div>
<p>It is possible to print a message in a command for only a specific verbosity
level. For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nx">OutputInterface</span><span class="o">::</span><span class="na">VERBOSITY_VERBOSE</span> <span class="o">&lt;=</span> <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">getVerbosity</span><span class="p">())</span> <span class="p">{</span>
    <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="o">...</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/Output.html#method_isQuiet" title="Symfony\Component\Console\Output\Output::isQuiet()"><span class="pre">isQuiet()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/Output.html#method_isVerbose" title="Symfony\Component\Console\Output\Output::isVerbose()"><span class="pre">isVerbose()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/Output.html#method_isVeryVerbose" title="Symfony\Component\Console\Output\Output::isVeryVerbose()"><span class="pre">isVeryVerbose()</span></a></tt> and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/Output.html#method_isDebug" title="Symfony\Component\Console\Output\Output::isDebug()"><span class="pre">isDebug()</span></a></tt>
methods were introduced in Symfony 2.4</p>
</div>
<p>There are also more semantic methods you can use to test for each of the
verbosity levels:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nv">$output</span><span class="o">-&gt;</span><span class="na">isQuiet</span><span class="p">())</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">}</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$output</span><span class="o">-&gt;</span><span class="na">isVerbose</span><span class="p">())</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">}</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$output</span><span class="o">-&gt;</span><span class="na">isVeryVerbose</span><span class="p">())</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">}</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$output</span><span class="o">-&gt;</span><span class="na">isDebug</span><span class="p">())</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p>When the quiet level is used, all output is suppressed as the default
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/Output.html#method_write" title="Symfony\Component\Console\Output\Output::write()"><span class="pre">write()</span></a></tt> method returns
without actually printing.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">The MonologBridge provides a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Monolog/Handler/ConsoleHandler.html" title="Symfony\Bridge\Monolog\Handler\ConsoleHandler"><span class="pre">ConsoleHandler</span></a></tt>
class that allows you to display messages on the console. This is cleaner
than wrapping your output calls in conditions. For an example use in
the Symfony Framework, see <a class="reference internal" href="../../cookbook/logging/monolog_console.html"><em>How to Configure Monolog to Display Console Messages</em></a>.</p>
</div>
</div>
</div>
<div class="section" id="using-command-arguments">
<h2>Using Command Arguments<a class="headerlink" href="#using-command-arguments" title="Permalink to this headline">¶</a></h2>
<p>The most interesting part of the commands are the arguments and options that
you can make available. Arguments are the strings - separated by spaces - that
come after the command name itself. They are ordered, and can be optional
or required. For example, add an optional <tt class="docutils literal"><span class="pre">last_name</span></tt> argument to the command
and make the <tt class="docutils literal"><span class="pre">name</span></tt> argument required:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
        <span class="s1">&#39;name&#39;</span><span class="p">,</span>
        <span class="nx">InputArgument</span><span class="o">::</span><span class="na">REQUIRED</span><span class="p">,</span>
        <span class="s1">&#39;Who do you want to greet?&#39;</span>
    <span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
        <span class="s1">&#39;last_name&#39;</span><span class="p">,</span>
        <span class="nx">InputArgument</span><span class="o">::</span><span class="na">OPTIONAL</span><span class="p">,</span>
        <span class="s1">&#39;Your last name?&#39;</span>
    <span class="p">);</span>
</pre></div>
</div>
<p>You now have access to a <tt class="docutils literal"><span class="pre">last_name</span></tt> argument in your command:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nv">$lastName</span> <span class="o">=</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getArgument</span><span class="p">(</span><span class="s1">&#39;last_name&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$text</span> <span class="o">.=</span> <span class="s1">&#39; &#39;</span><span class="o">.</span><span class="nv">$lastName</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The command can now be used in either of the following ways:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php demo:greet Fabien
<span class="nv">$ </span>php application.php demo:greet Fabien Potencier
</pre></div>
</div>
<p>It is also possible to let an argument take a list of values (imagine you want
to greet all your friends). For this it must be specified at the end of the
argument list:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
        <span class="s1">&#39;names&#39;</span><span class="p">,</span>
        <span class="nx">InputArgument</span><span class="o">::</span><span class="na">IS_ARRAY</span><span class="p">,</span>
        <span class="s1">&#39;Who do you want to greet (separate multiple names with a space)?&#39;</span>
    <span class="p">);</span>
</pre></div>
</div>
<p>To use this, just specify as many names as you want:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php demo:greet Fabien Ryan Bernhard
</pre></div>
</div>
<p>You can access the <tt class="docutils literal"><span class="pre">names</span></tt> argument as an array:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="nv">$names</span> <span class="o">=</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getArgument</span><span class="p">(</span><span class="s1">&#39;names&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$text</span> <span class="o">.=</span> <span class="s1">&#39; &#39;</span><span class="o">.</span><span class="nb">implode</span><span class="p">(</span><span class="s1">&#39;, &#39;</span><span class="p">,</span> <span class="nv">$names</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>There are 3 argument variants you can use:</p>
<table border="1" class="docutils">
<colgroup>
<col width="20%" />
<col width="80%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Mode</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>InputArgument::REQUIRED</td>
<td>The argument is required</td>
</tr>
<tr class="row-odd"><td>InputArgument::OPTIONAL</td>
<td>The argument is optional and therefore can be omitted</td>
</tr>
<tr class="row-even"><td>InputArgument::IS_ARRAY</td>
<td>The argument can contain an indefinite number of arguments and must be used at the end of the argument list</td>
</tr>
</tbody>
</table>
<p>You can combine <tt class="docutils literal"><span class="pre">IS_ARRAY</span></tt> with <tt class="docutils literal"><span class="pre">REQUIRED</span></tt> and <tt class="docutils literal"><span class="pre">OPTIONAL</span></tt> like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addArgument</span><span class="p">(</span>
        <span class="s1">&#39;names&#39;</span><span class="p">,</span>
        <span class="nx">InputArgument</span><span class="o">::</span><span class="na">IS_ARRAY</span> <span class="o">|</span> <span class="nx">InputArgument</span><span class="o">::</span><span class="na">REQUIRED</span><span class="p">,</span>
        <span class="s1">&#39;Who do you want to greet (separate multiple names with a space)?&#39;</span>
    <span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="using-command-options">
<h2>Using Command Options<a class="headerlink" href="#using-command-options" title="Permalink to this headline">¶</a></h2>
<p>Unlike arguments, options are not ordered (meaning you can specify them in any
order) and are specified with two dashes (e.g. <tt class="docutils literal"><span class="pre">--yell</span></tt> - you can also
declare a one-letter shortcut that you can call with a single dash like
<tt class="docutils literal"><span class="pre">-y</span></tt>). Options are <em>always</em> optional, and can be setup to accept a value
(e.g. <tt class="docutils literal"><span class="pre">--dir=src</span></tt>) or simply as a boolean flag without a value (e.g.
<tt class="docutils literal"><span class="pre">--yell</span></tt>).</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">It is also possible to make an option <em>optionally</em> accept a value (so that
<tt class="docutils literal"><span class="pre">--yell</span></tt> or <tt class="docutils literal"><span class="pre">--yell=loud</span></tt> work). Options can also be configured to
accept an array of values.</p>
</div>
<p>For example, add a new option to the command that can be used to specify
how many times in a row the message should be printed:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addOption</span><span class="p">(</span>
        <span class="s1">&#39;iterations&#39;</span><span class="p">,</span>
        <span class="k">null</span><span class="p">,</span>
        <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_REQUIRED</span><span class="p">,</span>
        <span class="s1">&#39;How many times should the message be printed?&#39;</span><span class="p">,</span>
        <span class="mi">1</span>
    <span class="p">);</span>
</pre></div>
</div>
<p>Next, use this in the command to print the message multiple times:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">for</span> <span class="p">(</span><span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="nv">$i</span> <span class="o">&lt;</span> <span class="nv">$input</span><span class="o">-&gt;</span><span class="na">getOption</span><span class="p">(</span><span class="s1">&#39;iterations&#39;</span><span class="p">);</span> <span class="nv">$i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
    <span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="nv">$text</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Now, when you run the task, you can optionally specify a <tt class="docutils literal"><span class="pre">--iterations</span></tt>
flag:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php demo:greet Fabien
<span class="nv">$ </span>php application.php demo:greet Fabien --iterations<span class="o">=</span>5
</pre></div>
</div>
<p>The first example will only print once, since <tt class="docutils literal"><span class="pre">iterations</span></tt> is empty and
defaults to <tt class="docutils literal"><span class="pre">1</span></tt> (the last argument of <tt class="docutils literal"><span class="pre">addOption</span></tt>). The second example
will print five times.</p>
<p>Recall that options don&#8217;t care about their order. So, either of the following
will work:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php demo:greet Fabien --iterations<span class="o">=</span>5 --yell
<span class="nv">$ </span>php application.php demo:greet Fabien --yell --iterations<span class="o">=</span>5
</pre></div>
</div>
<p>There are 4 option variants you can use:</p>
<table border="1" class="docutils">
<colgroup>
<col width="24%" />
<col width="76%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Option</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>InputOption::VALUE_IS_ARRAY</td>
<td>This option accepts multiple values (e.g. <tt class="docutils literal"><span class="pre">--dir=/foo</span> <span class="pre">--dir=/bar</span></tt>)</td>
</tr>
<tr class="row-odd"><td>InputOption::VALUE_NONE</td>
<td>Do not accept input for this option (e.g. <tt class="docutils literal"><span class="pre">--yell</span></tt>)</td>
</tr>
<tr class="row-even"><td>InputOption::VALUE_REQUIRED</td>
<td>This value is required (e.g. <tt class="docutils literal"><span class="pre">--iterations=5</span></tt>), the option itself is still optional</td>
</tr>
<tr class="row-odd"><td>InputOption::VALUE_OPTIONAL</td>
<td>This option may or may not have a value (e.g. <tt class="docutils literal"><span class="pre">--yell</span></tt> or <tt class="docutils literal"><span class="pre">--yell=loud</span></tt>)</td>
</tr>
</tbody>
</table>
<p>You can combine <tt class="docutils literal"><span class="pre">VALUE_IS_ARRAY</span></tt> with <tt class="docutils literal"><span class="pre">VALUE_REQUIRED</span></tt> or <tt class="docutils literal"><span class="pre">VALUE_OPTIONAL</span></tt> like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$this</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addOption</span><span class="p">(</span>
        <span class="s1">&#39;iterations&#39;</span><span class="p">,</span>
        <span class="k">null</span><span class="p">,</span>
        <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_REQUIRED</span> <span class="o">|</span> <span class="nx">InputOption</span><span class="o">::</span><span class="na">VALUE_IS_ARRAY</span><span class="p">,</span>
        <span class="s1">&#39;How many times should the message be printed?&#39;</span><span class="p">,</span>
        <span class="mi">1</span>
    <span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="console-helpers">
<h2>Console Helpers<a class="headerlink" href="#console-helpers" title="Permalink to this headline">¶</a></h2>
<p>The console component also contains a set of &#8220;helpers&#8221; - different small
tools capable of helping you with different tasks:</p>
<ul class="simple">
<li><a class="reference internal" href="helpers/questionhelper.html"><em>Question Helper</em></a>: interactively ask the user for information</li>
<li><a class="reference internal" href="helpers/formatterhelper.html"><em>Formatter Helper</em></a>: customize the output colorization</li>
<li><a class="reference internal" href="helpers/progresshelper.html"><em>Progress Helper</em></a>: shows a progress bar</li>
<li><a class="reference internal" href="helpers/tablehelper.html"><em>Table Helper</em></a>: displays tabular data as a table</li>
<li><a class="reference internal" href="helpers/dialoghelper.html"><em>Dialog Helper</em></a>: (deprecated) interactively ask the user for information</li>
</ul>
</div>
<div class="section" id="testing-commands">
<h2>Testing Commands<a class="headerlink" href="#testing-commands" title="Permalink to this headline">¶</a></h2>
<p>Symfony2 provides several tools to help you test your commands. The most
useful one is the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Tester/CommandTester.html" title="Symfony\Component\Console\Tester\CommandTester"><span class="pre">CommandTester</span></a></tt>
class. It uses special input and output classes to ease testing without a real
console:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Acme\Console\Command\GreetCommand</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Tester\CommandTester</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ListCommandTest</span> <span class="k">extends</span> <span class="nx">\PHPUnit_Framework_TestCase</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">testExecute</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
        <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">GreetCommand</span><span class="p">());</span>

        <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">);</span>
        <span class="nv">$commandTester</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">CommandTester</span><span class="p">(</span><span class="nv">$command</span><span class="p">);</span>
        <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()));</span>

        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">assertRegExp</span><span class="p">(</span><span class="s1">&#39;/.../&#39;</span><span class="p">,</span> <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">getDisplay</span><span class="p">());</span>

        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Tester/CommandTester.html#method_getDisplay" title="Symfony\Component\Console\Tester\CommandTester::getDisplay()"><span class="pre">getDisplay()</span></a></tt>
method returns what would have been displayed during a normal call from the
console.</p>
<p>You can test sending arguments and options to the command by passing them
as an array to the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Tester/CommandTester.html#method_execute" title="Symfony\Component\Console\Tester\CommandTester::execute()"><span class="pre">execute()</span></a></tt>
method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Acme\Console\Command\GreetCommand</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Tester\CommandTester</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ListCommandTest</span> <span class="k">extends</span> <span class="nx">\PHPUnit_Framework_TestCase</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">testNameIsOutput</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
        <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="k">new</span> <span class="nx">GreetCommand</span><span class="p">());</span>

        <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$application</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">);</span>
        <span class="nv">$commandTester</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">CommandTester</span><span class="p">(</span><span class="nv">$command</span><span class="p">);</span>
        <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span>
            <span class="k">array</span><span class="p">(</span><span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">(),</span> <span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">)</span>
        <span class="p">);</span>

        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">assertRegExp</span><span class="p">(</span><span class="s1">&#39;/Fabien/&#39;</span><span class="p">,</span> <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">getDisplay</span><span class="p">());</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">You can also test a whole console application by using
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Tester/ApplicationTester.html" title="Symfony\Component\Console\Tester\ApplicationTester"><span class="pre">ApplicationTester</span></a></tt>.</p>
</div>
</div>
<div class="section" id="calling-an-existing-command">
<h2>Calling an Existing Command<a class="headerlink" href="#calling-an-existing-command" title="Permalink to this headline">¶</a></h2>
<p>If a command depends on another one being run before it, instead of asking the
user to remember the order of execution, you can call it directly yourself.
This is also useful if you want to create a &#8220;meta&#8221; command that just runs a
bunch of other commands (for instance, all commands that need to be run when
the project&#8217;s code has changed on the production servers: clearing the cache,
generating Doctrine2 proxies, dumping Assetic assets, ...).</p>
<p>Calling a command from another one is straightforward:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">protected</span> <span class="k">function</span> <span class="nf">execute</span><span class="p">(</span><span class="nx">InputInterface</span> <span class="nv">$input</span><span class="p">,</span> <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$command</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getApplication</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;demo:greet&#39;</span><span class="p">);</span>

    <span class="nv">$arguments</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;demo:greet&#39;</span><span class="p">,</span>
        <span class="s1">&#39;name&#39;</span>    <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">,</span>
        <span class="s1">&#39;--yell&#39;</span>  <span class="o">=&gt;</span> <span class="k">true</span><span class="p">,</span>
    <span class="p">);</span>

    <span class="nv">$input</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ArrayInput</span><span class="p">(</span><span class="nv">$arguments</span><span class="p">);</span>
    <span class="nv">$returnCode</span> <span class="o">=</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">(</span><span class="nv">$input</span><span class="p">,</span> <span class="nv">$output</span><span class="p">);</span>

    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p>First, you <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Application.html#method_find" title="Symfony\Component\Console\Application::find()"><span class="pre">find()</span></a></tt> the
command you want to execute by passing the command name.</p>
<p>Then, you need to create a new
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Input/ArrayInput.html" title="Symfony\Component\Console\Input\ArrayInput"><span class="pre">ArrayInput</span></a></tt> with the arguments and
options you want to pass to the command.</p>
<p>Eventually, calling the <tt class="docutils literal"><span class="pre">run()</span></tt> method actually executes the command and
returns the returned code from the command (return value from command&#8217;s
<tt class="docutils literal"><span class="pre">execute()</span></tt> method).</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Most of the time, calling a command from code that is not executed on the
command line is not a good idea for several reasons. First, the command&#8217;s
output is optimized for the console. But more important, you can think of
a command as being like a controller; it should use the model to do
something and display feedback to the user. So, instead of calling a
command from the Web, refactor your code and move the logic to a new
class.</p>
</div>
</div>
<div class="section" id="learn-more">
<h2>Learn More!<a class="headerlink" href="#learn-more" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="usage.html"><em>Using Console Commands, Shortcuts and Built-in Commands</em></a></li>
<li><a class="reference internal" href="single_command_tool.html"><em>Building a single Command Application</em></a></li>
<li><a class="reference internal" href="changing_default_command.html"><em>Changing the Default Command</em></a></li>
<li><a class="reference internal" href="events.html"><em>Using Events</em></a></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Console Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#creating-a-basic-command">Creating a basic Command</a><ul>
<li><a class="reference internal" href="#coloring-the-output">Coloring the Output</a></li>
<li><a class="reference internal" href="#verbosity-levels">Verbosity Levels</a></li>
</ul>
</li>
<li><a class="reference internal" href="#using-command-arguments">Using Command Arguments</a></li>
<li><a class="reference internal" href="#using-command-options">Using Command Options</a></li>
<li><a class="reference internal" href="#console-helpers">Console Helpers</a></li>
<li><a class="reference internal" href="#testing-commands">Testing Commands</a></li>
<li><a class="reference internal" href="#calling-an-existing-command">Calling an Existing Command</a></li>
<li><a class="reference internal" href="#learn-more">Learn More!</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Console</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="usage.html"
                        title="next chapter">Using Console Commands, Shortcuts and Built-in Commands</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/console/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="usage.html" title="Using Console Commands, Shortcuts and Built-in Commands"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Console"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Console</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>