<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Building a single Command Application &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Console" href="index.html" />
    <link rel="next" title="Using Events" href="events.html" />
    <link rel="prev" title="Changing the Default Command" href="changing_default_command.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="events.html" title="Using Events"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="changing_default_command.html" title="Changing the Default Command"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Console</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="building-a-single-command-application">
<span id="index-0"></span><h1>Building a single Command Application<a class="headerlink" href="#building-a-single-command-application" title="Permalink to this headline">¶</a></h1>
<p>When building a command line tool, you may not need to provide several commands.
In such case, having to pass the command name each time is tedious. Fortunately,
it is possible to remove this need by extending the application:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme\Tool</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Input\InputInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">MyApplication</span> <span class="k">extends</span> <span class="nx">Application</span>
<span class="p">{</span>
    <span class="sd">/**</span>
<span class="sd">     * Gets the name of the command based on input.</span>
<span class="sd">     *</span>
<span class="sd">     * @param InputInterface $input The input interface</span>
<span class="sd">     *</span>
<span class="sd">     * @return string The command name</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="k">function</span> <span class="nf">getCommandName</span><span class="p">(</span><span class="nx">InputInterface</span> <span class="nv">$input</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// This should return the name of your command.</span>
        <span class="k">return</span> <span class="s1">&#39;my_command&#39;</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="sd">/**</span>
<span class="sd">     * Gets the default commands that should always be available.</span>
<span class="sd">     *</span>
<span class="sd">     * @return array An array of default Command instances</span>
<span class="sd">     */</span>
    <span class="k">protected</span> <span class="k">function</span> <span class="nf">getDefaultCommands</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="c1">// Keep the core default commands to have the HelpCommand</span>
        <span class="c1">// which is used when using the --help option</span>
        <span class="nv">$defaultCommands</span> <span class="o">=</span> <span class="k">parent</span><span class="o">::</span><span class="na">getDefaultCommands</span><span class="p">();</span>

        <span class="nv">$defaultCommands</span><span class="p">[]</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyCommand</span><span class="p">();</span>

        <span class="k">return</span> <span class="nv">$defaultCommands</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="sd">/**</span>
<span class="sd">     * Overridden so that the application doesn&#39;t expect the command</span>
<span class="sd">     * name to be the first argument.</span>
<span class="sd">     */</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">getDefinition</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$inputDefinition</span> <span class="o">=</span> <span class="k">parent</span><span class="o">::</span><span class="na">getDefinition</span><span class="p">();</span>
        <span class="c1">// clear out the normal first argument, which is the command name</span>
        <span class="nv">$inputDefinition</span><span class="o">-&gt;</span><span class="na">setArguments</span><span class="p">();</span>

        <span class="k">return</span> <span class="nv">$inputDefinition</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>When calling your console script, the command <tt class="docutils literal"><span class="pre">MyCommand</span></tt> will then always
be used, without having to pass its name.</p>
<p>You can also simplify how you execute the application:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">#!/usr/bin/env php</span>
<span class="o">&lt;?</span><span class="nx">php</span>
<span class="c1">// command.php</span>

<span class="k">use</span> <span class="nx">Acme\Tool\MyApplication</span><span class="p">;</span>

<span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">MyApplication</span><span class="p">();</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span>
</pre></div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="changing_default_command.html"
                        title="previous chapter">Changing the Default Command</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="events.html"
                        title="next chapter">Using Events</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/console/single_command_tool.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="events.html" title="Using Events"
             >next</a> |</li>
        <li class="right" >
          <a href="changing_default_command.html" title="Changing the Default Command"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Console</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>