<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Using Console Commands, Shortcuts and Built-in Commands &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Console" href="index.html" />
    <link rel="next" title="Changing the Default Command" href="changing_default_command.html" />
    <link rel="prev" title="The Console Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="changing_default_command.html" title="Changing the Default Command"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Console Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Console</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="using-console-commands-shortcuts-and-built-in-commands">
<span id="index-0"></span><h1>Using Console Commands, Shortcuts and Built-in Commands<a class="headerlink" href="#using-console-commands-shortcuts-and-built-in-commands" title="Permalink to this headline">¶</a></h1>
<p>In addition to the options you specify for your commands, there are some
built-in options as well as a couple of built-in commands for the Console component.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>These examples assume you have added a file <tt class="docutils literal"><span class="pre">application.php</span></tt> to run at
the cli:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="c1">#!/usr/bin/env php</span>
<span class="o">&lt;?</span><span class="nx">php</span>
<span class="c1">// application.php</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Console\Application</span><span class="p">;</span>

<span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">();</span>
<span class="c1">// ...</span>
<span class="nv">$application</span><span class="o">-&gt;</span><span class="na">run</span><span class="p">();</span>
</pre></div>
</div>
</div>
<div class="section" id="built-in-commands">
<h2>Built-in Commands<a class="headerlink" href="#built-in-commands" title="Permalink to this headline">¶</a></h2>
<p>There is a built-in command <tt class="docutils literal"><span class="pre">list</span></tt> which outputs all the standard options
and the registered commands:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list
</pre></div>
</div>
<p>You can get the same output by not running any command as well</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php
</pre></div>
</div>
<p>The help command lists the help information for the specified command. For
example, to get the help for the <tt class="docutils literal"><span class="pre">list</span></tt> command:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php <span class="nb">help </span>list
</pre></div>
</div>
<p>Running <tt class="docutils literal"><span class="pre">help</span></tt> without specifying a command will list the global options:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php <span class="nb">help</span>
</pre></div>
</div>
</div>
<div class="section" id="global-options">
<h2>Global Options<a class="headerlink" href="#global-options" title="Permalink to this headline">¶</a></h2>
<p>You can get help information for any command with the <tt class="docutils literal"><span class="pre">--help</span></tt> option. To
get help for the list command:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --help
<span class="nv">$ </span>php application.php list -h
</pre></div>
</div>
<p>You can suppress output with:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --quiet
<span class="nv">$ </span>php application.php list -q
</pre></div>
</div>
<p>You can get more verbose messages (if this is supported for a command)
with:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --verbose
<span class="nv">$ </span>php application.php list -v
</pre></div>
</div>
<p>The verbose flag can optionally take a value between 1 (default) and 3 to
output even more verbose messages:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --verbose<span class="o">=</span>2
<span class="nv">$ </span>php application.php list -vv
<span class="nv">$ </span>php application.php list --verbose<span class="o">=</span>3
<span class="nv">$ </span>php application.php list -vvv
</pre></div>
</div>
<p>If you set the optional arguments to give your application a name and version:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$application</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Application</span><span class="p">(</span><span class="s1">&#39;Acme Console Application&#39;</span><span class="p">,</span> <span class="s1">&#39;1.2&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>then you can use:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --version
<span class="nv">$ </span>php application.php list -V
</pre></div>
</div>
<p>to get this information output:</p>
<div class="highlight-text"><div class="highlight"><pre>Acme Console Application version 1.2
</pre></div>
</div>
<p>If you do not provide both arguments then it will just output:</p>
<div class="highlight-text"><div class="highlight"><pre>console tool
</pre></div>
</div>
<p>You can force turning on ANSI output coloring with:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --ansi
</pre></div>
</div>
<p>or turn it off with:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --no-ansi
</pre></div>
</div>
<p>You can suppress any interactive questions from the command you are running with:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php list --no-interaction
<span class="nv">$ </span>php application.php list -n
</pre></div>
</div>
</div>
<div class="section" id="shortcut-syntax">
<h2>Shortcut Syntax<a class="headerlink" href="#shortcut-syntax" title="Permalink to this headline">¶</a></h2>
<p>You do not have to type out the full command names. You can just type the
shortest unambiguous name to run a command. So if there are non-clashing
commands, then you can run <tt class="docutils literal"><span class="pre">help</span></tt> like this:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php h
</pre></div>
</div>
<p>If you have commands using <tt class="docutils literal"><span class="pre">:</span></tt> to namespace commands then you just have
to type the shortest unambiguous text for each part. If you have created the
<tt class="docutils literal"><span class="pre">demo:greet</span></tt> as shown in <a class="reference internal" href="introduction.html"><em>The Console Component</em></a> then you
can run it with:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php application.php d:g Fabien
</pre></div>
</div>
<p>If you enter a short command that&#8217;s ambiguous (i.e. there are more than one
command that match), then no command will be run and some suggestions of
the possible commands to choose from will be output.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Using Console Commands, Shortcuts and Built-in Commands</a><ul>
<li><a class="reference internal" href="#built-in-commands">Built-in Commands</a></li>
<li><a class="reference internal" href="#global-options">Global Options</a></li>
<li><a class="reference internal" href="#shortcut-syntax">Shortcut Syntax</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The Console Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="changing_default_command.html"
                        title="next chapter">Changing the Default Command</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/console/usage.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="changing_default_command.html" title="Changing the Default Command"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Console Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Console</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>