# display Markdown and restructuredText as HTML by default
# @author Rob McBroom skurfer <github@skurfer.com>
# @see    https://github.com/skurfer/RenderMarkdown
RewriteEngine on
RewriteRule .+\.(markdown|mdown|md|mkd|rst)$ autorender.php
RewriteRule .+\.(markdown|mdown|md|mkd|rst)\-text$ autorender.php [L]
