title:         The PHP/JS Local Docs Collection
menu_title:    The PHP/JS LDC

base_path:     /var/www/the-phpjs-local-docs-collection
base_url:      http://localhost/the-phpjs-local-docs-collection

text_suffix:   text
permalink:     <i class="icon-link"></i>

use_toc:        true
link_to_source: true

template:       autorenderer.html.twig
template_path:  /var/www/the-phpjs-local-docs-collection/Resources/views


