

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Caching based on resources &mdash; Symfony2Docs v.2.0.17 2.0.17 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.17',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v.2.0.17 2.0.17 documentation" href="../../index.html" />
    <link rel="up" title="Config" href="index.html" />
    <link rel="next" title="Define and process configuration values" href="definition.html" />
    <link rel="prev" title="Loading resources" href="resources.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="definition.html" title="Define and process configuration values"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="resources.html" title="Loading resources"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Config</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="caching-based-on-resources">
<span id="index-0"></span><h1>Caching based on resources<a class="headerlink" href="#caching-based-on-resources" title="Permalink to this headline">¶</a></h1>
<p>When all configuration resources are loaded, you may want to process the configuration
values and combine them all in one file. This file acts like a cache. Its
contents don’t have to be regenerated every time the application runs – only
when the configuration resources are modified.</p>
<p>For example, the Symfony Routing component allows you to load all routes,
and then dump a URL matcher or a URL generator based on these routes. In
this case, when one of the resources is modified (and you are working in a
development environment), the generated file should be invalidated and regenerated.
This can be accomplished by making use of the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Config/ConfigCache.html" title="Symfony\Component\Config\ConfigCache"><span class="pre">ConfigCache</span></a></tt>
class.</p>
<p>The example below shows you how to collect resources, then generate some code
based on the resources that were loaded, and write this code to the cache. The
cache also receives the collection of resources that were used for generating
the code. By looking at the &#8220;last modified&#8221; timestamp of these resources,
the cache can tell if it is still fresh or that its contents should be regenerated:</p>
<div class="highlight-python"><pre>use Symfony\Component\Config\ConfigCache;
use Symfony\Component\Config\Resource\FileResource;

$cachePath = __DIR__.'/cache/appUserMatcher.php';

// the second argument indicates whether or not we are in debug mode
$userMatcherCache = new ConfigCache($cachePath, true);

if (!$userMatcherCache-&gt;isFresh()) {
    // fill this with an array of 'users.yml' file paths
    $yamlUserFiles = ...;

    $resources = array();

    foreach ($yamlUserFiles as $yamlUserFile) {
        $delegatingLoader-&gt;load($yamlUserFile);
        $resources[] = new FileResource($yamlUserFile);
    }

    // the code for the UserMatcher is generated elsewhere
    $code = ...;

    $userMatcherCache-&gt;write($code, $resources);
}

// you may want to require the cached code:
require $cachePath;</pre>
</div>
<p>In debug mode, a <tt class="docutils literal"><span class="pre">.meta</span></tt> file will be created in the same directory as the
cache file itself. This <tt class="docutils literal"><span class="pre">.meta</span></tt> file contains the serialized resources,
whose timestamps are used to determine if the cache is still fresh. When not
in debug mode, the cache is considered to be &#8220;fresh&#8221; as soon as it exists,
and therefore no <tt class="docutils literal"><span class="pre">.meta</span></tt> file will be generated.</p>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="resources.html"
                        title="previous chapter">Loading resources</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="definition.html"
                        title="next chapter">Define and process configuration values</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/config/caching.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="definition.html" title="Define and process configuration values"
             >next</a> |</li>
        <li class="right" >
          <a href="resources.html" title="Loading resources"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Config</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>