

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Config &mdash; Symfony2Docs v.2.0.17 2.0.17 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.17',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v.2.0.17 2.0.17 documentation" href="../../index.html" />
    <link rel="up" title="The Components" href="../index.html" />
    <link rel="next" title="The Config Component" href="introduction.html" />
    <link rel="prev" title="The ClassLoader Component" href="../class_loader.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="introduction.html" title="The Config Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../class_loader.html" title="The ClassLoader Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="../index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="config">
<h1>Config<a class="headerlink" href="#config" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="introduction.html">The Config Component</a><ul>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#introduction">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#installation">Installation</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#sections">Sections</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="resources.html">Loading resources</a><ul>
<li class="toctree-l2"><a class="reference internal" href="resources.html#locating-resources">Locating resources</a></li>
<li class="toctree-l2"><a class="reference internal" href="resources.html#resource-loaders">Resource loaders</a></li>
<li class="toctree-l2"><a class="reference internal" href="resources.html#finding-the-right-loader">Finding the right loader</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="caching.html">Caching based on resources</a></li>
<li class="toctree-l1"><a class="reference internal" href="definition.html">Define and process configuration values</a><ul>
<li class="toctree-l2"><a class="reference internal" href="definition.html#validate-configuration-values">Validate configuration values</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition.html#define-a-hierarchy-of-configuration-values-using-the-treebuilder">Define a hierarchy of configuration values using the TreeBuilder</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition.html#add-node-definitions-to-the-tree">Add node definitions to the tree</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition.html#default-and-required-values">Default and required values</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition.html#merging-options">Merging options</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition.html#validation-rules">Validation rules</a></li>
<li class="toctree-l2"><a class="reference internal" href="definition.html#processing-configuration-values">Processing configuration values</a></li>
</ul>
</li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../class_loader.html"
                        title="previous chapter">The ClassLoader Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="next chapter">The Config Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/config/index.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="introduction.html" title="The Config Component"
             >next</a> |</li>
        <li class="right" >
          <a href="../class_loader.html" title="The ClassLoader Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>