

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Process Component &mdash; Symfony2Docs v2.1.0 2.1.0 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v2.1.0 2.1.0 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The Routing Component" href="routing.html" />
    <link rel="prev" title="The Locale Component" href="locale.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="routing.html" title="The Routing Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="locale.html" title="The Locale Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2Docs v2.1.0 2.1.0 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-process-component">
<span id="index-0"></span><h1>The Process Component<a class="headerlink" href="#the-process-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Process Component executes commands in sub-processes.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in many different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Process">https://github.com/symfony/Process</a>);</li>
<li>Install it via PEAR ( <cite>pear.symfony.com/Process</cite>);</li>
<li>Install it via Composer (<cite>symfony/process</cite> on Packagist).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html" title="Symfony\Component\Process\Process"><span class="pre">Process</span></a></tt> class allows you to execute
a command in a sub-process:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\Process;

$process = new Process('ls -lsa');
$process-&gt;setTimeout(3600);
$process-&gt;run();
if (!$process-&gt;isSuccessful()) {
    throw new RuntimeException($process-&gt;getErrorOutput());
}

print $process-&gt;getOutput();</pre>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_run" title="Symfony\Component\Process\Process::run()"><span class="pre">run()</span></a></tt> method takes care
of the subtle differences between the different platforms when executing the
command.</p>
<p>When executing a long running command (like rsync-ing files to a remote
server), you can give feedback to the end user in real-time by passing an
anonymous function to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/Process.html#method_run" title="Symfony\Component\Process\Process::run()"><span class="pre">run()</span></a></tt> method:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\Process;

$process = new Process('ls -lsa');
$process-&gt;run(function ($type, $buffer) {
    if ('err' === $type) {
        echo 'ERR &gt; '.$buffer;
    } else {
        echo 'OUT &gt; '.$buffer;
    }
});</pre>
</div>
<p>If you want to execute some PHP code in isolation, use the <tt class="docutils literal"><span class="pre">PhpProcess</span></tt>
instead:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\PhpProcess;

$process = new PhpProcess(&lt;&lt;&lt;EOF
    &lt;?php echo 'Hello World'; ?&gt;
EOF);
$process-&gt;run();</pre>
</div>
<p class="versionadded">
<span class="versionmodified">New in version 2.1: </span>The <tt class="docutils literal"><span class="pre">ProcessBuilder</span></tt> class has been as of 2.1.</p>
<p>To make your code work better on all platforms, you might want to use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Process/ProcessBuilder.html" title="Symfony\Component\Process\ProcessBuilder"><span class="pre">ProcessBuilder</span></a></tt> class instead:</p>
<div class="highlight-python"><pre>use Symfony\Component\Process\ProcessBuilder;

$builder = new ProcessBuilder(array('ls', '-lsa'));
$builder-&gt;getProcess()-&gt;run();</pre>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Process Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="locale.html"
                        title="previous chapter">The Locale Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="routing.html"
                        title="next chapter">The Routing Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/process.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="routing.html" title="The Routing Component"
             >next</a> |</li>
        <li class="right" >
          <a href="locale.html" title="The Locale Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2Docs v2.1.0 2.1.0 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>