<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Form Events &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Form" href="index.html" />
    <link rel="next" title="HttpFoundation" href="../http_foundation/index.html" />
    <link rel="prev" title="Creating a custom Type Guesser" href="type_guesser.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../http_foundation/index.html" title="HttpFoundation"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="type_guesser.html" title="Creating a custom Type Guesser"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Form</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="form-events">
<span id="index-0"></span><h1>Form Events<a class="headerlink" href="#form-events" title="Permalink to this headline">¶</a></h1>
<p>The Form component provides a structured process to let you customize your
forms, by making use of the <a class="reference internal" href="../event_dispatcher/introduction.html"><em>EventDispatcher</em></a>
component. Using form events, you may modify information or fields at
different steps of the workflow: from the population of the form to the
submission of the data from the request.</p>
<p>Registering an event listener is very easy using the Form component.</p>
<p>For example, if you wish to register a function to the
<tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> event, the following code lets you add a field,
depending on the request&#8217; values:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormEvent</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormEvents</span><span class="p">;</span>

<span class="nv">$listener</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nx">FormEvent</span> <span class="nv">$event</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">};</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="c1">// add form fields</span>
    <span class="o">-&gt;</span><span class="na">addEventListener</span><span class="p">(</span><span class="nx">FormEvents</span><span class="o">::</span><span class="na">PRE_SUBMIT</span><span class="p">,</span> <span class="nv">$listener</span><span class="p">);</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<div class="section" id="the-form-workflow">
<h2>The Form Workflow<a class="headerlink" href="#the-form-workflow" title="Permalink to this headline">¶</a></h2>
<div class="section" id="the-form-submission-workflow">
<h3>The Form Submission Workflow<a class="headerlink" href="#the-form-submission-workflow" title="Permalink to this headline">¶</a></h3>
<img alt="../../_images/general_flow.png" class="align-center" src="../../_images/general_flow.png" />
</div>
<div class="section" id="pre-populating-the-form-formevents-pre-set-data-and-formevents-post-set-data">
<h3>1) Pre-populating the Form (<tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> and <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt>)<a class="headerlink" href="#pre-populating-the-form-formevents-pre-set-data-and-formevents-post-set-data" title="Permalink to this headline">¶</a></h3>
<img alt="../../_images/set_data_flow.png" class="align-center" src="../../_images/set_data_flow.png" />
<p>Two events are dispatched during pre-population of a form, when
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_setData" title="Symfony\Component\Form\Form::setData()"><span class="pre">Form::setData()</span></a></tt>
is called: <tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> and <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt>.</p>
<div class="section" id="a-the-formevents-pre-set-data-event">
<h4>A) The <tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> Event<a class="headerlink" href="#a-the-formevents-pre-set-data-event" title="Permalink to this headline">¶</a></h4>
<p>The <tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> event is dispatched at the beginning of the
<tt class="docutils literal"><span class="pre">Form::setData()</span></tt> method. It can be used to:</p>
<ul class="simple">
<li>Modify the data given during pre-population;</li>
<li>Modify a form depending on the pre-populated data (adding or removing fields dynamically).</li>
</ul>
<p><a class="reference internal" href="#component-form-event-table"><em>Form Events Information Table</em></a></p>
<table border="1" class="docutils">
<colgroup>
<col width="61%" />
<col width="39%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Data type</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Model data</td>
<td><tt class="docutils literal"><span class="pre">null</span></tt></td>
</tr>
<tr class="row-odd"><td>Normalized data</td>
<td><tt class="docutils literal"><span class="pre">null</span></tt></td>
</tr>
<tr class="row-even"><td>View data</td>
<td><tt class="docutils literal"><span class="pre">null</span></tt></td>
</tr>
</tbody>
</table>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">During <tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_setData" title="Symfony\Component\Form\Form::setData()"><span class="pre">Form::setData()</span></a></tt>
is locked and will throw an exception if used. If you wish to modify
data, you should use
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormEvent.html#method_setData" title="Symfony\Component\Form\FormEvent::setData()"><span class="pre">FormEvent::setData()</span></a></tt>
instead.</p>
</div>
<div class="sidebar">
<p class="first sidebar-title"><tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> in the Form component</p>
<p class="last">The <tt class="docutils literal"><span class="pre">collection</span></tt> form type relies on the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.html" title="Symfony\Component\Form\Extension\Core\EventListener\ResizeFormListener"><span class="pre">ResizeFormListener</span></a></tt>
subscriber, listening to the <tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> event in order
to reorder the form&#8217;s fields depending on the data from the pre-populated
object, by removing and adding all form rows.</p>
</div>
</div>
<div class="section" id="b-the-formevents-post-set-data-event">
<h4>B) The <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt> Event<a class="headerlink" href="#b-the-formevents-post-set-data-event" title="Permalink to this headline">¶</a></h4>
<p>The <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt> event is dispatched at the end of the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_setData" title="Symfony\Component\Form\Form::setData()"><span class="pre">Form::setData()</span></a></tt>
method. This event is mostly here for reading data after having pre-populated
the form.</p>
<p><a class="reference internal" href="#component-form-event-table"><em>Form Events Information Table</em></a></p>
<table border="1" class="docutils">
<colgroup>
<col width="24%" />
<col width="76%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Data type</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Model data</td>
<td>Model data injected into <tt class="docutils literal"><span class="pre">setData()</span></tt></td>
</tr>
<tr class="row-odd"><td>Normalized data</td>
<td>Model data transformed using a model transformer</td>
</tr>
<tr class="row-even"><td>View data</td>
<td>Normalized data transformed using a view transformer</td>
</tr>
</tbody>
</table>
<div class="sidebar">
<p class="first sidebar-title"><tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt> in the Form component</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The data collector extension was introduced in Symfony 2.4.</p>
</div>
<p class="last">The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/DataCollector/EventListener/DataCollectorListener.html" title="Symfony\Component\Form\Extension\DataCollector\EventListener\DataCollectorListener"><span class="pre">DataCollectorListener</span></a></tt>
class is subscribed to listen to the <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt> event
in order to collect information about the forms from the denormalized
model and view data.</p>
</div>
</div>
</div>
<div class="section" id="submitting-a-form-formevents-pre-submit-formevents-submit-and-formevents-post-submit">
<h3>2) Submitting a Form (<tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt>, <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> and <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt>)<a class="headerlink" href="#submitting-a-form-formevents-pre-submit-formevents-submit-and-formevents-post-submit" title="Permalink to this headline">¶</a></h3>
<img alt="../../_images/submission_flow.png" class="align-center" src="../../_images/submission_flow.png" />
<p>Three events are dispatched when
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_handleRequest" title="Symfony\Component\Form\Form::handleRequest()"><span class="pre">Form::handleRequest()</span></a></tt>
or <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_submit" title="Symfony\Component\Form\Form::submit()"><span class="pre">Form::submit()</span></a></tt> are
called: <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt>, <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt>,
<tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt>.</p>
<div class="section" id="a-the-formevents-pre-submit-event">
<h4>A) The <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> Event<a class="headerlink" href="#a-the-formevents-pre-submit-event" title="Permalink to this headline">¶</a></h4>
<p>The <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> event is dispatched at the beginning of the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_submit" title="Symfony\Component\Form\Form::submit()"><span class="pre">Form::submit()</span></a></tt> method.</p>
<p>It can be used to:</p>
<ul class="simple">
<li>Change data from the request, before submitting the data to the form.</li>
<li>Add or remove form fields, before submitting the data to the form.</li>
</ul>
<p><a class="reference internal" href="#component-form-event-table"><em>Form Events Information Table</em></a></p>
<table border="1" class="docutils">
<colgroup>
<col width="29%" />
<col width="71%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Data type</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Model data</td>
<td>Same as in <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt></td>
</tr>
<tr class="row-odd"><td>Normalized data</td>
<td>Same as in <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt></td>
</tr>
<tr class="row-even"><td>View data</td>
<td>Same as in <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt></td>
</tr>
</tbody>
</table>
<div class="sidebar">
<p class="first sidebar-title"><tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> in the Form component</p>
<p class="last">The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Core/EventListener/TrimListener.html" title="Symfony\Component\Form\Extension\Core\EventListener\TrimListener"><span class="pre">TrimListener</span></a></tt>
subscriber subscribes to the <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> event in order to
trim the request&#8217;s data (for string values).
The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Csrf/EventListener/CsrfValidationListener.html" title="Symfony\Component\Form\Extension\Csrf\EventListener\CsrfValidationListener"><span class="pre">CsrfValidationListener</span></a></tt>
subscriber subscribes to the <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> event in order to
validate the CSRF token.</p>
</div>
</div>
<div class="section" id="b-the-formevents-submit-event">
<h4>B) The <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> Event<a class="headerlink" href="#b-the-formevents-submit-event" title="Permalink to this headline">¶</a></h4>
<p>The <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> event is dispatched just before the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_submit" title="Symfony\Component\Form\Form::submit()"><span class="pre">Form::submit()</span></a></tt> method
transforms back the normalized data to the model and view data.</p>
<p>It can be used to change data from the normalized representation of the data.</p>
<p><a class="reference internal" href="#component-form-event-table"><em>Form Events Information Table</em></a></p>
<table border="1" class="docutils">
<colgroup>
<col width="17%" />
<col width="83%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Data type</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Model data</td>
<td>Same as in <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt></td>
</tr>
<tr class="row-odd"><td>Normalized data</td>
<td>Data from the request reverse-transformed from the request using a view transformer</td>
</tr>
<tr class="row-even"><td>View data</td>
<td>Same as in <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt></td>
</tr>
</tbody>
</table>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">At this point, you cannot add or remove fields to the form.</p>
</div>
<div class="sidebar">
<p class="first sidebar-title"><tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> in the Form component</p>
<p class="last">The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Core/EventListener/ResizeFormListener.html" title="Symfony\Component\Form\Extension\Core\EventListener\ResizeFormListener"><span class="pre">ResizeFormListener</span></a></tt>
subscribes to the <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> event in order to remove the
fields that need to be removed whenever manipulating a collection of forms
for which <tt class="docutils literal"><span class="pre">allow_delete</span></tt> has been enabled.</p>
</div>
</div>
<div class="section" id="c-the-formevents-post-submit-event">
<h4>C) The <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> Event<a class="headerlink" href="#c-the-formevents-post-submit-event" title="Permalink to this headline">¶</a></h4>
<p>The <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> event is dispatched after the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_submit" title="Symfony\Component\Form\Form::submit()"><span class="pre">Form::submit()</span></a></tt> once the
model and view data have been denormalized.</p>
<p>It can be used to fetch data after denormalization.</p>
<p><a class="reference internal" href="#component-form-event-table"><em>Form Events Information Table</em></a></p>
<table border="1" class="docutils">
<colgroup>
<col width="21%" />
<col width="79%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Data type</th>
<th class="head">Value</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td>Model data</td>
<td>Normalized data reverse-transformed using a model transformer</td>
</tr>
<tr class="row-odd"><td>Normalized data</td>
<td>Same as in <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt></td>
</tr>
<tr class="row-even"><td>View data</td>
<td>Normalized data transformed using a view transformer</td>
</tr>
</tbody>
</table>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">At this point, you cannot add or remove fields to the form.</p>
</div>
<div class="sidebar">
<p class="first sidebar-title"><tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> in the Form component</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The data collector extension was introduced in Symfony 2.4.</p>
</div>
<p class="last">The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/DataCollector/EventListener/DataCollectorListener.html" title="Symfony\Component\Form\Extension\DataCollector\EventListener\DataCollectorListener"><span class="pre">DataCollectorListener</span></a></tt>
subscribes to the <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> event in order to collect
information about the forms.
The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Validator/EventListener/ValidationListener.html" title="Symfony\Component\Form\Extension\Validator\EventListener\ValidationListener"><span class="pre">ValidationListener</span></a></tt>
subscribes to the <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> event in order to
automatically validate the denormalized object, and update the normalized
as well as the view&#8217;s representations.</p>
</div>
</div>
</div>
</div>
<div class="section" id="registering-event-listeners-or-event-subscribers">
<h2>Registering Event Listeners or Event Subscribers<a class="headerlink" href="#registering-event-listeners-or-event-subscribers" title="Permalink to this headline">¶</a></h2>
<p>In order to be able to use Form events, you need to create an event listener
or an event subscriber, and register it to an event.</p>
<p>The name of each of the &#8220;form&#8221; events is defined as a constant on the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormEvents.html" title="Symfony\Component\Form\FormEvents"><span class="pre">FormEvents</span></a></tt> class.
Additionally, each event callback (listener or subscriber method) is passed a
single argument, which is an instance of
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormEvent.html" title="Symfony\Component\Form\FormEvent"><span class="pre">FormEvent</span></a></tt>. The event object contains a
reference to the current state of the form, and the current data being
processed.</p>
<table border="1" class="docutils" id="component-form-event-table">
<colgroup>
<col width="33%" />
<col width="42%" />
<col width="25%" />
</colgroup>
<thead valign="bottom">
<tr class="row-odd"><th class="head">Name</th>
<th class="head"><tt class="docutils literal"><span class="pre">FormEvents</span></tt> Constant</th>
<th class="head">Event&#8217;s data</th>
</tr>
</thead>
<tbody valign="top">
<tr class="row-even"><td><tt class="docutils literal"><span class="pre">form.pre_set_data</span></tt></td>
<td><tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt></td>
<td>Model data</td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><span class="pre">form.post_set_data</span></tt></td>
<td><tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt></td>
<td>Model data</td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><span class="pre">form.pre_bind</span></tt></td>
<td><tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt></td>
<td>Request data</td>
</tr>
<tr class="row-odd"><td><tt class="docutils literal"><span class="pre">form.bind</span></tt></td>
<td><tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt></td>
<td>Normalized data</td>
</tr>
<tr class="row-even"><td><tt class="docutils literal"><span class="pre">form.post_bind</span></tt></td>
<td><tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt></td>
<td>View data</td>
</tr>
</tbody>
</table>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>Before Symfony 2.3, <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt>, <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt>
and <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> were called <tt class="docutils literal"><span class="pre">FormEvents::PRE_BIND</span></tt>,
<tt class="docutils literal"><span class="pre">FormEvents::BIND</span></tt> and <tt class="docutils literal"><span class="pre">FormEvents::POST_BIND</span></tt>.</p>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The <tt class="docutils literal"><span class="pre">FormEvents::PRE_BIND</span></tt>, <tt class="docutils literal"><span class="pre">FormEvents::BIND</span></tt> and
<tt class="docutils literal"><span class="pre">FormEvents::POST_BIND</span></tt> constants will be removed in version 3.0 of
Symfony.
The event names still keep their original values, so make sure you use the
<tt class="docutils literal"><span class="pre">FormEvents</span></tt> constants in your code for forward compatibility.</p>
</div>
<div class="section" id="event-listeners">
<h3>Event Listeners<a class="headerlink" href="#event-listeners" title="Permalink to this headline">¶</a></h3>
<p>An event listener may be any type of valid callable.</p>
<p>Creating and binding an event listener to the form is very easy:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormEvent</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormEvents</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;username&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;show_email&#39;</span><span class="p">,</span> <span class="s1">&#39;checkbox&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">addEventListener</span><span class="p">(</span><span class="nx">FormEvents</span><span class="o">::</span><span class="na">PRE_SUBMIT</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nx">FormEvent</span> <span class="nv">$event</span><span class="p">)</span> <span class="p">{</span>
        <span class="nv">$user</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>
        <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

        <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$user</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span><span class="p">;</span>
        <span class="p">}</span>

        <span class="c1">// Check whether the user has chosen to display his email or not.</span>
        <span class="c1">// If the data was submitted previously, the additional value that is</span>
        <span class="c1">// included in the request variables needs to be removed.</span>
        <span class="k">if</span> <span class="p">(</span><span class="k">true</span> <span class="o">===</span> <span class="nv">$user</span><span class="p">[</span><span class="s1">&#39;show_email&#39;</span><span class="p">])</span> <span class="p">{</span>
            <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;email&#39;</span><span class="p">,</span> <span class="s1">&#39;email&#39;</span><span class="p">);</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nb">unset</span><span class="p">(</span><span class="nv">$user</span><span class="p">[</span><span class="s1">&#39;email&#39;</span><span class="p">]);</span>
            <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">setData</span><span class="p">(</span><span class="nv">$user</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">})</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<p>When you have created a form type class, you can use one of its methods as a
callback for better readability:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="k">class</span> <span class="nc">SubscriptionType</span> <span class="k">extends</span> <span class="nx">AbstractType</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">buildForm</span><span class="p">(</span><span class="nx">FormBuilderInterface</span> <span class="nv">$builder</span><span class="p">,</span> <span class="k">array</span> <span class="nv">$options</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$builder</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;username&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">);</span>
        <span class="nv">$builder</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;show_email&#39;</span><span class="p">,</span> <span class="s1">&#39;checkbox&#39;</span><span class="p">);</span>
        <span class="nv">$builder</span><span class="o">-&gt;</span><span class="na">addEventListener</span><span class="p">(</span><span class="nx">FormEvents</span><span class="o">::</span><span class="na">PRE_SET_DATA</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="nv">$this</span><span class="p">,</span> <span class="s1">&#39;onPreSetData&#39;</span><span class="p">));</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onPreSetData</span><span class="p">(</span><span class="nx">FormEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ...</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="event-subscribers">
<h3>Event Subscribers<a class="headerlink" href="#event-subscribers" title="Permalink to this headline">¶</a></h3>
<p>Event subscribers have different uses:</p>
<ul class="simple">
<li>Improving readability;</li>
<li>Listening to multiple events;</li>
<li>Regrouping multiple listeners inside a single class.</li>
</ul>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\EventDispatcher\EventSubscriberInterface</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormEvent</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormEvents</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">AddEmailFieldListener</span> <span class="k">implements</span> <span class="nx">EventSubscriberInterface</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">getSubscribedEvents</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="k">array</span><span class="p">(</span>
            <span class="nx">FormEvents</span><span class="o">::</span><span class="na">PRE_SET_DATA</span> <span class="o">=&gt;</span> <span class="s1">&#39;onPreSetData&#39;</span><span class="p">,</span>
            <span class="nx">FormEvents</span><span class="o">::</span><span class="na">PRE_SUBMIT</span>   <span class="o">=&gt;</span> <span class="s1">&#39;onPreSubmit&#39;</span><span class="p">,</span>
        <span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onPreSetData</span><span class="p">(</span><span class="nx">FormEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$user</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>
        <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

        <span class="c1">// Check whether the user from the initial data has chosen to</span>
        <span class="c1">// display his email or not.</span>
        <span class="k">if</span> <span class="p">(</span><span class="k">true</span> <span class="o">===</span> <span class="nv">$user</span><span class="o">-&gt;</span><span class="na">isShowEmail</span><span class="p">())</span> <span class="p">{</span>
            <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;email&#39;</span><span class="p">,</span> <span class="s1">&#39;email&#39;</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">onPreSubmit</span><span class="p">(</span><span class="nx">FormEvent</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$user</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>
        <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

        <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$user</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span><span class="p">;</span>
        <span class="p">}</span>

        <span class="c1">// Check whether the user has chosen to display his email or not.</span>
        <span class="c1">// If the data was submitted previously, the additional value that</span>
        <span class="c1">// is included in the request variables needs to be removed.</span>
        <span class="k">if</span> <span class="p">(</span><span class="k">true</span> <span class="o">===</span> <span class="nv">$user</span><span class="p">[</span><span class="s1">&#39;show_email&#39;</span><span class="p">])</span> <span class="p">{</span>
            <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;email&#39;</span><span class="p">,</span> <span class="s1">&#39;email&#39;</span><span class="p">);</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nb">unset</span><span class="p">(</span><span class="nv">$user</span><span class="p">[</span><span class="s1">&#39;email&#39;</span><span class="p">]);</span>
            <span class="nv">$event</span><span class="o">-&gt;</span><span class="na">setData</span><span class="p">(</span><span class="nv">$user</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>To register the event subscriber, use the addEventSubscriber() method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;username&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;show_email&#39;</span><span class="p">,</span> <span class="s1">&#39;checkbox&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">addEventSubscriber</span><span class="p">(</span><span class="k">new</span> <span class="nx">AddEmailFieldListener</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

<span class="c1">// ...</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Form Events</a><ul>
<li><a class="reference internal" href="#the-form-workflow">The Form Workflow</a><ul>
<li><a class="reference internal" href="#the-form-submission-workflow">The Form Submission Workflow</a></li>
<li><a class="reference internal" href="#pre-populating-the-form-formevents-pre-set-data-and-formevents-post-set-data">1) Pre-populating the Form (<tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> and <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt>)</a><ul>
<li><a class="reference internal" href="#a-the-formevents-pre-set-data-event">A) The <tt class="docutils literal"><span class="pre">FormEvents::PRE_SET_DATA</span></tt> Event</a></li>
<li><a class="reference internal" href="#b-the-formevents-post-set-data-event">B) The <tt class="docutils literal"><span class="pre">FormEvents::POST_SET_DATA</span></tt> Event</a></li>
</ul>
</li>
<li><a class="reference internal" href="#submitting-a-form-formevents-pre-submit-formevents-submit-and-formevents-post-submit">2) Submitting a Form (<tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt>, <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> and <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt>)</a><ul>
<li><a class="reference internal" href="#a-the-formevents-pre-submit-event">A) The <tt class="docutils literal"><span class="pre">FormEvents::PRE_SUBMIT</span></tt> Event</a></li>
<li><a class="reference internal" href="#b-the-formevents-submit-event">B) The <tt class="docutils literal"><span class="pre">FormEvents::SUBMIT</span></tt> Event</a></li>
<li><a class="reference internal" href="#c-the-formevents-post-submit-event">C) The <tt class="docutils literal"><span class="pre">FormEvents::POST_SUBMIT</span></tt> Event</a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#registering-event-listeners-or-event-subscribers">Registering Event Listeners or Event Subscribers</a><ul>
<li><a class="reference internal" href="#event-listeners">Event Listeners</a></li>
<li><a class="reference internal" href="#event-subscribers">Event Subscribers</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="type_guesser.html"
                        title="previous chapter">Creating a custom Type Guesser</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../http_foundation/index.html"
                        title="next chapter">HttpFoundation</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/form/form_events.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../http_foundation/index.html" title="HttpFoundation"
             >next</a> |</li>
        <li class="right" >
          <a href="type_guesser.html" title="Creating a custom Type Guesser"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Form</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>