<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Form Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Form" href="index.html" />
    <link rel="next" title="Creating a custom Type Guesser" href="type_guesser.html" />
    <link rel="prev" title="Form" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="type_guesser.html" title="Creating a custom Type Guesser"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Form"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Form</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-form-component">
<span id="index-0"></span><h1>The Form Component<a class="headerlink" href="#the-form-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Form component allows you to easily create, process and reuse HTML
forms.</div></blockquote>
<p>The Form component is a tool to help you solve the problem of allowing end-users
to interact with the data and modify the data in your application. And though
traditionally this has been through HTML forms, the component focuses on
processing data to and from your client and application, whether that data
be from a normal form post or from an API.</p>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/form</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/form">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Form">https://github.com/symfony/Form</a>).</li>
</ul>
</div>
<div class="section" id="configuration">
<h2>Configuration<a class="headerlink" href="#configuration" title="Permalink to this headline">¶</a></h2>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">If you are working with the full-stack Symfony framework, the Form component
is already configured for you. In this case, skip to <a class="reference internal" href="#component-form-intro-create-simple-form"><em>Creating a simple Form</em></a>.</p>
</div>
<p>In Symfony2, forms are represented by objects and these objects are built
by using a <em>form factory</em>. Building a form factory is simple:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>This factory can already be used to create basic forms, but it is lacking
support for very important features:</p>
<ul class="simple">
<li><strong>Request Handling:</strong> Support for request handling and file uploads;</li>
<li><strong>CSRF Protection:</strong> Support for protection against Cross-Site-Request-Forgery
(CSRF) attacks;</li>
<li><strong>Templating:</strong> Integration with a templating layer that allows you to reuse
HTML fragments when rendering a form;</li>
<li><strong>Translation:</strong> Support for translating error messages, field labels and
other strings;</li>
<li><strong>Validation:</strong> Integration with a validation library to generate error
messages for submitted data.</li>
</ul>
<p>The Symfony2 Form component relies on other libraries to solve these problems.
Most of the time you will use Twig and the Symfony
<a class="reference internal" href="../http_foundation/introduction.html"><em>HttpFoundation</em></a>,
Translation and Validator components, but you can replace any of these with
a different library of your choice.</p>
<p>The following sections explain how to plug these libraries into the form
factory.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">For a working example, see <a class="reference external" href="https://github.com/bschussek/standalone-forms">https://github.com/bschussek/standalone-forms</a></p>
</div>
<div class="section" id="request-handling">
<h3>Request Handling<a class="headerlink" href="#request-handling" title="Permalink to this headline">¶</a></h3>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">handleRequest()</span></tt> method was introduced in Symfony 2.3.</p>
</div>
<p>To process form data, you&#8217;ll need to call the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_handleRequest" title="Symfony\Component\Form\Form::handleRequest()"><span class="pre">handleRequest()</span></a></tt>
method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">handleRequest</span><span class="p">();</span>
</pre></div>
</div>
<p>Behind the scenes, this uses a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/NativeRequestHandler.html" title="Symfony\Component\Form\NativeRequestHandler"><span class="pre">NativeRequestHandler</span></a></tt>
object to read data off of the correct PHP superglobals (i.e. <tt class="docutils literal"><span class="pre">$_POST</span></tt> or
<tt class="docutils literal"><span class="pre">$_GET</span></tt>) based on the HTTP method configured on the form (POST is default).</p>
<div class="sidebar">
<p class="first sidebar-title">Integration with the HttpFoundation Component</p>
<p>If you use the HttpFoundation component, then you should add the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/HttpFoundation/HttpFoundationExtension.html" title="Symfony\Component\Form\Extension\HttpFoundation\HttpFoundationExtension"><span class="pre">HttpFoundationExtension</span></a></tt>
to your form factory:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\HttpFoundation\HttpFoundationExtension</span><span class="p">;</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">HttpFoundationExtension</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>Now, when you process a form, you can pass the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/HttpFoundation/Request.html" title="Symfony\Component\HttpFoundation\Request"><span class="pre">Request</span></a></tt>
object to <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_handleRequest" title="Symfony\Component\Form\Form::handleRequest()"><span class="pre">handleRequest()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">handleRequest</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>
</pre></div>
</div>
<div class="last admonition note">
<p class="first admonition-title">Note</p>
<p class="last">For more information about the HttpFoundation component or how to
install it, see <a class="reference internal" href="../http_foundation/introduction.html"><em>The HttpFoundation Component</em></a>.</p>
</div>
</div>
</div>
<div class="section" id="csrf-protection">
<h3>CSRF Protection<a class="headerlink" href="#csrf-protection" title="Permalink to this headline">¶</a></h3>
<p>Protection against CSRF attacks is built into the Form component, but you need
to explicitly enable it or replace it with a custom solution. The following
snippet adds CSRF protection to the form factory:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Csrf\CsrfExtension</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Csrf\CsrfProvider\SessionCsrfProvider</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\Session\Session</span><span class="p">;</span>

<span class="c1">// generate a CSRF secret from somewhere</span>
<span class="nv">$csrfSecret</span> <span class="o">=</span> <span class="s1">&#39;&lt;generated token&gt;&#39;</span><span class="p">;</span>

<span class="c1">// create a Session object from the HttpFoundation component</span>
<span class="nv">$session</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Session</span><span class="p">();</span>

<span class="nv">$csrfProvider</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">SessionCsrfProvider</span><span class="p">(</span><span class="nv">$session</span><span class="p">,</span> <span class="nv">$csrfSecret</span><span class="p">);</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">CsrfExtension</span><span class="p">(</span><span class="nv">$csrfProvider</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>To secure your application against CSRF attacks, you need to define a CSRF
secret. Generate a random string with at least 32 characters, insert it in the
above snippet and make sure that nobody except your web server can access
the secret.</p>
<p>Internally, this extension will automatically add a hidden field to every
form (called <tt class="docutils literal"><span class="pre">__token</span></tt> by default) whose value is automatically generated
and validated when binding the form.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>If you&#8217;re not using the HttpFoundation component, load use
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Csrf/CsrfProvider/DefaultCsrfProvider.html" title="Symfony\Component\Form\Extension\Csrf\CsrfProvider\DefaultCsrfProvider"><span class="pre">DefaultCsrfProvider</span></a></tt>
instead, which relies on PHP&#8217;s native session handling:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Csrf\CsrfProvider\DefaultCsrfProvider</span><span class="p">;</span>

<span class="nv">$csrfProvider</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">DefaultCsrfProvider</span><span class="p">(</span><span class="nv">$csrfSecret</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="twig-templating">
<h3>Twig Templating<a class="headerlink" href="#twig-templating" title="Permalink to this headline">¶</a></h3>
<p>If you&#8217;re using the Form component to process HTML forms, you&#8217;ll need a way
to easily render your form as HTML form fields (complete with field values,
errors, and labels). If you use <a class="reference external" href="http://twig.sensiolabs.org">Twig</a> as your template engine, the Form
component offers a rich integration.</p>
<p>To use the integration, you&#8217;ll need the <tt class="docutils literal"><span class="pre">TwigBridge</span></tt>, which provides integration
between Twig and several Symfony2 components. If you&#8217;re using Composer, you
could install the latest 2.3 version by adding the following <tt class="docutils literal"><span class="pre">require</span></tt>
line to your <tt class="docutils literal"><span class="pre">composer.json</span></tt> file:</p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;symfony/twig-bridge&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The TwigBridge integration provides you with several <a class="reference internal" href="../../reference/forms/twig_reference.html"><em>Twig Functions</em></a>
that help you render each the HTML widget, label and error for each field
(as well as a few other things). To configure the integration, you&#8217;ll need
to bootstrap or access Twig and add the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Twig/Extension/FormExtension.html" title="Symfony\Bridge\Twig\Extension\FormExtension"><span class="pre">FormExtension</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Extension\FormExtension</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Form\TwigRenderer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Form\TwigRendererEngine</span><span class="p">;</span>

<span class="c1">// the Twig file that holds all the default markup for rendering forms</span>
<span class="c1">// this file comes with TwigBridge</span>
<span class="nv">$defaultFormTheme</span> <span class="o">=</span> <span class="s1">&#39;form_div_layout.html.twig&#39;</span><span class="p">;</span>

<span class="nv">$vendorDir</span> <span class="o">=</span> <span class="nb">realpath</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/../vendor&#39;</span><span class="p">);</span>
<span class="c1">// the path to TwigBridge so Twig can locate the</span>
<span class="c1">// form_div_layout.html.twig file</span>
<span class="nv">$vendorTwigBridgeDir</span> <span class="o">=</span>
    <span class="nv">$vendorDir</span> <span class="o">.</span> <span class="s1">&#39;/symfony/twig-bridge/Symfony/Bridge/Twig&#39;</span><span class="p">;</span>
<span class="c1">// the path to your other templates</span>
<span class="nv">$viewsDir</span> <span class="o">=</span> <span class="nb">realpath</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/../views&#39;</span><span class="p">);</span>

<span class="nv">$twig</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Twig_Environment</span><span class="p">(</span><span class="k">new</span> <span class="nx">Twig_Loader_Filesystem</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="nv">$viewsDir</span><span class="p">,</span>
    <span class="nv">$vendorTwigBridgeDir</span> <span class="o">.</span> <span class="s1">&#39;/Resources/views/Form&#39;</span><span class="p">,</span>
<span class="p">)));</span>
<span class="nv">$formEngine</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TwigRendererEngine</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="nv">$defaultFormTheme</span><span class="p">));</span>
<span class="nv">$formEngine</span><span class="o">-&gt;</span><span class="na">setEnvironment</span><span class="p">(</span><span class="nv">$twig</span><span class="p">);</span>
<span class="c1">// add the FormExtension to Twig</span>
<span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">FormExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">TwigRenderer</span><span class="p">(</span><span class="nv">$formEngine</span><span class="p">,</span> <span class="nv">$csrfProvider</span><span class="p">))</span>
<span class="p">);</span>

<span class="c1">// create your form factory as normal</span>
<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>The exact details of your <a class="reference external" href="http://twig.sensiolabs.org/doc/intro.html">Twig Configuration</a> will vary, but the goal is
always to add the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Twig/Extension/FormExtension.html" title="Symfony\Bridge\Twig\Extension\FormExtension"><span class="pre">FormExtension</span></a></tt>
to Twig, which gives you access to the Twig functions for rendering forms.
To do this, you first need to create a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Twig/Form/TwigRendererEngine.html" title="Symfony\Bridge\Twig\Form\TwigRendererEngine"><span class="pre">TwigRendererEngine</span></a></tt>,
where you define your <a class="reference internal" href="../../cookbook/form/form_customization.html#cookbook-form-customization-form-themes"><em>form themes</em></a>
(i.e. resources/files that define form HTML markup).</p>
<p>For general details on rendering forms, see <a class="reference internal" href="../../cookbook/form/form_customization.html"><em>How to customize Form Rendering</em></a>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you use the Twig integration, read &#8220;<a class="reference internal" href="#component-form-intro-install-translation"><em>Translation</em></a>&#8221;
below for details on the needed translation filters.</p>
</div>
</div>
<div class="section" id="translation">
<span id="component-form-intro-install-translation"></span><h3>Translation<a class="headerlink" href="#translation" title="Permalink to this headline">¶</a></h3>
<p>If you&#8217;re using the Twig integration with one of the default form theme files
(e.g. <tt class="docutils literal"><span class="pre">form_div_layout.html.twig</span></tt>), there are 2 Twig filters (<tt class="docutils literal"><span class="pre">trans</span></tt>
and <tt class="docutils literal"><span class="pre">transChoice</span></tt>) that are used for translating form labels, errors, option
text and other strings.</p>
<p>To add these Twig filters, you can either use the built-in
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Twig/Extension/TranslationExtension.html" title="Symfony\Bridge\Twig\Extension\TranslationExtension"><span class="pre">TranslationExtension</span></a></tt> that integrates
with Symfony&#8217;s Translation component, or add the 2 Twig filters yourself,
via your own Twig extension.</p>
<p>To use the built-in integration, be sure that your project has Symfony&#8217;s
Translation and <a class="reference internal" href="../config/introduction.html"><em>Config</em></a> components
installed. If you&#8217;re using Composer, you could get the latest 2.3 version
of each of these by adding the following to your <tt class="docutils literal"><span class="pre">composer.json</span></tt> file:</p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;symfony/translation&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span><span class="p">,</span>
        <span class="nt">&quot;symfony/config&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Next, add the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Twig/Extension/TranslationExtension.html" title="Symfony\Bridge\Twig\Extension\TranslationExtension"><span class="pre">TranslationExtension</span></a></tt>
to your <tt class="docutils literal"><span class="pre">Twig_Environment</span></tt> instance:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Translation\Translator</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Translation\Loader\XliffFileLoader</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Bridge\Twig\Extension\TranslationExtension</span><span class="p">;</span>

<span class="c1">// create the Translator</span>
<span class="nv">$translator</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Translator</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>
<span class="c1">// somehow load some translations into it</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addLoader</span><span class="p">(</span><span class="s1">&#39;xlf&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">XliffFileLoader</span><span class="p">());</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xlf&#39;</span><span class="p">,</span>
    <span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/path/to/translations/messages.en.xlf&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span>
<span class="p">);</span>

<span class="c1">// add the TranslationExtension (gives us trans and transChoice filters)</span>
<span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">TranslationExtension</span><span class="p">(</span><span class="nv">$translator</span><span class="p">));</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>Depending on how your translations are being loaded, you can now add string
keys, such as field labels, and their translations to your translation files.</p>
<p>For more details on translations, see <a class="reference internal" href="../../book/translation.html"><em>Translations</em></a>.</p>
</div>
<div class="section" id="validation">
<h3>Validation<a class="headerlink" href="#validation" title="Permalink to this headline">¶</a></h3>
<p>The Form component comes with tight (but optional) integration with Symfony&#8217;s
Validator component. If you&#8217;re using a different solution for validation,
no problem! Simply take the submitted/bound data of your form (which is an
array or object) and pass it through your own validation system.</p>
<p>To use the integration with Symfony&#8217;s Validator component, first make sure
it&#8217;s installed in your application. If you&#8217;re using Composer and want to
install the latest 2.3 version, add this to your <tt class="docutils literal"><span class="pre">composer.json</span></tt>:</p>
<div class="highlight-json"><div class="highlight"><pre><span class="p">{</span>
    <span class="nt">&quot;require&quot;</span><span class="p">:</span> <span class="p">{</span>
        <span class="nt">&quot;symfony/validator&quot;</span><span class="p">:</span> <span class="s2">&quot;2.3.*&quot;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>If you&#8217;re not familiar with Symfony&#8217;s Validator component, read more about
it: <a class="reference internal" href="../../book/validation.html"><em>Validation</em></a>. The Form component comes with a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Extension/Validator/ValidatorExtension.html" title="Symfony\Component\Form\Extension\Validator\ValidatorExtension"><span class="pre">ValidatorExtension</span></a></tt>
class, which automatically applies validation to your data on bind. These
errors are then mapped to the correct field and rendered.</p>
<p>Your integration with the Validation component will look something like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Extension\Validator\ValidatorExtension</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Validation</span><span class="p">;</span>

<span class="nv">$vendorDir</span> <span class="o">=</span> <span class="nb">realpath</span><span class="p">(</span><span class="nx">__DIR__</span> <span class="o">.</span> <span class="s1">&#39;/../vendor&#39;</span><span class="p">);</span>
<span class="nv">$vendorFormDir</span> <span class="o">=</span> <span class="nv">$vendorDir</span> <span class="o">.</span> <span class="s1">&#39;/symfony/form/Symfony/Component/Form&#39;</span><span class="p">;</span>
<span class="nv">$vendorValidatorDir</span> <span class="o">=</span>
    <span class="nv">$vendorDir</span> <span class="o">.</span> <span class="s1">&#39;/symfony/validator/Symfony/Component/Validator&#39;</span><span class="p">;</span>

<span class="c1">// create the validator - details will vary</span>
<span class="nv">$validator</span> <span class="o">=</span> <span class="nx">Validation</span><span class="o">::</span><span class="na">createValidator</span><span class="p">();</span>

<span class="c1">// there are built-in translations for the core error messages</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xlf&#39;</span><span class="p">,</span>
    <span class="nv">$vendorFormDir</span> <span class="o">.</span> <span class="s1">&#39;/Resources/translations/validators.en.xlf&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span><span class="p">,</span>
    <span class="s1">&#39;validators&#39;</span>
<span class="p">);</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xlf&#39;</span><span class="p">,</span>
    <span class="nv">$vendorValidatorDir</span> <span class="o">.</span> <span class="s1">&#39;/Resources/translations/validators.en.xlf&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span><span class="p">,</span>
    <span class="s1">&#39;validators&#39;</span>
<span class="p">);</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addExtension</span><span class="p">(</span><span class="k">new</span> <span class="nx">ValidatorExtension</span><span class="p">(</span><span class="nv">$validator</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>
</pre></div>
</div>
<p>To learn more, skip down to the <a class="reference internal" href="#component-form-intro-validation"><em>Form Validation</em></a> section.</p>
</div>
<div class="section" id="accessing-the-form-factory">
<h3>Accessing the Form Factory<a class="headerlink" href="#accessing-the-form-factory" title="Permalink to this headline">¶</a></h3>
<p>Your application only needs one form factory, and that one factory object
should be used to create any and all form objects in your application. This
means that you should create it in some central, bootstrap part of your application
and then access it whenever you need to build a form.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In this document, the form factory is always a local variable called
<tt class="docutils literal"><span class="pre">$formFactory</span></tt>. The point here is that you will probably need to create
this object in some more &#8220;global&#8221; way so you can access it from anywhere.</p>
</div>
<p>Exactly how you gain access to your one form factory is up to you. If you&#8217;re
using a <a class="reference internal" href="../../glossary.html#term-service-container"><em class="xref std std-term">Service Container</em></a>, then you should add the form factory to
your container and grab it out whenever you need to. If your application
uses global or static variables (not usually a good idea), then you can store
the object on some static class or do something similar.</p>
<p>Regardless of how you architect your application, just remember that you
should only have one form factory and that you&#8217;ll need to be able to access
it throughout your application.</p>
</div>
</div>
<div class="section" id="creating-a-simple-form">
<span id="component-form-intro-create-simple-form"></span><h2>Creating a simple Form<a class="headerlink" href="#creating-a-simple-form" title="Permalink to this headline">¶</a></h2>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">If you&#8217;re using the Symfony2 framework, then the form factory is available
automatically as a service called <tt class="docutils literal"><span class="pre">form.factory</span></tt>. Also, the default
base controller class has a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bundle/FrameworkBundle/Controller.html#method_createFormBuilder" title="Symfony\Bundle\FrameworkBundle\Controller::createFormBuilder()"><span class="pre">createFormBuilder()</span></a></tt>
method, which is a shortcut to fetch the form factory and call <tt class="docutils literal"><span class="pre">createBuilder</span></tt>
on it.</p>
</div>
<p>Creating a form is done via a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormBuilder.html" title="Symfony\Component\Form\FormBuilder"><span class="pre">FormBuilder</span></a></tt>
object, where you build and configure different fields. The form builder
is created from the form factory.</p>
<div class="configuration-block">
<ul class="simple">
<li><em>Standalone Use</em><div class="highlight-php-standalone"><div class="highlight"><pre><span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$twig</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;new.html.twig&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;form&#39;</span> <span class="o">=&gt;</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">createView</span><span class="p">(),</span>
<span class="p">));</span>
</pre></div>
</div>
</li>
<li><em>Framework Use</em><div class="highlight-php-symfony"><div class="highlight"><pre><span class="c1">// src/Acme/TaskBundle/Controller/DefaultController.php</span>
<span class="k">namespace</span> <span class="nx">Acme\TaskBundle\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Bundle\FrameworkBundle\Controller\Controller</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\Request</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">DefaultController</span> <span class="k">extends</span> <span class="nx">Controller</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">newAction</span><span class="p">(</span><span class="nx">Request</span> <span class="nv">$request</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// createFormBuilder is a shortcut to get the &quot;form factory&quot;</span>
        <span class="c1">// and then call &quot;createBuilder()&quot; on it</span>
        <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">()</span>
            <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
            <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;AcmeTaskBundle:Default:new.html.twig&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;form&#39;</span> <span class="o">=&gt;</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">createView</span><span class="p">(),</span>
        <span class="p">));</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>As you can see, creating a form is like writing a recipe: you call <tt class="docutils literal"><span class="pre">add</span></tt>
for each new field you want to create. The first argument to <tt class="docutils literal"><span class="pre">add</span></tt> is the
name of your field, and the second is the field &#8220;type&#8221;. The Form component
comes with a lot of <a class="reference internal" href="../../reference/forms/types.html"><em>built-in types</em></a>.</p>
<p>Now that you&#8217;ve built your form, learn how to <a class="reference internal" href="#component-form-intro-rendering-form"><em>render</em></a>
it and <a class="reference internal" href="#component-form-intro-handling-submission"><em>process the form submission</em></a>.</p>
<div class="section" id="setting-default-values">
<h3>Setting default Values<a class="headerlink" href="#setting-default-values" title="Permalink to this headline">¶</a></h3>
<p>If you need your form to load with some default values (or you&#8217;re building
an &#8220;edit&#8221; form), simply pass in the default data when creating your form
builder:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>Standalone Use</em><div class="highlight-php-standalone"><div class="highlight"><pre><span class="nv">$defaults</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;dueDate&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s1">&#39;tomorrow&#39;</span><span class="p">),</span>
<span class="p">);</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">(</span><span class="s1">&#39;form&#39;</span><span class="p">,</span> <span class="nv">$defaults</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
<li><em>Framework Use</em><div class="highlight-php-symfony"><div class="highlight"><pre><span class="nv">$defaults</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;dueDate&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s1">&#39;tomorrow&#39;</span><span class="p">),</span>
<span class="p">);</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">(</span><span class="nv">$defaults</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">In this example, the default data is an array. Later, when you use the
<a class="reference internal" href="../../book/forms.html#book-forms-data-class"><em>data_class</em></a> option to bind data directly
to objects, your default data will be an instance of that object.</p>
</div>
</div>
<div class="section" id="rendering-the-form">
<span id="component-form-intro-rendering-form"></span><h3>Rendering the Form<a class="headerlink" href="#rendering-the-form" title="Permalink to this headline">¶</a></h3>
<p>Now that the form has been created, the next step is to render it. This is
done by passing a special form &#8220;view&#8221; object to your template (notice the
<tt class="docutils literal"><span class="pre">$form-&gt;createView()</span></tt> in the controller above) and using a set of form
helper functions:</p>
<div class="highlight-html+jinja"><div class="highlight"><pre><span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">&quot;#&quot;</span> <span class="na">method=</span><span class="s">&quot;post&quot;</span> <span class="cp">{{</span> <span class="nv">form_enctype</span><span class="o">(</span><span class="nv">form</span><span class="o">)</span> <span class="cp">}}</span><span class="nt">&gt;</span>
    <span class="cp">{{</span> <span class="nv">form_widget</span><span class="o">(</span><span class="nv">form</span><span class="o">)</span> <span class="cp">}}</span>

    <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;submit&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</pre></div>
</div>
<img alt="../../_images/form-simple.png" class="align-center" src="../../_images/form-simple.png" />
<p>That&#8217;s it! By printing <tt class="docutils literal"><span class="pre">form_widget(form)</span></tt>, each field in the form is
rendered, along with a label and error message (if there is one). As easy
as this is, it&#8217;s not very flexible (yet). Usually, you&#8217;ll want to render each
form field individually so you can control how the form looks. You&#8217;ll learn how
to do that in the &#8220;<a class="reference internal" href="../../book/forms.html#form-rendering-template"><em>Rendering a Form in a Template</em></a>&#8221; section.</p>
</div>
<div class="section" id="handling-form-submissions">
<span id="component-form-intro-handling-submission"></span><h3>Handling Form Submissions<a class="headerlink" href="#handling-form-submissions" title="Permalink to this headline">¶</a></h3>
<p>To handle form submissions, use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Form.html#method_handleRequest" title="Symfony\Component\Form\Form::handleRequest()"><span class="pre">handleRequest()</span></a></tt>
method:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>Standalone Use</em><div class="highlight-php-standalone"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\Request</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\HttpFoundation\RedirectResponse</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

<span class="nv">$request</span> <span class="o">=</span> <span class="nx">Request</span><span class="o">::</span><span class="na">createFromGlobals</span><span class="p">();</span>

<span class="nv">$form</span><span class="o">-&gt;</span><span class="na">handleRequest</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">isValid</span><span class="p">())</span> <span class="p">{</span>
    <span class="nv">$data</span> <span class="o">=</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>

    <span class="c1">// ... perform some action, such as saving the data to the database</span>

    <span class="nv">$response</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">RedirectResponse</span><span class="p">(</span><span class="s1">&#39;/task/success&#39;</span><span class="p">);</span>
    <span class="nv">$response</span><span class="o">-&gt;</span><span class="na">prepare</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>

    <span class="k">return</span> <span class="nv">$response</span><span class="o">-&gt;</span><span class="na">send</span><span class="p">();</span>
<span class="p">}</span>

<span class="c1">// ...</span>
</pre></div>
</div>
</li>
<li><em>Framework Use</em><div class="highlight-php-symfony"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="k">public</span> <span class="k">function</span> <span class="nf">newAction</span><span class="p">(</span><span class="nx">Request</span> <span class="nv">$request</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">()</span>
        <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">)</span>
        <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>

    <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">handleRequest</span><span class="p">(</span><span class="nv">$request</span><span class="p">);</span>

    <span class="k">if</span> <span class="p">(</span><span class="nv">$form</span><span class="o">-&gt;</span><span class="na">isValid</span><span class="p">())</span> <span class="p">{</span>
        <span class="nv">$data</span> <span class="o">=</span> <span class="nv">$form</span><span class="o">-&gt;</span><span class="na">getData</span><span class="p">();</span>

        <span class="c1">// ... perform some action, such as saving the data to the database</span>

        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">redirect</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">generateUrl</span><span class="p">(</span><span class="s1">&#39;task_success&#39;</span><span class="p">));</span>
    <span class="p">}</span>

    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>This defines a common form &#8220;workflow&#8221;, which contains 3 different possibilities:</p>
<ol class="arabic simple">
<li>On the initial GET request (i.e. when the user &#8220;surfs&#8221; to your page),
build your form and render it;</li>
</ol>
<p>If the request is a POST, process the submitted data (via <tt class="docutils literal"><span class="pre">handleRequest()</span></tt>).
Then:</p>
<ol class="arabic simple" start="2">
<li>if the form is invalid, re-render the form (which will now contain errors);</li>
<li>if the form is valid, perform some action and redirect.</li>
</ol>
<p>Luckily, you don&#8217;t need to decide whether or not a form has been submitted.
Just pass the current request to the <tt class="docutils literal"><span class="pre">handleRequest()</span></tt> method. Then, the Form
component will do all the necessary work for you.</p>
</div>
<div class="section" id="form-validation">
<span id="component-form-intro-validation"></span><h3>Form Validation<a class="headerlink" href="#form-validation" title="Permalink to this headline">¶</a></h3>
<p>The easiest way to add validation to your form is via the <tt class="docutils literal"><span class="pre">constraints</span></tt>
option when building each field:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>Standalone Use</em><div class="highlight-php-standalone"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\NotBlank</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\Type</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$formFactory</span><span class="o">-&gt;</span><span class="na">createBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
            <span class="k">new</span> <span class="nx">Type</span><span class="p">(</span><span class="s1">&#39;\DateTime&#39;</span><span class="p">),</span>
        <span class="p">)</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
<li><em>Framework Use</em><div class="highlight-php-symfony"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\NotBlank</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Validator\Constraints\Type</span><span class="p">;</span>

<span class="nv">$form</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">createFormBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;task&#39;</span><span class="p">,</span> <span class="s1">&#39;text&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">add</span><span class="p">(</span><span class="s1">&#39;dueDate&#39;</span><span class="p">,</span> <span class="s1">&#39;date&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;constraints&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="k">new</span> <span class="nx">NotBlank</span><span class="p">(),</span>
            <span class="k">new</span> <span class="nx">Type</span><span class="p">(</span><span class="s1">&#39;\DateTime&#39;</span><span class="p">),</span>
        <span class="p">)</span>
    <span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">getForm</span><span class="p">();</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>When the form is bound, these validation constraints will be applied automatically
and the errors will display next to the fields on error.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">For a list of all of the built-in validation constraints, see
<a class="reference internal" href="../../reference/constraints.html"><em>Validation Constraints Reference</em></a>.</p>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Form Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#configuration">Configuration</a><ul>
<li><a class="reference internal" href="#request-handling">Request Handling</a></li>
<li><a class="reference internal" href="#csrf-protection">CSRF Protection</a></li>
<li><a class="reference internal" href="#twig-templating">Twig Templating</a></li>
<li><a class="reference internal" href="#translation">Translation</a></li>
<li><a class="reference internal" href="#validation">Validation</a></li>
<li><a class="reference internal" href="#accessing-the-form-factory">Accessing the Form Factory</a></li>
</ul>
</li>
<li><a class="reference internal" href="#creating-a-simple-form">Creating a simple Form</a><ul>
<li><a class="reference internal" href="#setting-default-values">Setting default Values</a></li>
<li><a class="reference internal" href="#rendering-the-form">Rendering the Form</a></li>
<li><a class="reference internal" href="#handling-form-submissions">Handling Form Submissions</a></li>
<li><a class="reference internal" href="#form-validation">Form Validation</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Form</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="type_guesser.html"
                        title="next chapter">Creating a custom Type Guesser</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/form/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="type_guesser.html" title="Creating a custom Type Guesser"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Form"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Form</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>