<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Creating a custom Type Guesser &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Form" href="index.html" />
    <link rel="next" title="Form Events" href="form_events.html" />
    <link rel="prev" title="The Form Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="form_events.html" title="Form Events"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Form Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Form</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="creating-a-custom-type-guesser">
<span id="index-0"></span><h1>Creating a custom Type Guesser<a class="headerlink" href="#creating-a-custom-type-guesser" title="Permalink to this headline">¶</a></h1>
<p>The Form component can guess the type and some options of a form field by
using type guessers. The component already includes a type guesser using the
assertions of the Validation component, but you can also add your own custom
type guessers.</p>
<div class="sidebar">
<p class="first sidebar-title">Form Type Guessers in the Bridges</p>
<p>Symfony also provides some form type guessers in the bridges:</p>
<ul class="last simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Propel1/Form/PropelTypeGuesser.html" title="Symfony\Bridge\Propel1\Form\PropelTypeGuesser"><span class="pre">PropelTypeGuesser</span></a></tt> provided by
the Propel1 bridge;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Bridge/Doctrine/Form/DoctrineOrmTypeGuesser.html" title="Symfony\Bridge\Doctrine\Form\DoctrineOrmTypeGuesser"><span class="pre">DoctrineOrmTypeGuesser</span></a></tt>
provided by the Doctrine bridge.</li>
</ul>
</div>
<div class="section" id="create-a-phpdoc-type-guesser">
<h2>Create a PHPDoc Type Guesser<a class="headerlink" href="#create-a-phpdoc-type-guesser" title="Permalink to this headline">¶</a></h2>
<p>In this section, you are going to build a guesser that reads information about
fields from the PHPDoc of the properties. At first, you need to create a class
which implements <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormTypeGuesserInterface.html" title="Symfony\Component\Form\FormTypeGuesserInterface"><span class="pre">FormTypeGuesserInterface</span></a></tt>.
This interface requires 4 methods:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormTypeGuesserInterface.html#method_guessType" title="Symfony\Component\Form\FormTypeGuesserInterface::guessType()"><span class="pre">guessType()</span></a></tt> -
tries to guess the type of a field;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormTypeGuesserInterface.html#method_guessRequired" title="Symfony\Component\Form\FormTypeGuesserInterface::guessRequired()"><span class="pre">guessRequired()</span></a></tt> -
tries to guess the value of the <a class="reference internal" href="../../reference/forms/types/form.html#reference-form-option-required"><em>required</em></a>
option;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormTypeGuesserInterface.html#method_guessMaxLength" title="Symfony\Component\Form\FormTypeGuesserInterface::guessMaxLength()"><span class="pre">guessMaxLength()</span></a></tt> -
tries to guess the value of the <a class="reference internal" href="../../reference/forms/types/form.html#reference-form-option-max-length"><em>max_length</em></a>
option;</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormTypeGuesserInterface.html#method_guessPattern" title="Symfony\Component\Form\FormTypeGuesserInterface::guessPattern()"><span class="pre">guessPattern()</span></a></tt> -
tries to guess the value of the <a class="reference internal" href="../../reference/forms/types/form.html#reference-form-option-pattern"><em>pattern</em></a>
option.</li>
</ul>
<p>Start by creating the class and these methods. Next, you&#8217;ll learn how to fill each on.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme\Form</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Form\FormTypeGuesserInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">PhpdocTypeGuesser</span> <span class="k">implements</span> <span class="nx">FormTypeGuesserInterface</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">guessType</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">)</span>
    <span class="p">{</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">guessRequired</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">)</span>
    <span class="p">{</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">guessMaxLength</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">)</span>
    <span class="p">{</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">guessPattern</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">)</span>
    <span class="p">{</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="section" id="guessing-the-type">
<h3>Guessing the Type<a class="headerlink" href="#guessing-the-type" title="Permalink to this headline">¶</a></h3>
<p>When guessing a type, the method returns either an instance of
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Guess/TypeGuess.html" title="Symfony\Component\Form\Guess\TypeGuess"><span class="pre">TypeGuess</span></a></tt> or nothing, to determine
that the type guesser cannot guess the type.</p>
<p>The <tt class="docutils literal"><span class="pre">TypeGuess</span></tt> constructor requires 3 options:</p>
<ul class="simple">
<li>The type name (one of the <a class="reference internal" href="../../reference/forms/types.html"><em>form types</em></a>);</li>
<li>Additional options (for instance, when the type is <tt class="docutils literal"><span class="pre">entity</span></tt>, you also
want to set the <tt class="docutils literal"><span class="pre">class</span></tt> option). If no types are guessed, this should be
set to an empty array;</li>
<li>The confidence that the guessed type is correct. This can be one of the
constants of the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Guess/Guess.html" title="Symfony\Component\Form\Guess\Guess"><span class="pre">Guess</span></a></tt> class:
<tt class="docutils literal"><span class="pre">LOW_CONFIDENCE</span></tt>, <tt class="docutils literal"><span class="pre">MEDIUM_CONFIDENCE</span></tt>, <tt class="docutils literal"><span class="pre">HIGH_CONFIDENCE</span></tt>,
<tt class="docutils literal"><span class="pre">VERY_HIGH_CONFIDENCE</span></tt>. After all type guessers have been executed, the
type with the highest confidence is used.</li>
</ul>
<p>With this knowledge, you can easily implement the <tt class="docutils literal"><span class="pre">guessType</span></tt> method of the
<tt class="docutils literal"><span class="pre">PHPDocTypeGuesser</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme\Form</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\Form\Guess\Guess</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Form\Guess\TypeGuess</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">PhpdocTypeGuesser</span> <span class="k">implements</span> <span class="nx">FormTypeGuesserInterface</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">guessType</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$annotations</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">readPhpDocAnnotations</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">);</span>

        <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$annotations</span><span class="p">[</span><span class="s1">&#39;var&#39;</span><span class="p">]))</span> <span class="p">{</span>
            <span class="k">return</span><span class="p">;</span> <span class="c1">// guess nothing if the @var annotation is not available</span>
        <span class="p">}</span>

        <span class="c1">// otherwise, base the type on the @var annotation</span>
        <span class="k">switch</span> <span class="p">(</span><span class="nv">$annotations</span><span class="p">[</span><span class="s1">&#39;var&#39;</span><span class="p">])</span> <span class="p">{</span>
            <span class="k">case</span> <span class="s1">&#39;string&#39;</span><span class="o">:</span>
                <span class="c1">// there is a high confidence that the type is text when</span>
                <span class="c1">// @var string is used</span>
                <span class="k">return</span> <span class="k">new</span> <span class="nx">TypeGuess</span><span class="p">(</span><span class="s1">&#39;text&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="nx">Guess</span><span class="o">::</span><span class="na">HIGH_CONFIDENCE</span><span class="p">);</span>

            <span class="k">case</span> <span class="s1">&#39;int&#39;</span><span class="o">:</span>
            <span class="k">case</span> <span class="s1">&#39;integer&#39;</span><span class="o">:</span>
                <span class="c1">// integers can also be the id of an entity or a checkbox (0 or 1)</span>
                <span class="k">return</span> <span class="k">new</span> <span class="nx">TypeGuess</span><span class="p">(</span><span class="s1">&#39;integer&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="nx">Guess</span><span class="o">::</span><span class="na">MEDIUM_CONFIDENCE</span><span class="p">);</span>

            <span class="k">case</span> <span class="s1">&#39;float&#39;</span><span class="o">:</span>
            <span class="k">case</span> <span class="s1">&#39;double&#39;</span><span class="o">:</span>
            <span class="k">case</span> <span class="s1">&#39;real&#39;</span><span class="o">:</span>
                <span class="k">return</span> <span class="k">new</span> <span class="nx">TypeGuess</span><span class="p">(</span><span class="s1">&#39;number&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="nx">Guess</span><span class="o">::</span><span class="na">MEDIUM_CONFIDENCE</span><span class="p">);</span>

            <span class="k">case</span> <span class="s1">&#39;boolean&#39;</span><span class="o">:</span>
            <span class="k">case</span> <span class="s1">&#39;bool&#39;</span><span class="o">:</span>
                <span class="k">return</span> <span class="k">new</span> <span class="nx">TypeGuess</span><span class="p">(</span><span class="s1">&#39;checkbox&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="nx">Guess</span><span class="o">::</span><span class="na">HIGH_CONFIDENCE</span><span class="p">);</span>

            <span class="k">default</span><span class="o">:</span>
                <span class="c1">// there is a very low confidence that this one is correct</span>
                <span class="k">return</span> <span class="k">new</span> <span class="nx">TypeGuess</span><span class="p">(</span><span class="s1">&#39;text&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="nx">Guess</span><span class="o">::</span><span class="na">LOW_CONFIDENCE</span><span class="p">);</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">protected</span> <span class="k">function</span> <span class="nf">readPhpDocAnnotations</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$reflectionProperty</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">\ReflectionProperty</span><span class="p">(</span><span class="nv">$class</span><span class="p">,</span> <span class="nv">$property</span><span class="p">);</span>
        <span class="nv">$phpdoc</span> <span class="o">=</span> <span class="nv">$reflectionProperty</span><span class="o">-&gt;</span><span class="na">getDocComment</span><span class="p">();</span>

        <span class="c1">// parse the $phpdoc into an array like:</span>
        <span class="c1">// array(&#39;type&#39; =&gt; &#39;string&#39;, &#39;since&#39; =&gt; &#39;1.0&#39;)</span>
        <span class="nv">$phpdocTags</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>

        <span class="k">return</span> <span class="nv">$phpdocTags</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This type guesser can now guess the field type for a property if it has
PHPdoc!</p>
</div>
<div class="section" id="guessing-field-options">
<h3>Guessing Field Options<a class="headerlink" href="#guessing-field-options" title="Permalink to this headline">¶</a></h3>
<p>The other 3 methods (<tt class="docutils literal"><span class="pre">guessMaxLength</span></tt>, <tt class="docutils literal"><span class="pre">guessRequired</span></tt> and
<tt class="docutils literal"><span class="pre">guessPattern</span></tt>) return a <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/Guess/ValueGuess.html" title="Symfony\Component\Form\Guess\ValueGuess"><span class="pre">ValueGuess</span></a></tt>
instance with the value of the option. This constructor has 2 arguments:</p>
<ul class="simple">
<li>The value of the option;</li>
<li>The confidence that the guessed value is correct (using the constants of the
<tt class="docutils literal"><span class="pre">Guess</span></tt> class).</li>
</ul>
<p><tt class="docutils literal"><span class="pre">null</span></tt> is guessed when you believe the value of the option should not be
set.</p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">You should be very careful using the <tt class="docutils literal"><span class="pre">guessPattern</span></tt> method. When the
type is a float, you cannot use it to determine a min or max value of the
float (e.g. you want a float to be greater than <tt class="docutils literal"><span class="pre">5</span></tt>, <tt class="docutils literal"><span class="pre">4.512313</span></tt> is not valid
but <tt class="docutils literal"><span class="pre">length(4.512314)</span> <span class="pre">&gt;</span> <span class="pre">length(5)</span></tt> is, so the pattern will succeed). In
this case, the value should be set to <tt class="docutils literal"><span class="pre">null</span></tt> with a <tt class="docutils literal"><span class="pre">MEDIUM_CONFIDENCE</span></tt>.</p>
</div>
</div>
</div>
<div class="section" id="registering-a-type-guesser">
<h2>Registering a Type Guesser<a class="headerlink" href="#registering-a-type-guesser" title="Permalink to this headline">¶</a></h2>
<p>The last thing you need to do is registering your custom type guesser by using
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormFactoryBuilder.html#method_addTypeGuesser" title="Symfony\Component\Form\FormFactoryBuilder::addTypeGuesser()"><span class="pre">addTypeGuesser()</span></a></tt> or
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Form/FormFactoryBuilder.html#method_addTypeGuessers" title="Symfony\Component\Form\FormFactoryBuilder::addTypeGuessers()"><span class="pre">addTypeGuessers()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Form\Forms</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Acme\Form\PHPDocTypeGuesser</span><span class="p">;</span>

<span class="nv">$formFactory</span> <span class="o">=</span> <span class="nx">Forms</span><span class="o">::</span><span class="na">createFormFactoryBuilder</span><span class="p">()</span>
    <span class="c1">// ...</span>
    <span class="o">-&gt;</span><span class="na">addTypeGuesser</span><span class="p">(</span><span class="k">new</span> <span class="nx">PHPDocTypeGuesser</span><span class="p">())</span>
    <span class="o">-&gt;</span><span class="na">getFormFactory</span><span class="p">();</span>

<span class="c1">// ...</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">When you use the Symfony framework, you need to register your type guesser
and tag it with <tt class="docutils literal"><span class="pre">form.type_guesser</span></tt>. For more information see
<a class="reference internal" href="../../reference/dic_tags.html#reference-dic-type-guesser"><em>the tag reference</em></a>.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Creating a custom Type Guesser</a><ul>
<li><a class="reference internal" href="#create-a-phpdoc-type-guesser">Create a PHPDoc Type Guesser</a><ul>
<li><a class="reference internal" href="#guessing-the-type">Guessing the Type</a></li>
<li><a class="reference internal" href="#guessing-field-options">Guessing Field Options</a></li>
</ul>
</li>
<li><a class="reference internal" href="#registering-a-type-guesser">Registering a Type Guesser</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The Form Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="form_events.html"
                        title="next chapter">Form Events</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/form/type_guesser.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="form_events.html" title="Form Events"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Form Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Form</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>