<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Translation Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Translation" href="index.html" />
    <link rel="next" title="Using the Translator" href="usage.html" />
    <link rel="prev" title="Translation" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="usage.html" title="Using the Translator"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Translation"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Translation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-translation-component">
<span id="index-0"></span><h1>The Translation Component<a class="headerlink" href="#the-translation-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Translation component provides tools to internationalize your
application.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/translation</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/translation">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Translation">https://github.com/symfony/Translation</a>).</li>
</ul>
</div>
<div class="section" id="constructing-the-translator">
<h2>Constructing the Translator<a class="headerlink" href="#constructing-the-translator" title="Permalink to this headline">¶</a></h2>
<p>The main access point of the Translation component is
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Translator.html" title="Symfony\Component\Translation\Translator"><span class="pre">Translator</span></a></tt>. Before you can use it,
you need to configure it and load the messages to translate (called <em>message
catalogs</em>).</p>
<div class="section" id="configuration">
<h3>Configuration<a class="headerlink" href="#configuration" title="Permalink to this headline">¶</a></h3>
<p>The constructor of the <tt class="docutils literal"><span class="pre">Translator</span></tt> class needs one argument: The locale.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Translation\Translator</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Translation\MessageSelector</span><span class="p">;</span>

<span class="nv">$translator</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Translator</span><span class="p">(</span><span class="s1">&#39;fr_FR&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">MessageSelector</span><span class="p">());</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The locale set here is the default locale to use. You can override this
locale when translating strings.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The term <em>locale</em> refers roughly to the user&#8217;s language and country. It
can be any string that your application uses to manage translations and
other format differences (e.g. currency format). The <a class="reference external" href="http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes">ISO 639-1</a>
<em>language</em> code, an underscore (<tt class="docutils literal"><span class="pre">_</span></tt>), then the <a class="reference external" href="http://en.wikipedia.org/wiki/ISO_3166-1#Current_codes">ISO 3166-1 alpha-2</a>
<em>country</em> code (e.g. <tt class="docutils literal"><span class="pre">fr_FR</span></tt> for French/France) is recommended.</p>
</div>
</div>
<div class="section" id="loading-message-catalogs">
<span id="component-translator-message-catalogs"></span><h3>Loading Message Catalogs<a class="headerlink" href="#loading-message-catalogs" title="Permalink to this headline">¶</a></h3>
<p>The messages are stored in message catalogs inside the <tt class="docutils literal"><span class="pre">Translator</span></tt>
class. A message catalog is like a dictionary of translations for a specific
locale.</p>
<p>The Translation component uses Loader classes to load catalogs. You can load
multiple resources for the same locale, which will then be combined into one
catalog.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><span class="pre">JsonFileLoader</span></tt> was introduced in Symfony 2.4.</p>
</div>
<p>The component comes with some default Loaders and you can create your own
Loader too. The default loaders are:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/ArrayLoader.html" title="Symfony\Component\Translation\Loader\ArrayLoader"><span class="pre">ArrayLoader</span></a></tt> - to load
catalogs from PHP arrays.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/CsvFileLoader.html" title="Symfony\Component\Translation\Loader\CsvFileLoader"><span class="pre">CsvFileLoader</span></a></tt> - to load
catalogs from CSV files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/IcuDatFileLoader.html" title="Symfony\Component\Translation\Loader\IcuDatFileLoader"><span class="pre">IcuDatFileLoader</span></a></tt> - to load
catalogs form resource bundles.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/IcuResFileLoader.html" title="Symfony\Component\Translation\Loader\IcuResFileLoader"><span class="pre">IcuResFileLoader</span></a></tt> - to load
catalogs form resource bundles.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/IniFileLoader.html" title="Symfony\Component\Translation\Loader\IniFileLoader"><span class="pre">IniFileLoader</span></a></tt> - to load
catalogs form ini files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/MoFileLoader.html" title="Symfony\Component\Translation\Loader\MoFileLoader"><span class="pre">MoFileLoader</span></a></tt> - to load
catalogs form gettext files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/PhpFileLoader.html" title="Symfony\Component\Translation\Loader\PhpFileLoader"><span class="pre">PhpFileLoader</span></a></tt> - to load
catalogs from PHP files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/PoFileLoader.html" title="Symfony\Component\Translation\Loader\PoFileLoader"><span class="pre">PoFileLoader</span></a></tt> - to load
catalogs form gettext files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/QtFileLoader.html" title="Symfony\Component\Translation\Loader\QtFileLoader"><span class="pre">QtFileLoader</span></a></tt> - to load
catalogs form QT XML files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/XliffFileLoader.html" title="Symfony\Component\Translation\Loader\XliffFileLoader"><span class="pre">XliffFileLoader</span></a></tt> - to load
catalogs from Xliff files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/JsonFileLoader.html" title="Symfony\Component\Translation\Loader\JsonFileLoader"><span class="pre">JsonFileLoader</span></a></tt> - to load
catalogs from JSON files.</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Loader/YamlFileLoader.html" title="Symfony\Component\Translation\Loader\YamlFileLoader"><span class="pre">YamlFileLoader</span></a></tt> - to load
catalogs from Yaml files (requires the <a class="reference internal" href="../yaml/introduction.html"><em>Yaml component</em></a>).</li>
</ul>
<p>All file loaders require the <a class="reference internal" href="../config/index.html"><em>Config component</em></a>.</p>
<p>At first, you should add one or more loaders to the <tt class="docutils literal"><span class="pre">Translator</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addLoader</span><span class="p">(</span><span class="s1">&#39;array&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ArrayLoader</span><span class="p">());</span>
</pre></div>
</div>
<p>The first argument is the name to which you can refer the loader in the
translator and the second argument is an instance of the loader itself. After
this, you can add your resources using the correct loader.</p>
<div class="section" id="loading-messages-with-the-arrayloader">
<h4>Loading Messages with the <tt class="docutils literal"><span class="pre">ArrayLoader</span></tt><a class="headerlink" href="#loading-messages-with-the-arrayloader" title="Permalink to this headline">¶</a></h4>
<p>Loading messages can be done by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Translator.html#method_addResource" title="Symfony\Component\Translation\Translator::addResource()"><span class="pre">addResource()</span></a></tt>. The first
argument is the loader name (this was the first argument of the <tt class="docutils literal"><span class="pre">addLoader</span></tt>
method), the second is the resource and the third argument is the locale:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span><span class="s1">&#39;array&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Hello World!&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Bonjour&#39;</span><span class="p">,</span>
<span class="p">),</span> <span class="s1">&#39;fr_FR&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="loading-messages-with-the-file-loaders">
<h4>Loading Messages with the File Loaders<a class="headerlink" href="#loading-messages-with-the-file-loaders" title="Permalink to this headline">¶</a></h4>
<p>If you use one of the file loaders, you should also use the <tt class="docutils literal"><span class="pre">addResource</span></tt>
method. The only difference is that you should put the file name to the resource
file as the second argument, instead of an array:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addLoader</span><span class="p">(</span><span class="s1">&#39;yaml&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">YamlFileLoader</span><span class="p">());</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span><span class="s1">&#39;yaml&#39;</span><span class="p">,</span> <span class="s1">&#39;path/to/messages.fr.yml&#39;</span><span class="p">,</span> <span class="s1">&#39;fr_FR&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>
</div>
<div class="section" id="the-translation-process">
<h2>The Translation Process<a class="headerlink" href="#the-translation-process" title="Permalink to this headline">¶</a></h2>
<p>To actually translate the message, the Translator uses a simple process:</p>
<ul class="simple">
<li>A catalog of translated messages is loaded from translation resources defined
for the <tt class="docutils literal"><span class="pre">locale</span></tt> (e.g. <tt class="docutils literal"><span class="pre">fr_FR</span></tt>). Messages from the
<a class="reference internal" href="#components-fallback-locales"><em>Fallback Locales</em></a> are also loaded and added to the
catalog, if they don&#8217;t already exist. The end result is a large &#8220;dictionary&#8221;
of translations;</li>
<li>If the message is located in the catalog, the translation is returned. If
not, the translator returns the original message.</li>
</ul>
<p>You start this process by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Translator.html#method_trans" title="Symfony\Component\Translation\Translator::trans()"><span class="pre">trans()</span></a></tt> or
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Translator.html#method_transChoice" title="Symfony\Component\Translation\Translator::transChoice()"><span class="pre">transChoice()</span></a></tt>. Then, the
Translator looks for the exact string inside the appropriate message catalog
and returns it (if it exists).</p>
<div class="section" id="fallback-locales">
<span id="components-fallback-locales"></span><h3>Fallback Locales<a class="headerlink" href="#fallback-locales" title="Permalink to this headline">¶</a></h3>
<p>If the message is not located in the catalog of the specific locale, the
translator will look into the catalog of one or more fallback locales. For
example, assume you&#8217;re trying to translate into the <tt class="docutils literal"><span class="pre">fr_FR</span></tt> locale:</p>
<ol class="arabic simple">
<li>First, the translator looks for the translation in the <tt class="docutils literal"><span class="pre">fr_FR</span></tt> locale;</li>
<li>If it wasn&#8217;t found, the translator looks for the translation in the <tt class="docutils literal"><span class="pre">fr</span></tt>
locale;</li>
<li>If the translation still isn&#8217;t found, the translator uses the one or more
fallback locales set explicitly on the translator.</li>
</ol>
<p>For (3), the fallback locales can be set by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Translator.html#method_setFallbackLocale" title="Symfony\Component\Translation\Translator::setFallbackLocale()"><span class="pre">setFallbackLocale()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">setFallbackLocale</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">));</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="using-message-domains">
<span id="id1"></span><h2>Using Message Domains<a class="headerlink" href="#using-message-domains" title="Permalink to this headline">¶</a></h2>
<p>As you&#8217;ve seen, message files are organized into the different locales that
they translate. The message files can also be organized further into &#8220;domains&#8221;.</p>
<p>The domain is specified in the fourth argument of the <tt class="docutils literal"><span class="pre">addResource()</span></tt>
method. The default domain is <tt class="docutils literal"><span class="pre">messages</span></tt>. For example, suppose that, for
organization, translations were split into three different domains:
<tt class="docutils literal"><span class="pre">messages</span></tt>, <tt class="docutils literal"><span class="pre">admin</span></tt> and <tt class="docutils literal"><span class="pre">navigation</span></tt>. The French translation would be
loaded like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addLoader</span><span class="p">(</span><span class="s1">&#39;xliff&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">XliffLoader</span><span class="p">());</span>

<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span><span class="s1">&#39;xliff&#39;</span><span class="p">,</span> <span class="s1">&#39;messages.fr.xliff&#39;</span><span class="p">,</span> <span class="s1">&#39;fr_FR&#39;</span><span class="p">);</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span><span class="s1">&#39;xliff&#39;</span><span class="p">,</span> <span class="s1">&#39;admin.fr.xliff&#39;</span><span class="p">,</span> <span class="s1">&#39;fr_FR&#39;</span><span class="p">,</span> <span class="s1">&#39;admin&#39;</span><span class="p">);</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span>
    <span class="s1">&#39;xliff&#39;</span><span class="p">,</span>
    <span class="s1">&#39;navigation.fr.xliff&#39;</span><span class="p">,</span>
    <span class="s1">&#39;fr_FR&#39;</span><span class="p">,</span>
    <span class="s1">&#39;navigation&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>When translating strings that are not in the default domain (<tt class="docutils literal"><span class="pre">messages</span></tt>),
you must specify the domain as the third argument of <tt class="docutils literal"><span class="pre">trans()</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span><span class="s1">&#39;Symfony2 is great&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(),</span> <span class="s1">&#39;admin&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Symfony2 will now look for the message in the <tt class="docutils literal"><span class="pre">admin</span></tt> domain of the
specified locale.</p>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Read how to use the Translation component in <a class="reference internal" href="usage.html"><em>Using the Translator</em></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Translation Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#constructing-the-translator">Constructing the Translator</a><ul>
<li><a class="reference internal" href="#configuration">Configuration</a></li>
<li><a class="reference internal" href="#loading-message-catalogs">Loading Message Catalogs</a><ul>
<li><a class="reference internal" href="#loading-messages-with-the-arrayloader">Loading Messages with the <tt class="docutils literal"><span class="pre">ArrayLoader</span></tt></a></li>
<li><a class="reference internal" href="#loading-messages-with-the-file-loaders">Loading Messages with the File Loaders</a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#the-translation-process">The Translation Process</a><ul>
<li><a class="reference internal" href="#fallback-locales">Fallback Locales</a></li>
</ul>
</li>
<li><a class="reference internal" href="#using-message-domains">Using Message Domains</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Translation</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="usage.html"
                        title="next chapter">Using the Translator</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/translation/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="usage.html" title="Using the Translator"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Translation"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Translation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>