<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Using the Translator &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Translation" href="index.html" />
    <link rel="next" title="Yaml" href="../yaml/index.html" />
    <link rel="prev" title="The Translation Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../yaml/index.html" title="Yaml"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Translation Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Translation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="using-the-translator">
<span id="index-0"></span><h1>Using the Translator<a class="headerlink" href="#using-the-translator" title="Permalink to this headline">¶</a></h1>
<p>Imagine you want to translate the string <em>&#8220;Symfony2 is great&#8221;</em> into French:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Translation\Translator</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Translation\Loader\ArrayLoader</span><span class="p">;</span>

<span class="nv">$translator</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Translator</span><span class="p">(</span><span class="s1">&#39;fr_FR&#39;</span><span class="p">);</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addLoader</span><span class="p">(</span><span class="s1">&#39;array&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">ArrayLoader</span><span class="p">());</span>
<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">addResource</span><span class="p">(</span><span class="s1">&#39;array&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Symfony2 is great!&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;J\&#39;aime Symfony2!&#39;</span><span class="p">,</span>
<span class="p">),</span> <span class="s1">&#39;fr_FR&#39;</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span><span class="s1">&#39;Symfony2 is great!&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>In this example, the message <em>&#8220;Symfony2 is great!&#8221;</em> will be translated into
the locale set in the constructor (<tt class="docutils literal"><span class="pre">fr_FR</span></tt>) if the message exists in one of
the message catalogs.</p>
<div class="section" id="message-placeholders">
<span id="component-translation-placeholders"></span><h2>Message Placeholders<a class="headerlink" href="#message-placeholders" title="Permalink to this headline">¶</a></h2>
<p>Sometimes, a message containing a variable needs to be translated:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translated</span> <span class="o">=</span> <span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span><span class="s1">&#39;Hello &#39;</span><span class="o">.</span><span class="nv">$name</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$translated</span><span class="p">;</span>
</pre></div>
</div>
<p>However, creating a translation for this string is impossible since the translator
will try to look up the exact message, including the variable portions
(e.g. <em>&#8220;Hello Ryan&#8221;</em> or <em>&#8220;Hello Fabien&#8221;</em>). Instead of writing a translation
for every possible iteration of the <tt class="docutils literal"><span class="pre">$name</span></tt> variable, you can replace the
variable with a &#8220;placeholder&#8221;:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$translated</span> <span class="o">=</span> <span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span>
    <span class="s1">&#39;Hello %name%&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;%name%&#39;</span> <span class="o">=&gt;</span> <span class="nv">$name</span><span class="p">)</span>
<span class="p">);</span>

<span class="k">echo</span> <span class="nv">$translated</span><span class="p">;</span>
</pre></div>
</div>
<p>Symfony2 will now look for a translation of the raw message (<tt class="docutils literal"><span class="pre">Hello</span> <span class="pre">%name%</span></tt>)
and <em>then</em> replace the placeholders with their values. Creating a translation
is done just as before:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="cp">&lt;?xml version=&quot;1.0&quot;?&gt;</span>
<span class="nt">&lt;xliff</span> <span class="na">version=</span><span class="s">&quot;1.2&quot;</span> <span class="na">xmlns=</span><span class="s">&quot;urn:oasis:names:tc:xliff:document:1.2&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;file</span> <span class="na">source-language=</span><span class="s">&quot;en&quot;</span> <span class="na">datatype=</span><span class="s">&quot;plaintext&quot;</span> <span class="na">original=</span><span class="s">&quot;file.ext&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;body&gt;</span>
            <span class="nt">&lt;trans-unit</span> <span class="na">id=</span><span class="s">&quot;1&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;source&gt;</span>Hello %name%<span class="nt">&lt;/source&gt;</span>
                <span class="nt">&lt;target&gt;</span>Bonjour %name%<span class="nt">&lt;/target&gt;</span>
            <span class="nt">&lt;/trans-unit&gt;</span>
        <span class="nt">&lt;/body&gt;</span>
    <span class="nt">&lt;/file&gt;</span>
<span class="nt">&lt;/xliff&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">return</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Hello %name%&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Bonjour %name%&#39;</span><span class="p">,</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="s">&#39;Hello</span><span class="nv"> </span><span class="s">%name%&#39;</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Bonjour %name%</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The placeholders can take on any form as the full message is reconstructed
using the PHP <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.strtr.php" title="strtr"><span class="pre">strtr</span> <span class="pre">function</span></a></tt>. But the <tt class="docutils literal"><span class="pre">%...%</span></tt> form
is recommended, to avoid problems when using Twig.</p>
</div>
<p>As you&#8217;ve seen, creating a translation is a two-step process:</p>
<ol class="arabic simple">
<li>Abstract the message that needs to be translated by processing it through
the <tt class="docutils literal"><span class="pre">Translator</span></tt>.</li>
<li>Create a translation for the message in each locale that you choose to
support.</li>
</ol>
<p>The second step is done by creating message catalogs that define the translations
for any number of different locales.</p>
</div>
<div class="section" id="creating-translations">
<h2>Creating Translations<a class="headerlink" href="#creating-translations" title="Permalink to this headline">¶</a></h2>
<p>The act of creating translation files is an important part of &#8220;localization&#8221;
(often abbreviated <a class="reference external" href="http://en.wikipedia.org/wiki/Internationalization_and_localization">L10n</a>). Translation files consist of a series of
id-translation pairs for the given domain and locale. The source is the identifier
for the individual translation, and can be the message in the main locale (e.g.
<em>&#8220;Symfony is great&#8221;</em>) of your application or a unique identifier (e.g.
<tt class="docutils literal"><span class="pre">symfony2.great</span></tt> - see the sidebar below).</p>
<p>Translation files can be created in several different formats, XLIFF being the
recommended format. These files are parsed by one of the loader classes.</p>
<div class="configuration-block">
<ul class="simple">
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="cp">&lt;?xml version=&quot;1.0&quot;?&gt;</span>
<span class="nt">&lt;xliff</span> <span class="na">version=</span><span class="s">&quot;1.2&quot;</span> <span class="na">xmlns=</span><span class="s">&quot;urn:oasis:names:tc:xliff:document:1.2&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;file</span> <span class="na">source-language=</span><span class="s">&quot;en&quot;</span> <span class="na">datatype=</span><span class="s">&quot;plaintext&quot;</span> <span class="na">original=</span><span class="s">&quot;file.ext&quot;</span><span class="nt">&gt;</span>
        <span class="nt">&lt;body&gt;</span>
            <span class="nt">&lt;trans-unit</span> <span class="na">id=</span><span class="s">&quot;1&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;source&gt;</span>Symfony2 is great<span class="nt">&lt;/source&gt;</span>
                <span class="nt">&lt;target&gt;</span>J&#39;aime Symfony2<span class="nt">&lt;/target&gt;</span>
            <span class="nt">&lt;/trans-unit&gt;</span>
            <span class="nt">&lt;trans-unit</span> <span class="na">id=</span><span class="s">&quot;2&quot;</span><span class="nt">&gt;</span>
                <span class="nt">&lt;source&gt;</span>symfony2.great<span class="nt">&lt;/source&gt;</span>
                <span class="nt">&lt;target&gt;</span>J&#39;aime Symfony2<span class="nt">&lt;/target&gt;</span>
            <span class="nt">&lt;/trans-unit&gt;</span>
        <span class="nt">&lt;/body&gt;</span>
    <span class="nt">&lt;/file&gt;</span>
<span class="nt">&lt;/xliff&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">return</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Symfony2 is great&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;J\&#39;aime Symfony2&#39;</span><span class="p">,</span>
    <span class="s1">&#39;symfony2.great&#39;</span>    <span class="o">=&gt;</span> <span class="s1">&#39;J\&#39;aime Symfony2&#39;</span><span class="p">,</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">Symfony2 is great</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">J&#39;aime Symfony2</span>
<span class="l-Scalar-Plain">symfony2.great</span><span class="p-Indicator">:</span>    <span class="l-Scalar-Plain">J&#39;aime Symfony2</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="sidebar">
<p class="first sidebar-title">Using Real or Keyword Messages</p>
<p>This example illustrates the two different philosophies when creating
messages to be translated:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span><span class="s1">&#39;Symfony2 is great&#39;</span><span class="p">);</span>

<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span><span class="s1">&#39;symfony2.great&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>In the first method, messages are written in the language of the default
locale (English in this case). That message is then used as the &#8220;id&#8221;
when creating translations.</p>
<p>In the second method, messages are actually &#8220;keywords&#8221; that convey the
idea of the message. The keyword message is then used as the &#8220;id&#8221; for
any translations. In this case, translations must be made for the default
locale (i.e. to translate <tt class="docutils literal"><span class="pre">symfony2.great</span></tt> to <tt class="docutils literal"><span class="pre">Symfony2</span> <span class="pre">is</span> <span class="pre">great</span></tt>).</p>
<p>The second method is handy because the message key won&#8217;t need to be changed
in every translation file if you decide that the message should actually
read &#8220;Symfony2 is really great&#8221; in the default locale.</p>
<p>The choice of which method to use is entirely up to you, but the &#8220;keyword&#8221;
format is often recommended.</p>
<p>Additionally, the <tt class="docutils literal"><span class="pre">php</span></tt> and <tt class="docutils literal"><span class="pre">yaml</span></tt> file formats support nested ids to
avoid repeating yourself if you use keywords instead of real text for your
ids:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">symfony2</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">is</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">great</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Symfony2 is great</span>
        <span class="l-Scalar-Plain">amazing</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Symfony2 is amazing</span>
    <span class="l-Scalar-Plain">has</span><span class="p-Indicator">:</span>
        <span class="l-Scalar-Plain">bundles</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Symfony2 has bundles</span>
<span class="l-Scalar-Plain">user</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">login</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Login</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;symfony2&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;is&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;great&#39;</span>   <span class="o">=&gt;</span> <span class="s1">&#39;Symfony2 is great&#39;</span><span class="p">,</span>
            <span class="s1">&#39;amazing&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Symfony2 is amazing&#39;</span><span class="p">,</span>
        <span class="p">),</span>
        <span class="s1">&#39;has&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
            <span class="s1">&#39;bundles&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Symfony2 has bundles&#39;</span><span class="p">,</span>
        <span class="p">),</span>
    <span class="p">),</span>
    <span class="s1">&#39;user&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;login&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Login&#39;</span><span class="p">,</span>
    <span class="p">),</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>The multiple levels are flattened into single id/translation pairs by
adding a dot (<tt class="docutils literal"><span class="pre">.</span></tt>) between every level, therefore the above examples are
equivalent to the following:</p>
<div class="last configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><div class="highlight"><pre><span class="l-Scalar-Plain">symfony2.is.great</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Symfony2 is great</span>
<span class="l-Scalar-Plain">symfony2.is.amazing</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Symfony2 is amazing</span>
<span class="l-Scalar-Plain">symfony2.has.bundles</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Symfony2 has bundles</span>
<span class="l-Scalar-Plain">user.login</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">Login</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">return</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;symfony2.is.great&#39;</span>    <span class="o">=&gt;</span> <span class="s1">&#39;Symfony2 is great&#39;</span><span class="p">,</span>
    <span class="s1">&#39;symfony2.is.amazing&#39;</span>  <span class="o">=&gt;</span> <span class="s1">&#39;Symfony2 is amazing&#39;</span><span class="p">,</span>
    <span class="s1">&#39;symfony2.has.bundles&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Symfony2 has bundles&#39;</span><span class="p">,</span>
    <span class="s1">&#39;user.login&#39;</span>           <span class="o">=&gt;</span> <span class="s1">&#39;Login&#39;</span><span class="p">,</span>
<span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
</div>
</div>
<div class="section" id="pluralization">
<span id="component-translation-pluralization"></span><h2>Pluralization<a class="headerlink" href="#pluralization" title="Permalink to this headline">¶</a></h2>
<p>Message pluralization is a tough topic as the rules can be quite complex. For
instance, here is the mathematic representation of the Russian pluralization
rules:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="p">((</span><span class="nv">$number</span> <span class="o">%</span> <span class="mi">10</span> <span class="o">==</span> <span class="mi">1</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="p">(</span><span class="nv">$number</span> <span class="o">%</span> <span class="mi">100</span> <span class="o">!=</span> <span class="mi">11</span><span class="p">))</span>
    <span class="o">?</span> <span class="mi">0</span>
    <span class="o">:</span> <span class="p">(((</span><span class="nv">$number</span> <span class="o">%</span> <span class="mi">10</span> <span class="o">&gt;=</span> <span class="mi">2</span><span class="p">)</span>
        <span class="o">&amp;&amp;</span> <span class="p">(</span><span class="nv">$number</span> <span class="o">%</span> <span class="mi">10</span> <span class="o">&lt;=</span> <span class="mi">4</span><span class="p">)</span>
        <span class="o">&amp;&amp;</span> <span class="p">((</span><span class="nv">$number</span> <span class="o">%</span> <span class="mi">100</span> <span class="o">&lt;</span> <span class="mi">10</span><span class="p">)</span>
        <span class="o">||</span> <span class="p">(</span><span class="nv">$number</span> <span class="o">%</span> <span class="mi">100</span> <span class="o">&gt;=</span> <span class="mi">20</span><span class="p">)))</span>
            <span class="o">?</span> <span class="mi">1</span>
            <span class="o">:</span> <span class="mi">2</span>
<span class="p">);</span>
</pre></div>
</div>
<p>As you can see, in Russian, you can have three different plural forms, each
given an index of 0, 1 or 2. For each form, the plural is different, and
so the translation is also different.</p>
<p>When a translation has different forms due to pluralization, you can provide
all the forms as a string separated by a pipe (<tt class="docutils literal"><span class="pre">|</span></tt>):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="s1">&#39;There is one apple|There are %count% apples&#39;</span>
</pre></div>
</div>
<p>To translate pluralized messages, use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Translator.html#method_transChoice" title="Symfony\Component\Translation\Translator::transChoice()"><span class="pre">transChoice()</span></a></tt> method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">transChoice</span><span class="p">(</span>
    <span class="s1">&#39;There is one apple|There are %count% apples&#39;</span><span class="p">,</span>
    <span class="mi">10</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;%count%&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>The second argument (<tt class="docutils literal"><span class="pre">10</span></tt> in this example) is the <em>number</em> of objects being
described and is used to determine which translation to use and also to populate
the <tt class="docutils literal"><span class="pre">%count%</span></tt> placeholder.</p>
<p>Based on the given number, the translator chooses the right plural form.
In English, most words have a singular form when there is exactly one object
and a plural form for all other numbers (0, 2, 3...). So, if <tt class="docutils literal"><span class="pre">count</span></tt> is
<tt class="docutils literal"><span class="pre">1</span></tt>, the translator will use the first string (<tt class="docutils literal"><span class="pre">There</span> <span class="pre">is</span> <span class="pre">one</span> <span class="pre">apple</span></tt>)
as the translation. Otherwise it will use <tt class="docutils literal"><span class="pre">There</span> <span class="pre">are</span> <span class="pre">%count%</span> <span class="pre">apples</span></tt>.</p>
<p>Here is the French translation:</p>
<div class="highlight-text"><div class="highlight"><pre>&#39;Il y a %count% pomme|Il y a %count% pommes&#39;
</pre></div>
</div>
<p>Even if the string looks similar (it is made of two sub-strings separated by a
pipe), the French rules are different: the first form (no plural) is used when
<tt class="docutils literal"><span class="pre">count</span></tt> is <tt class="docutils literal"><span class="pre">0</span></tt> or <tt class="docutils literal"><span class="pre">1</span></tt>. So, the translator will automatically use the
first string (<tt class="docutils literal"><span class="pre">Il</span> <span class="pre">y</span> <span class="pre">a</span> <span class="pre">%count%</span> <span class="pre">pomme</span></tt>) when <tt class="docutils literal"><span class="pre">count</span></tt> is <tt class="docutils literal"><span class="pre">0</span></tt> or <tt class="docutils literal"><span class="pre">1</span></tt>.</p>
<p>Each locale has its own set of rules, with some having as many as six different
plural forms with complex rules behind which numbers map to which plural form.
The rules are quite simple for English and French, but for Russian, you&#8217;d
may want a hint to know which rule matches which string. To help translators,
you can optionally &#8220;tag&#8221; each string:</p>
<div class="highlight-text"><div class="highlight"><pre>&#39;one: There is one apple|some: There are %count% apples&#39;

&#39;none_or_one: Il y a %count% pomme|some: Il y a %count% pommes&#39;
</pre></div>
</div>
<p>The tags are really only hints for translators and don&#8217;t affect the logic
used to determine which plural form to use. The tags can be any descriptive
string that ends with a colon (<tt class="docutils literal"><span class="pre">:</span></tt>). The tags also do not need to be the
same in the original message as in the translated one.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">As tags are optional, the translator doesn&#8217;t use them (the translator will
only get a string based on its position in the string).</p>
</div>
<div class="section" id="explicit-interval-pluralization">
<h3>Explicit Interval Pluralization<a class="headerlink" href="#explicit-interval-pluralization" title="Permalink to this headline">¶</a></h3>
<p>The easiest way to pluralize a message is to let the Translator use internal
logic to choose which string to use based on a given number. Sometimes, you&#8217;ll
need more control or want a different translation for specific cases (for
<tt class="docutils literal"><span class="pre">0</span></tt>, or when the count is negative, for example). For such cases, you can
use explicit math intervals:</p>
<div class="highlight-text"><div class="highlight"><pre>&#39;{0} There are no apples|{1} There is one apple|]1,19] There are %count% apples|[20,Inf] There are many apples&#39;
</pre></div>
</div>
<p>The intervals follow the <a class="reference external" href="http://en.wikipedia.org/wiki/Interval_(mathematics)#Notations_for_intervals">ISO 31-11</a> notation. The above string specifies
four different intervals: exactly <tt class="docutils literal"><span class="pre">0</span></tt>, exactly <tt class="docutils literal"><span class="pre">1</span></tt>, <tt class="docutils literal"><span class="pre">2-19</span></tt>, and <tt class="docutils literal"><span class="pre">20</span></tt>
and higher.</p>
<p>You can also mix explicit math rules and standard rules. In this case, if
the count is not matched by a specific interval, the standard rules take
effect after removing the explicit rules:</p>
<div class="highlight-text"><div class="highlight"><pre>&#39;{0} There are no apples|[20,Inf] There are many apples|There is one apple|a_few: There are %count% apples&#39;
</pre></div>
</div>
<p>For example, for <tt class="docutils literal"><span class="pre">1</span></tt> apple, the standard rule <tt class="docutils literal"><span class="pre">There</span> <span class="pre">is</span> <span class="pre">one</span> <span class="pre">apple</span></tt> will
be used. For <tt class="docutils literal"><span class="pre">2-19</span></tt> apples, the second standard rule <tt class="docutils literal"><span class="pre">There</span> <span class="pre">are</span> <span class="pre">%count%</span>
<span class="pre">apples</span></tt> will be selected.</p>
<p>An <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Translation/Interval.html" title="Symfony\Component\Translation\Interval"><span class="pre">Interval</span></a></tt> can represent a finite set
of numbers:</p>
<div class="highlight-text"><div class="highlight"><pre>{1,2,3,4}
</pre></div>
</div>
<p>Or numbers between two other numbers:</p>
<div class="highlight-text"><div class="highlight"><pre>[1, +Inf[
]-1,2[
</pre></div>
</div>
<p>The left delimiter can be <tt class="docutils literal"><span class="pre">[</span></tt> (inclusive) or <tt class="docutils literal"><span class="pre">]</span></tt> (exclusive). The right
delimiter can be <tt class="docutils literal"><span class="pre">[</span></tt> (exclusive) or <tt class="docutils literal"><span class="pre">]</span></tt> (inclusive). Beside numbers, you
can use <tt class="docutils literal"><span class="pre">-Inf</span></tt> and <tt class="docutils literal"><span class="pre">+Inf</span></tt> for the infinite.</p>
</div>
</div>
<div class="section" id="forcing-the-translator-locale">
<h2>Forcing the Translator Locale<a class="headerlink" href="#forcing-the-translator-locale" title="Permalink to this headline">¶</a></h2>
<p>When translating a message, the Translator uses the specified locale or the
<tt class="docutils literal"><span class="pre">fallback</span></tt> locale if necessary. You can also manually specify the locale to
use for translation:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">trans</span><span class="p">(</span>
    <span class="s1">&#39;Symfony2 is great&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(),</span>
    <span class="s1">&#39;messages&#39;</span><span class="p">,</span>
    <span class="s1">&#39;fr_FR&#39;</span>
<span class="p">);</span>

<span class="nv">$translator</span><span class="o">-&gt;</span><span class="na">transChoice</span><span class="p">(</span>
    <span class="s1">&#39;{0} There are no apples|{1} There is one apple|]1,Inf[ There are %count% apples&#39;</span><span class="p">,</span>
    <span class="mi">10</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;%count%&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">),</span>
    <span class="s1">&#39;messages&#39;</span><span class="p">,</span>
    <span class="s1">&#39;fr_FR&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Using the Translator</a><ul>
<li><a class="reference internal" href="#message-placeholders">Message Placeholders</a></li>
<li><a class="reference internal" href="#creating-translations">Creating Translations</a></li>
<li><a class="reference internal" href="#pluralization">Pluralization</a><ul>
<li><a class="reference internal" href="#explicit-interval-pluralization">Explicit Interval Pluralization</a></li>
</ul>
</li>
<li><a class="reference internal" href="#forcing-the-translator-locale">Forcing the Translator Locale</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The Translation Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../yaml/index.html"
                        title="next chapter">Yaml</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/translation/usage.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../yaml/index.html" title="Yaml"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Translation Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Translation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>