<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Extending the ExpressionLanguage &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Expression Language" href="index.html" />
    <link rel="next" title="Caching Expressions Using Parser Caches" href="caching.html" />
    <link rel="prev" title="The Expression Syntax" href="syntax.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="caching.html" title="Caching Expressions Using Parser Caches"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="syntax.html" title="The Expression Syntax"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Expression Language</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="extending-the-expressionlanguage">
<span id="index-0"></span><h1>Extending the ExpressionLanguage<a class="headerlink" href="#extending-the-expressionlanguage" title="Permalink to this headline">¶</a></h1>
<p>The ExpressionLanguage can be extended by adding custom functions. For
instance, in the Symfony Framework, the security has custom functions to check
the user&#8217;s role.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you want to learn how to use functions in an expression, read
&#8220;<a class="reference internal" href="syntax.html#component-expression-functions"><em>Working with Functions</em></a>&#8221;.</p>
</div>
<div class="section" id="registering-functions">
<h2>Registering Functions<a class="headerlink" href="#registering-functions" title="Permalink to this headline">¶</a></h2>
<p>Functions are registered on each specific <tt class="docutils literal"><span class="pre">ExpressionLanguage</span></tt> instance.
That means the functions can be used in any expression executed by that
instance.</p>
<p>To register a function, use
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ExpressionLanguage/ExpressionLanguage.html#method_register" title="Symfony\Component\ExpressionLanguage\ExpressionLanguage::register()"><span class="pre">register()</span></a></tt>.
This method has 3 arguments:</p>
<ul class="simple">
<li><strong>name</strong> - The name of the function in an expression;</li>
<li><strong>compiler</strong> - A function executed when compiling an expression using the
function;</li>
<li><strong>evaluator</strong> - A function executed when the expression is evaluated.</li>
</ul>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\ExpressionLanguage\ExpressionLanguage</span><span class="p">;</span>

<span class="nv">$language</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ExpressionLanguage</span><span class="p">();</span>
<span class="nv">$language</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">(</span><span class="s1">&#39;lowercase&#39;</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$str</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">is_string</span><span class="p">(</span><span class="nv">$str</span><span class="p">))</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$str</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="nb">sprintf</span><span class="p">(</span><span class="s1">&#39;strtolower(%s)&#39;</span><span class="p">,</span> <span class="nv">$str</span><span class="p">);</span>
<span class="p">},</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$arguments</span><span class="p">,</span> <span class="nv">$str</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">is_string</span><span class="p">(</span><span class="nv">$str</span><span class="p">))</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$str</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="nx">strtolower</span><span class="p">(</span><span class="nv">$str</span><span class="p">);</span>
<span class="p">});</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span><span class="s1">&#39;lowercase(&quot;HELLO&quot;)&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>This will print <tt class="docutils literal"><span class="pre">hello</span></tt>. Both the <strong>compiler</strong> and <strong>evaluator</strong> are passed
an <tt class="docutils literal"><span class="pre">arguments</span></tt> variable as their first argument, which is equal to the
second argument to <tt class="docutils literal"><span class="pre">evaluate()</span></tt> or <tt class="docutils literal"><span class="pre">compile()</span></tt> (e.g. the &#8220;values&#8221; when
evaluating or the &#8220;names&#8221; if compiling).</p>
</div>
<div class="section" id="creating-a-new-expressionlanguage-class">
<h2>Creating a new ExpressionLanguage Class<a class="headerlink" href="#creating-a-new-expressionlanguage-class" title="Permalink to this headline">¶</a></h2>
<p>When you use the <tt class="docutils literal"><span class="pre">ExpressionLanguage</span></tt> class in your library, it&#8217;s recommend
to create a new <tt class="docutils literal"><span class="pre">ExpressionLanguage</span></tt> class and register the functions there.
Override <tt class="docutils literal"><span class="pre">registerFunctions</span></tt> to add your own functions:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme\AwesomeLib\ExpressionLanguage</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Symfony\Component\ExpressionLanguage\ExpressionLanguage</span> <span class="k">as</span> <span class="nx">BaseExpressionLanguage</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ExpressionLanguage</span> <span class="k">extends</span> <span class="nx">BaseExpressionLanguage</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="k">function</span> <span class="nf">registerFunctions</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">registerFunctions</span><span class="p">();</span> <span class="c1">// do not forget to also register core functions</span>

        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">register</span><span class="p">(</span><span class="s1">&#39;lowercase&#39;</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$str</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">is_string</span><span class="p">(</span><span class="nv">$str</span><span class="p">))</span> <span class="p">{</span>
                <span class="k">return</span> <span class="nv">$str</span><span class="p">;</span>
            <span class="p">}</span>

            <span class="k">return</span> <span class="nb">sprintf</span><span class="p">(</span><span class="s1">&#39;strtolower(%s)&#39;</span><span class="p">,</span> <span class="nv">$str</span><span class="p">);</span>
        <span class="p">},</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$arguments</span><span class="p">,</span> <span class="nv">$str</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">is_string</span><span class="p">(</span><span class="nv">$str</span><span class="p">))</span> <span class="p">{</span>
                <span class="k">return</span> <span class="nv">$str</span><span class="p">;</span>
            <span class="p">}</span>

            <span class="k">return</span> <span class="nx">strtolower</span><span class="p">(</span><span class="nv">$str</span><span class="p">);</span>
        <span class="p">});</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Extending the ExpressionLanguage</a><ul>
<li><a class="reference internal" href="#registering-functions">Registering Functions</a></li>
<li><a class="reference internal" href="#creating-a-new-expressionlanguage-class">Creating a new ExpressionLanguage Class</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="syntax.html"
                        title="previous chapter">The Expression Syntax</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="caching.html"
                        title="next chapter">Caching Expressions Using Parser Caches</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/expression_language/extending.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="caching.html" title="Caching Expressions Using Parser Caches"
             >next</a> |</li>
        <li class="right" >
          <a href="syntax.html" title="The Expression Syntax"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Expression Language</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>