<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The ExpressionLanguage Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Expression Language" href="index.html" />
    <link rel="next" title="The Expression Syntax" href="syntax.html" />
    <link rel="prev" title="Expression Language" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="syntax.html" title="The Expression Syntax"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Expression Language"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Expression Language</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-expressionlanguage-component">
<span id="index-0"></span><h1>The ExpressionLanguage Component<a class="headerlink" href="#the-expressionlanguage-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The ExpressionLanguage component provides an engine that can compile and
evaluate expressions. An expression is a one-liner that returns a value
(mostly, but not limited to, Booleans).</div></blockquote>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The ExpressionLanguage component was introduced in Symfony 2.4.</p>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/expression-language</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/expression-language">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/expression-language">https://github.com/symfony/expression-language</a>).</li>
</ul>
</div>
<div class="section" id="how-can-the-expression-engine-help-me">
<h2>How can the Expression Engine Help Me?<a class="headerlink" href="#how-can-the-expression-engine-help-me" title="Permalink to this headline">¶</a></h2>
<p>The purpose of the component is to allow users to use expressions inside
configuration for more complex logic. For some examples, the Symfony2 Framework
uses expressions in security, for validation rules and in route matching.</p>
<p>Besides using the component in the framework itself, the ExpressionLanguage
component is a perfect candidate for the foundation of a <em>business rule engine</em>.
The idea is to let the webmaster of a website configure things in a dynamic
way without using PHP and without introducing security problems:</p>
<div class="highlight-text" id="component-expression-language-examples"><div class="highlight"><pre># Get the special price if
user.getGroup() in [&#39;good_customers&#39;, &#39;collaborator&#39;]

# Promote article to the homepage when
article.commentCount &gt; 100 and article.category not in [&quot;misc&quot;]

# Send an alert when
product.stock &lt; 15
</pre></div>
</div>
<p>Expressions can be seen as a very restricted PHP sandbox and are immune to
external injections as you must explicitly declare which variables are available
in an expression.</p>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The ExpressionLanguage component can compile and evaluate expressions.
Expressions are one-liners that often return a Boolean, which can be used
by the code executing the expression in an <tt class="docutils literal"><span class="pre">if</span></tt> statement. A simple example
of an expression is <tt class="docutils literal"><span class="pre">1</span> <span class="pre">+</span> <span class="pre">2</span></tt>. You can also use more complicated expressions,
such as <tt class="docutils literal"><span class="pre">someArray[3].someMethod('bar')</span></tt>.</p>
<p>The component provides 2 ways to work with expressions:</p>
<ul class="simple">
<li><strong>evaluation</strong>: the expression is evaluated without being compiled to PHP;</li>
<li><strong>compile</strong>: the expression is compiled to PHP, so it can be cached and
evaluated.</li>
</ul>
<p>The main class of the component is
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ExpressionLanguage/ExpressionLanguage.html" title="Symfony\Component\ExpressionLanguage\ExpressionLanguage"><span class="pre">ExpressionLanguage</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\ExpressionLanguage\ExpressionLanguage</span><span class="p">;</span>

<span class="nv">$language</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ExpressionLanguage</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span><span class="s1">&#39;1 + 2&#39;</span><span class="p">);</span> <span class="c1">// displays 3</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">compile</span><span class="p">(</span><span class="s1">&#39;1 + 2&#39;</span><span class="p">);</span> <span class="c1">// displays (1 + 2)</span>
</pre></div>
</div>
</div>
<div class="section" id="expression-syntax">
<h2>Expression Syntax<a class="headerlink" href="#expression-syntax" title="Permalink to this headline">¶</a></h2>
<p>See <a class="reference internal" href="syntax.html"><em>The Expression Syntax</em></a> to learn the syntax of the
ExpressionLanguage component.</p>
</div>
<div class="section" id="passing-in-variables">
<h2>Passing in Variables<a class="headerlink" href="#passing-in-variables" title="Permalink to this headline">¶</a></h2>
<p>You can also pass variables into the expression, which can be of any valid
PHP type (including objects):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\ExpressionLanguage\ExpressionLanguage</span><span class="p">;</span>

<span class="nv">$language</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ExpressionLanguage</span><span class="p">();</span>

<span class="k">class</span> <span class="nc">Apple</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="nv">$variety</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">$apple</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Apple</span><span class="p">();</span>
<span class="nv">$apple</span><span class="o">-&gt;</span><span class="na">variety</span> <span class="o">=</span> <span class="s1">&#39;Honeycrisp&#39;</span><span class="p">;</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;fruit.variety&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;fruit&#39;</span> <span class="o">=&gt;</span> <span class="nv">$apple</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will print &#8220;Honeycrisp&#8221;. For more information, see the <a class="reference internal" href="syntax.html"><em>The Expression Syntax</em></a>
entry, especially <a class="reference internal" href="syntax.html#component-expression-objects"><em>Working with Objects</em></a> and <a class="reference internal" href="syntax.html#component-expression-arrays"><em>Working with Arrays</em></a>.</p>
</div>
<div class="section" id="caching">
<h2>Caching<a class="headerlink" href="#caching" title="Permalink to this headline">¶</a></h2>
<p>The component provides some different caching strategies, read more about them
in <a class="reference internal" href="caching.html"><em>Caching Expressions Using Parser Caches</em></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The ExpressionLanguage Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#how-can-the-expression-engine-help-me">How can the Expression Engine Help Me?</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#expression-syntax">Expression Syntax</a></li>
<li><a class="reference internal" href="#passing-in-variables">Passing in Variables</a></li>
<li><a class="reference internal" href="#caching">Caching</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Expression Language</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="syntax.html"
                        title="next chapter">The Expression Syntax</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/expression_language/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="syntax.html" title="The Expression Syntax"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Expression Language"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Expression Language</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>