<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Expression Syntax &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Expression Language" href="index.html" />
    <link rel="next" title="Extending the ExpressionLanguage" href="extending.html" />
    <link rel="prev" title="The ExpressionLanguage Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="extending.html" title="Extending the ExpressionLanguage"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The ExpressionLanguage Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Expression Language</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-expression-syntax">
<span id="index-0"></span><h1>The Expression Syntax<a class="headerlink" href="#the-expression-syntax" title="Permalink to this headline">¶</a></h1>
<p>The ExpressionLanguage component uses a specific syntax which is based on the
expression syntax of Twig. In this document, you can find all supported
syntaxes.</p>
<div class="section" id="supported-literals">
<h2>Supported Literals<a class="headerlink" href="#supported-literals" title="Permalink to this headline">¶</a></h2>
<p>The component supports:</p>
<ul class="simple">
<li><strong>strings</strong> - single and double quotes (e.g. <tt class="docutils literal"><span class="pre">'hello'</span></tt>)</li>
<li><strong>numbers</strong> - e.g. <tt class="docutils literal"><span class="pre">103</span></tt></li>
<li><strong>arrays</strong> - using JSON-like notation (e.g. <tt class="docutils literal"><span class="pre">[1,</span> <span class="pre">2]</span></tt>)</li>
<li><strong>hashes</strong> - using JSON-like notation (e.g. <tt class="docutils literal"><span class="pre">{</span> <span class="pre">foo:</span> <span class="pre">'bar'</span> <span class="pre">}</span></tt>)</li>
<li><strong>booleans</strong> - <tt class="docutils literal"><span class="pre">true</span></tt> and <tt class="docutils literal"><span class="pre">false</span></tt></li>
<li><strong>null</strong> - <tt class="docutils literal"><span class="pre">null</span></tt></li>
</ul>
</div>
<div class="section" id="working-with-objects">
<span id="component-expression-objects"></span><h2>Working with Objects<a class="headerlink" href="#working-with-objects" title="Permalink to this headline">¶</a></h2>
<p>When passing objects into an expression, you can use different syntaxes to
access properties and call methods on the object.</p>
<div class="section" id="accessing-public-properties">
<h3>Accessing Public Properties<a class="headerlink" href="#accessing-public-properties" title="Permalink to this headline">¶</a></h3>
<p>Public properties on objects can be accessed by using the <tt class="docutils literal"><span class="pre">.</span></tt> syntax, similar
to JavaScript:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">class</span> <span class="nc">Apple</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="nv">$variety</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">$apple</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Apple</span><span class="p">();</span>
<span class="nv">$apple</span><span class="o">-&gt;</span><span class="na">variety</span> <span class="o">=</span> <span class="s1">&#39;Honeycrisp&#39;</span><span class="p">;</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;fruit.variety&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;fruit&#39;</span> <span class="o">=&gt;</span> <span class="nv">$apple</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will print out <tt class="docutils literal"><span class="pre">Honeycrisp</span></tt>.</p>
</div>
<div class="section" id="calling-methods">
<h3>Calling Methods<a class="headerlink" href="#calling-methods" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><span class="pre">.</span></tt> syntax can also be used to call methods on an object, similar to
JavaScript:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">class</span> <span class="nc">Robot</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">sayHi</span><span class="p">(</span><span class="nv">$times</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$greetings</span> <span class="o">=</span> <span class="k">array</span><span class="p">();</span>
        <span class="k">for</span> <span class="p">(</span><span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span> <span class="nv">$i</span> <span class="o">&lt;</span> <span class="nv">$times</span><span class="p">;</span> <span class="nv">$i</span><span class="o">++</span><span class="p">)</span> <span class="p">{</span>
            <span class="nv">$greetings</span><span class="p">[]</span> <span class="o">=</span> <span class="s1">&#39;Hi&#39;</span><span class="p">;</span>
        <span class="p">}</span>

        <span class="k">return</span> <span class="nb">implode</span><span class="p">(</span><span class="s1">&#39; &#39;</span><span class="p">,</span> <span class="nv">$greetings</span><span class="p">)</span><span class="o">.</span><span class="s1">&#39;!&#39;</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$robot</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Robot</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;robot.sayHi(3)&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;robot&#39;</span> <span class="o">=&gt;</span> <span class="nv">$robot</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will print out <tt class="docutils literal"><span class="pre">Hi</span> <span class="pre">Hi</span> <span class="pre">Hi!</span></tt>.</p>
</div>
</div>
<div class="section" id="working-with-functions">
<span id="component-expression-functions"></span><h2>Working with Functions<a class="headerlink" href="#working-with-functions" title="Permalink to this headline">¶</a></h2>
<p>You can also use registered functions in the expression by using the same
syntax as PHP and JavaScript. The ExpressionLanguage component comes with one
function by default: <tt class="docutils literal"><span class="pre">constant()</span></tt>, which will return the value of the PHP
constant:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nb">define</span><span class="p">(</span><span class="s1">&#39;DB_USER&#39;</span><span class="p">,</span> <span class="s1">&#39;root&#39;</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;constant(&quot;DB_USER&quot;)&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will print out <tt class="docutils literal"><span class="pre">root</span></tt>.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">To read how to register your own functions to use in an expression, see
&#8220;<a class="reference internal" href="extending.html"><em>Extending the ExpressionLanguage</em></a>&#8221;.</p>
</div>
</div>
<div class="section" id="working-with-arrays">
<span id="component-expression-arrays"></span><h2>Working with Arrays<a class="headerlink" href="#working-with-arrays" title="Permalink to this headline">¶</a></h2>
<p>If you pass an array into an expression, use the <tt class="docutils literal"><span class="pre">[]</span></tt> syntax to access
array keys, similar to JavaScript:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$data</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;life&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span> <span class="s1">&#39;universe&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span> <span class="s1">&#39;everything&#39;</span> <span class="o">=&gt;</span> <span class="mi">22</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;data[&quot;life&quot;] + data[&quot;universe&quot;] + data[&quot;everything&quot;]&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;data&#39;</span> <span class="o">=&gt;</span> <span class="nv">$data</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will print out <tt class="docutils literal"><span class="pre">42</span></tt>.</p>
</div>
<div class="section" id="supported-operators">
<h2>Supported Operators<a class="headerlink" href="#supported-operators" title="Permalink to this headline">¶</a></h2>
<p>The component comes with a lot of operators:</p>
<div class="section" id="arithmetic-operators">
<h3>Arithmetic Operators<a class="headerlink" href="#arithmetic-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">+</span></tt> (addition)</li>
<li><tt class="docutils literal"><span class="pre">-</span></tt> (subtraction)</li>
<li><tt class="docutils literal"><span class="pre">*</span></tt> (multiplication)</li>
<li><tt class="docutils literal"><span class="pre">/</span></tt> (division)</li>
<li><tt class="docutils literal"><span class="pre">%</span></tt> (modulus)</li>
<li><tt class="docutils literal"><span class="pre">**</span></tt> (pow)</li>
</ul>
<p>For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;life + universe + everything&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;life&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;universe&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;everything&#39;</span> <span class="o">=&gt;</span> <span class="mi">22</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will print out <tt class="docutils literal"><span class="pre">42</span></tt>.</p>
</div>
<div class="section" id="bitwise-operators">
<h3>Bitwise Operators<a class="headerlink" href="#bitwise-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">&amp;</span></tt> (and)</li>
<li><tt class="docutils literal"><span class="pre">|</span></tt> (or)</li>
<li><tt class="docutils literal"><span class="pre">^</span></tt> (xor)</li>
</ul>
</div>
<div class="section" id="comparison-operators">
<h3>Comparison Operators<a class="headerlink" href="#comparison-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">==</span></tt> (equal)</li>
<li><tt class="docutils literal"><span class="pre">===</span></tt> (identical)</li>
<li><tt class="docutils literal"><span class="pre">!=</span></tt> (not equal)</li>
<li><tt class="docutils literal"><span class="pre">!==</span></tt> (not identical)</li>
<li><tt class="docutils literal"><span class="pre">&lt;</span></tt> (less than)</li>
<li><tt class="docutils literal"><span class="pre">&gt;</span></tt> (greater than)</li>
<li><tt class="docutils literal"><span class="pre">&lt;=</span></tt> (less than or equal to)</li>
<li><tt class="docutils literal"><span class="pre">&gt;=</span></tt> (greater than or equal to)</li>
<li><tt class="docutils literal"><span class="pre">matches</span></tt> (regex match)</li>
</ul>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>To test if a string does <em>not</em> match a regex, use the logical <tt class="docutils literal"><span class="pre">not</span></tt>
operator in combination with the <tt class="docutils literal"><span class="pre">matches</span></tt> operator:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span><span class="s1">&#39;not (&quot;foo&quot; matches &quot;/bar/&quot;)&#39;</span><span class="p">);</span> <span class="c1">// returns true</span>
</pre></div>
</div>
<p class="last">You must use parenthesis because the unary operator <tt class="docutils literal"><span class="pre">not</span></tt> has precedence
over the binary operator <tt class="docutils literal"><span class="pre">matches</span></tt>.</p>
</div>
<p>Examples:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$ret1</span> <span class="o">=</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;life == everything&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;life&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;universe&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;everything&#39;</span> <span class="o">=&gt;</span> <span class="mi">22</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>

<span class="nv">$ret2</span> <span class="o">=</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;life &gt; everything&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;life&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;universe&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;everything&#39;</span> <span class="o">=&gt;</span> <span class="mi">22</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Both variables would be set to <tt class="docutils literal"><span class="pre">false</span></tt>.</p>
</div>
<div class="section" id="logical-operators">
<h3>Logical Operators<a class="headerlink" href="#logical-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">not</span></tt> or <tt class="docutils literal"><span class="pre">!</span></tt></li>
<li><tt class="docutils literal"><span class="pre">and</span></tt> or <tt class="docutils literal"><span class="pre">&amp;&amp;</span></tt></li>
<li><tt class="docutils literal"><span class="pre">or</span></tt> or <tt class="docutils literal"><span class="pre">||</span></tt></li>
</ul>
<p>For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$ret</span> <span class="o">=</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;life &lt; universe or life &lt; everything&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;life&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;universe&#39;</span> <span class="o">=&gt;</span> <span class="mi">10</span><span class="p">,</span>
        <span class="s1">&#39;everything&#39;</span> <span class="o">=&gt;</span> <span class="mi">22</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This <tt class="docutils literal"><span class="pre">$ret</span></tt> variable will be set to <tt class="docutils literal"><span class="pre">true</span></tt>.</p>
</div>
<div class="section" id="string-operators">
<h3>String Operators<a class="headerlink" href="#string-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">~</span></tt> (concatenation)</li>
</ul>
<p>For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;firstName~&quot; &quot;~lastName&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;firstName&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Arthur&#39;</span><span class="p">,</span>
        <span class="s1">&#39;lastName&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Dent&#39;</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This would print out <tt class="docutils literal"><span class="pre">Arthur</span> <span class="pre">Dent</span></tt>.</p>
</div>
<div class="section" id="array-operators">
<h3>Array Operators<a class="headerlink" href="#array-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">in</span></tt> (contain)</li>
<li><tt class="docutils literal"><span class="pre">not</span> <span class="pre">in</span></tt> (does not contain)</li>
</ul>
<p>For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">class</span> <span class="nc">User</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="nv">$group</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">$user</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">User</span><span class="p">();</span>
<span class="nv">$user</span><span class="o">-&gt;</span><span class="na">group</span> <span class="o">=</span> <span class="s1">&#39;human_resources&#39;</span><span class="p">;</span>

<span class="nv">$inGroup</span> <span class="o">=</span> <span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;user.group in [&quot;human_resources&quot;, &quot;marketing&quot;]&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;user&#39;</span> <span class="o">=&gt;</span> <span class="nv">$user</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><span class="pre">$inGroup</span></tt> would evaluate to <tt class="docutils literal"><span class="pre">true</span></tt>.</p>
</div>
<div class="section" id="numeric-operators">
<h3>Numeric Operators<a class="headerlink" href="#numeric-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">..</span></tt> (range)</li>
</ul>
<p>For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">class</span> <span class="nc">User</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="nv">$age</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">$user</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">User</span><span class="p">();</span>
<span class="nv">$user</span><span class="o">-&gt;</span><span class="na">age</span> <span class="o">=</span> <span class="mi">34</span><span class="p">;</span>

<span class="nv">$language</span><span class="o">-&gt;</span><span class="na">evaluate</span><span class="p">(</span>
    <span class="s1">&#39;user.age in 18..45&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;user&#39;</span> <span class="o">=&gt;</span> <span class="nv">$user</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This will evaluate to <tt class="docutils literal"><span class="pre">true</span></tt>, because <tt class="docutils literal"><span class="pre">user.age</span></tt> is in the range from
<tt class="docutils literal"><span class="pre">18</span></tt> to <tt class="docutils literal"><span class="pre">45</span></tt>.</p>
</div>
<div class="section" id="ternary-operators">
<h3>Ternary Operators<a class="headerlink" href="#ternary-operators" title="Permalink to this headline">¶</a></h3>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">foo</span> <span class="pre">?</span> <span class="pre">'yes'</span> <span class="pre">:</span> <span class="pre">'no'</span></tt></li>
<li><tt class="docutils literal"><span class="pre">foo</span> <span class="pre">?:</span> <span class="pre">'no'</span></tt> (equal to <tt class="docutils literal"><span class="pre">foo</span> <span class="pre">?</span> <span class="pre">foo</span> <span class="pre">:</span> <span class="pre">'no'</span></tt>)</li>
<li><tt class="docutils literal"><span class="pre">foo</span> <span class="pre">?</span> <span class="pre">'yes'</span></tt> (equal to <tt class="docutils literal"><span class="pre">foo</span> <span class="pre">?</span> <span class="pre">'yes'</span> <span class="pre">:</span> <span class="pre">''</span></tt>)</li>
</ul>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Expression Syntax</a><ul>
<li><a class="reference internal" href="#supported-literals">Supported Literals</a></li>
<li><a class="reference internal" href="#working-with-objects">Working with Objects</a><ul>
<li><a class="reference internal" href="#accessing-public-properties">Accessing Public Properties</a></li>
<li><a class="reference internal" href="#calling-methods">Calling Methods</a></li>
</ul>
</li>
<li><a class="reference internal" href="#working-with-functions">Working with Functions</a></li>
<li><a class="reference internal" href="#working-with-arrays">Working with Arrays</a></li>
<li><a class="reference internal" href="#supported-operators">Supported Operators</a><ul>
<li><a class="reference internal" href="#arithmetic-operators">Arithmetic Operators</a></li>
<li><a class="reference internal" href="#bitwise-operators">Bitwise Operators</a></li>
<li><a class="reference internal" href="#comparison-operators">Comparison Operators</a></li>
<li><a class="reference internal" href="#logical-operators">Logical Operators</a></li>
<li><a class="reference internal" href="#string-operators">String Operators</a></li>
<li><a class="reference internal" href="#array-operators">Array Operators</a></li>
<li><a class="reference internal" href="#numeric-operators">Numeric Operators</a></li>
<li><a class="reference internal" href="#ternary-operators">Ternary Operators</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The ExpressionLanguage Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="extending.html"
                        title="next chapter">Extending the ExpressionLanguage</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/expression_language/syntax.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="extending.html" title="Extending the ExpressionLanguage"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The ExpressionLanguage Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Expression Language</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>