

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Compiling the Container &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../../index.html" />
    <link rel="up" title="Dependency Injection" href="index.html" />
    <link rel="next" title="Working with Tagged Services" href="tags.html" />
    <link rel="prev" title="Working with Container Service Definitions" href="definitions.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="tags.html" title="Working with Tagged Services"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="definitions.html" title="Working with Container Service Definitions"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Dependency Injection</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="compiling-the-container">
<span id="index-0"></span><h1>Compiling the Container<a class="headerlink" href="#compiling-the-container" title="Permalink to this headline">¶</a></h1>
<p>The service container can be compiled for various reasons. These reasons
include checking for any potential issues such as circular references and
making the container more efficient by resolving parameters and removing
unused services.</p>
<p>It is compiled by running:</p>
<div class="highlight-python"><pre>$container-&gt;compile();</pre>
</div>
<p>The compile method uses <em>Compiler Passes</em> for the compilation. The <em>Dependency Injection</em>
component comes with several passes which are automatically registered for
compilation. For example the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DependencyInjection/Compiler/CheckDefinitionValidityPass.html" title="Symfony\Component\DependencyInjection\Compiler\CheckDefinitionValidityPass"><span class="pre">CheckDefinitionValidityPass</span></a></tt>
checks for various potential issues with the definitions that have been set
in the container. After this and several other passes that check the container&#8217;s
validity, further compiler passes are used to optimize the configuration
before it is cached. For example, private services and abstract services
are removed, and aliases are resolved.</p>
<div class="section" id="managing-configuration-with-extensions">
<span id="components-dependency-injection-extension"></span><h2>Managing Configuration with Extensions<a class="headerlink" href="#managing-configuration-with-extensions" title="Permalink to this headline">¶</a></h2>
<p>As well as loading configuration directly into the container as shown in
<a class="reference internal" href="introduction.html"><em>The Dependency Injection Component</em></a>, you can manage it by
registering extensions with the container. The first step in the compilation
process is to load configuration from any extension classes registered with
the container. Unlike the configuration loaded directly, they are only processed
when the container is compiled. If your application is modular then extensions
allow each module to register and manage their own service configuration.</p>
<p>The extensions must implement <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DependencyInjection/Extension/ExtensionInterface.html" title="Symfony\Component\DependencyInjection\Extension\ExtensionInterface"><span class="pre">ExtensionInterface</span></a></tt>
and can be registered with the container with:</p>
<div class="highlight-python"><pre>$container-&gt;registerExtension($extension);</pre>
</div>
<p>The main work of the extension is done in the <tt class="docutils literal"><span class="pre">load</span></tt> method. In the load method
you can load configuration from one or more configuration files as well as
manipulate the container definitions using the methods shown in <a class="reference internal" href="definitions.html"><em>Working with Container Service Definitions</em></a>.</p>
<p>The <tt class="docutils literal"><span class="pre">load</span></tt> method is passed a fresh container to set up, which is then
merged afterwards into the container it is registered with. This allows you
to have several extensions managing container definitions independently.
The extensions do not add to the containers configuration when they are added
but are processed when the container&#8217;s <tt class="docutils literal"><span class="pre">compile</span></tt> method is called.</p>
<p>A very simple extension may just load configuration files into the container:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Loader\XmlFileLoader;
use Symfony\Component\DependencyInjection\Extension\ExtensionInterface;
use Symfony\Component\Config\FileLocator;

class AcmeDemoExtension implements ExtensionInterface
{
    public function load(array $configs, ContainerBuilder $container)
    {
        $loader = new XmlFileLoader(
            $container,
            new FileLocator(__DIR__.'/../Resources/config')
        );
        $loader-&gt;load('services.xml');
    }

    // ...
}</pre>
</div>
<p>This does not gain very much compared to loading the file directly into the
overall container being built. It just allows the files to be split up amongst
the modules/bundles. Being able to affect the configuration of a module from
configuration files outside of the module/bundle is needed to make a complex
application configurable. This can be done by specifying sections of config files
loaded directly into the container as being for a particular extension. These
sections on the config will not be processed directly by the container but by the
relevant Extension.</p>
<p>The Extension must specify a <tt class="docutils literal"><span class="pre">getAlias</span></tt> method to implement the interface:</p>
<div class="highlight-python"><pre>// ...

class AcmeDemoExtension implements ExtensionInterface
{
    // ...

    public function getAlias()
    {
        return 'acme_demo';
    }
}</pre>
</div>
<p>For YAML configuration files specifying the alias for the Extension as a key
will mean that those values are passed to the Extension&#8217;s <tt class="docutils literal"><span class="pre">load</span></tt> method:</p>
<div class="highlight-yaml"><div class="highlight"><pre><span class="c1"># ...</span>
<span class="l-Scalar-Plain">acme_demo</span><span class="p-Indicator">:</span>
    <span class="l-Scalar-Plain">foo</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">fooValue</span>
    <span class="l-Scalar-Plain">bar</span><span class="p-Indicator">:</span> <span class="l-Scalar-Plain">barValue</span>
</pre></div>
</div>
<p>If this file is loaded into the configuration then the values in it are only
processed when the container is compiled at which point the Extensions are loaded:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\Config\FileLocator;
use Symfony\Component\DependencyInjection\Loader\YamlFileLoader;

$container = new ContainerBuilder();
$container-&gt;registerExtension(new AcmeDemoExtension);

$loader = new YamlFileLoader($container, new FileLocator(__DIR__));
$loader-&gt;load('config.yml');

// ...
$container-&gt;compile();</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">When loading a config file that uses an extension alias as a key, the
extension must already have been registered with the container builder
or an exception will be thrown.</p>
</div>
<p>The values from those sections of the config files are passed into the first
argument of the <tt class="docutils literal"><span class="pre">load</span></tt> method of the extension:</p>
<div class="highlight-python"><pre>public function load(array $configs, ContainerBuilder $container)
{
    $foo = $configs[0]['foo']; //fooValue
    $bar = $configs[0]['bar']; //barValue
}</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">$configs</span></tt> argument is an array containing each different config file
that was loaded into the container. You are only loading a single config file
in the above example but it will still be within an array. The array will look
like this:</p>
<div class="highlight-python"><pre>array(
    array(
        'foo' =&gt; 'fooValue',
        'bar' =&gt; 'barValue',
    ),
)</pre>
</div>
<p>Whilst you can manually manage merging the different files, it is much better
to use <a class="reference internal" href="../config/introduction.html"><em>the Config Component</em></a> to merge
and validate the config values. Using the configuration processing you could
access the config value this way:</p>
<div class="highlight-python"><pre>use Symfony\Component\Config\Definition\Processor;
// ...

public function load(array $configs, ContainerBuilder $container)
{
    $configuration = new Configuration();
    $processor = new Processor();
    $config = $processor-&gt;processConfiguration($configuration, $configs);

    $foo = $config['foo']; //fooValue
    $bar = $config['bar']; //barValue

    // ...
}</pre>
</div>
<p>There are a further two methods you must implement. One to return the XML
namespace so that the relevant parts of an XML config file are passed to
the extension. The other to specify the base path to XSD files to validate
the XML configuration:</p>
<div class="highlight-python"><pre>public function getXsdValidationBasePath()
{
    return __DIR__.'/../Resources/config/';
}

public function getNamespace()
{
    return 'http://www.example.com/symfony/schema/';
}</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">XSD validation is optional, returning <tt class="docutils literal"><span class="pre">false</span></tt> from the <tt class="docutils literal"><span class="pre">getXsdValidationBasePath</span></tt>
method will disable it.</p>
</div>
<p>The XML version of the config would then look like this:</p>
<div class="highlight-xml"><div class="highlight"><pre><span class="cp">&lt;?xml version=&quot;1.0&quot; ?&gt;</span>
<span class="nt">&lt;container</span> <span class="na">xmlns=</span><span class="s">&quot;http://symfony.com/schema/dic/services&quot;</span>
    <span class="na">xmlns:xsi=</span><span class="s">&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span>
    <span class="na">xmlns:acme_demo=</span><span class="s">&quot;http://www.example.com/symfony/schema/&quot;</span>
    <span class="na">xsi:schemaLocation=</span><span class="s">&quot;http://www.example.com/symfony/schema/ http://www.example.com/symfony/schema/hello-1.0.xsd&quot;</span><span class="nt">&gt;</span>

    <span class="nt">&lt;acme_demo:config&gt;</span>
        <span class="nt">&lt;acme_demo:foo&gt;</span>fooValue<span class="nt">&lt;/acme_hello:foo&gt;</span>
        <span class="nt">&lt;acme_demo:bar&gt;</span>barValue<span class="nt">&lt;/acme_demo:bar&gt;</span>
    <span class="nt">&lt;/acme_demo:config&gt;</span>

<span class="nt">&lt;/container&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In the Symfony2 full stack framework there is a base Extension class which
implements these methods as well as a shortcut method for processing the
configuration. See <a class="reference internal" href="../../cookbook/bundles/extension.html"><em>How to expose a Semantic Configuration for a Bundle</em></a> for more details.</p>
</div>
<p>The processed config value can now be added as container parameters as if it were
listed in a <tt class="docutils literal"><span class="pre">parameters</span></tt> section of the config file but with the additional
benefit of merging multiple files and validation of the configuration:</p>
<div class="highlight-python"><pre>public function load(array $configs, ContainerBuilder $container)
{
    $configuration = new Configuration();
    $processor = new Processor();
    $config = $processor-&gt;processConfiguration($configuration, $configs);

    $container-&gt;setParameter('acme_demo.FOO', $config['foo']);

    // ...
}</pre>
</div>
<p>More complex configuration requirements can be catered for in the Extension
classes. For example, you may choose to load a main service configuration file
but also load a secondary one only if a certain parameter is set:</p>
<div class="highlight-python"><pre>public function load(array $configs, ContainerBuilder $container)
{
    $configuration = new Configuration();
    $processor = new Processor();
    $config = $processor-&gt;processConfiguration($configuration, $configs);

    $loader = new XmlFileLoader(
        $container,
        new FileLocator(__DIR__.'/../Resources/config')
    );
    $loader-&gt;load('services.xml');

    if ($config['advanced']) {
        $loader-&gt;load('advanced.xml');
    }
}</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>Just registering an extension with the container is not enough to get
it included in the processed extensions when the container is compiled.
Loading config which uses the extension&#8217;s alias as a key as in the above
examples will ensure it is loaded. The container builder can also be
told to load it with its
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DependencyInjection/ContainerBuilder.html#method_loadFromExtension" title="Symfony\Component\DependencyInjection\ContainerBuilder::loadFromExtension()"><span class="pre">loadFromExtension()</span></a></tt>
method:</p>
<div class="last highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;

$container = new ContainerBuilder();
$extension = new AcmeDemoExtension();
$container-&gt;registerExtension($extension);
$container-&gt;loadFromExtension($extension-&gt;getAlias());
$container-&gt;compile();</pre>
</div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you need to manipulate the configuration loaded by an extension then
you cannot do it from another extension as it uses a fresh container.
You should instead use a compiler pass which works with the full container
after the extensions have been processed.</p>
</div>
</div>
<div class="section" id="prepending-configuration-passed-to-the-extension">
<span id="components-dependency-injection-compiler-passes"></span><h2>Prepending Configuration passed to the Extension<a class="headerlink" href="#prepending-configuration-passed-to-the-extension" title="Permalink to this headline">¶</a></h2>
<p class="versionadded">
<span class="versionmodified">New in version 2.2: </span>The ability to prepend the configuration of a bundle is new in Symfony 2.2.</p>
<p>An Extension can prepend the configuration of any Bundle before the <tt class="docutils literal"><span class="pre">load()</span></tt>
method is called by implementing <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DependencyInjection/Extension/PrependExtensionInterface.html" title="Symfony\Component\DependencyInjection\Extension\PrependExtensionInterface"><span class="pre">PrependExtensionInterface</span></a></tt>:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\Extension\PrependExtensionInterface;
// ...

class AcmeDemoExtension implements ExtensionInterface, PrependExtensionInterface
{
    // ...

    public function prepend()
    {
        // ...

        $container-&gt;prependExtensionConfig($name, $config);

        // ...
    }
}</pre>
</div>
<p>For more details, see <a class="reference internal" href="../../cookbook/bundles/prepend_extension.html"><em>How to simplify configuration of multiple Bundles</em></a>, which is
specific to the Symfony2 Framework, but contains more details about this feature.</p>
</div>
<div class="section" id="creating-a-compiler-pass">
<h2>Creating a Compiler Pass<a class="headerlink" href="#creating-a-compiler-pass" title="Permalink to this headline">¶</a></h2>
<p>You can also create and register your own compiler passes with the container.
To create a compiler pass it needs to implement the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DependencyInjection/Compiler/CompilerPassInterface.html" title="Symfony\Component\DependencyInjection\Compiler\CompilerPassInterface"><span class="pre">CompilerPassInterface</span></a></tt>
interface. The compiler pass gives you an opportunity to manipulate the service
definitions that have been compiled. This can be very powerful, but is not
something needed in everyday use.</p>
<p>The compiler pass must have the <tt class="docutils literal"><span class="pre">process</span></tt> method which is passed the container
being compiled:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\Compiler\CompilerPassInterface;
use Symfony\Component\DependencyInjection\ContainerBuilder;

class CustomCompilerPass implements CompilerPassInterface
{
    public function process(ContainerBuilder $container)
    {
       // ...
    }
}</pre>
</div>
<p>The container&#8217;s parameters and definitions can be manipulated using the
methods described in the <a class="reference internal" href="definitions.html"><em>Working with Container Service Definitions</em></a>.
One common thing to do in a compiler pass is to search for all services that
have a certain tag in order to process them in some way or dynamically plug
each into some other service.</p>
</div>
<div class="section" id="registering-a-compiler-pass">
<h2>Registering a Compiler Pass<a class="headerlink" href="#registering-a-compiler-pass" title="Permalink to this headline">¶</a></h2>
<p>You need to register your custom pass with the container. Its process method
will then be called when the container is compiled:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;

$container = new ContainerBuilder();
$container-&gt;addCompilerPass(new CustomCompilerPass);</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Compiler passes are registered differently if you are using the full
stack framework, see <a class="reference internal" href="../../cookbook/service_container/compiler_passes.html"><em>How to work with Compiler Passes in Bundles</em></a>
for more details.</p>
</div>
<div class="section" id="controlling-the-pass-ordering">
<h3>Controlling the Pass Ordering<a class="headerlink" href="#controlling-the-pass-ordering" title="Permalink to this headline">¶</a></h3>
<p>The default compiler passes are grouped into optimization passes and removal
passes. The optimization passes run first and include tasks such as resolving
references within the definitions. The removal passes perform tasks such as removing
private aliases and unused services. You can choose where in the order any custom
passes you add are run. By default they will be run before the optimization passes.</p>
<p>You can use the following constants as the second argument when registering
a pass with the container to control where it goes in the order:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">PassConfig::TYPE_BEFORE_OPTIMIZATION</span></tt></li>
<li><tt class="docutils literal"><span class="pre">PassConfig::TYPE_OPTIMIZE</span></tt></li>
<li><tt class="docutils literal"><span class="pre">PassConfig::TYPE_BEFORE_REMOVING</span></tt></li>
<li><tt class="docutils literal"><span class="pre">PassConfig::TYPE_REMOVE</span></tt></li>
<li><tt class="docutils literal"><span class="pre">PassConfig::TYPE_AFTER_REMOVING</span></tt></li>
</ul>
<p>For example, to run your custom pass after the default removal passes have been run:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Compiler\PassConfig;

$container = new ContainerBuilder();
$container-&gt;addCompilerPass(
    new CustomCompilerPass,
    PassConfig::TYPE_AFTER_REMOVING
);</pre>
</div>
</div>
</div>
<div class="section" id="dumping-the-configuration-for-performance">
<span id="components-dependency-injection-dumping"></span><h2>Dumping the Configuration for Performance<a class="headerlink" href="#dumping-the-configuration-for-performance" title="Permalink to this headline">¶</a></h2>
<p>Using configuration files to manage the service container can be much easier
to understand than using PHP once there are a lot of services. This ease comes
at a price though when it comes to performance as the config files need to be
parsed and the PHP configuration built from them. The compilation process makes
the container more efficient but it takes time to run. You can have the best of both
worlds though by using configuration files and then dumping and caching the resulting
configuration. The <tt class="docutils literal"><span class="pre">PhpDumper</span></tt> makes dumping the compiled container easy:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Dumper\PhpDumper;

$file = __DIR__ .'/cache/container.php';

if (file_exists($file)) {
    require_once $file;
    $container = new ProjectServiceContainer();
} else {
    $container = new ContainerBuilder();
    // ...
    $container-&gt;compile();

    $dumper = new PhpDumper($container);
    file_put_contents($file, $dumper-&gt;dump());
}</pre>
</div>
<p><tt class="docutils literal"><span class="pre">ProjectServiceContainer</span></tt> is the default name given to the dumped container
class, you can change this though this with the <tt class="docutils literal"><span class="pre">class</span></tt> option when you dump
it:</p>
<div class="highlight-python"><pre>// ...
$file = __DIR__ .'/cache/container.php';

if (file_exists($file)) {
    require_once $file;
    $container = new MyCachedContainer();
} else {
    $container = new ContainerBuilder();
    // ...
    $container-&gt;compile();

    $dumper = new PhpDumper($container);
    file_put_contents(
        $file,
        $dumper-&gt;dump(array('class' =&gt; 'MyCachedContainer'))
    );
}</pre>
</div>
<p>You will now get the speed of the PHP configured container with the ease of using
configuration files. Additionally dumping the container in this way further optimizes
how the services are created by the container.</p>
<p>In the above example you will need to delete the cached container file whenever
you make any changes. Adding a check for a variable that determines if you are
in debug mode allows you to keep the speed of the cached container in production
but getting an up to date configuration whilst developing your application:</p>
<div class="highlight-python"><pre>// ...

// based on something in your project
$isDebug = ...;

$file = __DIR__ .'/cache/container.php';

if (!$isDebug &amp;&amp; file_exists($file)) {
    require_once $file;
    $container = new MyCachedContainer();
} else {
    $container = new ContainerBuilder();
    // ...
    $container-&gt;compile();

    if (!$isDebug) {
        $dumper = new PhpDumper($container);
        file_put_contents(
            $file,
            $dumper-&gt;dump(array('class' =&gt; 'MyCachedContainer'))
        );
    }
}</pre>
</div>
<p>This could be further improved by only recompiling the container in debug
mode when changes have been made to its configuration rather than on every
request. This can be done by caching the resource files used to configure
the container in the way described in &#8220;<a class="reference internal" href="../config/caching.html"><em>Caching based on resources</em></a>&#8221;
in the config component documentation.</p>
<p>You do not need to work out which files to cache as the container builder
keeps track of all the resources used to configure it, not just the configuration
files but the extension classes and compiler passes as well. This means that
any changes to any of these files will invalidate the cache and trigger the
container being rebuilt. You just need to ask the container for these resources
and use them as metadata for the cache:</p>
<div class="highlight-python"><pre>// ...

// based on something in your project
$isDebug = ...;

$file = __DIR__ .'/cache/container.php';
$containerConfigCache = new ConfigCache($file, $isDebug);

if (!$containerConfigCache-&gt;isFresh()) {
    $containerBuilder = new ContainerBuilder();
    // ...
    $containerBuilder-&gt;compile();

    $dumper = new PhpDumper($containerBuilder);
    $containerConfigCache-&gt;write(
        $dumper-&gt;dump(array('class' =&gt; 'MyCachedContainer')),
        $containerBuilder-&gt;getResources()
    );
}

require_once $file;
$container = new MyCachedContainer();</pre>
</div>
<p>Now the cached dumped container is used regardless of whether debug mode is on or not.
The difference is that the <tt class="docutils literal"><span class="pre">ConfigCache</span></tt> is set to debug mode with its second
constructor argument. When the cache is not in debug mode the cached container
will always be used if it exists. In debug mode, an additional metadata file
is written with the timestamps of all the resource files. These are then checked
to see if the files have changed, if they have the cache will be considered stale.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">In the full stack framework the compilation and caching of the container
is taken care of for you.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Compiling the Container</a><ul>
<li><a class="reference internal" href="#managing-configuration-with-extensions">Managing Configuration with Extensions</a></li>
<li><a class="reference internal" href="#prepending-configuration-passed-to-the-extension">Prepending Configuration passed to the Extension</a></li>
<li><a class="reference internal" href="#creating-a-compiler-pass">Creating a Compiler Pass</a></li>
<li><a class="reference internal" href="#registering-a-compiler-pass">Registering a Compiler Pass</a><ul>
<li><a class="reference internal" href="#controlling-the-pass-ordering">Controlling the Pass Ordering</a></li>
</ul>
</li>
<li><a class="reference internal" href="#dumping-the-configuration-for-performance">Dumping the Configuration for Performance</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="definitions.html"
                        title="previous chapter">Working with Container Service Definitions</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="tags.html"
                        title="next chapter">Working with Tagged Services</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/dependency_injection/compilation.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="tags.html" title="Working with Tagged Services"
             >next</a> |</li>
        <li class="right" >
          <a href="definitions.html" title="Working with Container Service Definitions"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Dependency Injection</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>