

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Formatter Helper &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="Progress Helper" href="progresshelper.html" />
    <link rel="prev" title="Dialog Helper" href="dialoghelper.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="progresshelper.html" title="Progress Helper"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="dialoghelper.html" title="Dialog Helper"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="formatter-helper">
<span id="index-0"></span><h1>Formatter Helper<a class="headerlink" href="#formatter-helper" title="Permalink to this headline">¶</a></h1>
<p>The Formatter helpers provides functions to format the output with colors.
You can do more advanced things with this helper than you can in
<a class="reference internal" href="../introduction.html#components-console-coloring"><em>Coloring the Output</em></a>.</p>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html" title="Symfony\Component\Console\Helper\FormatterHelper"><span class="pre">FormatterHelper</span></a></tt> is included
in the default helper set, which you can get by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Command/Command.html#method_getHelperSet" title="Symfony\Component\Console\Command\Command::getHelperSet()"><span class="pre">getHelperSet()</span></a></tt>:</p>
<div class="highlight-python"><pre>$formatter = $this-&gt;getHelperSet()-&gt;get('formatter');</pre>
</div>
<p>The methods return a string, which you&#8217;ll usually render to the console by
passing it to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/OutputInterface.html#method_writeln" title="Symfony\Component\Console\Output\OutputInterface::writeln()"><span class="pre">OutputInterface::writeln</span></a></tt> method.</p>
<div class="section" id="print-messages-in-a-section">
<h2>Print Messages in a Section<a class="headerlink" href="#print-messages-in-a-section" title="Permalink to this headline">¶</a></h2>
<p>Symfony offers a defined style when printing a message that belongs to some
&#8220;section&#8221;. It prints the section in color and with brackets around it and the
actual message to the right of this. Minus the color, it looks like this:</p>
<div class="highlight-text"><div class="highlight"><pre>[SomeSection] Here is some message related to that section
</pre></div>
</div>
<p>To reproduce this style, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html#method_formatSection" title="Symfony\Component\Console\Helper\FormatterHelper::formatSection()"><span class="pre">formatSection()</span></a></tt>
method:</p>
<div class="highlight-python"><pre>$formattedLine = $formatter-&gt;formatSection(
    'SomeSection',
    'Here is some message related to that section'
);
$output-&gt;writeln($formattedLine);</pre>
</div>
</div>
<div class="section" id="print-messages-in-a-block">
<h2>Print Messages in a Block<a class="headerlink" href="#print-messages-in-a-block" title="Permalink to this headline">¶</a></h2>
<p>Sometimes you want to be able to print a whole block of text with a background
color. Symfony uses this when printing error messages.</p>
<p>If you print your error message on more than one line manually, you will
notice that the background is only as long as each individual line. Use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html#method_formatBlock" title="Symfony\Component\Console\Helper\FormatterHelper::formatBlock()"><span class="pre">formatBlock()</span></a></tt>
to generate a block output:</p>
<div class="highlight-python"><pre>$errorMessages = array('Error!', 'Something went wrong');
$formattedBlock = $formatter-&gt;formatBlock($errorMessages, 'error');
$output-&gt;writeln($formattedBlock);</pre>
</div>
<p>As you can see, passing an array of messages to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/FormatterHelper.html#method_formatBlock" title="Symfony\Component\Console\Helper\FormatterHelper::formatBlock()"><span class="pre">formatBlock()</span></a></tt>
method creates the desired output. If you pass <tt class="docutils literal"><span class="pre">true</span></tt> as third parameter, the
block will be formatted with more padding (one blank line above and below the
messages and 2 spaces on the left and right).</p>
<p>The exact &#8220;style&#8221; you use in the block is up to you. In this case, you&#8217;re using
the pre-defined <tt class="docutils literal"><span class="pre">error</span></tt> style, but there are other styles, or you can create
your own. See <a class="reference internal" href="../introduction.html#components-console-coloring"><em>Coloring the Output</em></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Formatter Helper</a><ul>
<li><a class="reference internal" href="#print-messages-in-a-section">Print Messages in a Section</a></li>
<li><a class="reference internal" href="#print-messages-in-a-block">Print Messages in a Block</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="dialoghelper.html"
                        title="previous chapter">Dialog Helper</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="progresshelper.html"
                        title="next chapter">Progress Helper</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/formatterhelper.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="progresshelper.html" title="Progress Helper"
             >next</a> |</li>
        <li class="right" >
          <a href="dialoghelper.html" title="Dialog Helper"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>