

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Progress Helper &mdash; Symfony Docs 2.3 documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '2.3',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony Docs 2.3 documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="Table Helper" href="tablehelper.html" />
    <link rel="prev" title="Formatter Helper" href="formatterhelper.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="tablehelper.html" title="Table Helper"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="formatterhelper.html" title="Formatter Helper"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="progress-helper">
<span id="index-0"></span><h1>Progress Helper<a class="headerlink" href="#progress-helper" title="Permalink to this headline">¶</a></h1>
<p class="versionadded">
<span class="versionmodified">New in version 2.2: </span>The <tt class="docutils literal"><span class="pre">progress</span></tt> helper was added in Symfony 2.2.</p>
<p class="versionadded">
<span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">setCurrent</span></tt> method was added in Symfony 2.3.</p>
<p class="versionadded">
<span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><span class="pre">clear</span></tt> method was added in Symfony 2.4.</p>
<p>When executing longer-running commands, it may be helpful to show progress
information, which updates as your command runs:</p>
<img alt="../../../_images/progress.png" src="../../../_images/progress.png" />
<p>To display progress details, use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html" title="Symfony\Component\Console\Helper\ProgressHelper"><span class="pre">ProgressHelper</span></a></tt>,
pass it a total number of units, and advance the progress as your command executes:</p>
<div class="highlight-python"><pre>$progress = $this-&gt;getHelperSet()-&gt;get('progress');

$progress-&gt;start($output, 50);
$i = 0;
while ($i++ &lt; 50) {
    // ... do some work

    // advance the progress bar 1 unit
    $progress-&gt;advance();
}

$progress-&gt;finish();</pre>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">You can also set the current progress by calling the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_setCurrent" title="Symfony\Component\Console\Helper\ProgressHelper::setCurrent()"><span class="pre">setCurrent()</span></a></tt>
method.</p>
</div>
<p>If you want to output something while the progress bar is running,
call <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_clear" title="Symfony\Component\Console\Helper\ProgressHelper::clear()"><span class="pre">clear()</span></a></tt> first.
After you&#8217;re done, call
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_display" title="Symfony\Component\Console\Helper\ProgressHelper::display()"><span class="pre">display()</span></a></tt>
to show the progress bar again.</p>
<p>The appearance of the progress output can be customized as well, with a number
of different levels of verbosity. Each of these displays different possible
items - like percentage completion, a moving progress bar, or current/total
information (e.g. 10/50):</p>
<div class="highlight-python"><pre>$progress-&gt;setFormat(ProgressHelper::FORMAT_QUIET);
$progress-&gt;setFormat(ProgressHelper::FORMAT_NORMAL);
$progress-&gt;setFormat(ProgressHelper::FORMAT_VERBOSE);
$progress-&gt;setFormat(ProgressHelper::FORMAT_QUIET_NOMAX);
// the default value
$progress-&gt;setFormat(ProgressHelper::FORMAT_NORMAL_NOMAX);
$progress-&gt;setFormat(ProgressHelper::FORMAT_VERBOSE_NOMAX);</pre>
</div>
<p>You can also control the different characters and the width used for the
progress bar:</p>
<div class="highlight-python"><pre>// the finished part of the bar
$progress-&gt;setBarCharacter('&lt;comment&gt;=&lt;/comment&gt;');
// the unfinished part of the bar
$progress-&gt;setEmptyBarCharacter(' ');
$progress-&gt;setProgressCharacter('|');
$progress-&gt;setBarWidth(50);</pre>
</div>
<p>To see other available options, check the API documentation for
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html" title="Symfony\Component\Console\Helper\ProgressHelper"><span class="pre">ProgressHelper</span></a></tt>.</p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p>For performance reasons, be careful if you set the total number of steps
to a high number. For example, if you&#8217;re iterating over a large number of
items, consider setting the redraw frequency to a higher value by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_setRedrawFrequency" title="Symfony\Component\Console\Helper\ProgressHelper::setRedrawFrequency()"><span class="pre">setRedrawFrequency()</span></a></tt>,
so it updates on only some iterations:</p>
<div class="last highlight-python"><pre>$progress-&gt;start($output, 50000);

// update every 100 iterations
$progress-&gt;setRedrawFrequency(100);

$i = 0;
while ($i++ &lt; 50000) {
    // ... do some work

    $progress-&gt;advance();
}</pre>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="formatterhelper.html"
                        title="previous chapter">Formatter Helper</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="tablehelper.html"
                        title="next chapter">Table Helper</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/progresshelper.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="tablehelper.html" title="Table Helper"
             >next</a> |</li>
        <li class="right" >
          <a href="formatterhelper.html" title="Formatter Helper"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony Docs 2.3 documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2013, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>