<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The CssSelector Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="Debug" href="debug/index.html" />
    <link rel="prev" title="Table Helper" href="console/helpers/tablehelper.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="debug/index.html" title="Debug"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="console/helpers/tablehelper.html" title="Table Helper"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-cssselector-component">
<span id="index-0"></span><h1>The CssSelector Component<a class="headerlink" href="#the-cssselector-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The CssSelector component converts CSS selectors to XPath expressions.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/css-selector</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/css-selector">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/CssSelector">https://github.com/symfony/CssSelector</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<div class="section" id="why-to-use-css-selectors">
<h3>Why to Use CSS selectors?<a class="headerlink" href="#why-to-use-css-selectors" title="Permalink to this headline">¶</a></h3>
<p>When you&#8217;re parsing an HTML or an XML document, by far the most powerful
method is XPath.</p>
<p>XPath expressions are incredibly flexible, so there is almost always an
XPath expression that will find the element you need. Unfortunately, they
can also become very complicated, and the learning curve is steep. Even common
operations (such as finding an element with a particular class) can require
long and unwieldy expressions.</p>
<p>Many developers &#8211; particularly web developers &#8211; are more comfortable
using CSS selectors to find elements. As well as working in stylesheets,
CSS selectors are used in JavaScript with the <tt class="docutils literal"><span class="pre">querySelectorAll</span></tt> function
and in popular JavaScript libraries such as jQuery, Prototype and MooTools.</p>
<p>CSS selectors are less powerful than XPath, but far easier to write, read
and understand. Since they are less powerful, almost all CSS selectors can
be converted to an XPath equivalent. This XPath expression can then be used
with other functions and classes that use XPath to find elements in a
document.</p>
</div>
<div class="section" id="id1">
<h3>The CssSelector Component<a class="headerlink" href="#id1" title="Permalink to this headline">¶</a></h3>
<p>The component&#8217;s only goal is to convert CSS selectors to their XPath
equivalents:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\CssSelector\CssSelector</span><span class="p">;</span>

<span class="k">print</span> <span class="nx">CssSelector</span><span class="o">::</span><span class="na">toXPath</span><span class="p">(</span><span class="s1">&#39;div.item &gt; h4 &gt; a&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>This gives the following output:</p>
<div class="highlight-text"><div class="highlight"><pre>descendant-or-self::div[@class and contains(concat(&#39; &#39;,normalize-space(@class), &#39; &#39;), &#39; item &#39;)]/h4/a
</pre></div>
</div>
<p>You can use this expression with, for instance, <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.domxpath.php" title="DOMXPath"><span class="pre">DOMXPath</span></a></tt> or
<tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.simplexmlelement.php" title="SimpleXMLElement"><span class="pre">SimpleXMLElement</span></a></tt> to find elements in a document.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/DomCrawler/Crawler.html#method_filter" title="Symfony\Component\DomCrawler\Crawler::filter()"><span class="pre">Crawler::filter()</span></a></tt> method
uses the CssSelector component to find elements based on a CSS selector
string. See the <a class="reference internal" href="dom_crawler.html"><em>The DomCrawler Component</em></a> for more details.</p>
</div>
</div>
<div class="section" id="limitations-of-the-cssselector-component">
<h3>Limitations of the CssSelector Component<a class="headerlink" href="#limitations-of-the-cssselector-component" title="Permalink to this headline">¶</a></h3>
<p>Not all CSS selectors can be converted to XPath equivalents.</p>
<p>There are several CSS selectors that only make sense in the context of a
web-browser.</p>
<ul class="simple">
<li>link-state selectors: <tt class="docutils literal"><span class="pre">:link</span></tt>, <tt class="docutils literal"><span class="pre">:visited</span></tt>, <tt class="docutils literal"><span class="pre">:target</span></tt></li>
<li>selectors based on user action: <tt class="docutils literal"><span class="pre">:hover</span></tt>, <tt class="docutils literal"><span class="pre">:focus</span></tt>, <tt class="docutils literal"><span class="pre">:active</span></tt></li>
<li>UI-state selectors: <tt class="docutils literal"><span class="pre">:invalid</span></tt>, <tt class="docutils literal"><span class="pre">:indeterminate</span></tt> (however, <tt class="docutils literal"><span class="pre">:enabled</span></tt>,
<tt class="docutils literal"><span class="pre">:disabled</span></tt>, <tt class="docutils literal"><span class="pre">:checked</span></tt> and <tt class="docutils literal"><span class="pre">:unchecked</span></tt> are available)</li>
</ul>
<p>Pseudo-elements (<tt class="docutils literal"><span class="pre">:before</span></tt>, <tt class="docutils literal"><span class="pre">:after</span></tt>, <tt class="docutils literal"><span class="pre">:first-line</span></tt>,
<tt class="docutils literal"><span class="pre">:first-letter</span></tt>) are not supported because they select portions of text
rather than elements.</p>
<p>Several pseudo-classes are not yet supported:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">*:first-of-type</span></tt>, <tt class="docutils literal"><span class="pre">*:last-of-type</span></tt>, <tt class="docutils literal"><span class="pre">*:nth-of-type</span></tt>,
<tt class="docutils literal"><span class="pre">*:nth-last-of-type</span></tt>, <tt class="docutils literal"><span class="pre">*:only-of-type</span></tt>. (These work with an element
name (e.g. <tt class="docutils literal"><span class="pre">li:first-of-type</span></tt>) but not with <tt class="docutils literal"><span class="pre">*</span></tt>.</li>
</ul>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The CssSelector Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a><ul>
<li><a class="reference internal" href="#why-to-use-css-selectors">Why to Use CSS selectors?</a></li>
<li><a class="reference internal" href="#id1">The CssSelector Component</a></li>
<li><a class="reference internal" href="#limitations-of-the-cssselector-component">Limitations of the CssSelector Component</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="console/helpers/tablehelper.html"
                        title="previous chapter">Table Helper</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="debug/index.html"
                        title="next chapter">Debug</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/css_selector.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="debug/index.html" title="Debug"
             >next</a> |</li>
        <li class="right" >
          <a href="console/helpers/tablehelper.html" title="Table Helper"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>