<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Filesystem Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The Finder Component" href="finder.html" />
    <link rel="prev" title="Caching Expressions Using Parser Caches" href="expression_language/caching.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="finder.html" title="The Finder Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="expression_language/caching.html" title="Caching Expressions Using Parser Caches"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-filesystem-component">
<span id="index-0"></span><h1>The Filesystem Component<a class="headerlink" href="#the-filesystem-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Filesystem component provides basic utilities for the filesystem.</div></blockquote>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.1: </span>The Filesystem component was introduced in Symfony 2.1. Previously, the
<tt class="docutils literal"><span class="pre">Filesystem</span></tt> class was located in the HttpKernel component.</p>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/filesystem</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/filesystem">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Filesystem">https://github.com/symfony/Filesystem</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html" title="Symfony\Component\Filesystem\Filesystem"><span class="pre">Filesystem</span></a></tt> class is the unique
endpoint for filesystem operations:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Filesystem\Filesystem</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Filesystem\Exception\IOExceptionInterface</span><span class="p">;</span>

<span class="nv">$fs</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Filesystem</span><span class="p">();</span>

<span class="k">try</span> <span class="p">{</span>
    <span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">mkdir</span><span class="p">(</span><span class="s1">&#39;/tmp/random/dir/&#39;</span> <span class="o">.</span> <span class="nx">mt_rand</span><span class="p">());</span>
<span class="p">}</span> <span class="k">catch</span> <span class="p">(</span><span class="nx">IOExceptionInterface</span> <span class="nv">$e</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">echo</span> <span class="s2">&quot;An error occurred while creating your directory at &quot;</span><span class="o">.</span><span class="nv">$e</span><span class="o">-&gt;</span><span class="na">getPath</span><span class="p">();</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><span class="pre">IOExceptionInterface</span></tt> and its <tt class="docutils literal"><span class="pre">getPath</span></tt> method were introduced in
Symfony 2.4. Prior to 2.4, you would catch the <tt class="docutils literal"><span class="pre">IOException</span></tt> class.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Methods <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_mkdir" title="Symfony\Component\Filesystem\Filesystem::mkdir()"><span class="pre">mkdir()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_exists" title="Symfony\Component\Filesystem\Filesystem::exists()"><span class="pre">exists()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_touch" title="Symfony\Component\Filesystem\Filesystem::touch()"><span class="pre">touch()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_remove" title="Symfony\Component\Filesystem\Filesystem::remove()"><span class="pre">remove()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chmod" title="Symfony\Component\Filesystem\Filesystem::chmod()"><span class="pre">chmod()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chown" title="Symfony\Component\Filesystem\Filesystem::chown()"><span class="pre">chown()</span></a></tt> and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chgrp" title="Symfony\Component\Filesystem\Filesystem::chgrp()"><span class="pre">chgrp()</span></a></tt> can receive a
string, an array or any object implementing <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> as
the target argument.</p>
</div>
<div class="section" id="mkdir">
<h3>Mkdir<a class="headerlink" href="#mkdir" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_mkdir" title="Symfony\Component\Filesystem\Filesystem::mkdir()"><span class="pre">mkdir()</span></a></tt> creates a directory.
On posix filesystems, directories are created with a default mode value
<cite>0777</cite>. You can use the second argument to set your own mode:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">mkdir</span><span class="p">(</span><span class="s1">&#39;/tmp/photos&#39;</span><span class="p">,</span> <span class="mo">0700</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="exists">
<h3>Exists<a class="headerlink" href="#exists" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_exists" title="Symfony\Component\Filesystem\Filesystem::exists()"><span class="pre">exists()</span></a></tt> checks for the
presence of all files or directories and returns <tt class="docutils literal"><span class="pre">false</span></tt> if a file is missing:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// this directory exists, return true</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">exists</span><span class="p">(</span><span class="s1">&#39;/tmp/photos&#39;</span><span class="p">);</span>

<span class="c1">// rabbit.jpg exists, bottle.png does not exists, return false</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">exists</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;rabbit.jpg&#39;</span><span class="p">,</span> <span class="s1">&#39;bottle.png&#39;</span><span class="p">));</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="copy">
<h3>Copy<a class="headerlink" href="#copy" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_copy" title="Symfony\Component\Filesystem\Filesystem::copy()"><span class="pre">copy()</span></a></tt> is used to copy
files. If the target already exists, the file is copied only if the source
modification date is later than the target. This behavior can be overridden by
the third boolean argument:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// works only if image-ICC has been modified after image.jpg</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">copy</span><span class="p">(</span><span class="s1">&#39;image-ICC.jpg&#39;</span><span class="p">,</span> <span class="s1">&#39;image.jpg&#39;</span><span class="p">);</span>

<span class="c1">// image.jpg will be overridden</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">copy</span><span class="p">(</span><span class="s1">&#39;image-ICC.jpg&#39;</span><span class="p">,</span> <span class="s1">&#39;image.jpg&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="touch">
<h3>Touch<a class="headerlink" href="#touch" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_touch" title="Symfony\Component\Filesystem\Filesystem::touch()"><span class="pre">touch()</span></a></tt> sets access and
modification time for a file. The current time is used by default. You can set
your own with the second argument. The third argument is the access time:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// set modification time to the current timestamp</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">touch</span><span class="p">(</span><span class="s1">&#39;file.txt&#39;</span><span class="p">);</span>
<span class="c1">// set modification time 10 seconds in the future</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">touch</span><span class="p">(</span><span class="s1">&#39;file.txt&#39;</span><span class="p">,</span> <span class="nb">time</span><span class="p">()</span> <span class="o">+</span> <span class="mi">10</span><span class="p">);</span>
<span class="c1">// set access time 10 seconds in the past</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">touch</span><span class="p">(</span><span class="s1">&#39;file.txt&#39;</span><span class="p">,</span> <span class="nb">time</span><span class="p">(),</span> <span class="nb">time</span><span class="p">()</span> <span class="o">-</span> <span class="mi">10</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="chown">
<h3>Chown<a class="headerlink" href="#chown" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chown" title="Symfony\Component\Filesystem\Filesystem::chown()"><span class="pre">chown()</span></a></tt> is used to change
the owner of a file. The third argument is a boolean recursive option:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// set the owner of the lolcat video to www-data</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">chown</span><span class="p">(</span><span class="s1">&#39;lolcat.mp4&#39;</span><span class="p">,</span> <span class="s1">&#39;www-data&#39;</span><span class="p">);</span>
<span class="c1">// change the owner of the video directory recursively</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">chown</span><span class="p">(</span><span class="s1">&#39;/video&#39;</span><span class="p">,</span> <span class="s1">&#39;www-data&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="chgrp">
<h3>Chgrp<a class="headerlink" href="#chgrp" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chgrp" title="Symfony\Component\Filesystem\Filesystem::chgrp()"><span class="pre">chgrp()</span></a></tt> is used to change
the group of a file. The third argument is a boolean recursive option:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// set the group of the lolcat video to nginx</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">chgrp</span><span class="p">(</span><span class="s1">&#39;lolcat.mp4&#39;</span><span class="p">,</span> <span class="s1">&#39;nginx&#39;</span><span class="p">);</span>
<span class="c1">// change the group of the video directory recursively</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">chgrp</span><span class="p">(</span><span class="s1">&#39;/video&#39;</span><span class="p">,</span> <span class="s1">&#39;nginx&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="chmod">
<h3>Chmod<a class="headerlink" href="#chmod" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_chmod" title="Symfony\Component\Filesystem\Filesystem::chmod()"><span class="pre">chmod()</span></a></tt> is used to change
the mode of a file. The fourth argument is a boolean recursive option:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// set the mode of the video to 0600</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">chmod</span><span class="p">(</span><span class="s1">&#39;video.ogg&#39;</span><span class="p">,</span> <span class="mo">0600</span><span class="p">);</span>
<span class="c1">// change the mod of the src directory recursively</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">chmod</span><span class="p">(</span><span class="s1">&#39;src&#39;</span><span class="p">,</span> <span class="mo">0700</span><span class="p">,</span> <span class="mo">0000</span><span class="p">,</span> <span class="k">true</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="remove">
<h3>Remove<a class="headerlink" href="#remove" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_remove" title="Symfony\Component\Filesystem\Filesystem::remove()"><span class="pre">remove()</span></a></tt> is used to remove
files, symlinks, directories easily:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">remove</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;symlink&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/directory&#39;</span><span class="p">,</span> <span class="s1">&#39;activity.log&#39;</span><span class="p">));</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">You can pass an array or any <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.traversable.php" title="Traversable"><span class="pre">Traversable</span></a></tt> object as the first
argument.</p>
</div>
</div>
<div class="section" id="rename">
<h3>Rename<a class="headerlink" href="#rename" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_rename" title="Symfony\Component\Filesystem\Filesystem::rename()"><span class="pre">rename()</span></a></tt> is used to rename
files and directories:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// rename a file</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">rename</span><span class="p">(</span><span class="s1">&#39;/tmp/processed_video.ogg&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/store/video_647.ogg&#39;</span><span class="p">);</span>
<span class="c1">// rename a directory</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">rename</span><span class="p">(</span><span class="s1">&#39;/tmp/files&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/store/files&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="symlink">
<h3>symlink<a class="headerlink" href="#symlink" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_symlink" title="Symfony\Component\Filesystem\Filesystem::symlink()"><span class="pre">symlink()</span></a></tt> creates a
symbolic link from the target to the destination. If the filesystem does not
support symbolic links, a third boolean argument is available:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// create a symbolic link</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">symlink</span><span class="p">(</span><span class="s1">&#39;/path/to/source&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/destination&#39;</span><span class="p">);</span>
<span class="c1">// duplicate the source directory if the filesystem</span>
<span class="c1">// does not support symbolic links</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">symlink</span><span class="p">(</span><span class="s1">&#39;/path/to/source&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/destination&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="makepathrelative">
<h3>makePathRelative<a class="headerlink" href="#makepathrelative" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_makePathRelative" title="Symfony\Component\Filesystem\Filesystem::makePathRelative()"><span class="pre">makePathRelative()</span></a></tt> returns
the relative path of a directory given another one:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// returns &#39;../&#39;</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">makePathRelative</span><span class="p">(</span>
    <span class="s1">&#39;/var/lib/symfony/src/Symfony/&#39;</span><span class="p">,</span>
    <span class="s1">&#39;/var/lib/symfony/src/Symfony/Component&#39;</span>
<span class="p">);</span>
<span class="c1">// returns &#39;videos&#39;</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">makePathRelative</span><span class="p">(</span><span class="s1">&#39;/tmp/videos&#39;</span><span class="p">,</span> <span class="s1">&#39;/tmp&#39;</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="mirror">
<h3>mirror<a class="headerlink" href="#mirror" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_mirror" title="Symfony\Component\Filesystem\Filesystem::mirror()"><span class="pre">mirror()</span></a></tt> mirrors a
directory:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">mirror</span><span class="p">(</span><span class="s1">&#39;/path/to/source&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/target&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="isabsolutepath">
<h3>isAbsolutePath<a class="headerlink" href="#isabsolutepath" title="Permalink to this headline">¶</a></h3>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_isAbsolutePath" title="Symfony\Component\Filesystem\Filesystem::isAbsolutePath()"><span class="pre">isAbsolutePath()</span></a></tt> returns
<tt class="docutils literal"><span class="pre">true</span></tt> if the given path is absolute, <tt class="docutils literal"><span class="pre">false</span></tt> otherwise:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// return true</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">isAbsolutePath</span><span class="p">(</span><span class="s1">&#39;/tmp&#39;</span><span class="p">);</span>
<span class="c1">// return true</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">isAbsolutePath</span><span class="p">(</span><span class="s1">&#39;c:\\Windows&#39;</span><span class="p">);</span>
<span class="c1">// return false</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">isAbsolutePath</span><span class="p">(</span><span class="s1">&#39;tmp&#39;</span><span class="p">);</span>
<span class="c1">// return false</span>
<span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">isAbsolutePath</span><span class="p">(</span><span class="s1">&#39;../dir&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="dumpfile">
<h3>dumpFile<a class="headerlink" href="#dumpfile" title="Permalink to this headline">¶</a></h3>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">dumpFile()</span></tt> was introduced in Symfony 2.3.</p>
</div>
<p><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Filesystem.html#method_dumpFile" title="Symfony\Component\Filesystem\Filesystem::dumpFile()"><span class="pre">dumpFile()</span></a></tt> allows you to
dump contents to a file. It does this in an atomic manner: it writes a temporary
file first and then moves it to the new file location when it&#8217;s finished.
This means that the user will always see either the complete old file or
complete new file (but never a partially-written file):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$fs</span><span class="o">-&gt;</span><span class="na">dumpFile</span><span class="p">(</span><span class="s1">&#39;file.txt&#39;</span><span class="p">,</span> <span class="s1">&#39;Hello World&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><span class="pre">file.txt</span></tt> file contains <tt class="docutils literal"><span class="pre">Hello</span> <span class="pre">World</span></tt> now.</p>
<p>A desired file mode can be passed as the third argument.</p>
</div>
</div>
<div class="section" id="error-handling">
<h2>Error Handling<a class="headerlink" href="#error-handling" title="Permalink to this headline">¶</a></h2>
<p>Whenever something wrong happens, an exception implementing
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Exception/ExceptionInterface.html" title="Symfony\Component\Filesystem\Exception\ExceptionInterface"><span class="pre">ExceptionInterface</span></a></tt> or
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Exception/IOExceptionInterface.html" title="Symfony\Component\Filesystem\Exception\IOExceptionInterface"><span class="pre">IOExceptionInterface</span></a></tt> is thrown.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">An <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Filesystem/Exception/IOException.html" title="Symfony\Component\Filesystem\Exception\IOException"><span class="pre">IOException</span></a></tt> is
thrown if directory creation fails.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Filesystem Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a><ul>
<li><a class="reference internal" href="#mkdir">Mkdir</a></li>
<li><a class="reference internal" href="#exists">Exists</a></li>
<li><a class="reference internal" href="#copy">Copy</a></li>
<li><a class="reference internal" href="#touch">Touch</a></li>
<li><a class="reference internal" href="#chown">Chown</a></li>
<li><a class="reference internal" href="#chgrp">Chgrp</a></li>
<li><a class="reference internal" href="#chmod">Chmod</a></li>
<li><a class="reference internal" href="#remove">Remove</a></li>
<li><a class="reference internal" href="#rename">Rename</a></li>
<li><a class="reference internal" href="#symlink">symlink</a></li>
<li><a class="reference internal" href="#makepathrelative">makePathRelative</a></li>
<li><a class="reference internal" href="#mirror">mirror</a></li>
<li><a class="reference internal" href="#isabsolutepath">isAbsolutePath</a></li>
<li><a class="reference internal" href="#dumpfile">dumpFile</a></li>
</ul>
</li>
<li><a class="reference internal" href="#error-handling">Error Handling</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="expression_language/caching.html"
                        title="previous chapter">Caching Expressions Using Parser Caches</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="finder.html"
                        title="next chapter">The Finder Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/filesystem.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="finder.html" title="The Finder Component"
             >next</a> |</li>
        <li class="right" >
          <a href="expression_language/caching.html" title="Caching Expressions Using Parser Caches"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>