<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Components &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="next" title="How to Install and Use the Symfony2 Components" href="using_components.html" />
    <link rel="prev" title="How to Create and store a Symfony2 Project in Subversion" href="../cookbook/workflow/new_project_svn.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="using_components.html" title="How to Install and Use the Symfony2 Components"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../cookbook/workflow/new_project_svn.html" title="How to Create and store a Symfony2 Project in Subversion"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-components">
<h1>The Components<a class="headerlink" href="#the-components" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
</div>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>How to Install and Use the Symfony2 Components</em></a></li>
<li><a class="reference internal" href="class_loader/index.html"><em>ClassLoader</em></a><ul>
<li><a class="reference internal" href="class_loader/introduction.html"><em>The ClassLoader Component</em></a></li>
<li><a class="reference internal" href="class_loader/class_loader.html"><em>The PSR-0 Class Loader</em></a></li>
<li><a class="reference internal" href="class_loader/psr4_class_loader.html"><em>The PSR-4 Class Loader</em></a></li>
<li><a class="reference internal" href="class_loader/map_class_loader.html"><em>MapClassLoader</em></a></li>
<li><a class="reference internal" href="class_loader/cache_class_loader.html"><em>Cache a Class Loader</em></a></li>
<li><a class="reference internal" href="class_loader/debug_class_loader.html"><em>Debugging a Class Loader</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="config/index.html"><em>Config</em></a><ul>
<li><a class="reference internal" href="config/introduction.html"><em>The Config Component</em></a></li>
<li><a class="reference internal" href="config/resources.html"><em>Loading Resources</em></a></li>
<li><a class="reference internal" href="config/caching.html"><em>Caching Based on Resources</em></a></li>
<li><a class="reference internal" href="config/definition.html"><em>Defining and Processing Configuration Values</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="console/index.html"><em>Console</em></a><ul>
<li><a class="reference internal" href="console/introduction.html"><em>The Console Component</em></a></li>
<li><a class="reference internal" href="console/usage.html"><em>Using Console Commands, Shortcuts and Built-in Commands</em></a></li>
<li><a class="reference internal" href="console/single_command_tool.html"><em>Building a single Command Application</em></a></li>
<li><a class="reference internal" href="console/changing_default_command.html"><em>Changing the Default Command</em></a></li>
<li><a class="reference internal" href="console/events.html"><em>Using Events</em></a></li>
<li><a class="reference internal" href="console/logger.html"><em>Using the Logger</em></a></li>
<li><a class="reference internal" href="console/helpers/index.html"><em>The Console Helpers</em></a></li>
</ul>
</li>
<li><strong>CssSelector</strong><ul>
<li><a class="reference internal" href="css_selector.html"><em>The CssSelector Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="debug/index.html"><em>Debug</em></a><ul>
<li><a class="reference internal" href="debug/introduction.html"><em>The Debug Component</em></a></li>
<li><a class="reference internal" href="debug/class_loader.html"><em>Debugging a Class Loader</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="dependency_injection/index.html"><em>DependencyInjection</em></a><ul>
<li><a class="reference internal" href="dependency_injection/introduction.html"><em>The DependencyInjection Component</em></a></li>
<li><a class="reference internal" href="dependency_injection/types.html"><em>Types of Injection</em></a></li>
<li><a class="reference internal" href="dependency_injection/parameters.html"><em>Introduction to Parameters</em></a></li>
<li><a class="reference internal" href="dependency_injection/definitions.html"><em>Working with Container Service Definitions</em></a></li>
<li><a class="reference internal" href="dependency_injection/compilation.html"><em>Compiling the Container</em></a></li>
<li><a class="reference internal" href="dependency_injection/tags.html"><em>Working with Tagged Services</em></a></li>
<li><a class="reference internal" href="dependency_injection/factories.html"><em>Using a Factory to Create Services</em></a></li>
<li><a class="reference internal" href="dependency_injection/configurators.html"><em>Configuring Services with a Service Configurator</em></a></li>
<li><a class="reference internal" href="dependency_injection/parentservices.html"><em>Managing common Dependencies with parent Services</em></a></li>
<li><a class="reference internal" href="dependency_injection/advanced.html"><em>Advanced Container Configuration</em></a></li>
<li><a class="reference internal" href="dependency_injection/lazy_services.html"><em>Lazy Services</em></a></li>
<li><a class="reference internal" href="dependency_injection/workflow.html"><em>Container Building Workflow</em></a></li>
</ul>
</li>
<li><strong>DomCrawler</strong><ul>
<li><a class="reference internal" href="dom_crawler.html"><em>The DomCrawler Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="event_dispatcher/index.html"><em>EventDispatcher</em></a><ul>
<li><a class="reference internal" href="event_dispatcher/introduction.html"><em>The EventDispatcher Component</em></a></li>
<li><a class="reference internal" href="event_dispatcher/container_aware_dispatcher.html"><em>The Container Aware Event Dispatcher</em></a></li>
<li><a class="reference internal" href="event_dispatcher/generic_event.html"><em>The Generic Event Object</em></a></li>
<li><a class="reference internal" href="event_dispatcher/immutable_dispatcher.html"><em>The Immutable Event Dispatcher</em></a></li>
<li><a class="reference internal" href="event_dispatcher/traceable_dispatcher.html"><em>The Traceable Event Dispatcher</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="expression_language/index.html"><em>Expression Language</em></a><ul>
<li><a class="reference internal" href="expression_language/introduction.html"><em>The ExpressionLanguage Component</em></a></li>
<li><a class="reference internal" href="expression_language/syntax.html"><em>The Expression Syntax</em></a></li>
<li><a class="reference internal" href="expression_language/extending.html"><em>Extending the ExpressionLanguage</em></a></li>
<li><a class="reference internal" href="expression_language/caching.html"><em>Caching Expressions Using Parser Caches</em></a></li>
</ul>
</li>
<li><strong>Filesystem</strong><ul>
<li><a class="reference internal" href="filesystem.html"><em>The Filesystem Component</em></a></li>
</ul>
</li>
<li><strong>Finder</strong><ul>
<li><a class="reference internal" href="finder.html"><em>The Finder Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="form/index.html"><em>Form</em></a><ul>
<li><a class="reference internal" href="form/introduction.html"><em>The Form Component</em></a></li>
<li><a class="reference internal" href="form/form_events.html"><em>Form Events</em></a></li>
<li><a class="reference internal" href="form/type_guesser.html"><em>Creating a custom Type Guesser</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="http_foundation/index.html"><em>HttpFoundation</em></a><ul>
<li><a class="reference internal" href="http_foundation/introduction.html"><em>The HttpFoundation Component</em></a></li>
<li><a class="reference internal" href="http_foundation/sessions.html"><em>Session Management</em></a></li>
<li><a class="reference internal" href="http_foundation/session_configuration.html"><em>Configuring Sessions and Save Handlers</em></a></li>
<li><a class="reference internal" href="http_foundation/session_testing.html"><em>Testing with Sessions</em></a></li>
<li><a class="reference internal" href="http_foundation/session_php_bridge.html"><em>Integrating with Legacy Sessions</em></a></li>
<li><a class="reference internal" href="http_foundation/trusting_proxies.html"><em>Trusting Proxies</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="http_kernel/index.html"><em>HttpKernel</em></a><ul>
<li><a class="reference internal" href="http_kernel/introduction.html"><em>The HttpKernel Component</em></a></li>
</ul>
</li>
<li><strong>Intl</strong><ul>
<li><a class="reference internal" href="intl.html"><em>The Intl Component</em></a></li>
</ul>
</li>
<li><strong>OptionsResolver</strong><ul>
<li><a class="reference internal" href="options_resolver.html"><em>The OptionsResolver Component</em></a></li>
</ul>
</li>
<li><strong>Process</strong><ul>
<li><a class="reference internal" href="process.html"><em>The Process Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="property_access/index.html"><em>PropertyAccess</em></a><ul>
<li><a class="reference internal" href="property_access/introduction.html"><em>The PropertyAccess Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="routing/index.html"><em>Routing</em></a><ul>
<li><a class="reference internal" href="routing/introduction.html"><em>The Routing Component</em></a></li>
<li><a class="reference internal" href="routing/hostname_pattern.html"><em>How to Match a Route Based on the Host</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="security/index.html"><em>Security</em></a><ul>
<li><a class="reference internal" href="security/introduction.html"><em>The Security Component</em></a></li>
<li><a class="reference internal" href="security/firewall.html"><em>The Firewall and Security Context</em></a></li>
<li><a class="reference internal" href="security/authentication.html"><em>Authentication</em></a></li>
<li><a class="reference internal" href="security/authorization.html"><em>Authorization</em></a></li>
</ul>
</li>
<li><strong>Serializer</strong><ul>
<li><a class="reference internal" href="serializer.html"><em>The Serializer Component</em></a></li>
</ul>
</li>
<li><strong>Stopwatch</strong><ul>
<li><a class="reference internal" href="stopwatch.html"><em>The Stopwatch Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="templating/index.html"><em>Templating</em></a><ul>
<li><a class="reference internal" href="templating/introduction.html"><em>The Templating Component</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="translation/index.html"><em>Translation</em></a><ul>
<li><a class="reference internal" href="translation/introduction.html"><em>The Translation Component</em></a></li>
<li><a class="reference internal" href="translation/usage.html"><em>Using the Translator</em></a></li>
</ul>
</li>
<li><a class="reference internal" href="yaml/index.html"><em>Yaml</em></a><ul>
<li><a class="reference internal" href="yaml/introduction.html"><em>The YAML Component</em></a></li>
<li><a class="reference internal" href="yaml/yaml_format.html"><em>The YAML Format</em></a></li>
</ul>
</li>
</ul>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../cookbook/workflow/new_project_svn.html"
                        title="previous chapter">How to Create and store a Symfony2 Project in Subversion</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="using_components.html"
                        title="next chapter">How to Install and Use the Symfony2 Components</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/index.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="using_components.html" title="How to Install and Use the Symfony2 Components"
             >next</a> |</li>
        <li class="right" >
          <a href="../cookbook/workflow/new_project_svn.html" title="How to Create and store a Symfony2 Project in Subversion"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>