<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Intl Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The OptionsResolver Component" href="options_resolver.html" />
    <link rel="prev" title="The HttpKernel Component" href="http_kernel/introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="http_kernel/introduction.html" title="The HttpKernel Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-intl-component">
<span id="index-0"></span><h1>The Intl Component<a class="headerlink" href="#the-intl-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>A PHP replacement layer for the C <a class="reference external" href="http://www.php.net/manual/en/book.intl.php">intl extension</a> that also provides
access to the localization data of the <a class="reference external" href="http://site.icu-project.org/">ICU library</a>.</div></blockquote>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The Intl component was introduced in Symfony 2.3. In earlier versions of Symfony,
you should use the Locale component instead.</p>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The replacement layer is limited to the locale &#8220;en&#8221;. If you want to use
other locales, you should <a class="reference external" href="http://www.php.net/manual/en/intl.setup.php">install the intl extension</a> instead.</p>
</div>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in two different ways:</p>
<ul class="simple">
<li>Using the official Git repository (<a class="reference external" href="https://github.com/symfony/Intl">https://github.com/symfony/Intl</a>);</li>
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/intl</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/intl">Packagist</a>).</li>
</ul>
<p>If you install the component via Composer, the following classes and functions
of the intl extension will be automatically provided if the intl extension is
not loaded:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.collator.php" title="Collator"><span class="pre">Collator</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.intldateformatter.php" title="IntlDateFormatter"><span class="pre">IntlDateFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.locale.php" title="Locale"><span class="pre">Locale</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.numberformatter.php" title="NumberFormatter"><span class="pre">NumberFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-error-name.php" title="intl_error_name"><span class="pre">intl_error_name</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-is-failure.php" title="intl_is_failure"><span class="pre">intl_is_failure</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-get-error-code.php" title="intl_get_error_code"><span class="pre">intl_get_error_code</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/function.intl-get-error-message.php" title="intl_get_error_message"><span class="pre">intl_get_error_message</span></a></tt></li>
</ul>
<p>When the intl extension is not available, the following classes are used to
replace the intl classes:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Collator/Collator.html" title="Symfony\Component\Intl\Collator\Collator"><span class="pre">Collator</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/DateFormatter/IntlDateFormatter.html" title="Symfony\Component\Intl\DateFormatter\IntlDateFormatter"><span class="pre">IntlDateFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Locale/Locale.html" title="Symfony\Component\Intl\Locale\Locale"><span class="pre">Locale</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/NumberFormatter/NumberFormatter.html" title="Symfony\Component\Intl\NumberFormatter\NumberFormatter"><span class="pre">NumberFormatter</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Globals/IntlGlobals.html" title="Symfony\Component\Intl\Globals\IntlGlobals"><span class="pre">IntlGlobals</span></a></tt></li>
</ul>
<p>Composer automatically exposes these classes in the global namespace.</p>
<p>If you don&#8217;t use Composer but the
<a class="reference internal" href="class_loader/introduction.html"><em>Symfony ClassLoader component</em></a>,
you need to expose them manually by adding the following lines to your autoload
code:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">function_exists</span><span class="p">(</span><span class="s1">&#39;intl_is_failure&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="k">require</span> <span class="s1">&#39;/path/to/Icu/Resources/stubs/functions.php&#39;</span><span class="p">;</span>

    <span class="nv">$loader</span><span class="o">-&gt;</span><span class="na">registerPrefixFallback</span><span class="p">(</span><span class="s1">&#39;/path/to/Icu/Resources/stubs&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="sidebar">
<p class="first sidebar-title">ICU and Deployment Problems</p>
<p>The intl extension internally uses the <a class="reference external" href="http://site.icu-project.org/">ICU library</a> to obtain localization
data such as number formats in different languages, country names and more.
To make this data accessible to userland PHP libraries, Symfony2 ships a copy
in the <a class="reference external" href="https://packagist.org/packages/symfony/icu">Icu component</a>.</p>
<p>Depending on the ICU version compiled with your intl extension, a matching
version of that component needs to be installed. It sounds complicated,
but usually Composer does this for you automatically:</p>
<ul class="simple">
<li>1.0.*: when the intl extension is not available</li>
<li>1.1.*: when intl is compiled with ICU 3.8 or higher</li>
<li>1.2.*: when intl is compiled with ICU 4.4 or higher</li>
</ul>
<p>These versions are important when you deploy your application to a <strong>server with
a lower ICU version</strong> than your development machines, because deployment will
fail if:</p>
<ul class="simple">
<li>the development machines are compiled with ICU 4.4 or higher, but the
server is compiled with a lower ICU version than 4.4;</li>
<li>the intl extension is available on the development machines but not on
the server.</li>
</ul>
<p>For example, consider that your development machines ship ICU 4.8 and the server
ICU 4.2. When you run <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">update</span></tt> on the development machine, version
1.2.* of the Icu component will be installed. But after deploying the
application, <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">install</span></tt> will fail with the following error:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php composer.phar install
Loading composer repositories with package information
Installing dependencies from lock file
Your requirements could not be resolved to an installable <span class="nb">set </span>of packages.

  Problem 1
    - symfony/icu 1.2.x requires lib-icu &gt;<span class="o">=</span>4.4 -&gt; the requested linked
      library icu has the wrong version installed or is missing from your
      system, make sure to have the extension providing it.
</pre></div>
</div>
<p>The error tells you that the requested version of the Icu component, version
1.2, is not compatible with PHP&#8217;s ICU version 4.2.</p>
<p>One solution to this problem is to run <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">update</span></tt> instead of
<tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">install</span></tt>. It is highly recommended <strong>not</strong> to do this. The
<tt class="docutils literal"><span class="pre">update</span></tt> command will install the latest versions of each Composer dependency
to your production server and potentially break the application.</p>
<p>A better solution is to fix your composer.json to the version required by the
production server. First, determine the ICU version on the server:</p>
<div class="highlight-bash"><div class="highlight"><pre><span class="nv">$ </span>php -i | grep ICU
ICU <span class="nv">version</span> <span class="o">=</span>&gt; 4.2.1
</pre></div>
</div>
<p>Then fix the Icu component in your <tt class="docutils literal"><span class="pre">composer.json</span></tt> file to a matching version:</p>
<div class="highlight-json"><div class="highlight"><pre>&quot;require: {
    &quot;symfony/icu&quot;: &quot;1.1.*&quot;
}
</pre></div>
</div>
<p>Set the version to</p>
<ul class="simple">
<li>&#8220;1.0.*&#8221; if the server does not have the intl extension installed;</li>
<li>&#8220;1.1.*&#8221; if the server is compiled with ICU 4.2 or lower.</li>
</ul>
<p class="last">Finally, run <tt class="docutils literal"><span class="pre">php</span> <span class="pre">composer.phar</span> <span class="pre">update</span> <span class="pre">symfony/icu</span></tt> on your development machine, test
extensively and deploy again. The installation of the dependencies will now
succeed.</p>
</div>
</div>
<div class="section" id="writing-and-reading-resource-bundles">
<h2>Writing and Reading Resource Bundles<a class="headerlink" href="#writing-and-reading-resource-bundles" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.resourcebundle.php" title="ResourceBundle"><span class="pre">ResourceBundle</span></a></tt> class is not currently supported by this component.
Instead, it includes a set of readers and writers for reading and writing
arrays (or array-like objects) from/to resource bundle files. The following
classes are supported:</p>
<ul class="simple">
<li><a class="reference internal" href="#textbundlewriter">TextBundleWriter</a></li>
<li><a class="reference internal" href="#phpbundlewriter">PhpBundleWriter</a></li>
<li><a class="reference internal" href="#binarybundlereader">BinaryBundleReader</a></li>
<li><a class="reference internal" href="#phpbundlereader">PhpBundleReader</a></li>
<li><a class="reference internal" href="#bufferedbundlereader">BufferedBundleReader</a></li>
<li><a class="reference internal" href="#structuredbundlereader">StructuredBundleReader</a></li>
</ul>
<p>Continue reading if you are interested in how to use these classes. Otherwise
skip this section and jump to <a class="reference internal" href="#accessing-icu-data">Accessing ICU Data</a>.</p>
<div class="section" id="textbundlewriter">
<h3>TextBundleWriter<a class="headerlink" href="#textbundlewriter" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Writer/TextBundleWriter.html" title="Symfony\Component\Intl\ResourceBundle\Writer\TextBundleWriter"><span class="pre">TextBundleWriter</span></a></tt>
writes an array or an array-like object to a plain-text resource bundle. The
resulting .txt file can be converted to a binary .res file with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Compiler/BundleCompiler.html" title="Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler"><span class="pre">BundleCompiler</span></a></tt>
class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Writer\TextBundleWriter</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler</span><span class="p">;</span>

<span class="nv">$writer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TextBundleWriter</span><span class="p">();</span>
<span class="nv">$writer</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Data&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;entry1&#39;</span><span class="p">,</span>
        <span class="s1">&#39;entry2&#39;</span><span class="p">,</span>
        <span class="c1">// ...</span>
    <span class="p">),</span>
<span class="p">));</span>

<span class="nv">$compiler</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">BundleCompiler</span><span class="p">();</span>
<span class="nv">$compiler</span><span class="o">-&gt;</span><span class="na">compile</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;/path/to/binary/bundle&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>The command &#8220;genrb&#8221; must be available for the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Compiler/BundleCompiler.html" title="Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler"><span class="pre">BundleCompiler</span></a></tt> to
work. If the command is located in a non-standard location, you can pass its
path to the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Compiler/BundleCompiler.html" title="Symfony\Component\Intl\ResourceBundle\Compiler\BundleCompiler"><span class="pre">BundleCompiler</span></a></tt>
constructor.</p>
</div>
<div class="section" id="phpbundlewriter">
<h3>PhpBundleWriter<a class="headerlink" href="#phpbundlewriter" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Writer/PhpBundleWriter.html" title="Symfony\Component\Intl\ResourceBundle\Writer\PhpBundleWriter"><span class="pre">PhpBundleWriter</span></a></tt>
writes an array or an array-like object to a .php resource bundle:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Writer\PhpBundleWriter</span><span class="p">;</span>

<span class="nv">$writer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PhpBundleWriter</span><span class="p">();</span>
<span class="nv">$writer</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;Data&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;entry1&#39;</span><span class="p">,</span>
        <span class="s1">&#39;entry2&#39;</span><span class="p">,</span>
        <span class="c1">// ...</span>
    <span class="p">),</span>
<span class="p">));</span>
</pre></div>
</div>
</div>
<div class="section" id="binarybundlereader">
<h3>BinaryBundleReader<a class="headerlink" href="#binarybundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/BinaryBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader"><span class="pre">BinaryBundleReader</span></a></tt>
reads binary resource bundle files and returns an array or an array-like object.
This class currently only works with the <a class="reference external" href="http://www.php.net/manual/en/book.intl.php">intl extension</a> installed:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader</span><span class="p">;</span>

<span class="nv">$reader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">BinaryBundleReader</span><span class="p">();</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$data</span><span class="p">[</span><span class="s1">&#39;Data&#39;</span><span class="p">][</span><span class="s1">&#39;entry1&#39;</span><span class="p">];</span>
</pre></div>
</div>
</div>
<div class="section" id="phpbundlereader">
<h3>PhpBundleReader<a class="headerlink" href="#phpbundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/PhpBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\PhpBundleReader"><span class="pre">PhpBundleReader</span></a></tt>
reads resource bundles from .php files and returns an array or an array-like
object:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Reader\PhpBundleReader</span><span class="p">;</span>

<span class="nv">$reader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PhpBundleReader</span><span class="p">();</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$data</span><span class="p">[</span><span class="s1">&#39;Data&#39;</span><span class="p">][</span><span class="s1">&#39;entry1&#39;</span><span class="p">];</span>
</pre></div>
</div>
</div>
<div class="section" id="bufferedbundlereader">
<h3>BufferedBundleReader<a class="headerlink" href="#bufferedbundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/BufferedBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\BufferedBundleReader"><span class="pre">BufferedBundleReader</span></a></tt>
wraps another reader, but keeps the last N reads in a buffer, where N is a
buffer size passed to the constructor:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Reader\BufferedBundleReader</span><span class="p">;</span>

<span class="nv">$reader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">BufferedBundleReader</span><span class="p">(</span><span class="k">new</span> <span class="nx">BinaryBundleReader</span><span class="p">(),</span> <span class="mi">10</span><span class="p">);</span>

<span class="c1">// actually reads the file</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="c1">// returns data from the buffer</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="c1">// actually reads the file</span>
<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;fr&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="structuredbundlereader">
<h3>StructuredBundleReader<a class="headerlink" href="#structuredbundlereader" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/StructuredBundleReader.html" title="Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReader"><span class="pre">StructuredBundleReader</span></a></tt>
wraps another reader and offers a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/StructuredBundleReaderInterface.html#method_readEntry" title="Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReaderInterface::readEntry()"><span class="pre">readEntry()</span></a></tt>
method for reading an entry of the resource bundle without having to worry
whether array keys are set or not. If a path cannot be resolved, <tt class="docutils literal"><span class="pre">null</span></tt> is
returned:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Reader\BinaryBundleReader</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReader</span><span class="p">;</span>

<span class="nv">$reader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">StructuredBundleReader</span><span class="p">(</span><span class="k">new</span> <span class="nx">BinaryBundleReader</span><span class="p">());</span>

<span class="nv">$data</span> <span class="o">=</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="c1">// Produces an error if the key &quot;Data&quot; does not exist</span>
<span class="k">echo</span> <span class="nv">$data</span><span class="p">[</span><span class="s1">&#39;Data&#39;</span><span class="p">][</span><span class="s1">&#39;entry1&#39;</span><span class="p">];</span>

<span class="c1">// Returns null if the key &quot;Data&quot; does not exist</span>
<span class="k">echo</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">readEntry</span><span class="p">(</span><span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span> <span class="s1">&#39;en&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Data&#39;</span><span class="p">,</span> <span class="s1">&#39;entry1&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>Additionally, the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/Reader/StructuredBundleReaderInterface.html#method_readEntry" title="Symfony\Component\Intl\ResourceBundle\Reader\StructuredBundleReaderInterface::readEntry()"><span class="pre">readEntry()</span></a></tt>
method resolves fallback locales. For example, the fallback locale of &#8220;en_GB&#8221; is
&#8220;en&#8221;. For single-valued entries (strings, numbers etc.), the entry will be read
from the fallback locale if it cannot be found in the more specific locale. For
multi-valued entries (arrays), the values of the more specific and the fallback
locale will be merged. In order to suppress this behavior, the last parameter
<tt class="docutils literal"><span class="pre">$fallback</span></tt> can be set to <tt class="docutils literal"><span class="pre">false</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">echo</span> <span class="nv">$reader</span><span class="o">-&gt;</span><span class="na">readEntry</span><span class="p">(</span>
    <span class="s1">&#39;/path/to/bundle&#39;</span><span class="p">,</span>
    <span class="s1">&#39;en&#39;</span><span class="p">,</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Data&#39;</span><span class="p">,</span> <span class="s1">&#39;entry1&#39;</span><span class="p">),</span>
    <span class="k">false</span>
<span class="p">);</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="accessing-icu-data">
<h2>Accessing ICU Data<a class="headerlink" href="#accessing-icu-data" title="Permalink to this headline">¶</a></h2>
<p>The ICU data is located in several &#8220;resource bundles&#8221;. You can access a PHP
wrapper of these bundles through the static
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/Intl.html" title="Symfony\Component\Intl\Intl"><span class="pre">Intl</span></a></tt> class. At the moment, the following
data is supported:</p>
<ul class="simple">
<li><a class="reference internal" href="#language-and-script-names">Language and Script Names</a></li>
<li><a class="reference internal" href="#country-names">Country Names</a></li>
<li><a class="reference internal" href="#locales">Locales</a></li>
<li><a class="reference internal" href="#currencies">Currencies</a></li>
</ul>
<div class="section" id="language-and-script-names">
<h3>Language and Script Names<a class="headerlink" href="#language-and-script-names" title="Permalink to this headline">¶</a></h3>
<p>The translations of language and script names can be found in the language
bundle:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\Intl</span><span class="p">;</span>

<span class="nx">\Locale</span><span class="o">::</span><span class="na">setDefault</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="nv">$languages</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLanguageBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLanguageNames</span><span class="p">();</span>
<span class="c1">// =&gt; array(&#39;ab&#39; =&gt; &#39;Abkhazian&#39;, ...)</span>

<span class="nv">$language</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLanguageBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLanguageName</span><span class="p">(</span><span class="s1">&#39;de&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;German&#39;</span>

<span class="nv">$language</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLanguageBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLanguageName</span><span class="p">(</span><span class="s1">&#39;de&#39;</span><span class="p">,</span> <span class="s1">&#39;AT&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;Austrian German&#39;</span>

<span class="nv">$scripts</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLanguageBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getScriptNames</span><span class="p">();</span>
<span class="c1">// =&gt; array(&#39;Arab&#39; =&gt; &#39;Arabic&#39;, ...)</span>

<span class="nv">$script</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLanguageBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getScriptName</span><span class="p">(</span><span class="s1">&#39;Hans&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;Simplified&#39;</span>
</pre></div>
</div>
<p>All methods accept the translation locale as the last, optional parameter,
which defaults to the current default locale:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$languages</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLanguageBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLanguageNames</span><span class="p">(</span><span class="s1">&#39;de&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; array(&#39;ab&#39; =&gt; &#39;Abchasisch&#39;, ...)</span>
</pre></div>
</div>
</div>
<div class="section" id="country-names">
<h3>Country Names<a class="headerlink" href="#country-names" title="Permalink to this headline">¶</a></h3>
<p>The translations of country names can be found in the region bundle:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\Intl</span><span class="p">;</span>

<span class="nx">\Locale</span><span class="o">::</span><span class="na">setDefault</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="nv">$countries</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getRegionBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCountryNames</span><span class="p">();</span>
<span class="c1">// =&gt; array(&#39;AF&#39; =&gt; &#39;Afghanistan&#39;, ...)</span>

<span class="nv">$country</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getRegionBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCountryName</span><span class="p">(</span><span class="s1">&#39;GB&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;United Kingdom&#39;</span>
</pre></div>
</div>
<p>All methods accept the translation locale as the last, optional parameter,
which defaults to the current default locale:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$countries</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getRegionBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCountryNames</span><span class="p">(</span><span class="s1">&#39;de&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; array(&#39;AF&#39; =&gt; &#39;Afghanistan&#39;, ...)</span>
</pre></div>
</div>
</div>
<div class="section" id="locales">
<h3>Locales<a class="headerlink" href="#locales" title="Permalink to this headline">¶</a></h3>
<p>The translations of locale names can be found in the locale bundle:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\Intl</span><span class="p">;</span>

<span class="nx">\Locale</span><span class="o">::</span><span class="na">setDefault</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="nv">$locales</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLocaleBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLocaleNames</span><span class="p">();</span>
<span class="c1">// =&gt; array(&#39;af&#39; =&gt; &#39;Afrikaans&#39;, ...)</span>

<span class="nv">$locale</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLocaleBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLocaleName</span><span class="p">(</span><span class="s1">&#39;zh_Hans_MO&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;Chinese (Simplified, Macau SAR China)&#39;</span>
</pre></div>
</div>
<p>All methods accept the translation locale as the last, optional parameter,
which defaults to the current default locale:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$locales</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getLocaleBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getLocaleNames</span><span class="p">(</span><span class="s1">&#39;de&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; array(&#39;af&#39; =&gt; &#39;Afrikaans&#39;, ...)</span>
</pre></div>
</div>
</div>
<div class="section" id="currencies">
<h3>Currencies<a class="headerlink" href="#currencies" title="Permalink to this headline">¶</a></h3>
<p>The translations of currency names and other currency-related information can
be found in the currency bundle:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Intl\Intl</span><span class="p">;</span>

<span class="nx">\Locale</span><span class="o">::</span><span class="na">setDefault</span><span class="p">(</span><span class="s1">&#39;en&#39;</span><span class="p">);</span>

<span class="nv">$currencies</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getCurrencyBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCurrencyNames</span><span class="p">();</span>
<span class="c1">// =&gt; array(&#39;AFN&#39; =&gt; &#39;Afghan Afghani&#39;, ...)</span>

<span class="nv">$currency</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getCurrencyBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCurrencyName</span><span class="p">(</span><span class="s1">&#39;INR&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;Indian Rupee&#39;</span>

<span class="nv">$symbol</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getCurrencyBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCurrencySymbol</span><span class="p">(</span><span class="s1">&#39;INR&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; &#39;₹&#39;</span>

<span class="nv">$fractionDigits</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getCurrencyBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getFractionDigits</span><span class="p">(</span><span class="s1">&#39;INR&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; 2</span>

<span class="nv">$roundingIncrement</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getCurrencyBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getRoundingIncrement</span><span class="p">(</span><span class="s1">&#39;INR&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; 0</span>
</pre></div>
</div>
<p>All methods (except for
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/CurrencyBundleInterface.html#method_getFractionDigits" title="Symfony\Component\Intl\ResourceBundle\CurrencyBundleInterface::getFractionDigits()"><span class="pre">getFractionDigits()</span></a></tt>
and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Intl/ResourceBundle/CurrencyBundleInterface.html#method_getRoundingIncrement" title="Symfony\Component\Intl\ResourceBundle\CurrencyBundleInterface::getRoundingIncrement()"><span class="pre">getRoundingIncrement()</span></a></tt>)
accept the translation locale as the last, optional parameter, which defaults
to the current default locale:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$currencies</span> <span class="o">=</span> <span class="nx">Intl</span><span class="o">::</span><span class="na">getCurrencyBundle</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">getCurrencyNames</span><span class="p">(</span><span class="s1">&#39;de&#39;</span><span class="p">);</span>
<span class="c1">// =&gt; array(&#39;AFN&#39; =&gt; &#39;Afghanische Afghani&#39;, ...)</span>
</pre></div>
</div>
<p>That&#8217;s all you need to know for now. Have fun coding!</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Intl Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#writing-and-reading-resource-bundles">Writing and Reading Resource Bundles</a><ul>
<li><a class="reference internal" href="#textbundlewriter">TextBundleWriter</a></li>
<li><a class="reference internal" href="#phpbundlewriter">PhpBundleWriter</a></li>
<li><a class="reference internal" href="#binarybundlereader">BinaryBundleReader</a></li>
<li><a class="reference internal" href="#phpbundlereader">PhpBundleReader</a></li>
<li><a class="reference internal" href="#bufferedbundlereader">BufferedBundleReader</a></li>
<li><a class="reference internal" href="#structuredbundlereader">StructuredBundleReader</a></li>
</ul>
</li>
<li><a class="reference internal" href="#accessing-icu-data">Accessing ICU Data</a><ul>
<li><a class="reference internal" href="#language-and-script-names">Language and Script Names</a></li>
<li><a class="reference internal" href="#country-names">Country Names</a></li>
<li><a class="reference internal" href="#locales">Locales</a></li>
<li><a class="reference internal" href="#currencies">Currencies</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="http_kernel/introduction.html"
                        title="previous chapter">The HttpKernel Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="options_resolver.html"
                        title="next chapter">The OptionsResolver Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/intl.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="options_resolver.html" title="The OptionsResolver Component"
             >next</a> |</li>
        <li class="right" >
          <a href="http_kernel/introduction.html" title="The HttpKernel Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>