<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The OptionsResolver Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The Process Component" href="process.html" />
    <link rel="prev" title="The Intl Component" href="intl.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="process.html" title="The Process Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="intl.html" title="The Intl Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-optionsresolver-component">
<span id="index-0"></span><h1>The OptionsResolver Component<a class="headerlink" href="#the-optionsresolver-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The OptionsResolver component helps you configure objects with option
arrays. It supports default values, option constraints and lazy options.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/options-resolver</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/options-resolver">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/OptionsResolver">https://github.com/symfony/OptionsResolver</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Imagine you have a <tt class="docutils literal"><span class="pre">Mailer</span></tt> class which has 2 options: <tt class="docutils literal"><span class="pre">host</span></tt> and
<tt class="docutils literal"><span class="pre">password</span></tt>. These options are going to be handled by the OptionsResolver
Component.</p>
<p>First, create the <tt class="docutils literal"><span class="pre">Mailer</span></tt> class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">class</span> <span class="nc">Mailer</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="nv">$options</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">__construct</span><span class="p">(</span><span class="k">array</span> <span class="nv">$options</span> <span class="o">=</span> <span class="k">array</span><span class="p">())</span>
    <span class="p">{</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You could of course set the <tt class="docutils literal"><span class="pre">$options</span></tt> value directly on the property. Instead,
use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html" title="Symfony\Component\OptionsResolver\OptionsResolver"><span class="pre">OptionsResolver</span></a></tt> class
and let it resolve the options by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_resolve" title="Symfony\Component\OptionsResolver\OptionsResolver::resolve()"><span class="pre">resolve()</span></a></tt>.
The advantages of doing this will become more obvious as you continue:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\OptionsResolver</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="k">public</span> <span class="k">function</span> <span class="nf">__construct</span><span class="p">(</span><span class="k">array</span> <span class="nv">$options</span> <span class="o">=</span> <span class="k">array</span><span class="p">())</span>
<span class="p">{</span>
    <span class="nv">$resolver</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">OptionsResolver</span><span class="p">();</span>

    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">options</span> <span class="o">=</span> <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">resolve</span><span class="p">(</span><span class="nv">$options</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The options property now is a well defined array with all resolved options
readily available:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">public</span> <span class="k">function</span> <span class="nf">sendMail</span><span class="p">(</span><span class="nv">$from</span><span class="p">,</span> <span class="nv">$to</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$mail</span> <span class="o">=</span> <span class="o">...</span><span class="p">;</span>
    <span class="nv">$mail</span><span class="o">-&gt;</span><span class="na">setHost</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">options</span><span class="p">[</span><span class="s1">&#39;host&#39;</span><span class="p">]);</span>
    <span class="nv">$mail</span><span class="o">-&gt;</span><span class="na">setUsername</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">options</span><span class="p">[</span><span class="s1">&#39;username&#39;</span><span class="p">]);</span>
    <span class="nv">$mail</span><span class="o">-&gt;</span><span class="na">setPassword</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">options</span><span class="p">[</span><span class="s1">&#39;password&#39;</span><span class="p">]);</span>
    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="configuring-the-optionsresolver">
<h2>Configuring the OptionsResolver<a class="headerlink" href="#configuring-the-optionsresolver" title="Permalink to this headline">¶</a></h2>
<p>Now, try to actually use the class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$mailer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Mailer</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;host&#39;</span>     <span class="o">=&gt;</span> <span class="s1">&#39;smtp.example.org&#39;</span><span class="p">,</span>
    <span class="s1">&#39;username&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;user&#39;</span><span class="p">,</span>
    <span class="s1">&#39;password&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;pa$$word&#39;</span><span class="p">,</span>
<span class="p">));</span>
</pre></div>
</div>
<p>Right now, you&#8217;ll receive a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/Exception/InvalidOptionsException.html" title="Symfony\Component\OptionsResolver\Exception\InvalidOptionsException"><span class="pre">InvalidOptionsException</span></a></tt>,
which tells you that the options <tt class="docutils literal"><span class="pre">host</span></tt> and <tt class="docutils literal"><span class="pre">password</span></tt> do not exist.
This is because you need to configure the <tt class="docutils literal"><span class="pre">OptionsResolver</span></tt> first, so it
knows which options should be resolved.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">To check if an option exists, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_isKnown" title="Symfony\Component\OptionsResolver\OptionsResolver::isKnown()"><span class="pre">isKnown()</span></a></tt>
function.</p>
</div>
<p>A best practice is to put the configuration in a method (e.g.
<tt class="docutils literal"><span class="pre">configureOptions</span></tt>). You call this method in the constructor to configure
the <tt class="docutils literal"><span class="pre">OptionsResolver</span></tt> class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\OptionsResolver</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\OptionsResolverInterface</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">Mailer</span>
<span class="p">{</span>
    <span class="k">protected</span> <span class="nv">$options</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">__construct</span><span class="p">(</span><span class="k">array</span> <span class="nv">$options</span> <span class="o">=</span> <span class="k">array</span><span class="p">())</span>
    <span class="p">{</span>
        <span class="nv">$resolver</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">OptionsResolver</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">configureOptions</span><span class="p">(</span><span class="nv">$resolver</span><span class="p">);</span>

        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">options</span> <span class="o">=</span> <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">resolve</span><span class="p">(</span><span class="nv">$options</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">protected</span> <span class="k">function</span> <span class="nf">configureOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="c1">// ... configure the resolver, you will learn this</span>
        <span class="c1">// in the sections below</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="section" id="set-default-values">
<h3>Set default Values<a class="headerlink" href="#set-default-values" title="Permalink to this headline">¶</a></h3>
<p>Most of the options have a default value. You can configure these options by
calling <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_setDefaults" title="Symfony\Component\OptionsResolver\OptionsResolver::setDefaults()"><span class="pre">setDefaults()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setDefaults</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;username&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;root&#39;</span><span class="p">,</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This would add an option - <tt class="docutils literal"><span class="pre">username</span></tt> - and give it a default value of
<tt class="docutils literal"><span class="pre">root</span></tt>. If the user passes in a <tt class="docutils literal"><span class="pre">username</span></tt> option, that value will
override this default. You don&#8217;t need to configure <tt class="docutils literal"><span class="pre">username</span></tt> as an optional
option.</p>
</div>
<div class="section" id="required-options">
<h3>Required Options<a class="headerlink" href="#required-options" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><span class="pre">host</span></tt> option is required: the class can&#8217;t work without it. You can set
the required options by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_setRequired" title="Symfony\Component\OptionsResolver\OptionsResolver::setRequired()"><span class="pre">setRequired()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setRequired</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;host&#39;</span><span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You are now able to use the class without errors:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$mailer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Mailer</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;smtp.example.org&#39;</span><span class="p">,</span>
<span class="p">));</span>

<span class="k">echo</span> <span class="nv">$mailer</span><span class="o">-&gt;</span><span class="na">getHost</span><span class="p">();</span> <span class="c1">// &#39;smtp.example.org&#39;</span>
</pre></div>
</div>
<p>If you don&#8217;t pass a required option, a
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/Exception/MissingOptionsException.html" title="Symfony\Component\OptionsResolver\Exception\MissingOptionsException"><span class="pre">MissingOptionsException</span></a></tt>
will be thrown.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">To determine if an option is required, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_isRequired" title="Symfony\Component\OptionsResolver\OptionsResolver::isRequired()"><span class="pre">isRequired()</span></a></tt>
method.</p>
</div>
</div>
<div class="section" id="optional-options">
<h3>Optional Options<a class="headerlink" href="#optional-options" title="Permalink to this headline">¶</a></h3>
<p>Sometimes, an option can be optional (e.g. the <tt class="docutils literal"><span class="pre">password</span></tt> option in the
<tt class="docutils literal"><span class="pre">Mailer</span></tt> class), but it doesn&#8217;t have a default value. You can configure
these options by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_setOptional" title="Symfony\Component\OptionsResolver\OptionsResolver::setOptional()"><span class="pre">setOptional()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setOptional</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;password&#39;</span><span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Options with defaults are already marked as optional.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>When setting an option as optional, you can&#8217;t be sure if it&#8217;s in the array
or not. You have to check if the option exists before using it.</p>
<p class="last">To avoid checking if it exists everytime, you can also set a default of
<tt class="docutils literal"><span class="pre">null</span></tt> to an option using the <tt class="docutils literal"><span class="pre">setDefaults()</span></tt> method (see <a class="reference internal" href="#set-default-values">Set Default Values</a>),
this means the element always exists in the array, but with a default of
<tt class="docutils literal"><span class="pre">null</span></tt>.</p>
</div>
</div>
<div class="section" id="default-values-that-depend-on-another-option">
<h3>Default Values that Depend on another Option<a class="headerlink" href="#default-values-that-depend-on-another-option" title="Permalink to this headline">¶</a></h3>
<p>Suppose you add a <tt class="docutils literal"><span class="pre">port</span></tt> option to the <tt class="docutils literal"><span class="pre">Mailer</span></tt> class, whose default
value you guess based on the encryption. You can do that easily by using a
closure as the default value:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\Options</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\OptionsResolverInterface</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setDefaults</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="k">null</span><span class="p">,</span>
        <span class="s1">&#39;port&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span> <span class="p">(</span><span class="nx">Options</span> <span class="nv">$options</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;ssl&#39;</span> <span class="o">===</span> <span class="nv">$options</span><span class="p">[</span><span class="s1">&#39;encryption&#39;</span><span class="p">])</span> <span class="p">{</span>
                <span class="k">return</span> <span class="mi">465</span><span class="p">;</span>
            <span class="p">}</span>

            <span class="k">return</span> <span class="mi">25</span><span class="p">;</span>
        <span class="p">},</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/Options.html" title="Symfony\Component\OptionsResolver\Options"><span class="pre">Options</span></a></tt> class implements
<tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.arrayaccess.php" title="ArrayAccess"><span class="pre">ArrayAccess</span></a></tt>, <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.iterator.php" title="Iterator"><span class="pre">Iterator</span></a></tt> and <tt class="docutils literal"><a class="reference external" href="http://php.net/manual/en/class.countable.php" title="Countable"><span class="pre">Countable</span></a></tt>. That
means you can handle it just like a normal array containing the options.</p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The first argument of the closure must be typehinted as <tt class="docutils literal"><span class="pre">Options</span></tt>,
otherwise it is considered as the value.</p>
</div>
</div>
<div class="section" id="overwriting-default-values">
<h3>Overwriting default Values<a class="headerlink" href="#overwriting-default-values" title="Permalink to this headline">¶</a></h3>
<p>A previously set default value can be overwritten by invoking
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_setDefaults" title="Symfony\Component\OptionsResolver\OptionsResolver::setDefaults()"><span class="pre">setDefaults()</span></a></tt>
again. When using a closure as the new value it is passed 2 arguments:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">$options</span></tt>: an <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/Options.html" title="Symfony\Component\OptionsResolver\Options"><span class="pre">Options</span></a></tt>
instance with all the other default options</li>
<li><tt class="docutils literal"><span class="pre">$previousValue</span></tt>: the previous set default value</li>
</ul>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\Options</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\OptionsResolverInterface</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>
    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setDefaults</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ssl&#39;</span><span class="p">,</span>
        <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;localhost&#39;</span><span class="p">,</span>
    <span class="p">));</span>

    <span class="c1">// ...</span>
    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setDefaults</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;tls&#39;</span><span class="p">,</span> <span class="c1">// simple overwrite</span>
        <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span> <span class="p">(</span><span class="nx">Options</span> <span class="nv">$options</span><span class="p">,</span> <span class="nv">$previousValue</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span> <span class="s1">&#39;localhost&#39;</span> <span class="o">==</span> <span class="nv">$previousValue</span>
                <span class="o">?</span> <span class="s1">&#39;127.0.0.1&#39;</span>
                <span class="o">:</span> <span class="nv">$previousValue</span><span class="p">;</span>
        <span class="p">},</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>If the previous default value is calculated by an expensive closure and
you don&#8217;t need access to it, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_replaceDefaults" title="Symfony\Component\OptionsResolver\OptionsResolver::replaceDefaults()"><span class="pre">replaceDefaults()</span></a></tt>
method instead. It acts like <tt class="docutils literal"><span class="pre">setDefaults</span></tt> but simply erases the
previous value to improve performance. This means that the previous
default value is not available when overwriting with another closure:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\Options</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\OptionsResolver\OptionsResolverInterface</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>
    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setDefaults</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ssl&#39;</span><span class="p">,</span>
        <span class="s1">&#39;heavy&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span> <span class="p">(</span><span class="nx">Options</span> <span class="nv">$options</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// Some heavy calculations to create the $result</span>

            <span class="k">return</span> <span class="nv">$result</span><span class="p">;</span>
        <span class="p">},</span>
    <span class="p">));</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">replaceDefaults</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;tls&#39;</span><span class="p">,</span> <span class="c1">// simple overwrite</span>
        <span class="s1">&#39;heavy&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span> <span class="p">(</span><span class="nx">Options</span> <span class="nv">$options</span><span class="p">)</span> <span class="p">{</span>
            <span class="c1">// $previousValue not available</span>
            <span class="c1">// ...</span>

            <span class="k">return</span> <span class="nv">$someOtherResult</span><span class="p">;</span>
        <span class="p">},</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Existing option keys that you do not mention when overwriting are preserved.</p>
</div>
</div>
<div class="section" id="configure-allowed-values">
<h3>Configure Allowed Values<a class="headerlink" href="#configure-allowed-values" title="Permalink to this headline">¶</a></h3>
<p>Not all values are valid values for options. Suppose the <tt class="docutils literal"><span class="pre">Mailer</span></tt> class has
a <tt class="docutils literal"><span class="pre">transport</span></tt> option, it can only be one of <tt class="docutils literal"><span class="pre">sendmail</span></tt>, <tt class="docutils literal"><span class="pre">mail</span></tt> or
<tt class="docutils literal"><span class="pre">smtp</span></tt>. You can configure these allowed values by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_setAllowedValues" title="Symfony\Component\OptionsResolver\OptionsResolver::setAllowedValues()"><span class="pre">setAllowedValues()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setAllowedValues</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;encryption&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="k">null</span><span class="p">,</span> <span class="s1">&#39;ssl&#39;</span><span class="p">,</span> <span class="s1">&#39;tls&#39;</span><span class="p">),</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>There is also an
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_addAllowedValues" title="Symfony\Component\OptionsResolver\OptionsResolver::addAllowedValues()"><span class="pre">addAllowedValues()</span></a></tt>
method, which you can use if you want to add an allowed value to the previously
configured allowed values.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The callback support for allowed values was introduced in Symfony 2.5.</p>
</div>
<p>If you need to add some more logic to the value validation process, you can pass a callable
as an allowed value:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setAllowedValues</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;transport&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span><span class="p">(</span><span class="nv">$value</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">return</span> <span class="k">false</span> <span class="o">!==</span> <span class="nb">strpos</span><span class="p">(</span><span class="nv">$value</span><span class="p">,</span> <span class="s1">&#39;mail&#39;</span><span class="p">);</span>
        <span class="p">},</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">Note that using this together with <tt class="docutils literal"><span class="pre">addAllowedValues</span></tt> will not work.</p>
</div>
</div>
<div class="section" id="configure-allowed-types">
<h3>Configure Allowed Types<a class="headerlink" href="#configure-allowed-types" title="Permalink to this headline">¶</a></h3>
<p>You can also specify allowed types. For instance, the <tt class="docutils literal"><span class="pre">port</span></tt> option can
be anything, but it must be an integer. You can configure these types by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_setAllowedTypes" title="Symfony\Component\OptionsResolver\OptionsResolver::setAllowedTypes()"><span class="pre">setAllowedTypes()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setAllowedTypes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;port&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;integer&#39;</span><span class="p">,</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Possible types are the ones associated with the <tt class="docutils literal"><span class="pre">is_*</span></tt> PHP functions or a
class name. You can also pass an array of types as the value. For instance,
<tt class="docutils literal"><span class="pre">array('null',</span> <span class="pre">'string')</span></tt> allows <tt class="docutils literal"><span class="pre">port</span></tt> to be <tt class="docutils literal"><span class="pre">null</span></tt> or a <tt class="docutils literal"><span class="pre">string</span></tt>.</p>
<p>There is also an
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/OptionsResolver/OptionsResolver.html#method_addAllowedTypes" title="Symfony\Component\OptionsResolver\OptionsResolver::addAllowedTypes()"><span class="pre">addAllowedTypes()</span></a></tt>
method, which you can use to add an allowed type to the previous allowed types.</p>
</div>
<div class="section" id="normalize-the-options">
<h3>Normalize the Options<a class="headerlink" href="#normalize-the-options" title="Permalink to this headline">¶</a></h3>
<p>Some values need to be normalized before you can use them. For instance,
pretend that the <tt class="docutils literal"><span class="pre">host</span></tt> should always start with <tt class="docutils literal"><span class="pre">http://</span></tt>. To do that,
you can write normalizers. These closures will be executed after all options
are passed and should return the normalized value. You can configure these
normalizers by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Components/OptionsResolver/OptionsResolver.html#method_setNormalizers" title="Symfony\Components\OptionsResolver\OptionsResolver::setNormalizers()"><span class="pre">setNormalizers()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setNormalizers</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span> <span class="p">(</span><span class="nx">Options</span> <span class="nv">$options</span><span class="p">,</span> <span class="nv">$value</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;http://&#39;</span> <span class="o">!==</span> <span class="nx">substr</span><span class="p">(</span><span class="nv">$value</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">7</span><span class="p">))</span> <span class="p">{</span>
                <span class="nv">$value</span> <span class="o">=</span> <span class="s1">&#39;http://&#39;</span><span class="o">.</span><span class="nv">$value</span><span class="p">;</span>
            <span class="p">}</span>

            <span class="k">return</span> <span class="nv">$value</span><span class="p">;</span>
        <span class="p">},</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You see that the closure also gets an <tt class="docutils literal"><span class="pre">$options</span></tt> parameter. Sometimes, you
need to use the other options for normalizing:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">protected</span> <span class="k">function</span> <span class="nf">setDefaultOptions</span><span class="p">(</span><span class="nx">OptionsResolverInterface</span> <span class="nv">$resolver</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// ...</span>

    <span class="nv">$resolver</span><span class="o">-&gt;</span><span class="na">setNormalizers</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;host&#39;</span> <span class="o">=&gt;</span> <span class="k">function</span> <span class="p">(</span><span class="nx">Options</span> <span class="nv">$options</span><span class="p">,</span> <span class="nv">$value</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">in_array</span><span class="p">(</span><span class="nx">substr</span><span class="p">(</span><span class="nv">$value</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">7</span><span class="p">),</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;http://&#39;</span><span class="p">,</span> <span class="s1">&#39;https://&#39;</span><span class="p">)))</span> <span class="p">{</span>
                <span class="k">if</span> <span class="p">(</span><span class="nv">$options</span><span class="p">[</span><span class="s1">&#39;ssl&#39;</span><span class="p">])</span> <span class="p">{</span>
                    <span class="nv">$value</span> <span class="o">=</span> <span class="s1">&#39;https://&#39;</span><span class="o">.</span><span class="nv">$value</span><span class="p">;</span>
                <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
                    <span class="nv">$value</span> <span class="o">=</span> <span class="s1">&#39;http://&#39;</span><span class="o">.</span><span class="nv">$value</span><span class="p">;</span>
                <span class="p">}</span>
            <span class="p">}</span>

            <span class="k">return</span> <span class="nv">$value</span><span class="p">;</span>
        <span class="p">},</span>
    <span class="p">));</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The OptionsResolver Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#configuring-the-optionsresolver">Configuring the OptionsResolver</a><ul>
<li><a class="reference internal" href="#set-default-values">Set default Values</a></li>
<li><a class="reference internal" href="#required-options">Required Options</a></li>
<li><a class="reference internal" href="#optional-options">Optional Options</a></li>
<li><a class="reference internal" href="#default-values-that-depend-on-another-option">Default Values that Depend on another Option</a></li>
<li><a class="reference internal" href="#overwriting-default-values">Overwriting default Values</a></li>
<li><a class="reference internal" href="#configure-allowed-values">Configure Allowed Values</a></li>
<li><a class="reference internal" href="#configure-allowed-types">Configure Allowed Types</a></li>
<li><a class="reference internal" href="#normalize-the-options">Normalize the Options</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="intl.html"
                        title="previous chapter">The Intl Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="process.html"
                        title="next chapter">The Process Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/options_resolver.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="process.html" title="The Process Component"
             >next</a> |</li>
        <li class="right" >
          <a href="intl.html" title="The Intl Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>