<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Serializer Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="The Stopwatch Component" href="stopwatch.html" />
    <link rel="prev" title="Authorization" href="security/authorization.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="stopwatch.html" title="The Stopwatch Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="security/authorization.html" title="Authorization"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-serializer-component">
<span id="index-0"></span><h1>The Serializer Component<a class="headerlink" href="#the-serializer-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Serializer component is meant to be used to turn objects into a
specific format (XML, JSON, YAML, ...) and the other way around.</div></blockquote>
<p>In order to do so, the Serializer component follows the following
simple schema.</p>
<span id="component-serializer-encoders"></span><img alt="../_images/serializer_workflow.png" id="component-serializer-normalizers" src="../_images/serializer_workflow.png" />
<p>As you can see in the picture above, an array is used as a man in
the middle. This way, Encoders will only deal with turning specific
<strong>formats</strong> into <strong>arrays</strong> and vice versa. The same way, Normalizers
will deal with turning specific <strong>objects</strong> into <strong>arrays</strong> and vice versa.</p>
<p>Serialization is a complicated topic, and while this component may not work
in all cases, it can be a useful tool while developing tools to serialize
and deserialize your objects.</p>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/serializer</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/serializer">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Serializer">https://github.com/symfony/Serializer</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Using the Serializer component is really simple. You just need to set up
the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Serializer.html" title="Symfony\Component\Serializer\Serializer"><span class="pre">Serializer</span></a></tt> specifying
which Encoders and Normalizer are going to be available:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Serializer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Encoder\XmlEncoder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Encoder\JsonEncoder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer</span><span class="p">;</span>

<span class="nv">$encoders</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">XmlEncoder</span><span class="p">(),</span> <span class="k">new</span> <span class="nx">JsonEncoder</span><span class="p">());</span>
<span class="nv">$normalizers</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">GetSetMethodNormalizer</span><span class="p">());</span>

<span class="nv">$serializer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Serializer</span><span class="p">(</span><span class="nv">$normalizers</span><span class="p">,</span> <span class="nv">$encoders</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="serializing-an-object">
<h2>Serializing an Object<a class="headerlink" href="#serializing-an-object" title="Permalink to this headline">¶</a></h2>
<p>For the sake of this example, assume the following class already
exists in your project:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">namespace</span> <span class="nx">Acme</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$age</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$name</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$sportsman</span><span class="p">;</span>

    <span class="c1">// Getters</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">getName</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">name</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">getAge</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">age</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="c1">// Issers</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">isSportsman</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">sportsman</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="c1">// Setters</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">setName</span><span class="p">(</span><span class="nv">$name</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">name</span> <span class="o">=</span> <span class="nv">$name</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setAge</span><span class="p">(</span><span class="nv">$age</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">age</span> <span class="o">=</span> <span class="nv">$age</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setSportsman</span><span class="p">(</span><span class="nv">$sportsman</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">sportsman</span> <span class="o">=</span> <span class="nv">$sportsman</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Now, if you want to serialize this object into JSON, you only need to
use the Serializer service created before:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Acme\Person</span><span class="p">();</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setAge</span><span class="p">(</span><span class="mi">99</span><span class="p">);</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setSportsman</span><span class="p">(</span><span class="k">false</span><span class="p">);</span>

<span class="nv">$jsonContent</span> <span class="o">=</span> <span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">serialize</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;json&#39;</span><span class="p">);</span>

<span class="c1">// $jsonContent contains {&quot;name&quot;:&quot;foo&quot;,&quot;age&quot;:99,&quot;sportsman&quot;:false}</span>

<span class="k">echo</span> <span class="nv">$jsonContent</span><span class="p">;</span> <span class="c1">// or return it in a Response</span>
</pre></div>
</div>
<p>The first parameter of the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Serializer.html#method_serialize" title="Symfony\Component\Serializer\Serializer::serialize()"><span class="pre">serialize()</span></a></tt>
is the object to be serialized and the second is used to choose the proper encoder,
in this case <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Encoder/JsonEncoder.html" title="Symfony\Component\Serializer\Encoder\JsonEncoder"><span class="pre">JsonEncoder</span></a></tt>.</p>
<div class="section" id="ignoring-attributes-when-serializing">
<h3>Ignoring Attributes when Serializing<a class="headerlink" href="#ignoring-attributes-when-serializing" title="Permalink to this headline">¶</a></h3>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.html#method_setIgnoredAttributes" title="Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer::setIgnoredAttributes()"><span class="pre">GetSetMethodNormalizer::setIgnoredAttributes</span></a></tt>
method was introduced in Symfony 2.3.</p>
</div>
<p>As an option, there&#8217;s a way to ignore attributes from the origin object when
serializing. To remove those attributes use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.html#method_setIgnoredAttributes" title="Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer::setIgnoredAttributes()"><span class="pre">setIgnoredAttributes()</span></a></tt>
method on the normalizer definition:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Serializer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Encoder\JsonEncoder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer</span><span class="p">;</span>

<span class="nv">$normalizer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GetSetMethodNormalizer</span><span class="p">();</span>
<span class="nv">$normalizer</span><span class="o">-&gt;</span><span class="na">setIgnoredAttributes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;age&#39;</span><span class="p">));</span>
<span class="nv">$encoder</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">JsonEncoder</span><span class="p">();</span>

<span class="nv">$serializer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Serializer</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="nv">$normalizer</span><span class="p">),</span> <span class="k">array</span><span class="p">(</span><span class="nv">$encoder</span><span class="p">));</span>
<span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">serialize</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;json&#39;</span><span class="p">);</span> <span class="c1">// Output: {&quot;name&quot;:&quot;foo&quot;,&quot;sportsman&quot;:false}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="deserializing-an-object">
<h2>Deserializing an Object<a class="headerlink" href="#deserializing-an-object" title="Permalink to this headline">¶</a></h2>
<p>You&#8217;ll now learn how to do the exact opposite. This time, the information
of the <tt class="docutils literal"><span class="pre">Person</span></tt> class would be encoded in XML format:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$data</span> <span class="o">=</span> <span class="s">&lt;&lt;&lt;EOF</span>
<span class="s">&lt;person&gt;</span>
<span class="s">    &lt;name&gt;foo&lt;/name&gt;</span>
<span class="s">    &lt;age&gt;99&lt;/age&gt;</span>
<span class="s">    &lt;sportsman&gt;false&lt;/sportsman&gt;</span>
<span class="s">&lt;/person&gt;</span>
<span class="s">EOF;</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">deserialize</span><span class="p">(</span><span class="nv">$data</span><span class="p">,</span><span class="s1">&#39;Acme\Person&#39;</span><span class="p">,</span><span class="s1">&#39;xml&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>In this case, <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Serializer.html#method_deserialize" title="Symfony\Component\Serializer\Serializer::deserialize()"><span class="pre">deserialize()</span></a></tt>
needs three parameters:</p>
<ol class="arabic simple">
<li>The information to be decoded</li>
<li>The name of the class this information will be decoded to</li>
<li>The encoder used to convert that information into an array</li>
</ol>
</div>
<div class="section" id="using-camelized-method-names-for-underscored-attributes">
<h2>Using Camelized Method Names for Underscored Attributes<a class="headerlink" href="#using-camelized-method-names-for-underscored-attributes" title="Permalink to this headline">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.html#method_setCamelizedAttributes" title="Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer::setCamelizedAttributes()"><span class="pre">GetSetMethodNormalizer::setCamelizedAttributes</span></a></tt>
method was introduced in Symfony 2.3.</p>
</div>
<p>Sometimes property names from the serialized content are underscored (e.g.
<tt class="docutils literal"><span class="pre">first_name</span></tt>).  Normally, these attributes will use get/set methods like
<tt class="docutils literal"><span class="pre">getFirst_name</span></tt>, when <tt class="docutils literal"><span class="pre">getFirstName</span></tt> method is what you really want. To
change that behavior use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.html#method_setCamelizedAttributes" title="Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer::setCamelizedAttributes()"><span class="pre">setCamelizedAttributes()</span></a></tt>
method on the normalizer definition:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$encoder</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">JsonEncoder</span><span class="p">();</span>
<span class="nv">$normalizer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GetSetMethodNormalizer</span><span class="p">();</span>
<span class="nv">$normalizer</span><span class="o">-&gt;</span><span class="na">setCamelizedAttributes</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;first_name&#39;</span><span class="p">));</span>

<span class="nv">$serializer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Serializer</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="nv">$normalizer</span><span class="p">),</span> <span class="k">array</span><span class="p">(</span><span class="nv">$encoder</span><span class="p">));</span>

<span class="nv">$json</span> <span class="o">=</span> <span class="s">&lt;&lt;&lt;EOT</span>
<span class="s">{</span>
<span class="s">    &quot;name&quot;:       &quot;foo&quot;,</span>
<span class="s">    &quot;age&quot;:        &quot;19&quot;,</span>
<span class="s">    &quot;first_name&quot;: &quot;bar&quot;</span>
<span class="s">}</span>
<span class="s">EOT;</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">deserialize</span><span class="p">(</span><span class="nv">$json</span><span class="p">,</span> <span class="s1">&#39;Acme\Person&#39;</span><span class="p">,</span> <span class="s1">&#39;json&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>As a final result, the deserializer uses the <tt class="docutils literal"><span class="pre">first_name</span></tt> attribute as if
it were <tt class="docutils literal"><span class="pre">firstName</span></tt> and uses the <tt class="docutils literal"><span class="pre">getFirstName</span></tt> and <tt class="docutils literal"><span class="pre">setFirstName</span></tt> methods.</p>
</div>
<div class="section" id="serializing-boolean-attributes">
<h2>Serializing Boolean Attributes<a class="headerlink" href="#serializing-boolean-attributes" title="Permalink to this headline">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>Support for <tt class="docutils literal"><span class="pre">is*</span></tt> accessors in
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Serializer/Normalizer/GetSetMethodNormalizer.html" title="Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer"><span class="pre">GetSetMethodNormalizer</span></a></tt>
was introduced in Symfony 2.5.</p>
</div>
<p>If you are using isser methods (methods prefixed by <tt class="docutils literal"><span class="pre">is</span></tt>, like
<tt class="docutils literal"><span class="pre">Acme\Person::isSportsman()</span></tt>), the Serializer component will automatically
detect and use it to serialize related attributes.</p>
</div>
<div class="section" id="using-callbacks-to-serialize-properties-with-object-instances">
<h2>Using Callbacks to Serialize Properties with Object Instances<a class="headerlink" href="#using-callbacks-to-serialize-properties-with-object-instances" title="Permalink to this headline">¶</a></h2>
<p>When serializing, you can set a callback to format a specific object property:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Acme\Person</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Encoder\JsonEncoder</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Serializer\Serializer</span><span class="p">;</span>

<span class="nv">$encoder</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">JsonEncoder</span><span class="p">();</span>
<span class="nv">$normalizer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">GetSetMethodNormalizer</span><span class="p">();</span>

<span class="nv">$callback</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$dateTime</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nv">$dateTime</span> <span class="nx">instanceof</span> <span class="nx">\DateTime</span>
        <span class="o">?</span> <span class="nv">$dateTime</span><span class="o">-&gt;</span><span class="na">format</span><span class="p">(</span><span class="nx">\DateTime</span><span class="o">::</span><span class="na">ISO8601</span><span class="p">)</span>
        <span class="o">:</span> <span class="s1">&#39;&#39;</span><span class="p">;</span>
<span class="p">}</span>

<span class="nv">$normalizer</span><span class="o">-&gt;</span><span class="na">setCallbacks</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;createdAt&#39;</span> <span class="o">=&gt;</span> <span class="nv">$callback</span><span class="p">));</span>

<span class="nv">$serializer</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Serializer</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="nv">$normalizer</span><span class="p">),</span> <span class="k">array</span><span class="p">(</span><span class="nv">$encoder</span><span class="p">));</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setName</span><span class="p">(</span><span class="s1">&#39;cordoval&#39;</span><span class="p">);</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setAge</span><span class="p">(</span><span class="mi">34</span><span class="p">);</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">setCreatedAt</span><span class="p">(</span><span class="k">new</span> <span class="nx">\DateTime</span><span class="p">(</span><span class="s1">&#39;now&#39;</span><span class="p">));</span>

<span class="nv">$serializer</span><span class="o">-&gt;</span><span class="na">serialize</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;json&#39;</span><span class="p">);</span>
<span class="c1">// Output: {&quot;name&quot;:&quot;cordoval&quot;, &quot;age&quot;: 34, &quot;createdAt&quot;: &quot;2014-03-22T09:43:12-0500&quot;}</span>
</pre></div>
</div>
</div>
<div class="section" id="jmsserializer">
<h2>JMSSerializer<a class="headerlink" href="#jmsserializer" title="Permalink to this headline">¶</a></h2>
<p>A popular third-party library, <a class="reference external" href="https://github.com/schmittjoh/serializer">JMS serializer</a>, provides a more
sophisticated albeit more complex solution. This library includes the
ability to configure how your objects should be serialized/deserialized via
annotations (as well as YAML, XML and PHP), integration with the Doctrine ORM,
and handling of other complex cases (e.g. circular references).</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Serializer Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#serializing-an-object">Serializing an Object</a><ul>
<li><a class="reference internal" href="#ignoring-attributes-when-serializing">Ignoring Attributes when Serializing</a></li>
</ul>
</li>
<li><a class="reference internal" href="#deserializing-an-object">Deserializing an Object</a></li>
<li><a class="reference internal" href="#using-camelized-method-names-for-underscored-attributes">Using Camelized Method Names for Underscored Attributes</a></li>
<li><a class="reference internal" href="#serializing-boolean-attributes">Serializing Boolean Attributes</a></li>
<li><a class="reference internal" href="#using-callbacks-to-serialize-properties-with-object-instances">Using Callbacks to Serialize Properties with Object Instances</a></li>
<li><a class="reference internal" href="#jmsserializer">JMSSerializer</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="security/authorization.html"
                        title="previous chapter">Authorization</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="stopwatch.html"
                        title="next chapter">The Stopwatch Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/serializer.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="stopwatch.html" title="The Stopwatch Component"
             >next</a> |</li>
        <li class="right" >
          <a href="security/authorization.html" title="Authorization"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>