<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Stopwatch Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="Templating" href="templating/index.html" />
    <link rel="prev" title="The Serializer Component" href="serializer.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="templating/index.html" title="Templating"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="serializer.html" title="The Serializer Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-stopwatch-component">
<span id="index-0"></span><h1>The Stopwatch Component<a class="headerlink" href="#the-stopwatch-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The Stopwatch component provides a way to profile code.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in two different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/stopwatch</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/stopwatch">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Stopwatch">https://github.com/symfony/Stopwatch</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The Stopwatch component provides an easy and consistent way to measure execution
time of certain parts of code so that you don&#8217;t constantly have to parse
microtime by yourself. Instead, use the simple
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html" title="Symfony\Component\Stopwatch\Stopwatch"><span class="pre">Stopwatch</span></a></tt> class:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Stopwatch\Stopwatch</span><span class="p">;</span>

<span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>
<span class="c1">// Start event named &#39;eventName&#39;</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">);</span>
<span class="c1">// ... some code goes here</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stop</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">);</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The <tt class="docutils literal"><span class="pre">getEvent()</span></tt> method was introduced in Symfony 2.5</p>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/StopwatchEvent.html" title="Symfony\Component\Stopwatch\StopwatchEvent"><span class="pre">StopwatchEvent</span></a></tt> object can be retrieved
from the  <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_start" title="Symfony\Component\Stopwatch\Stopwatch::start()"><span class="pre">start()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_stop" title="Symfony\Component\Stopwatch\Stopwatch::stop()"><span class="pre">stop()</span></a></tt>,
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_lap" title="Symfony\Component\Stopwatch\Stopwatch::lap()"><span class="pre">lap()</span></a></tt> and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_getEvent" title="Symfony\Component\Stopwatch\Stopwatch::getEvent()"><span class="pre">getEvent()</span></a></tt> methods.
The latter should be used when you need to retrieve the duration of an event
while it is still running.</p>
<p>You can also provide a category name to an event:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;eventName&#39;</span><span class="p">,</span> <span class="s1">&#39;categoryName&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>You can consider categories as a way of tagging events. For example, the
Symfony Profiler tool uses categories to nicely color-code different events.</p>
</div>
<div class="section" id="periods">
<h2>Periods<a class="headerlink" href="#periods" title="Permalink to this headline">¶</a></h2>
<p>As you know from the real world, all stopwatches come with two buttons:
one to start and stop the stopwatch, and another to measure the lap time.
This is exactly what the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_lap" title="Symfony\Component\Stopwatch\Stopwatch::lap()"><span class="pre">lap()</span></a></tt>
method does:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>
<span class="c1">// Start event named &#39;foo&#39;</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... some code goes here</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">lap</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... some code goes here</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">lap</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
<span class="c1">// ... some other code goes here</span>
<span class="nv">$event</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stop</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Lap information is stored as &#8220;periods&#8221; within the event. To get lap information
call:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getPeriods</span><span class="p">();</span>
</pre></div>
</div>
<p>In addition to periods, you can get other useful information from the event object.
For example:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getCategory</span><span class="p">();</span>   <span class="c1">// Returns the category the event was started in</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getOrigin</span><span class="p">();</span>     <span class="c1">// Returns the event start time in milliseconds</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">ensureStopped</span><span class="p">();</span> <span class="c1">// Stops all periods not already stopped</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getStartTime</span><span class="p">();</span>  <span class="c1">// Returns the start time of the very first period</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getEndTime</span><span class="p">();</span>    <span class="c1">// Returns the end time of the very last period</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getDuration</span><span class="p">();</span>   <span class="c1">// Returns the event duration, including all periods</span>
<span class="nv">$event</span><span class="o">-&gt;</span><span class="na">getMemory</span><span class="p">();</span>     <span class="c1">// Returns the max memory usage of all periods</span>
</pre></div>
</div>
</div>
<div class="section" id="sections">
<h2>Sections<a class="headerlink" href="#sections" title="Permalink to this headline">¶</a></h2>
<p>Sections are a way to logically split the timeline into groups. You can see
how Symfony uses sections to nicely visualize the framework lifecycle in the
Symfony Profiler tool. Here is a basic usage example using sections:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Stopwatch</span><span class="p">();</span>

<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">openSection</span><span class="p">();</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;parsing_config_file&#39;</span><span class="p">,</span> <span class="s1">&#39;filesystem_operations&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stopSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>

<span class="nv">$events</span> <span class="o">=</span> <span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">getSectionEvents</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>You can reopen a closed section by calling the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Stopwatch/Stopwatch.html#method_openSection" title="Symfony\Component\Stopwatch\Stopwatch::openSection()"><span class="pre">openSection()</span></a></tt>
method and specifying the id of the section to be reopened:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">openSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="s1">&#39;building_config_tree&#39;</span><span class="p">);</span>
<span class="nv">$stopwatch</span><span class="o">-&gt;</span><span class="na">stopSection</span><span class="p">(</span><span class="s1">&#39;routing&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Stopwatch Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#periods">Periods</a></li>
<li><a class="reference internal" href="#sections">Sections</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="serializer.html"
                        title="previous chapter">The Serializer Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="templating/index.html"
                        title="next chapter">Templating</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/stopwatch.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="templating/index.html" title="Templating"
             >next</a> |</li>
        <li class="right" >
          <a href="serializer.html" title="The Serializer Component"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>