

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The ClassLoader Component &mdash; Symfony2Docs v.2.0.17 2.0.17 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.0.17',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v.2.0.17 2.0.17 documentation" href="../index.html" />
    <link rel="up" title="The Components" href="index.html" />
    <link rel="next" title="Config" href="config/index.html" />
    <link rel="prev" title="The Components" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="config/index.html" title="Config"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="The Components"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-classloader-component">
<span id="index-0"></span><h1>The ClassLoader Component<a class="headerlink" href="#the-classloader-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The ClassLoader Component loads your project classes automatically if they
follow some standard PHP conventions.</div></blockquote>
<p>Whenever you use an undefined class, PHP uses the autoloading mechanism to
delegate the loading of a file defining the class. Symfony2 provides a
&#8220;universal&#8221; autoloader, which is able to load classes from files that
implement one of the following conventions:</p>
<ul class="simple">
<li>The technical interoperability <a class="reference external" href="http://symfony.com/PSR0">standards</a> for PHP 5.3 namespaces and class
names;</li>
<li>The <a class="reference external" href="http://pear.php.net/manual/en/standards.php">PEAR</a> naming convention for classes.</li>
</ul>
<p>If your classes and the third-party libraries you use for your project follow
these standards, the Symfony2 autoloader is the only autoloader you will ever
need.</p>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in many different ways:</p>
<ul class="simple">
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/ClassLoader">https://github.com/symfony/ClassLoader</a>);</li>
<li>Install it via PEAR ( <cite>pear.symfony.com/ClassLoader</cite>);</li>
<li>Install it via Composer (<cite>symfony/class-loader</cite> on Packagist).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Registering the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html" title="Symfony\Component\ClassLoader\UniversalClassLoader"><span class="pre">UniversalClassLoader</span></a></tt>
autoloader is straightforward:</p>
<div class="highlight-python"><pre>require_once '/path/to/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();

// ... register namespaces and prefixes here - see below

$loader-&gt;register();</pre>
</div>
<p>For minor performance gains class paths can be cached in memory using APC by
registering the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/ApcUniversalClassLoader.html" title="Symfony\Component\ClassLoader\ApcUniversalClassLoader"><span class="pre">ApcUniversalClassLoader</span></a></tt>:</p>
<div class="highlight-python"><pre>require_once '/path/to/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';
require_once '/path/to/src/Symfony/Component/ClassLoader/ApcUniversalClassLoader.php';

use Symfony\Component\ClassLoader\ApcUniversalClassLoader;

$loader = new ApcUniversalClassLoader('apc.prefix.');
$loader-&gt;register();</pre>
</div>
<p>The autoloader is useful only if you add some libraries to autoload.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The autoloader is automatically registered in a Symfony2 application (see
<tt class="docutils literal"><span class="pre">app/autoload.php</span></tt>).</p>
</div>
<p>If the classes to autoload use namespaces, use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerNamespace" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerNamespace()"><span class="pre">registerNamespace()</span></a></tt>
or
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerNamespaces" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerNamespaces()"><span class="pre">registerNamespaces()</span></a></tt>
methods:</p>
<div class="highlight-python"><pre>$loader-&gt;registerNamespace('Symfony', __DIR__.'/vendor/symfony/src');

$loader-&gt;registerNamespaces(array(
    'Symfony' =&gt; __DIR__.'/../vendor/symfony/src',
    'Monolog' =&gt; __DIR__.'/../vendor/monolog/src',
));

$loader-&gt;register();</pre>
</div>
<p>For classes that follow the PEAR naming convention, use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerPrefix" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerPrefix()"><span class="pre">registerPrefix()</span></a></tt>
or
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerPrefixes" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerPrefixes()"><span class="pre">registerPrefixes()</span></a></tt>
methods:</p>
<div class="highlight-python"><pre>$loader-&gt;registerPrefix('Twig_', __DIR__.'/vendor/twig/lib');

$loader-&gt;registerPrefixes(array(
    'Swift_' =&gt; __DIR__.'/vendor/swiftmailer/lib/classes',
    'Twig_'  =&gt; __DIR__.'/vendor/twig/lib',
));

$loader-&gt;register();</pre>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Some libraries also require their root path be registered in the PHP
include path (<tt class="docutils literal"><span class="pre">set_include_path()</span></tt>).</p>
</div>
<p>Classes from a sub-namespace or a sub-hierarchy of PEAR classes can be looked
for in a location list to ease the vendoring of a sub-set of classes for large
projects:</p>
<div class="highlight-python"><pre>$loader-&gt;registerNamespaces(array(
    'Doctrine\\Common'           =&gt; __DIR__.'/vendor/doctrine-common/lib',
    'Doctrine\\DBAL\\Migrations' =&gt; __DIR__.'/vendor/doctrine-migrations/lib',
    'Doctrine\\DBAL'             =&gt; __DIR__.'/vendor/doctrine-dbal/lib',
    'Doctrine'                   =&gt; __DIR__.'/vendor/doctrine/lib',
));

$loader-&gt;register();</pre>
</div>
<p>In this example, if you try to use a class in the <tt class="docutils literal"><span class="pre">Doctrine\Common</span></tt> namespace
or one of its children, the autoloader will first look for the class under the
<tt class="docutils literal"><span class="pre">doctrine-common</span></tt> directory, and it will then fallback to the default
<tt class="docutils literal"><span class="pre">Doctrine</span></tt> directory (the last one configured) if not found, before giving up.
The order of the registrations is significant in this case.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The ClassLoader Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">The Components</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="config/index.html"
                        title="next chapter">Config</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/class_loader.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="config/index.html" title="Config"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="The Components"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>