<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Dialog Helper &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="Formatter Helper" href="formatterhelper.html" />
    <link rel="prev" title="The Console Helpers" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="formatterhelper.html" title="Formatter Helper"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="The Console Helpers"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="dialog-helper">
<span id="index-0"></span><h1>Dialog Helper<a class="headerlink" href="#dialog-helper" title="Permalink to this headline">¶</a></h1>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The Dialog Helper was deprecated in Symfony 2.5 and will be removed in
Symfony 3.0. You should now use the
<a class="reference internal" href="questionhelper.html"><em>Question Helper</em></a> instead,
which is simpler to use.</p>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/DialogHelper.html" title="Symfony\Component\Console\Helper\DialogHelper"><span class="pre">DialogHelper</span></a></tt> provides
functions to ask the user for more information. It is included in the default
helper set, which you can get by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Command/Command.html#method_getHelperSet" title="Symfony\Component\Console\Command\Command::getHelperSet()"><span class="pre">getHelperSet()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>All the methods inside the Dialog Helper have an
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Output/OutputInterface.html" title="Symfony\Component\Console\Output\OutputInterface"><span class="pre">OutputInterface</span></a></tt> as the first
argument, the question as the second argument and the default value as the last
argument.</p>
<div class="section" id="asking-the-user-for-confirmation">
<h2>Asking the User for Confirmation<a class="headerlink" href="#asking-the-user-for-confirmation" title="Permalink to this headline">¶</a></h2>
<p>Suppose you want to confirm an action before actually executing it. Add
the following to your command:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askConfirmation</span><span class="p">(</span>
        <span class="nv">$output</span><span class="p">,</span>
        <span class="s1">&#39;&lt;question&gt;Continue with this action?&lt;/question&gt;&#39;</span><span class="p">,</span>
        <span class="k">false</span>
    <span class="p">))</span> <span class="p">{</span>
    <span class="k">return</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>In this case, the user will be asked &#8220;Continue with this action?&#8221;, and will
return <tt class="docutils literal"><span class="pre">true</span></tt> if the user answers with <tt class="docutils literal"><span class="pre">y</span></tt> or <tt class="docutils literal"><span class="pre">false</span></tt> if the user answers
with <tt class="docutils literal"><span class="pre">n</span></tt>. The third argument to
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/DialogHelper.html#method_askConfirmation" title="Symfony\Component\Console\Helper\DialogHelper::askConfirmation()"><span class="pre">askConfirmation()</span></a></tt>
is the default value to return if the user doesn&#8217;t enter any input. Any other
input will ask the same question again.</p>
</div>
<div class="section" id="asking-the-user-for-information">
<h2>Asking the User for Information<a class="headerlink" href="#asking-the-user-for-information" title="Permalink to this headline">¶</a></h2>
<p>You can also ask question with more than a simple yes/no answer. For instance,
if you want to know a bundle name, you can add this to your command:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$bundle</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">ask</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter the name of the bundle&#39;</span><span class="p">,</span>
    <span class="s1">&#39;AcmeDemoBundle&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>The user will be asked &#8220;Please enter the name of the bundle&#8221;. They can type
some name which will be returned by the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/DialogHelper.html#method_ask" title="Symfony\Component\Console\Helper\DialogHelper::ask()"><span class="pre">ask()</span></a></tt> method.
If they leave it empty, the default value (<tt class="docutils literal"><span class="pre">AcmeDemoBundle</span></tt> here) is returned.</p>
<div class="section" id="autocompletion">
<h3>Autocompletion<a class="headerlink" href="#autocompletion" title="Permalink to this headline">¶</a></h3>
<p>You can also specify an array of potential answers for a given question. These
will be autocompleted as the user types:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
<span class="nv">$bundleNames</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;AcmeDemoBundle&#39;</span><span class="p">,</span> <span class="s1">&#39;AcmeBlogBundle&#39;</span><span class="p">,</span> <span class="s1">&#39;AcmeStoreBundle&#39;</span><span class="p">);</span>
<span class="nv">$name</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">ask</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter the name of a bundle&#39;</span><span class="p">,</span>
    <span class="s1">&#39;FooBundle&#39;</span><span class="p">,</span>
    <span class="nv">$bundleNames</span>
<span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="hiding-the-user-s-response">
<h3>Hiding the User&#8217;s Response<a class="headerlink" href="#hiding-the-user-s-response" title="Permalink to this headline">¶</a></h3>
<p>You can also ask a question and hide the response. This is particularly
convenient for passwords:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
<span class="nv">$password</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askHiddenResponse</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;What is the database password?&#39;</span><span class="p">,</span>
    <span class="k">false</span>
<span class="p">);</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">When you ask for a hidden response, Symfony will use either a binary, change
stty mode or use another trick to hide the response. If none is available,
it will fallback and allow the response to be visible unless you pass <tt class="docutils literal"><span class="pre">false</span></tt>
as the third argument like in the example above. In this case, a RuntimeException
would be thrown.</p>
</div>
</div>
</div>
<div class="section" id="validating-the-answer">
<h2>Validating the Answer<a class="headerlink" href="#validating-the-answer" title="Permalink to this headline">¶</a></h2>
<p>You can even validate the answer. For instance, in the last example you asked
for the bundle name. Following the Symfony2 naming conventions, it should
be suffixed with <tt class="docutils literal"><span class="pre">Bundle</span></tt>. You can validate that by using the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/DialogHelper.html#method_askAndValidate" title="Symfony\Component\Console\Helper\DialogHelper::askAndValidate()"><span class="pre">askAndValidate()</span></a></tt>
method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$bundle</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askAndValidate</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter the name of the bundle&#39;</span><span class="p">,</span>
    <span class="k">function</span> <span class="p">(</span><span class="nv">$answer</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;Bundle&#39;</span> <span class="o">!==</span> <span class="nx">substr</span><span class="p">(</span><span class="nv">$answer</span><span class="p">,</span> <span class="o">-</span><span class="mi">6</span><span class="p">))</span> <span class="p">{</span>
            <span class="k">throw</span> <span class="k">new</span> <span class="nx">\RuntimeException</span><span class="p">(</span>
                <span class="s1">&#39;The name of the bundle should be suffixed with \&#39;Bundle\&#39;&#39;</span>
            <span class="p">);</span>
        <span class="p">}</span>

        <span class="k">return</span> <span class="nv">$answer</span><span class="p">;</span>
    <span class="p">},</span>
    <span class="k">false</span><span class="p">,</span>
    <span class="s1">&#39;AcmeDemoBundle&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
<p>This methods has 2 new arguments, the full signature is:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">askAndValidate</span><span class="p">(</span>
    <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">,</span>
    <span class="nx">string</span><span class="o">|</span><span class="k">array</span> <span class="nv">$question</span><span class="p">,</span>
    <span class="nx">callback</span> <span class="nv">$validator</span><span class="p">,</span>
    <span class="nx">integer</span> <span class="nv">$attempts</span> <span class="o">=</span> <span class="k">false</span><span class="p">,</span>
    <span class="nx">string</span> <span class="nv">$default</span> <span class="o">=</span> <span class="k">null</span><span class="p">,</span>
    <span class="k">array</span> <span class="nv">$autocomplete</span> <span class="o">=</span> <span class="k">null</span>
<span class="p">)</span>
</pre></div>
</div>
<p>The <tt class="docutils literal"><span class="pre">$validator</span></tt> is a callback which handles the validation. It should
throw an exception if there is something wrong. The exception message is displayed
in the console, so it is a good practice to put some useful information in it. The callback
function should also return the value of the user&#8217;s input if the validation was successful.</p>
<p>You can set the max number of times to ask in the <tt class="docutils literal"><span class="pre">$attempts</span></tt> argument.
If you reach this max number it will use the default value.
Using <tt class="docutils literal"><span class="pre">false</span></tt> means the amount of attempts is infinite.
The user will be asked as long as they provide an invalid answer and will only
be able to proceed if their input is valid.</p>
<div class="section" id="validating-a-hidden-response">
<h3>Validating a Hidden Response<a class="headerlink" href="#validating-a-hidden-response" title="Permalink to this headline">¶</a></h3>
<p>You can also ask and validate a hidden response:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>

<span class="nv">$validator</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$value</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;&#39;</span> <span class="o">===</span> <span class="nx">trim</span><span class="p">(</span><span class="nv">$value</span><span class="p">))</span> <span class="p">{</span>
        <span class="k">throw</span> <span class="k">new</span> <span class="nx">\Exception</span><span class="p">(</span><span class="s1">&#39;The password can not be empty&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="nv">$value</span><span class="p">;</span>
<span class="p">};</span>

<span class="nv">$password</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">askHiddenResponseAndValidate</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please enter your password&#39;</span><span class="p">,</span>
    <span class="nv">$validator</span><span class="p">,</span>
    <span class="mi">20</span><span class="p">,</span>
    <span class="k">false</span>
<span class="p">);</span>
</pre></div>
</div>
<p>If you want to allow the response to be visible if it cannot be hidden for
some reason, pass true as the fifth argument.</p>
</div>
<div class="section" id="let-the-user-choose-from-a-list-of-answers">
<h3>Let the User Choose from a List of Answers<a class="headerlink" href="#let-the-user-choose-from-a-list-of-answers" title="Permalink to this headline">¶</a></h3>
<p>If you have a predefined set of answers the user can choose from, you
could use the <tt class="docutils literal"><span class="pre">ask</span></tt> method described above or, to make sure the user
provided a correct answer, the <tt class="docutils literal"><span class="pre">askAndValidate</span></tt> method. Both have
the disadvantage that you need to handle incorrect values yourself.</p>
<p>Instead, you can use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/DialogHelper.html#method_select" title="Symfony\Component\Console\Helper\DialogHelper::select()"><span class="pre">select()</span></a></tt>
method, which makes sure that the user can only enter a valid string
from a predefined list:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
<span class="nv">$colors</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;red&#39;</span><span class="p">,</span> <span class="s1">&#39;blue&#39;</span><span class="p">,</span> <span class="s1">&#39;yellow&#39;</span><span class="p">);</span>

<span class="nv">$color</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">select</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please select your favorite color (default to red)&#39;</span><span class="p">,</span>
    <span class="nv">$colors</span><span class="p">,</span>
    <span class="mi">0</span>
<span class="p">);</span>
<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span><span class="s1">&#39;You have just selected: &#39;</span> <span class="o">.</span> <span class="nv">$colors</span><span class="p">[</span><span class="nv">$color</span><span class="p">]);</span>

<span class="c1">// ... do something with the color</span>
</pre></div>
</div>
<p>The option which should be selected by default is provided with the fourth
argument. The default is <tt class="docutils literal"><span class="pre">null</span></tt>, which means that no option is the default one.</p>
<p>If the user enters an invalid string, an error message is shown and the user
is asked to provide the answer another time, until they enter a valid string
or the maximum attempts is reached (which you can define in the fifth
argument). The default value for the attempts is <tt class="docutils literal"><span class="pre">false</span></tt>, which means infinite
attempts. You can define your own error message in the sixth argument.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>Multiselect support was introduced in Symfony 2.3.</p>
</div>
<div class="section" id="multiple-choices">
<h4>Multiple Choices<a class="headerlink" href="#multiple-choices" title="Permalink to this headline">¶</a></h4>
<p>Sometimes, multiple answers can be given. The DialogHelper provides this
feature using comma separated values. This is disabled by default, to enable
this set the seventh argument to <tt class="docutils literal"><span class="pre">true</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>

<span class="nv">$selected</span> <span class="o">=</span> <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">select</span><span class="p">(</span>
    <span class="nv">$output</span><span class="p">,</span>
    <span class="s1">&#39;Please select your favorite color (default to red)&#39;</span><span class="p">,</span>
    <span class="nv">$colors</span><span class="p">,</span>
    <span class="mi">0</span><span class="p">,</span>
    <span class="k">false</span><span class="p">,</span>
    <span class="s1">&#39;Value &quot;%s&quot; is invalid&#39;</span><span class="p">,</span>
    <span class="k">true</span> <span class="c1">// enable multiselect</span>
<span class="p">);</span>

<span class="nv">$selectedColors</span> <span class="o">=</span> <span class="nb">array_map</span><span class="p">(</span><span class="k">function</span><span class="p">(</span><span class="nv">$c</span><span class="p">)</span> <span class="k">use</span> <span class="p">(</span><span class="nv">$colors</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nv">$colors</span><span class="p">[</span><span class="nv">$c</span><span class="p">];</span>
<span class="p">},</span> <span class="nv">$selected</span><span class="p">);</span>

<span class="nv">$output</span><span class="o">-&gt;</span><span class="na">writeln</span><span class="p">(</span>
    <span class="s1">&#39;You have just selected: &#39;</span> <span class="o">.</span> <span class="nb">implode</span><span class="p">(</span><span class="s1">&#39;, &#39;</span><span class="p">,</span> <span class="nv">$selectedColors</span><span class="p">)</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Now, when the user enters <tt class="docutils literal"><span class="pre">1,2</span></tt>, the result will be:
<tt class="docutils literal"><span class="pre">You</span> <span class="pre">have</span> <span class="pre">just</span> <span class="pre">selected:</span> <span class="pre">blue,</span> <span class="pre">yellow</span></tt>.</p>
</div>
</div>
</div>
<div class="section" id="testing-a-command-which-expects-input">
<h2>Testing a Command which Expects Input<a class="headerlink" href="#testing-a-command-which-expects-input" title="Permalink to this headline">¶</a></h2>
<p>If you want to write a unit test for a command which expects some kind of input
from the command line, you need to overwrite the HelperSet used by the command:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Helper\DialogHelper</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Console\Helper\HelperSet</span><span class="p">;</span>

<span class="c1">// ...</span>
<span class="k">public</span> <span class="k">function</span> <span class="nf">testExecute</span><span class="p">()</span>
<span class="p">{</span>
    <span class="c1">// ...</span>
    <span class="nv">$commandTester</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">CommandTester</span><span class="p">(</span><span class="nv">$command</span><span class="p">);</span>

    <span class="nv">$dialog</span> <span class="o">=</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getHelper</span><span class="p">(</span><span class="s1">&#39;dialog&#39;</span><span class="p">);</span>
    <span class="nv">$dialog</span><span class="o">-&gt;</span><span class="na">setInputStream</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getInputStream</span><span class="p">(</span><span class="s1">&#39;Test\n&#39;</span><span class="p">));</span>
    <span class="c1">// Equals to a user inputing &quot;Test&quot; and hitting ENTER</span>
    <span class="c1">// If you need to enter a confirmation, &quot;yes\n&quot; will work</span>

    <span class="nv">$commandTester</span><span class="o">-&gt;</span><span class="na">execute</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;command&#39;</span> <span class="o">=&gt;</span> <span class="nv">$command</span><span class="o">-&gt;</span><span class="na">getName</span><span class="p">()));</span>

    <span class="c1">// $this-&gt;assertRegExp(&#39;/.../&#39;, $commandTester-&gt;getDisplay());</span>
<span class="p">}</span>

<span class="k">protected</span> <span class="k">function</span> <span class="nf">getInputStream</span><span class="p">(</span><span class="nv">$input</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$stream</span> <span class="o">=</span> <span class="nb">fopen</span><span class="p">(</span><span class="s1">&#39;php://memory&#39;</span><span class="p">,</span> <span class="s1">&#39;r+&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
    <span class="nb">fputs</span><span class="p">(</span><span class="nv">$stream</span><span class="p">,</span> <span class="nv">$input</span><span class="p">);</span>
    <span class="nb">rewind</span><span class="p">(</span><span class="nv">$stream</span><span class="p">);</span>

    <span class="k">return</span> <span class="nv">$stream</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>By setting the input stream of the <tt class="docutils literal"><span class="pre">DialogHelper</span></tt>, you imitate what the
console would do internally with all user input through the cli. This way
you can test any user interaction (even complex ones) by passing an appropriate
input stream.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Dialog Helper</a><ul>
<li><a class="reference internal" href="#asking-the-user-for-confirmation">Asking the User for Confirmation</a></li>
<li><a class="reference internal" href="#asking-the-user-for-information">Asking the User for Information</a><ul>
<li><a class="reference internal" href="#autocompletion">Autocompletion</a></li>
<li><a class="reference internal" href="#hiding-the-user-s-response">Hiding the User&#8217;s Response</a></li>
</ul>
</li>
<li><a class="reference internal" href="#validating-the-answer">Validating the Answer</a><ul>
<li><a class="reference internal" href="#validating-a-hidden-response">Validating a Hidden Response</a></li>
<li><a class="reference internal" href="#let-the-user-choose-from-a-list-of-answers">Let the User Choose from a List of Answers</a><ul>
<li><a class="reference internal" href="#multiple-choices">Multiple Choices</a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#testing-a-command-which-expects-input">Testing a Command which Expects Input</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">The Console Helpers</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="formatterhelper.html"
                        title="next chapter">Formatter Helper</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/dialoghelper.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="formatterhelper.html" title="Formatter Helper"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="The Console Helpers"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>