<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Progress Bar &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="Progress Helper" href="progresshelper.html" />
    <link rel="prev" title="Formatter Helper" href="formatterhelper.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="progresshelper.html" title="Progress Helper"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="formatterhelper.html" title="Formatter Helper"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="progress-bar">
<span id="index-0"></span><h1>Progress Bar<a class="headerlink" href="#progress-bar" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The Progress Bar feature was introduced in Symfony 2.5 as a replacement for
the <a class="reference internal" href="progresshelper.html"><em>Progress Helper</em></a>.</p>
</div>
<p>When executing longer-running commands, it may be helpful to show progress
information, which updates as your command runs:</p>
<img alt="../../../_images/progressbar.gif" src="../../../_images/progressbar.gif" />
<p>To display progress details, use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html" title="Symfony\Component\Console\Helper\ProgressBar"><span class="pre">ProgressBar</span></a></tt>, pass it a total
number of units, and advance the progress as the command executes:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Console\Helper\ProgressBar</span><span class="p">;</span>

<span class="c1">// create a new progress bar (50 units)</span>
<span class="nv">$progress</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ProgressBar</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">50</span><span class="p">);</span>

<span class="c1">// start and displays the progress bar</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">();</span>

<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... do some work</span>

    <span class="c1">// advance the progress bar 1 unit</span>
    <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>

    <span class="c1">// you can also advance the progress bar by more than 1 unit</span>
    <span class="c1">// $progress-&gt;advance(3);</span>
<span class="p">}</span>

<span class="c1">// ensure that the progress bar is at 100%</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">finish</span><span class="p">();</span>
</pre></div>
</div>
<p>Instead of advancing the bar by a number of steps (with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html#method_advance" title="Symfony\Component\Console\Helper\ProgressBar::advance()"><span class="pre">advance()</span></a></tt> method),
you can also set the current progress by calling the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html#method_setCurrent" title="Symfony\Component\Console\Helper\ProgressBar::setCurrent()"><span class="pre">setCurrent()</span></a></tt> method.</p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The progress bar only works if your platform supports ANSI codes; on other
platforms, no output is generated.</p>
</div>
<p>If you don&#8217;t know the number of steps in advance, just omit the steps argument
when creating the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html" title="Symfony\Component\Console\Helper\ProgressBar"><span class="pre">ProgressBar</span></a></tt>
instance:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ProgressBar</span><span class="p">(</span><span class="nv">$output</span><span class="p">);</span>
</pre></div>
</div>
<p>The progress will then be displayed as a throbber:</p>
<div class="highlight-text"><div class="highlight"><pre># no max steps (displays it like a throbber)
    0 [&gt;---------------------------]
    5 [-----&gt;----------------------]
    5 [============================]

# max steps defined
 0/3 [&gt;---------------------------]   0%
 1/3 [=========&gt;------------------]  33%
 3/3 [============================] 100%
</pre></div>
</div>
<p>Whenever your task is finished, don&#8217;t forget to call
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html#method_finish" title="Symfony\Component\Console\Helper\ProgressBar::finish()"><span class="pre">finish()</span></a></tt> to ensure
that the progress bar display is refreshed with a 100% completion.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you want to output something while the progress bar is running,
call <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html#method_clear" title="Symfony\Component\Console\Helper\ProgressBar::clear()"><span class="pre">clear()</span></a></tt> first.
After you&#8217;re done, call
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressBar.html#method_display" title="Symfony\Component\Console\Helper\ProgressBar::display()"><span class="pre">display()</span></a></tt>
to show the progress bar again.</p>
</div>
<div class="section" id="customizing-the-progress-bar">
<h2>Customizing the Progress Bar<a class="headerlink" href="#customizing-the-progress-bar" title="Permalink to this headline">¶</a></h2>
<div class="section" id="built-in-formats">
<h3>Built-in Formats<a class="headerlink" href="#built-in-formats" title="Permalink to this headline">¶</a></h3>
<p>By default, the information rendered on a progress bar depends on the current
level of verbosity of the <tt class="docutils literal"><span class="pre">OutputInterface</span></tt> instance:</p>
<div class="highlight-text"><div class="highlight"><pre># OutputInterface::VERBOSITY_NORMAL (CLI with no verbosity flag)
 0/3 [&gt;---------------------------]   0%
 1/3 [=========&gt;------------------]  33%
 3/3 [============================] 100%

# OutputInterface::VERBOSITY_VERBOSE (-v)
 0/3 [&gt;---------------------------]   0%  1 sec
 1/3 [=========&gt;------------------]  33%  1 sec
 3/3 [============================] 100%  1 sec

# OutputInterface::VERBOSITY_VERY_VERBOSE (-vv)
 0/3 [&gt;---------------------------]   0%  1 sec
 1/3 [=========&gt;------------------]  33%  1 sec
 3/3 [============================] 100%  1 sec

# OutputInterface::VERBOSITY_DEBUG (-vvv)
 0/3 [&gt;---------------------------]   0%  1 sec/1 sec  1.0 MB
 1/3 [=========&gt;------------------]  33%  1 sec/1 sec  1.0 MB
 3/3 [============================] 100%  1 sec/1 sec  1.0 MB
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">If you call a command with the quiet flag (<tt class="docutils literal"><span class="pre">-q</span></tt>), the progress bar won&#8217;t
be displayed.</p>
</div>
<p>Instead of relying on the verbosity mode of the current command, you can also
force a format via <tt class="docutils literal"><span class="pre">setFormat()</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="s1">&#39;verbose&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>The built-in formats are the following:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">normal</span></tt></li>
<li><tt class="docutils literal"><span class="pre">verbose</span></tt></li>
<li><tt class="docutils literal"><span class="pre">very_verbose</span></tt></li>
<li><tt class="docutils literal"><span class="pre">debug</span></tt></li>
</ul>
<p>If you don&#8217;t set the number of steps for your progress bar, use the <tt class="docutils literal"><span class="pre">_nomax</span></tt>
variants:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">normal_nomax</span></tt></li>
<li><tt class="docutils literal"><span class="pre">verbose_nomax</span></tt></li>
<li><tt class="docutils literal"><span class="pre">very_verbose_nomax</span></tt></li>
<li><tt class="docutils literal"><span class="pre">debug_nomax</span></tt></li>
</ul>
</div>
<div class="section" id="custom-formats">
<h3>Custom Formats<a class="headerlink" href="#custom-formats" title="Permalink to this headline">¶</a></h3>
<p>Instead of using the built-in formats, you can also set your own:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="s1">&#39;%bar%&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>This sets the format to only display the progress bar itself:</p>
<div class="highlight-text"><div class="highlight"><pre>&gt;---------------------------
=========&gt;------------------
============================
</pre></div>
</div>
<p>A progress bar format is a string that contains specific placeholders (a name
enclosed with the <tt class="docutils literal"><span class="pre">%</span></tt> character); the placeholders are replaced based on the
current progress of the bar. Here is a list of the built-in placeholders:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">current</span></tt>: The current step;</li>
<li><tt class="docutils literal"><span class="pre">max</span></tt>: The maximum number of steps (or 0 if no max is defined);</li>
<li><tt class="docutils literal"><span class="pre">bar</span></tt>: The bar itself;</li>
<li><tt class="docutils literal"><span class="pre">percent</span></tt>: The percentage of completion (not available if no max is defined);</li>
<li><tt class="docutils literal"><span class="pre">elapsed</span></tt>: The time elapsed since the start of the progress bar;</li>
<li><tt class="docutils literal"><span class="pre">remaining</span></tt>: The remaining time to complete the task (not available if no max is defined);</li>
<li><tt class="docutils literal"><span class="pre">estimated</span></tt>: The estimated time to complete the task (not available if no max is defined);</li>
<li><tt class="docutils literal"><span class="pre">memory</span></tt>: The current memory usage;</li>
<li><tt class="docutils literal"><span class="pre">message</span></tt>: The current message attached to the progress bar.</li>
</ul>
<p>For instance, here is how you could set the format to be the same as the
<tt class="docutils literal"><span class="pre">debug</span></tt> one:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="s1">&#39; %current%/%max% [%bar%] %percent:3s%% %elapsed:6s%/%estimated:-6s% %memory:6s%&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Notice the <tt class="docutils literal"><span class="pre">:6s</span></tt> part added to some placeholders? That&#8217;s how you can tweak
the appearance of the bar (formatting and alignment). The part after the colon
(<tt class="docutils literal"><span class="pre">:</span></tt>) is used to set the <tt class="docutils literal"><span class="pre">sprintf</span></tt> format of the string.</p>
<p>The <tt class="docutils literal"><span class="pre">message</span></tt> placeholder is a bit special as you must set the value
yourself:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;Task starts&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">();</span>

<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;Task in progress...&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>

<span class="c1">// ...</span>

<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;Task is finished&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">finish</span><span class="p">();</span>
</pre></div>
</div>
<p>Instead of setting the format for a given instance of a progress bar, you can
also define global formats:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">ProgressBar</span><span class="o">::</span><span class="na">setFormatDefinition</span><span class="p">(</span><span class="s1">&#39;minimal&#39;</span><span class="p">,</span> <span class="s1">&#39;Progress: %percent%%&#39;</span><span class="p">);</span>

<span class="nv">$bar</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ProgressBar</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">3</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="s1">&#39;minimal&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>This code defines a new <tt class="docutils literal"><span class="pre">minimal</span></tt> format that you can then use for your
progress bars:</p>
<div class="highlight-text"><div class="highlight"><pre>Progress: 0%
Progress: 33%
Progress: 100%
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">It is almost always better to redefine built-in formats instead of creating
new ones as that allows the display to automatically vary based on the
verbosity flag of the command.</p>
</div>
<p>When defining a new style that contains placeholders that are only available
when the maximum number of steps is known, you should create a <tt class="docutils literal"><span class="pre">_nomax</span></tt>
variant:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">ProgressBar</span><span class="o">::</span><span class="na">setFormatDefinition</span><span class="p">(</span><span class="s1">&#39;minimal&#39;</span><span class="p">,</span> <span class="s1">&#39;%percent%% %remaining%&#39;</span><span class="p">);</span>
<span class="nx">ProgressBar</span><span class="o">::</span><span class="na">setFormatDefinition</span><span class="p">(</span><span class="s1">&#39;minimal_nomax&#39;</span><span class="p">,</span> <span class="s1">&#39;%percent%%&#39;</span><span class="p">);</span>

<span class="nv">$bar</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">ProgressBar</span><span class="p">(</span><span class="nv">$output</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="s1">&#39;minimal&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>When displaying the progress bar, the format will automatically be set to
<tt class="docutils literal"><span class="pre">minimal_nomax</span></tt> if the bar does not have a maximum number of steps like in
the example above.</p>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>A format can contain any valid ANSI codes and can also use the
Symfony-specific way to set colors:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="nx">ProgressBar</span><span class="o">::</span><span class="na">setFormatDefinition</span><span class="p">(</span>
    <span class="s1">&#39;minimal&#39;</span><span class="p">,</span>
    <span class="s1">&#39;&lt;info&gt;%percent%&lt;/info&gt;\033[32m%\033[0m &lt;fg=white;bg=blue&gt;%remaining%&lt;/&gt;&#39;</span>
<span class="p">);</span>
</pre></div>
</div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">A format can span more than one line; that&#8217;s very useful when you want to
display more contextual information alongside the progress bar (see the
example at the beginning of this article).</p>
</div>
</div>
<div class="section" id="bar-settings">
<h3>Bar Settings<a class="headerlink" href="#bar-settings" title="Permalink to this headline">¶</a></h3>
<p>Amongst the placeholders, <tt class="docutils literal"><span class="pre">bar</span></tt> is a bit special as all the characters used
to display it can be customized:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// the finished part of the bar</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarCharacter</span><span class="p">(</span><span class="s1">&#39;&lt;comment&gt;=&lt;/comment&gt;&#39;</span><span class="p">);</span>

<span class="c1">// the unfinished part of the bar</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setEmptyBarCharacter</span><span class="p">(</span><span class="s1">&#39; &#39;</span><span class="p">);</span>

<span class="c1">// the progress character</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setProgressCharacter</span><span class="p">(</span><span class="s1">&#39;|&#39;</span><span class="p">);</span>

<span class="c1">// the bar width</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarWidth</span><span class="p">(</span><span class="mi">50</span><span class="p">);</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p>For performance reasons, be careful if you set the total number of steps
to a high number. For example, if you&#8217;re iterating over a large number of
items, consider setting the redraw frequency to a higher value by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_setRedrawFrequency" title="Symfony\Component\Console\Helper\ProgressHelper::setRedrawFrequency()"><span class="pre">setRedrawFrequency()</span></a></tt>,
so it updates on only some iterations:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">50000</span><span class="p">);</span>

<span class="c1">// update every 100 iterations</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setRedrawFrequency</span><span class="p">(</span><span class="mi">100</span><span class="p">);</span>

<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50000</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... do some work</span>

    <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="custom-placeholders">
<h3>Custom Placeholders<a class="headerlink" href="#custom-placeholders" title="Permalink to this headline">¶</a></h3>
<p>If you want to display some information that depends on the progress bar
display that are not available in the list of built-in placeholders, you can
create your own. Let&#8217;s see how you can create a <tt class="docutils literal"><span class="pre">remaining_steps</span></tt> placeholder
that displays the number of remaining steps:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nx">ProgressBar</span><span class="o">::</span><span class="na">setPlaceholderFormatter</span><span class="p">(</span>
    <span class="s1">&#39;%remaining_steps%&#39;</span><span class="p">,</span>
    <span class="k">function</span> <span class="p">(</span><span class="nx">ProgressBar</span> <span class="nv">$bar</span><span class="p">,</span> <span class="nx">OutputInterface</span> <span class="nv">$output</span><span class="p">)</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">getMaxSteps</span><span class="p">()</span> <span class="o">-</span> <span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">getStep</span><span class="p">();</span>
    <span class="p">}</span>
<span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="custom-messages">
<h3>Custom Messages<a class="headerlink" href="#custom-messages" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><span class="pre">%message%</span></tt> placeholder allows you to specify a custom message to be
displayed with the progress bar. But if you need more than one, just define
your own:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;Task starts&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;&#39;</span><span class="p">,</span> <span class="s1">&#39;filename&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">();</span>

<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;Task is in progress...&#39;</span><span class="p">);</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$file</span> <span class="o">=</span> <span class="nb">array_pop</span><span class="p">(</span><span class="nv">$files</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="nv">$filename</span><span class="p">,</span> <span class="s1">&#39;filename&#39;</span><span class="p">);</span>
    <span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
<span class="p">}</span>

<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;Task is finished&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setMessage</span><span class="p">(</span><span class="s1">&#39;&#39;</span><span class="p">,</span> <span class="s1">&#39;filename&#39;</span><span class="p">);</span>
<span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">finish</span><span class="p">();</span>
</pre></div>
</div>
<p>For the <tt class="docutils literal"><span class="pre">filename</span></tt> to be part of the progress bar, just add the
<tt class="docutils literal"><span class="pre">%filename%</span></tt> placeholder in your format:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$bar</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="s2">&quot; %message%</span><span class="se">\n</span><span class="s2"> %step%/%max%</span><span class="se">\n</span><span class="s2"> Working on %filename%&quot;</span><span class="p">);</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Progress Bar</a><ul>
<li><a class="reference internal" href="#customizing-the-progress-bar">Customizing the Progress Bar</a><ul>
<li><a class="reference internal" href="#built-in-formats">Built-in Formats</a></li>
<li><a class="reference internal" href="#custom-formats">Custom Formats</a></li>
<li><a class="reference internal" href="#bar-settings">Bar Settings</a></li>
<li><a class="reference internal" href="#custom-placeholders">Custom Placeholders</a></li>
<li><a class="reference internal" href="#custom-messages">Custom Messages</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="formatterhelper.html"
                        title="previous chapter">Formatter Helper</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="progresshelper.html"
                        title="next chapter">Progress Helper</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/progressbar.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="progresshelper.html" title="Progress Helper"
             >next</a> |</li>
        <li class="right" >
          <a href="formatterhelper.html" title="Formatter Helper"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>