<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Progress Helper &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="Question Helper" href="questionhelper.html" />
    <link rel="prev" title="Progress Bar" href="progressbar.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="questionhelper.html" title="Question Helper"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="progressbar.html" title="Progress Bar"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="progress-helper">
<span id="index-0"></span><h1>Progress Helper<a class="headerlink" href="#progress-helper" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">setCurrent</span></tt> method was introduced in Symfony 2.3.</p>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><span class="pre">clear</span></tt> method was introduced in Symfony 2.4.</p>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The Progress Helper was deprecated in Symfony 2.5 and will be removed in
Symfony 3.0. You should now use the
<a class="reference internal" href="progressbar.html"><em>Progress Bar</em></a> instead which
is more powerful.</p>
</div>
<p>When executing longer-running commands, it may be helpful to show progress
information, which updates as your command runs:</p>
<img alt="../../../_images/progress.png" src="../../../_images/progress.png" />
<p>To display progress details, use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html" title="Symfony\Component\Console\Helper\ProgressHelper"><span class="pre">ProgressHelper</span></a></tt>,
pass it a total number of units, and advance the progress as your command executes:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;progress&#39;</span><span class="p">);</span>

<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">50</span><span class="p">);</span>
<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... do some work</span>

    <span class="c1">// advances the progress bar 1 unit</span>
    <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
<span class="p">}</span>

<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">finish</span><span class="p">();</span>
</pre></div>
</div>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p class="last">You can also set the current progress by calling the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_setCurrent" title="Symfony\Component\Console\Helper\ProgressHelper::setCurrent()"><span class="pre">setCurrent()</span></a></tt>
method.</p>
</div>
<p>If you want to output something while the progress bar is running,
call <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_clear" title="Symfony\Component\Console\Helper\ProgressHelper::clear()"><span class="pre">clear()</span></a></tt> first.
After you&#8217;re done, call
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_display" title="Symfony\Component\Console\Helper\ProgressHelper::display()"><span class="pre">display()</span></a></tt>
to show the progress bar again.</p>
<p>The appearance of the progress output can be customized as well, with a number
of different levels of verbosity. Each of these displays different possible
items - like percentage completion, a moving progress bar, or current/total
information (e.g. 10/50):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_QUIET</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_NORMAL</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_VERBOSE</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_QUIET_NOMAX</span><span class="p">);</span>
<span class="c1">// the default value</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_NORMAL_NOMAX</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setFormat</span><span class="p">(</span><span class="nx">ProgressHelper</span><span class="o">::</span><span class="na">FORMAT_VERBOSE_NOMAX</span><span class="p">);</span>
</pre></div>
</div>
<p>You can also control the different characters and the width used for the
progress bar:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// the finished part of the bar</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarCharacter</span><span class="p">(</span><span class="s1">&#39;&lt;comment&gt;=&lt;/comment&gt;&#39;</span><span class="p">);</span>
<span class="c1">// the unfinished part of the bar</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setEmptyBarCharacter</span><span class="p">(</span><span class="s1">&#39; &#39;</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setProgressCharacter</span><span class="p">(</span><span class="s1">&#39;|&#39;</span><span class="p">);</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setBarWidth</span><span class="p">(</span><span class="mi">50</span><span class="p">);</span>
</pre></div>
</div>
<p>To see other available options, check the API documentation for
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html" title="Symfony\Component\Console\Helper\ProgressHelper"><span class="pre">ProgressHelper</span></a></tt>.</p>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p>For performance reasons, be careful if you set the total number of steps
to a high number. For example, if you&#8217;re iterating over a large number of
items, consider setting the redraw frequency to a higher value by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/ProgressHelper.html#method_setRedrawFrequency" title="Symfony\Component\Console\Helper\ProgressHelper::setRedrawFrequency()"><span class="pre">setRedrawFrequency()</span></a></tt>,
so it updates on only some iterations:</p>
<div class="last highlight-php"><div class="highlight"><pre><span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">start</span><span class="p">(</span><span class="nv">$output</span><span class="p">,</span> <span class="mi">50000</span><span class="p">);</span>

<span class="c1">// updates every 100 iterations</span>
<span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">setRedrawFrequency</span><span class="p">(</span><span class="mi">100</span><span class="p">);</span>

<span class="nv">$i</span> <span class="o">=</span> <span class="mi">0</span><span class="p">;</span>
<span class="k">while</span> <span class="p">(</span><span class="nv">$i</span><span class="o">++</span> <span class="o">&lt;</span> <span class="mi">50000</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... do some work</span>

    <span class="nv">$progress</span><span class="o">-&gt;</span><span class="na">advance</span><span class="p">();</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="progressbar.html"
                        title="previous chapter">Progress Bar</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="questionhelper.html"
                        title="next chapter">Question Helper</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/progresshelper.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="questionhelper.html" title="Question Helper"
             >next</a> |</li>
        <li class="right" >
          <a href="progressbar.html" title="Progress Bar"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>