<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Table Helper &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="The CssSelector Component" href="../../css_selector.html" />
    <link rel="prev" title="Table" href="table.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../../css_selector.html" title="The CssSelector Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="table.html" title="Table"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="table-helper">
<span id="index-0"></span><h1>Table Helper<a class="headerlink" href="#table-helper" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><span class="pre">table</span></tt> helper was introduced in Symfony 2.3.</p>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The Table Helper was deprecated in Symfony 2.5 and will be removed in
Symfony 3.0. You should now use the
<a class="reference internal" href="table.html"><em>Table</em></a> class instead which is
more powerful.</p>
</div>
<p>When building a console application it may be useful to display tabular data:</p>
<img alt="../../../_images/table.png" src="../../../_images/table.png" />
<p>To display a table, use the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html" title="Symfony\Component\Console\Helper\TableHelper"><span class="pre">TableHelper</span></a></tt>,
set headers, rows and render:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$table</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">getHelperSet</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">get</span><span class="p">(</span><span class="s1">&#39;table&#39;</span><span class="p">);</span>
<span class="nv">$table</span>
    <span class="o">-&gt;</span><span class="na">setHeaders</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;ISBN&#39;</span><span class="p">,</span> <span class="s1">&#39;Title&#39;</span><span class="p">,</span> <span class="s1">&#39;Author&#39;</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">setRows</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;99921-58-10-7&#39;</span><span class="p">,</span> <span class="s1">&#39;Divine Comedy&#39;</span><span class="p">,</span> <span class="s1">&#39;Dante Alighieri&#39;</span><span class="p">),</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;9971-5-0210-0&#39;</span><span class="p">,</span> <span class="s1">&#39;A Tale of Two Cities&#39;</span><span class="p">,</span> <span class="s1">&#39;Charles Dickens&#39;</span><span class="p">),</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;960-425-059-0&#39;</span><span class="p">,</span> <span class="s1">&#39;The Lord of the Rings&#39;</span><span class="p">,</span> <span class="s1">&#39;J. R. R. Tolkien&#39;</span><span class="p">),</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;80-902734-1-6&#39;</span><span class="p">,</span> <span class="s1">&#39;And Then There Were None&#39;</span><span class="p">,</span> <span class="s1">&#39;Agatha Christie&#39;</span><span class="p">),</span>
    <span class="p">))</span>
<span class="p">;</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="nv">$output</span><span class="p">);</span>
</pre></div>
</div>
<p>The table layout can be customized as well. There are two ways to customize
table rendering: using named layouts or by customizing rendering options.</p>
<div class="section" id="customize-table-layout-using-named-layouts">
<h2>Customize Table Layout using Named Layouts<a class="headerlink" href="#customize-table-layout-using-named-layouts" title="Permalink to this headline">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><span class="pre">TableHelper::LAYOUT_COMPACT</span></tt> layout was introduced in Symfony 2.4.</p>
</div>
<p>The Table helper ships with three preconfigured table layouts:</p>
<ul class="simple">
<li><tt class="docutils literal"><span class="pre">TableHelper::LAYOUT_DEFAULT</span></tt></li>
<li><tt class="docutils literal"><span class="pre">TableHelper::LAYOUT_BORDERLESS</span></tt></li>
<li><tt class="docutils literal"><span class="pre">TableHelper::LAYOUT_COMPACT</span></tt></li>
</ul>
<p>Layout can be set using <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setLayout" title="Symfony\Component\Console\Helper\TableHelper::setLayout()"><span class="pre">setLayout()</span></a></tt> method.</p>
</div>
<div class="section" id="customize-table-layout-using-rendering-options">
<h2>Customize Table Layout using Rendering Options<a class="headerlink" href="#customize-table-layout-using-rendering-options" title="Permalink to this headline">¶</a></h2>
<p>You can also control table rendering by setting custom rendering option values:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setPaddingChar" title="Symfony\Component\Console\Helper\TableHelper::setPaddingChar()"><span class="pre">setPaddingChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setHorizontalBorderChar" title="Symfony\Component\Console\Helper\TableHelper::setHorizontalBorderChar()"><span class="pre">setHorizontalBorderChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setVerticalBorderChar" title="Symfony\Component\Console\Helper\TableHelper::setVerticalBorderChar()"><span class="pre">setVerticalBorderChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setCrossingChar" title="Symfony\Component\Console\Helper\TableHelper::setCrossingChar()"><span class="pre">setCrossingChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setCellHeaderFormat" title="Symfony\Component\Console\Helper\TableHelper::setCellHeaderFormat()"><span class="pre">setCellHeaderFormat()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setCellRowFormat" title="Symfony\Component\Console\Helper\TableHelper::setCellRowFormat()"><span class="pre">setCellRowFormat()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setBorderFormat" title="Symfony\Component\Console\Helper\TableHelper::setBorderFormat()"><span class="pre">setBorderFormat()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableHelper.html#method_setPadType" title="Symfony\Component\Console\Helper\TableHelper::setPadType()"><span class="pre">setPadType()</span></a></tt></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Table Helper</a><ul>
<li><a class="reference internal" href="#customize-table-layout-using-named-layouts">Customize Table Layout using Named Layouts</a></li>
<li><a class="reference internal" href="#customize-table-layout-using-rendering-options">Customize Table Layout using Rendering Options</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="table.html"
                        title="previous chapter">Table</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../../css_selector.html"
                        title="next chapter">The CssSelector Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/tablehelper.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../../css_selector.html" title="The CssSelector Component"
             >next</a> |</li>
        <li class="right" >
          <a href="table.html" title="Table"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>