<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Table &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../../index.html" />
    <link rel="up" title="The Console Helpers" href="index.html" />
    <link rel="next" title="Table Helper" href="tablehelper.html" />
    <link rel="prev" title="Question Helper" href="questionhelper.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="tablehelper.html" title="Table Helper"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="questionhelper.html" title="Question Helper"
             accesskey="P">previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="table">
<span id="index-0"></span><h1>Table<a class="headerlink" href="#table" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The <tt class="docutils literal"><span class="pre">Table</span></tt> class was introduced in Symfony 2.5 as a replacement for the
<a class="reference internal" href="tablehelper.html"><em>Table Helper</em></a>.</p>
</div>
<p>When building a console application it may be useful to display tabular data:</p>
<div class="highlight-text"><div class="highlight"><pre>+---------------+--------------------------+------------------+
| ISBN          | Title                    | Author           |
+---------------+--------------------------+------------------+
| 99921-58-10-7 | Divine Comedy            | Dante Alighieri  |
| 9971-5-0210-0 | A Tale of Two Cities     | Charles Dickens  |
| 960-425-059-0 | The Lord of the Rings    | J. R. R. Tolkien |
| 80-902734-1-6 | And Then There Were None | Agatha Christie  |
+---------------+--------------------------+------------------+
</pre></div>
</div>
<p>To display a table, use <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/Table.html" title="Symfony\Component\Console\Helper\Table"><span class="pre">Table</span></a></tt>,
set the headers, set the rows and then render the table:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Helper\Table</span><span class="p">;</span>

<span class="nv">$table</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Table</span><span class="p">(</span><span class="nv">$output</span><span class="p">);</span>
<span class="nv">$table</span>
    <span class="o">-&gt;</span><span class="na">setHeaders</span><span class="p">(</span><span class="k">array</span><span class="p">(</span><span class="s1">&#39;ISBN&#39;</span><span class="p">,</span> <span class="s1">&#39;Title&#39;</span><span class="p">,</span> <span class="s1">&#39;Author&#39;</span><span class="p">))</span>
    <span class="o">-&gt;</span><span class="na">setRows</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;99921-58-10-7&#39;</span><span class="p">,</span> <span class="s1">&#39;Divine Comedy&#39;</span><span class="p">,</span> <span class="s1">&#39;Dante Alighieri&#39;</span><span class="p">),</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;9971-5-0210-0&#39;</span><span class="p">,</span> <span class="s1">&#39;A Tale of Two Cities&#39;</span><span class="p">,</span> <span class="s1">&#39;Charles Dickens&#39;</span><span class="p">),</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;960-425-059-0&#39;</span><span class="p">,</span> <span class="s1">&#39;The Lord of the Rings&#39;</span><span class="p">,</span> <span class="s1">&#39;J. R. R. Tolkien&#39;</span><span class="p">),</span>
        <span class="k">array</span><span class="p">(</span><span class="s1">&#39;80-902734-1-6&#39;</span><span class="p">,</span> <span class="s1">&#39;And Then There Were None&#39;</span><span class="p">,</span> <span class="s1">&#39;Agatha Christie&#39;</span><span class="p">),</span>
    <span class="p">))</span>
<span class="p">;</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">();</span>
</pre></div>
</div>
<p>You can add a table separator anywhere in the output by passing an instance of
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableSeparator.html" title="Symfony\Component\Console\Helper\TableSeparator"><span class="pre">TableSeparator</span></a></tt> as a row:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Helper\TableSeparator</span><span class="p">;</span>

<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">setRows</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;99921-58-10-7&#39;</span><span class="p">,</span> <span class="s1">&#39;Divine Comedy&#39;</span><span class="p">,</span> <span class="s1">&#39;Dante Alighieri&#39;</span><span class="p">),</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;9971-5-0210-0&#39;</span><span class="p">,</span> <span class="s1">&#39;A Tale of Two Cities&#39;</span><span class="p">,</span> <span class="s1">&#39;Charles Dickens&#39;</span><span class="p">),</span>
    <span class="k">new</span> <span class="nx">TableSeparator</span><span class="p">(),</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;960-425-059-0&#39;</span><span class="p">,</span> <span class="s1">&#39;The Lord of the Rings&#39;</span><span class="p">,</span> <span class="s1">&#39;J. R. R. Tolkien&#39;</span><span class="p">),</span>
    <span class="k">array</span><span class="p">(</span><span class="s1">&#39;80-902734-1-6&#39;</span><span class="p">,</span> <span class="s1">&#39;And Then There Were None&#39;</span><span class="p">,</span> <span class="s1">&#39;Agatha Christie&#39;</span><span class="p">),</span>
<span class="p">));</span>
</pre></div>
</div>
<div class="highlight-text"><div class="highlight"><pre>+---------------+--------------------------+------------------+
| ISBN          | Title                    | Author           |
+---------------+--------------------------+------------------+
| 99921-58-10-7 | Divine Comedy            | Dante Alighieri  |
| 9971-5-0210-0 | A Tale of Two Cities     | Charles Dickens  |
+---------------+--------------------------+------------------+
| 960-425-059-0 | The Lord of the Rings    | J. R. R. Tolkien |
| 80-902734-1-6 | And Then There Were None | Agatha Christie  |
+---------------+--------------------------+------------------+
</pre></div>
</div>
<p>The table style can be changed to any built-in styles via
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/Table.html#method_setStyle" title="Symfony\Component\Console\Helper\Table::setStyle()"><span class="pre">setStyle()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// same as calling nothing</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="s1">&#39;default&#39;</span><span class="p">);</span>

<span class="c1">// changes the default style to compact</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="s1">&#39;compact&#39;</span><span class="p">);</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">();</span>
</pre></div>
</div>
<p>This code results in:</p>
<div class="highlight-text"><div class="highlight"><pre>ISBN          Title                    Author
99921-58-10-7 Divine Comedy            Dante Alighieri
9971-5-0210-0 A Tale of Two Cities     Charles Dickens
960-425-059-0 The Lord of the Rings    J. R. R. Tolkien
80-902734-1-6 And Then There Were None Agatha Christie
</pre></div>
</div>
<p>You can also set the style to <tt class="docutils literal"><span class="pre">borderless</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$table</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="s1">&#39;borderless&#39;</span><span class="p">);</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">();</span>
</pre></div>
</div>
<p>which outputs:</p>
<div class="highlight-text"><div class="highlight"><pre>=============== ========================== ==================
 ISBN            Title                      Author
=============== ========================== ==================
 99921-58-10-7   Divine Comedy              Dante Alighieri
 9971-5-0210-0   A Tale of Two Cities       Charles Dickens
 960-425-059-0   The Lord of the Rings      J. R. R. Tolkien
 80-902734-1-6   And Then There Were None   Agatha Christie
=============== ========================== ==================
</pre></div>
</div>
<p>If the built-in styles do not fit your need, define your own:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Helper\TableStyle</span><span class="p">;</span>

<span class="c1">// by default, this is based on the default style</span>
<span class="nv">$style</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">TableStyle</span><span class="p">();</span>

<span class="c1">// customize the style</span>
<span class="nv">$style</span>
    <span class="o">-&gt;</span><span class="na">setHorizontalBorderChar</span><span class="p">(</span><span class="s1">&#39;&lt;fg=magenta&gt;|&lt;/&gt;&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">setVerticalBorderChar</span><span class="p">(</span><span class="s1">&#39;&lt;fg=magenta&gt;-&lt;/&gt;&#39;</span><span class="p">)</span>
    <span class="o">-&gt;</span><span class="na">setCrossingChar</span><span class="p">(</span><span class="s1">&#39; &#39;</span><span class="p">)</span>
<span class="p">;</span>

<span class="c1">// use the style for this table</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="nv">$style</span><span class="p">);</span>
</pre></div>
</div>
<p>Here is a full list of things you can customize:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setPaddingChar" title="Symfony\Component\Console\Helper\TableStyle::setPaddingChar()"><span class="pre">setPaddingChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setHorizontalBorderChar" title="Symfony\Component\Console\Helper\TableStyle::setHorizontalBorderChar()"><span class="pre">setHorizontalBorderChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setVerticalBorderChar" title="Symfony\Component\Console\Helper\TableStyle::setVerticalBorderChar()"><span class="pre">setVerticalBorderChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setCrossingChar" title="Symfony\Component\Console\Helper\TableStyle::setCrossingChar()"><span class="pre">setCrossingChar()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setCellHeaderFormat" title="Symfony\Component\Console\Helper\TableStyle::setCellHeaderFormat()"><span class="pre">setCellHeaderFormat()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setCellRowFormat" title="Symfony\Component\Console\Helper\TableStyle::setCellRowFormat()"><span class="pre">setCellRowFormat()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setBorderFormat" title="Symfony\Component\Console\Helper\TableStyle::setBorderFormat()"><span class="pre">setBorderFormat()</span></a></tt></li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Console/Helper/TableStyle.html#method_setPadType" title="Symfony\Component\Console\Helper\TableStyle::setPadType()"><span class="pre">setPadType()</span></a></tt></li>
</ul>
<div class="admonition tip">
<p class="first admonition-title">Tip</p>
<p>You can also register a style globally:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// register the style under the colorful name</span>
<span class="nx">Table</span><span class="o">::</span><span class="na">setStyleDefinition</span><span class="p">(</span><span class="s1">&#39;colorful&#39;</span><span class="p">,</span> <span class="nv">$style</span><span class="p">);</span>

<span class="c1">// use it for a table</span>
<span class="nv">$table</span><span class="o">-&gt;</span><span class="na">setStyle</span><span class="p">(</span><span class="s1">&#39;colorful&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p class="last">This method can also be used to override a built-in style.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="questionhelper.html"
                        title="previous chapter">Question Helper</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="tablehelper.html"
                        title="next chapter">Table Helper</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../../_sources/components/console/helpers/table.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="tablehelper.html" title="Table Helper"
             >next</a> |</li>
        <li class="right" >
          <a href="questionhelper.html" title="Question Helper"
             >previous</a> |</li>
        <li><a href="../../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../../index.html" >The Components</a> &raquo;</li>
          <li><a href="../index.html" >Console</a> &raquo;</li>
          <li><a href="index.html" >The Console Helpers</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>