<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>O Componente ClassLoader &mdash; Symfony2.4Docs 2.4 documentation</title>
    
    <link rel="stylesheet" href="../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../',
        VERSION:     '2.4',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../_static/jquery.js"></script>
    <script type="text/javascript" src="../_static/underscore.js"></script>
    <script type="text/javascript" src="../_static/doctools.js"></script>
    <link rel="top" title="Symfony2.4Docs 2.4 documentation" href="../index.html" />
    <link rel="up" title="Os Componentes" href="index.html" />
    <link rel="next" title="Console" href="console/index.html" />
    <link rel="prev" title="Os Componentes" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="console/index.html" title="Console"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Os Componentes"
             accesskey="P">previous</a> |</li>
        <li><a href="../index.html">Symfony2.4Docs 2.4 documentation</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Os Componentes</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="o-componente-classloader">
<span id="index-0"></span><h1>O Componente ClassLoader<a class="headerlink" href="#o-componente-classloader" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>O Componente ClassLoader carrega as classes do seu projeto automaticamente se
elas seguirem algumas convenções PHP padrão.</div></blockquote>
<p>Sempre que você usar uma classe indefinida, o PHP utiliza o mecanismo de autoload automático
para delegar o carregamento de um arquivo definindo a classe. O Symfony2 fornece um
autoloader &#8220;universal&#8221;, que é capaz de carregar classes de arquivos que
implementam uma das seguintes convenções:</p>
<ul class="simple">
<li>Os <a class="reference external" href="http://symfony.com/PSR0">padrões</a> técnicos de interoperabilidade para namespaces do PHP 5.3 e para nomes de
classes;</li>
<li>A convenção de nomenclatura de classes do <a class="reference external" href="http://pear.php.net/manual/en/standards.php">PEAR</a>.</li>
</ul>
<p>Se as suas classes e as bibliotecas de terceiros que você usa no seu projeto seguem
estes padrões, o autoloader do Symfony2 é o único autoloader que
você vai precisar.</p>
<div class="section" id="instalacao">
<h2>Instalação<a class="headerlink" href="#instalacao" title="Permalink to this headline">¶</a></h2>
<p>Você pode instalar o componente de várias formas diferentes:</p>
<ul class="simple">
<li>Usando o repositório Git oficial (<a class="reference external" href="https://github.com/symfony/ClassLoader">https://github.com/symfony/ClassLoader</a>);</li>
<li>Instalando via PEAR ( <cite>pear.symfony.com/ClassLoader</cite>);</li>
<li>Instalando via Composer (<cite>symfony/class-loader</cite> no Packagist).</li>
</ul>
</div>
<div class="section" id="uso">
<h2>Uso<a class="headerlink" href="#uso" title="Permalink to this headline">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.1: </span>O método <tt class="docutils literal"><span class="pre">useIncludePath</span></tt> foi adicionado no Symfony 2.1.</p>
</div>
<p>Registrar o autoloader <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html" title="Symfony\Component\ClassLoader\UniversalClassLoader"><span class="pre">UniversalClassLoader</span></a></tt>
é simples:</p>
<div class="highlight-python"><div class="highlight"><pre>require_once &#39;/path/to/src/Symfony/Component/ClassLoader/UniversalClassLoader.php&#39;;

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();

// You can search the include_path as a last resort.
$loader-&gt;useIncludePath(true);

// ... register namespaces and prefixes here - see below

$loader-&gt;register();
</pre></div>
</div>
<p>Para ganhos de desempenho menores, os caminhos das classes podem ser armazenados em memória usando com
o APC registrando o <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/ApcUniversalClassLoader.html" title="Symfony\Component\ClassLoader\ApcUniversalClassLoader"><span class="pre">ApcUniversalClassLoader</span></a></tt>:</p>
<div class="highlight-python"><div class="highlight"><pre>require_once &#39;/path/to/src/Symfony/Component/ClassLoader/UniversalClassLoader.php&#39;;
require_once &#39;/path/to/src/Symfony/Component/ClassLoader/ApcUniversalClassLoader.php&#39;;

use Symfony\Component\ClassLoader\ApcUniversalClassLoader;

$loader = new ApcUniversalClassLoader(&#39;apc.prefix.&#39;);
$loader-&gt;register();
</pre></div>
</div>
<p>O autoloader somente é útil se você adicionar algumas bibliotecas para autoload.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">O autoloader é automaticamente registrado em uma aplicação Symfony2 (veja
<tt class="docutils literal"><span class="pre">app/autoload.php</span></tt>).</p>
</div>
<p>Se as classes para o autoload usam namespaces, utilize os métodos
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerNamespace" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerNamespace()"><span class="pre">registerNamespace()</span></a></tt>
ou
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerNamespaces" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerNamespaces()"><span class="pre">registerNamespaces()</span></a></tt></p>
<div class="highlight-python"><div class="highlight"><pre>$loader-&gt;registerNamespace(&#39;Symfony&#39;, __DIR__.&#39;/vendor/symfony/symfony/src&#39;);

$loader-&gt;registerNamespaces(array(
    &#39;Symfony&#39; =&gt; __DIR__.&#39;/../vendor/symfony/symfony/src&#39;,
    &#39;Monolog&#39; =&gt; __DIR__.&#39;/../vendor/monolog/monolog/src&#39;,
));

$loader-&gt;register();
</pre></div>
</div>
<p>Para as classes que seguem a convenção de nomenclatura do PEAR, utilize os métodos
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerPrefix" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerPrefix()"><span class="pre">registerPrefix()</span></a></tt>
ou
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/ClassLoader/UniversalClassLoader.html#method_registerPrefixes" title="Symfony\Component\ClassLoader\UniversalClassLoader::registerPrefixes()"><span class="pre">registerPrefixes()</span></a></tt></p>
<div class="highlight-python"><div class="highlight"><pre>$loader-&gt;registerPrefix(&#39;Twig_&#39;, __DIR__.&#39;/vendor/twig/twig/lib&#39;);

$loader-&gt;registerPrefixes(array(
    &#39;Swift_&#39; =&gt; __DIR__.&#39;/vendor/swiftmailer/swiftmailer/lib/classes&#39;,
    &#39;Twig_&#39;  =&gt; __DIR__.&#39;/vendor/twig/twig/lib&#39;,
));

$loader-&gt;register();
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Algumas bibliotecas também exigem que seu caminho raiz seja registrado no include path do PHP
(<tt class="docutils literal"><span class="pre">set_include_path()</span></tt>).</p>
</div>
<p>Classes de um sub-namespace ou uma sub-hierarquia das classes PEAR podem ser buscadas
em uma lista de localização para facilitar o vendoring de um sub-conjunto de classes
para projetos grandes:</p>
<div class="highlight-python"><div class="highlight"><pre>$loader-&gt;registerNamespaces(array(
    &#39;Doctrine\\Common&#39;           =&gt; __DIR__.&#39;/vendor/doctrine/common/lib&#39;,
    &#39;Doctrine\\DBAL\\Migrations&#39; =&gt; __DIR__.&#39;/vendor/doctrine/migrations/lib&#39;,
    &#39;Doctrine\\DBAL&#39;             =&gt; __DIR__.&#39;/vendor/doctrine/dbal/lib&#39;,
    &#39;Doctrine&#39;                   =&gt; __DIR__.&#39;/vendor/doctrine/orm/lib&#39;,
));

$loader-&gt;register();
</pre></div>
</div>
<p>Neste exemplo, se você tentar usar uma classe no namespace <tt class="docutils literal"><span class="pre">Doctrine\Common</span></tt>
ou em um de seus filhos, o autoloader vai procurar primeiro pela classe sob o
diretório <tt class="docutils literal"><span class="pre">doctrine-common</span></tt>, e vai, em seguida, retornar para o diretório padrão
<tt class="docutils literal"><span class="pre">Doctrine</span></tt> (o último configurado) se não for encontrada, antes de desistir.
A ordem das inscrições é significativa neste caso.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">O Componente ClassLoader</a><ul>
<li><a class="reference internal" href="#instalacao">Instalação</a></li>
<li><a class="reference internal" href="#uso">Uso</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Os Componentes</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="console/index.html"
                        title="next chapter">Console</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../_sources/components/class_loader.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="console/index.html" title="Console"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Os Componentes"
             >previous</a> |</li>
        <li><a href="../index.html">Symfony2.4Docs 2.4 documentation</a> &raquo;</li>
          <li><a href="index.html" >Os Componentes</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, Symfony Team + Symfony pt_BR Team.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>