<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The Templating Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Templating" href="index.html" />
    <link rel="next" title="The Templating Helpers" href="helpers/index.html" />
    <link rel="prev" title="Templating" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="helpers/index.html" title="The Templating Helpers"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Templating"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Templating</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-templating-component">
<span id="index-0"></span><h1>The Templating Component<a class="headerlink" href="#the-templating-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div><p>The Templating component provides all the tools needed to build any kind
of template system.</p>
<p>It provides an infrastructure to load template files and optionally
monitor them for changes. It also provides a concrete template engine
implementation using PHP with additional tools for escaping and separating
templates into blocks and layouts.</p>
</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in 2 different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/templating</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/templating">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/Templating">https://github.com/symfony/Templating</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html" title="Symfony\Component\Templating\PhpEngine"><span class="pre">PhpEngine</span></a></tt> class is the entry point
of the component. It needs a
template name parser (<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/TemplateNameParserInterface.html" title="Symfony\Component\Templating\TemplateNameParserInterface"><span class="pre">TemplateNameParserInterface</span></a></tt>)
to convert a template name to a
template reference (<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/TemplateReferenceInterface.html" title="Symfony\Component\Templating\TemplateReferenceInterface"><span class="pre">TemplateReferenceInterface</span></a></tt>).
It also needs a template loader (<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Loader/LoaderInterface.html" title="Symfony\Component\Templating\Loader\LoaderInterface"><span class="pre">LoaderInterface</span></a></tt>)
which uses the template reference to actually find and load the template:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Templating\PhpEngine</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\TemplateNameParser</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\Loader\FilesystemLoader</span><span class="p">;</span>

<span class="nv">$loader</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">FilesystemLoader</span><span class="p">(</span><span class="nx">__DIR__</span><span class="o">.</span><span class="s1">&#39;/views/%name%&#39;</span><span class="p">);</span>

<span class="nv">$templating</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PhpEngine</span><span class="p">(</span><span class="k">new</span> <span class="nx">TemplateNameParser</span><span class="p">(),</span> <span class="nv">$loader</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$templating</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;hello.php&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;firstname&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Fabien&#39;</span><span class="p">));</span>
</pre></div>
</div>
<div class="highlight-html+php"><div class="highlight"><pre><span class="c">&lt;!-- views/hello.php --&gt;</span>
Hello, <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$firstname</span> <span class="cp">?&gt;</span>!
</pre></div>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_render" title="Symfony\Component\Templating\PhpEngine::render()"><span class="pre">render()</span></a></tt> method parses
the <tt class="docutils literal"><span class="pre">views/hello.php</span></tt> file and returns the output text. The second argument
of <tt class="docutils literal"><span class="pre">render</span></tt> is an array of variables to use in the template. In this
example, the result will be <tt class="docutils literal"><span class="pre">Hello,</span> <span class="pre">Fabien!</span></tt>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Templates will be cached in the memory of the engine. This means that if
you render the same template multiple times in the same request, the
template will only be loaded once from the file system.</p>
</div>
</div>
<div class="section" id="the-view-variable">
<h2>The <tt class="docutils literal"><span class="pre">$view</span></tt> Variable<a class="headerlink" href="#the-view-variable" title="Permalink to this headline">¶</a></h2>
<p>In all templates parsed by the <tt class="docutils literal"><span class="pre">PhpEngine</span></tt>, you get access to a mysterious
variable called <tt class="docutils literal"><span class="pre">$view</span></tt>. That variable holds the current <tt class="docutils literal"><span class="pre">PhpEngine</span></tt>
instance. That means you get access to a bunch of methods that make your life
easier.</p>
</div>
<div class="section" id="including-templates">
<h2>Including Templates<a class="headerlink" href="#including-templates" title="Permalink to this headline">¶</a></h2>
<p>The best way to share a snippet of template code is to create a template that
can then be included by other templates. As the <tt class="docutils literal"><span class="pre">$view</span></tt> variable is an
instance of <tt class="docutils literal"><span class="pre">PhpEngine</span></tt>, you can use the <tt class="docutils literal"><span class="pre">render</span></tt> method (which was used
to render the template originally) inside the template to render another template:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span> <span class="nv">$names</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;Fabien&#39;</span><span class="p">,</span> <span class="o">...</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="x"></span>
<span class="cp">&lt;?php</span> <span class="k">foreach</span> <span class="p">(</span><span class="nv">$names</span> <span class="k">as</span> <span class="nv">$name</span><span class="p">)</span> <span class="o">:</span> <span class="cp">?&gt;</span><span class="x"></span>
<span class="x">    </span><span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;hello.php&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;firstname&#39;</span> <span class="o">=&gt;</span> <span class="nv">$name</span><span class="p">))</span> <span class="cp">?&gt;</span><span class="x"></span>
<span class="cp">&lt;?php</span> <span class="k">endforeach</span> <span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
</div>
</div>
<div class="section" id="global-variables">
<h2>Global Variables<a class="headerlink" href="#global-variables" title="Permalink to this headline">¶</a></h2>
<p>Sometimes, you need to set a variable which is available in all templates
rendered by an engine (like the <tt class="docutils literal"><span class="pre">$app</span></tt> variable when using the Symfony2
framework). These variables can be set by using the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_addGlobal" title="Symfony\Component\Templating\PhpEngine::addGlobal()"><span class="pre">addGlobal()</span></a></tt> method and they
can be accessed in the template as normal variables:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$templating</span><span class="o">-&gt;</span><span class="na">addGlobal</span><span class="p">(</span><span class="s1">&#39;ga_tracking&#39;</span><span class="p">,</span> <span class="s1">&#39;UA-xxxxx-x&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>In a template:</p>
<div class="highlight-html+php"><div class="highlight"><pre><span class="nt">&lt;p&gt;</span>The google tracking code is: <span class="cp">&lt;?php</span> <span class="k">echo</span> <span class="nv">$ga_tracking</span> <span class="cp">?&gt;</span><span class="nt">&lt;/p&gt;</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The global variables cannot be called <tt class="docutils literal"><span class="pre">this</span></tt> or <tt class="docutils literal"><span class="pre">view</span></tt>, since they are
already used by the PHP engine.</p>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The global variables can be overriden by a local variable in the template
with the same name.</p>
</div>
</div>
<div class="section" id="output-escaping">
<h2>Output Escaping<a class="headerlink" href="#output-escaping" title="Permalink to this headline">¶</a></h2>
<p>When you render variables, you should probably escape them so that HTML or
JavaScript code isn&#8217;t written out to your page. This will prevent things like
XSS attacks. To do this, use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_escape" title="Symfony\Component\Templating\PhpEngine::escape()"><span class="pre">escape()</span></a></tt> method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">escape</span><span class="p">(</span><span class="nv">$firstname</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
</div>
<p>By default, the <tt class="docutils literal"><span class="pre">escape()</span></tt> method assumes that the variable is outputted
within an HTML context. The second argument lets you change the context. For
example, to output something inside JavaScript, use the <tt class="docutils literal"><span class="pre">js</span></tt> context:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="o">&lt;?</span><span class="nx">php</span> <span class="k">echo</span> <span class="nv">$view</span><span class="o">-&gt;</span><span class="na">escape</span><span class="p">(</span><span class="nv">$var</span><span class="p">,</span> <span class="s1">&#39;js&#39;</span><span class="p">)</span> <span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
</div>
<p>The component comes with an HTML and JS escaper. You can register your own
escaper using the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_setEscaper" title="Symfony\Component\Templating\PhpEngine::setEscaper()"><span class="pre">setEscaper()</span></a></tt> method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$templating</span><span class="o">-&gt;</span><span class="na">setEscaper</span><span class="p">(</span><span class="s1">&#39;css&#39;</span><span class="p">,</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$value</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ... all CSS escaping</span>

    <span class="k">return</span> <span class="nv">$escapedValue</span><span class="p">;</span>
<span class="p">});</span>
</pre></div>
</div>
</div>
<div class="section" id="helpers">
<h2>Helpers<a class="headerlink" href="#helpers" title="Permalink to this headline">¶</a></h2>
<p>The Templating component can be easily extended via helpers. The component has
2 built-in helpers:</p>
<ul class="simple">
<li><a class="reference internal" href="helpers/assetshelper.html"><em>Assets Helper</em></a></li>
<li><a class="reference internal" href="helpers/slotshelper.html"><em>Slots Helper</em></a></li>
</ul>
<p>Before you can use these helpers, you need to register them using
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/PhpEngine.html#method_set" title="Symfony\Component\Templating\PhpEngine::set()"><span class="pre">set()</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\Templating\Helper\AssetsHelper</span><span class="p">;</span>
<span class="c1">// ...</span>

<span class="nv">$templating</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="k">new</span> <span class="nx">AssetsHelper</span><span class="p">());</span>
</pre></div>
</div>
<div class="section" id="custom-helpers">
<h3>Custom Helpers<a class="headerlink" href="#custom-helpers" title="Permalink to this headline">¶</a></h3>
<p>You can create your own helpers by creating a class which implements
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/HelperInterface.html" title="Symfony\Component\Templating\Helper\HelperInterface"><span class="pre">HelperInterface</span></a></tt>. However,
most of the time you&#8217;ll extend
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/Helper.html" title="Symfony\Component\Templating\Helper\Helper"><span class="pre">Helper</span></a></tt>.</p>
<p>The <tt class="docutils literal"><span class="pre">Helper</span></tt> has one required method:
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/Helper/HelperInterface.html#method_getName" title="Symfony\Component\Templating\Helper\HelperInterface::getName()"><span class="pre">getName()</span></a></tt>.
This is the name that is used to get the helper from the <tt class="docutils literal"><span class="pre">$view</span></tt> object.</p>
</div>
</div>
<div class="section" id="creating-a-custom-engine">
<h2>Creating a Custom Engine<a class="headerlink" href="#creating-a-custom-engine" title="Permalink to this headline">¶</a></h2>
<p>Besides providing a PHP templating engine, you can also create your own engine
using the Templating component. To do that, create a new class which
implements the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/EngineInterface.html" title="Symfony\Component\Templating\EngineInterface"><span class="pre">EngineInterface</span></a></tt>. This
requires 3 method:</p>
<ul class="simple">
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/EngineInterface.html#method_render" title="Symfony\Component\Templating\EngineInterface::render()"><span class="pre">render($name,</span> <span class="pre">array</span> <span class="pre">$parameters</span> <span class="pre">=</span> <span class="pre">array())</span></a></tt>
- Renders a template</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/EngineInterface.html#method_exists" title="Symfony\Component\Templating\EngineInterface::exists()"><span class="pre">exists($name)</span></a></tt>
- Checks if the template exists</li>
<li><tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/EngineInterface.html#method_supports" title="Symfony\Component\Templating\EngineInterface::supports()"><span class="pre">supports($name)</span></a></tt>
- Checks if the given template can be handled by this engine.</li>
</ul>
</div>
<div class="section" id="using-multiple-engines">
<h2>Using Multiple Engines<a class="headerlink" href="#using-multiple-engines" title="Permalink to this headline">¶</a></h2>
<p>It is possible to use multiple engines at the same time using the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/DelegatingEngine.html" title="Symfony\Component\Templating\DelegatingEngine"><span class="pre">DelegatingEngine</span></a></tt> class. This class
takes a list of engines and acts just like a normal templating engine. The
only difference is that it delegates the calls to one of the other engines. To
choose which one to use for the template, the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Templating/EngineInterface.html#method_supports" title="Symfony\Component\Templating\EngineInterface::supports()"><span class="pre">EngineInterface::supports()</span></a></tt>
method is used.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Acme\Templating\CustomEngine</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\PhpEngine</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Symfony\Component\Templating\DelegatingEngine</span><span class="p">;</span>

<span class="nv">$templating</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">DelegatingEngine</span><span class="p">(</span><span class="k">array</span><span class="p">(</span>
    <span class="k">new</span> <span class="nx">PhpEngine</span><span class="p">(</span><span class="o">...</span><span class="p">),</span>
    <span class="k">new</span> <span class="nx">CustomEngine</span><span class="p">(</span><span class="o">...</span><span class="p">)</span>
<span class="p">));</span>
</pre></div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The Templating Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#the-view-variable">The <tt class="docutils literal"><span class="pre">$view</span></tt> Variable</a></li>
<li><a class="reference internal" href="#including-templates">Including Templates</a></li>
<li><a class="reference internal" href="#global-variables">Global Variables</a></li>
<li><a class="reference internal" href="#output-escaping">Output Escaping</a></li>
<li><a class="reference internal" href="#helpers">Helpers</a><ul>
<li><a class="reference internal" href="#custom-helpers">Custom Helpers</a></li>
</ul>
</li>
<li><a class="reference internal" href="#creating-a-custom-engine">Creating a Custom Engine</a></li>
<li><a class="reference internal" href="#using-multiple-engines">Using Multiple Engines</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">Templating</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="helpers/index.html"
                        title="next chapter">The Templating Helpers</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/templating/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="helpers/index.html" title="The Templating Helpers"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="Templating"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Templating</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>