<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Caching baseado em recursos &mdash; Symfony2.4Docs 2.4 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.4',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2.4Docs 2.4 documentation" href="../../index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li><a href="../../index.html">Symfony2.4Docs 2.4 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="caching-baseado-em-recursos">
<span id="index-0"></span><h1>Caching baseado em recursos<a class="headerlink" href="#caching-baseado-em-recursos" title="Permalink to this headline">¶</a></h1>
<p>Quando todos os recursos de configuração são carregados, você poderá processar a configuração de valores e combiná-los em um único arquivo. Esse arquivo funciona
como um cache. Seu conteúdo não precisa ser recriados cada vez que o aplicativo é
executado – apenas quando os meios de configuração são modificadas.</p>
<p>Por exemplo, o componente de roteamento de Symfony permite que você carregue todas as
rotas, e, em seguida, despeje um combinador de URL ou um gerador de URL com base nessas
rotas. Neste caso, quando um dos recursos é modificado (e você estiver trabalhando em um
ambiente de desenvolvimento), o arquivo gerado deve ser invalidado e recuperado.
This can be accomplished by making use of the <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Config/ConfigCache.html" title="Symfony\Component\Config\ConfigCache"><span class="pre">ConfigCache</span></a></tt>
class.</p>
<p>O exemplo abaixo mostra como coletar recursos, em seguida, gerar um código com base nos
recursos que foram carregados, e escrever este código para o cache. O cache também
recebe o conjunto de recursos que foram utilizados para gerar o código. Olhando para a
data e hora da &#8220;última modificação&#8221; desses recursos, o cache pode informar se o conteúdo
ainda está válido ou se deve ser atualizado:</p>
<div class="highlight-python"><div class="highlight"><pre>use Symfony\Component\Config\ConfigCache;
use Symfony\Component\Config\Resource\FileResource;

$cachePath = __DIR__.&#39;/cache/appUserMatcher.php&#39;;

// o segundo argumento indica se você deseja ou não usar o modo de depuração
$userMatcherCache = new ConfigCache($cachePath, true);

if (!$userMatcherCache-&gt;isFresh()) {
    // preencha essa variável com um array de path de arquivos &#39;users.yml&#39;
    $yamlUserFiles = ...;

    $resources = array();

    foreach ($yamlUserFiles as $yamlUserFile) {
        // Veja o artigo anterior &quot;Loading resources&quot; para
        // ver de onde $delegatingLoader vem
        $delegatingLoader-&gt;load($yamlUserFile);
        $resources[] = new FileResource($yamlUserFile);
    }

    // o código para o UserMatcher é gerado em outro em outro lugar
    $code = ...;

    $userMatcherCache-&gt;write($code, $resources);
}

// Você pode incluir o código de cache:
require $cachePath;
</pre></div>
</div>
<p>No modo de depuração, um <tt class="docutils literal"><span class="pre">.meta</span></tt> arquivo será criado no mesmo diretório que o arquivo
de cache. Esse <tt class="docutils literal"><span class="pre">.meta</span></tt> arquivo contém recursos serializado,
que são utilizados para determinar se o cache ainda está recente. Quando não estiver em
modo de depuração, o cache é considerado como &#8220;recente&#8221; conforme exista,
e portanto, não será gerado o <tt class="docutils literal"><span class="pre">.meta</span></tt> arquivo.</p>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/config/caching.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li><a href="../../index.html">Symfony2.4Docs 2.4 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, Symfony Team + Symfony pt_BR Team.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>