

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Dependency Injection &mdash; Symfony2Docs v.2.0.17 2.0.17 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.0.17',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v.2.0.17 2.0.17 documentation" href="../../index.html" />
    <link rel="up" title="The Components" href="../index.html" />
    <link rel="next" title="The Dependency Injection Component" href="introduction.html" />
    <link rel="prev" title="The DomCrawler Component" href="../dom_crawler.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="introduction.html" title="The Dependency Injection Component"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../dom_crawler.html" title="The DomCrawler Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="../index.html" accesskey="U">The Components</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="dependency-injection">
<h1>Dependency Injection<a class="headerlink" href="#dependency-injection" title="Permalink to this headline">¶</a></h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="introduction.html">The Dependency Injection Component</a><ul>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#installation">Installation</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#basic-usage">Basic Usage</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#avoiding-your-code-becoming-dependent-on-the-container">Avoiding Your Code Becoming Dependent on the Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="introduction.html#setting-up-the-container-with-configuration-files">Setting Up the Container with Configuration Files</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="types.html">Types of Injection</a><ul>
<li class="toctree-l2"><a class="reference internal" href="types.html#constructor-injection">Constructor Injection</a></li>
<li class="toctree-l2"><a class="reference internal" href="types.html#setter-injection">Setter Injection</a></li>
<li class="toctree-l2"><a class="reference internal" href="types.html#property-injection">Property Injection</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="definitions.html">Working with Container Parameters and Definitions</a><ul>
<li class="toctree-l2"><a class="reference internal" href="definitions.html#getting-and-setting-container-parameters">Getting and Setting Container Parameters</a></li>
<li class="toctree-l2"><a class="reference internal" href="definitions.html#getting-and-setting-service-definitions">Getting and Setting Service Definitions</a></li>
<li class="toctree-l2"><a class="reference internal" href="definitions.html#working-with-a-definition">Working with a definition</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="compilation.html">Compiling the Container</a><ul>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#creating-a-compiler-pass">Creating a Compiler Pass</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#registering-a-compiler-pass">Registering a Compiler Pass</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#managing-configuration-with-extensions">Managing Configuration with Extensions</a></li>
<li class="toctree-l2"><a class="reference internal" href="compilation.html#dumping-the-configuration-for-performance">Dumping the Configuration for Performance</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="tags.html">Working with Tagged Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="tags.html#define-services-with-a-custom-tag">Define Services with a Custom Tag</a></li>
<li class="toctree-l2"><a class="reference internal" href="tags.html#create-a-compilerpass">Create a <tt class="docutils literal"><span class="pre">CompilerPass</span></tt></a></li>
<li class="toctree-l2"><a class="reference internal" href="tags.html#register-the-pass-with-the-container">Register the Pass with the Container</a></li>
<li class="toctree-l2"><a class="reference internal" href="tags.html#adding-additional-attributes-on-tags">Adding additional attributes on Tags</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="factories.html">Using a Factory to Create Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="factories.html#passing-arguments-to-the-factory-method">Passing Arguments to the Factory Method</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="parentservices.html">Managing Common Dependencies with Parent Services</a><ul>
<li class="toctree-l2"><a class="reference internal" href="parentservices.html#overriding-parent-dependencies">Overriding Parent Dependencies</a></li>
<li class="toctree-l2"><a class="reference internal" href="parentservices.html#collections-of-dependencies">Collections of Dependencies</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="advanced.html">Advanced Container Configuration</a><ul>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#marking-services-as-public-private">Marking Services as public / private</a></li>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#aliasing">Aliasing</a></li>
<li class="toctree-l2"><a class="reference internal" href="advanced.html#requiring-files">Requiring files</a></li>
</ul>
</li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="../dom_crawler.html"
                        title="previous chapter">The DomCrawler Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="next chapter">The Dependency Injection Component</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/dependency_injection/index.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="introduction.html" title="The Dependency Injection Component"
             >next</a> |</li>
        <li class="right" >
          <a href="../dom_crawler.html" title="The DomCrawler Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v.2.0.17 2.0.17 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>