<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /docs/php/en/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /docs/php/en/manual-lookup.php?pattern=$1&lang=en [L]
</IfModule>

