<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Debugging a Class Loader &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="Debug" href="index.html" />
    <link rel="next" title="DependencyInjection" href="../dependency_injection/index.html" />
    <link rel="prev" title="The Debug Component" href="introduction.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../dependency_injection/index.html" title="DependencyInjection"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Debug Component"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Debug</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="debugging-a-class-loader">
<span id="index-0"></span><h1>Debugging a Class Loader<a class="headerlink" href="#debugging-a-class-loader" title="Permalink to this headline">¶</a></h1>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.4: </span>The <tt class="docutils literal"><span class="pre">DebugClassLoader</span></tt> of the Debug component was introduced in Symfony 2.4.
Previously, it was located in the ClassLoader component.</p>
</div>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Debug/DebugClassLoader.html" title="Symfony\Component\Debug\DebugClassLoader"><span class="pre">DebugClassLoader</span></a></tt> attempts to
throw more helpful exceptions when a class isn&#8217;t found by the registered
autoloaders. All autoloaders that implement a <tt class="docutils literal"><span class="pre">findFile()</span></tt> method are replaced
with a <tt class="docutils literal"><span class="pre">DebugClassLoader</span></tt> wrapper.</p>
<p>Using the <tt class="docutils literal"><span class="pre">DebugClassLoader</span></tt> is as easy as calling its static
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/Debug/DebugClassLoader.html#method_enable" title="Symfony\Component\Debug\DebugClassLoader::enable()"><span class="pre">enable()</span></a></tt> method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\ClassLoader\DebugClassLoader</span><span class="p">;</span>

<span class="nx">DebugClassLoader</span><span class="o">::</span><span class="na">enable</span><span class="p">();</span>
</pre></div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h4>Previous topic</h4>
  <p class="topless"><a href="introduction.html"
                        title="previous chapter">The Debug Component</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../dependency_injection/index.html"
                        title="next chapter">DependencyInjection</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/debug/class_loader.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../dependency_injection/index.html" title="DependencyInjection"
             >next</a> |</li>
        <li class="right" >
          <a href="introduction.html" title="The Debug Component"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Debug</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>