<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>The PropertyAccess Component &mdash; Symfony2 Framework Documentation  documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2 Framework Documentation  documentation" href="../../index.html" />
    <link rel="up" title="PropertyAccess" href="index.html" />
    <link rel="next" title="Routing" href="../routing/index.html" />
    <link rel="prev" title="PropertyAccess" href="index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../routing/index.html" title="Routing"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="index.html" title="PropertyAccess"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">PropertyAccess</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="the-propertyaccess-component">
<span id="index-0"></span><h1>The PropertyAccess Component<a class="headerlink" href="#the-propertyaccess-component" title="Permalink to this headline">¶</a></h1>
<blockquote>
<div>The PropertyAccess component provides function to read and write from/to an
object or array using a simple string notation.</div></blockquote>
<div class="section" id="installation">
<h2>Installation<a class="headerlink" href="#installation" title="Permalink to this headline">¶</a></h2>
<p>You can install the component in two different ways:</p>
<ul class="simple">
<li><a class="reference internal" href="../using_components.html"><em>Install it via Composer</em></a> (<tt class="docutils literal"><span class="pre">symfony/property-access</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/property-access">Packagist</a>);</li>
<li>Use the official Git repository (<a class="reference external" href="https://github.com/symfony/PropertyAccess">https://github.com/symfony/PropertyAccess</a>).</li>
</ul>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>The entry point of this component is the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccess.html#method_createPropertyAccessor" title="Symfony\Component\PropertyAccess\PropertyAccess::createPropertyAccessor()"><span class="pre">PropertyAccess::createPropertyAccessor</span></a></tt>
factory. This factory will create a new instance of the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html" title="Symfony\Component\PropertyAccess\PropertyAccessor"><span class="pre">PropertyAccessor</span></a></tt> class with the
default configuration:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\PropertyAccess\PropertyAccess</span><span class="p">;</span>

<span class="nv">$accessor</span> <span class="o">=</span> <span class="nx">PropertyAccess</span><span class="o">::</span><span class="na">createPropertyAccessor</span><span class="p">();</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccess.html#method_createPropertyAccessor" title="Symfony\Component\PropertyAccess\PropertyAccess::createPropertyAccessor()"><span class="pre">createPropertyAccessor()</span></a></tt>
method was introduced in Symfony 2.3. Previously, it was called <tt class="docutils literal"><span class="pre">getPropertyAccessor()</span></tt>.</p>
</div>
</div>
<div class="section" id="reading-from-arrays">
<h2>Reading from Arrays<a class="headerlink" href="#reading-from-arrays" title="Permalink to this headline">¶</a></h2>
<p>You can read an array with the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_getValue" title="Symfony\Component\PropertyAccess\PropertyAccessor::getValue()"><span class="pre">PropertyAccessor::getValue</span></a></tt>
method. This is done using the index notation that is used in PHP:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$person</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="s1">&#39;first_name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">,</span>
<span class="p">);</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;[first_name]&#39;</span><span class="p">);</span> <span class="c1">// &#39;Wouter&#39;</span>
<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;[age]&#39;</span><span class="p">);</span> <span class="c1">// null</span>
</pre></div>
</div>
<p>As you can see, the method will return <tt class="docutils literal"><span class="pre">null</span></tt> if the index does not exists.</p>
<p>You can also use multi dimensional arrays:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$persons</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;first_name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">,</span>
    <span class="p">),</span>
    <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;first_name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Ryan&#39;</span><span class="p">,</span>
    <span class="p">)</span>
<span class="p">);</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$persons</span><span class="p">,</span> <span class="s1">&#39;[0][first_name]&#39;</span><span class="p">);</span> <span class="c1">// &#39;Wouter&#39;</span>
<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$persons</span><span class="p">,</span> <span class="s1">&#39;[1][first_name]&#39;</span><span class="p">);</span> <span class="c1">// &#39;Ryan&#39;</span>
</pre></div>
</div>
</div>
<div class="section" id="reading-from-objects">
<h2>Reading from Objects<a class="headerlink" href="#reading-from-objects" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><span class="pre">getValue</span></tt> method is a very robust method, and you can see all of its
features when working with objects.</p>
<div class="section" id="accessing-public-properties">
<h3>Accessing public Properties<a class="headerlink" href="#accessing-public-properties" title="Permalink to this headline">¶</a></h3>
<p>To read from properties, use the &#8220;dot&#8221; notation:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">firstName</span> <span class="o">=</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">;</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;firstName&#39;</span><span class="p">);</span> <span class="c1">// &#39;Wouter&#39;</span>

<span class="nv">$child</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>
<span class="nv">$child</span><span class="o">-&gt;</span><span class="na">firstName</span> <span class="o">=</span> <span class="s1">&#39;Bar&#39;</span><span class="p">;</span>
<span class="nv">$person</span><span class="o">-&gt;</span><span class="na">children</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span><span class="nv">$child</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;children[0].firstName&#39;</span><span class="p">);</span> <span class="c1">// &#39;Bar&#39;</span>
</pre></div>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">Accessing public properties is the last option used by <tt class="docutils literal"><span class="pre">PropertyAccessor</span></tt>.
It tries to access the value using the below methods first before using
the property directly. For example, if you have a public property that
has a getter method, it will use the getter.</p>
</div>
</div>
<div class="section" id="using-getters">
<h3>Using Getters<a class="headerlink" href="#using-getters" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><span class="pre">getValue</span></tt> method also supports reading using getters. The method will
be created using common naming conventions for getters. It camelizes the
property name (<tt class="docutils literal"><span class="pre">first_name</span></tt> becomes <tt class="docutils literal"><span class="pre">FirstName</span></tt>) and prefixes it with
<tt class="docutils literal"><span class="pre">get</span></tt>. So the actual method becomes <tt class="docutils literal"><span class="pre">getFirstName</span></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$firstName</span> <span class="o">=</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">;</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">getFirstName</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">firstName</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;first_name&#39;</span><span class="p">);</span> <span class="c1">// &#39;Wouter&#39;</span>
</pre></div>
</div>
</div>
<div class="section" id="using-hassers-issers">
<h3>Using Hassers/Issers<a class="headerlink" href="#using-hassers-issers" title="Permalink to this headline">¶</a></h3>
<p>And it doesn&#8217;t even stop there. If there is no getter found, the accessor will
look for an isser or hasser. This method is created using the same way as
getters, this means that you can do something like this:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$author</span> <span class="o">=</span> <span class="k">true</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$children</span> <span class="o">=</span> <span class="k">array</span><span class="p">();</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">isAuthor</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">author</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">hasChildren</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="mi">0</span> <span class="o">!==</span> <span class="nb">count</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;author&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="k">echo</span> <span class="s1">&#39;He is an author&#39;</span><span class="p">;</span>
<span class="p">}</span>
<span class="k">if</span> <span class="p">(</span><span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;children&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="k">echo</span> <span class="s1">&#39;He has children&#39;</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This will produce: <tt class="docutils literal"><span class="pre">He</span> <span class="pre">is</span> <span class="pre">an</span> <span class="pre">author</span></tt></p>
</div>
<div class="section" id="magic-get-method">
<h3>Magic <tt class="docutils literal"><span class="pre">__get()</span></tt> Method<a class="headerlink" href="#magic-get-method" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><span class="pre">getValue</span></tt> method can also use the magic <tt class="docutils literal"><span class="pre">__get</span></tt> method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$children</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;Wouter&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="o">...</span><span class="p">),</span>
    <span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">__get</span><span class="p">(</span><span class="nv">$id</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$id</span><span class="p">];</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">);</span> <span class="c1">// array(...)</span>
</pre></div>
</div>
</div>
<div class="section" id="magic-call-method">
<h3>Magic <tt class="docutils literal"><span class="pre">__call()</span></tt> Method<a class="headerlink" href="#magic-call-method" title="Permalink to this headline">¶</a></h3>
<p>At last, <tt class="docutils literal"><span class="pre">getValue</span></tt> can use the magic <tt class="docutils literal"><span class="pre">__call</span></tt> method, but you need to
enable this feature by using <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessorBuilder.html" title="Symfony\Component\PropertyAccess\PropertyAccessorBuilder"><span class="pre">PropertyAccessorBuilder</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$children</span> <span class="o">=</span> <span class="k">array</span><span class="p">(</span>
        <span class="s1">&#39;wouter&#39;</span> <span class="o">=&gt;</span> <span class="k">array</span><span class="p">(</span><span class="o">...</span><span class="p">),</span>
    <span class="p">);</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">__call</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="nv">$args</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$property</span> <span class="o">=</span> <span class="nb">lcfirst</span><span class="p">(</span><span class="nx">substr</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="mi">3</span><span class="p">));</span>
        <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;get&#39;</span> <span class="o">===</span> <span class="nx">substr</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">3</span><span class="p">))</span> <span class="p">{</span>
            <span class="k">return</span> <span class="nb">isset</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$property</span><span class="p">])</span>
                <span class="o">?</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$property</span><span class="p">]</span>
                <span class="o">:</span> <span class="k">null</span><span class="p">;</span>
        <span class="p">}</span> <span class="k">elseif</span> <span class="p">(</span><span class="s1">&#39;set&#39;</span> <span class="o">===</span> <span class="nx">substr</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">3</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$value</span> <span class="o">=</span> <span class="mi">1</span> <span class="o">==</span> <span class="nb">count</span><span class="p">(</span><span class="nv">$args</span><span class="p">)</span> <span class="o">?</span> <span class="nv">$args</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">:</span> <span class="k">null</span><span class="p">;</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$property</span><span class="p">]</span> <span class="o">=</span> <span class="nv">$value</span><span class="p">;</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="c1">// Enable magic __call</span>
<span class="nv">$accessor</span> <span class="o">=</span> <span class="nx">PropertyAccess</span><span class="o">::</span><span class="na">getPropertyAccessorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">enableMagicCall</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">getPropertyAccessor</span><span class="p">();</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;wouter&#39;</span><span class="p">);</span> <span class="c1">// array(...)</span>
</pre></div>
</div>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.3: </span>The use of magic <tt class="docutils literal"><span class="pre">__call()</span></tt> method was introduced in Symfony 2.3.</p>
</div>
<div class="admonition caution">
<p class="first admonition-title">Caution</p>
<p class="last">The <tt class="docutils literal"><span class="pre">__call</span></tt> feature is disabled by default, you can enable it by calling
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessorBuilder.html#method_enableMagicCallEnabled" title="Symfony\Component\PropertyAccess\PropertyAccessorBuilder::enableMagicCallEnabled()"><span class="pre">PropertyAccessorBuilder::enableMagicCallEnabled</span></a></tt>
see <a class="reference internal" href="#enable-other-features">Enable other Features</a>.</p>
</div>
</div>
</div>
<div class="section" id="writing-to-arrays">
<h2>Writing to Arrays<a class="headerlink" href="#writing-to-arrays" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><span class="pre">PropertyAccessor</span></tt> class can do more than just read an array, it can
also write to an array. This can be achieved using the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_setValue" title="Symfony\Component\PropertyAccess\PropertyAccessor::setValue()"><span class="pre">PropertyAccessor::setValue</span></a></tt>
method:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$person</span> <span class="o">=</span> <span class="k">array</span><span class="p">();</span>

<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;[first_name]&#39;</span><span class="p">,</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">);</span>

<span class="k">echo</span> <span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;[first_name]&#39;</span><span class="p">);</span> <span class="c1">// &#39;Wouter&#39;</span>
<span class="c1">// or</span>
<span class="c1">// echo $person[&#39;first_name&#39;]; // &#39;Wouter&#39;</span>
</pre></div>
</div>
</div>
<div class="section" id="writing-to-objects">
<h2>Writing to Objects<a class="headerlink" href="#writing-to-objects" title="Permalink to this headline">¶</a></h2>
<p>The <tt class="docutils literal"><span class="pre">setValue</span></tt> method has the same features as the <tt class="docutils literal"><span class="pre">getValue</span></tt> method. You
can use setters, the magic <tt class="docutils literal"><span class="pre">__set</span></tt> method or properties to set values:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="nv">$firstName</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$lastName</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$children</span> <span class="o">=</span> <span class="k">array</span><span class="p">();</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setLastName</span><span class="p">(</span><span class="nv">$name</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">lastName</span> <span class="o">=</span> <span class="nv">$name</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">__set</span><span class="p">(</span><span class="nv">$property</span><span class="p">,</span> <span class="nv">$value</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="nv">$property</span> <span class="o">=</span> <span class="nv">$value</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="c1">// ...</span>
<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;firstName&#39;</span><span class="p">,</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">);</span>
<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;lastName&#39;</span><span class="p">,</span> <span class="s1">&#39;de Jong&#39;</span><span class="p">);</span>
<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;children&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="k">new</span> <span class="nx">Person</span><span class="p">()));</span>

<span class="k">echo</span> <span class="nv">$person</span><span class="o">-&gt;</span><span class="na">firstName</span><span class="p">;</span> <span class="c1">// &#39;Wouter&#39;</span>
<span class="k">echo</span> <span class="nv">$person</span><span class="o">-&gt;</span><span class="na">getLastName</span><span class="p">();</span> <span class="c1">// &#39;de Jong&#39;</span>
<span class="k">echo</span> <span class="nv">$person</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">;</span> <span class="c1">// array(Person());</span>
</pre></div>
</div>
<p>You can also use <tt class="docutils literal"><span class="pre">__call</span></tt> to set values but you need to enable the feature,
see <a class="reference internal" href="#enable-other-features">Enable other Features</a>.</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">private</span> <span class="nv">$children</span> <span class="o">=</span> <span class="k">array</span><span class="p">();</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">__call</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="nv">$args</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$property</span> <span class="o">=</span> <span class="nb">lcfirst</span><span class="p">(</span><span class="nx">substr</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="mi">3</span><span class="p">));</span>
        <span class="k">if</span> <span class="p">(</span><span class="s1">&#39;get&#39;</span> <span class="o">===</span> <span class="nx">substr</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">3</span><span class="p">))</span> <span class="p">{</span>
            <span class="k">return</span> <span class="nb">isset</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$property</span><span class="p">])</span>
                <span class="o">?</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$property</span><span class="p">]</span>
                <span class="o">:</span> <span class="k">null</span><span class="p">;</span>
        <span class="p">}</span> <span class="k">elseif</span> <span class="p">(</span><span class="s1">&#39;set&#39;</span> <span class="o">===</span> <span class="nx">substr</span><span class="p">(</span><span class="nv">$name</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="mi">3</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$value</span> <span class="o">=</span> <span class="mi">1</span> <span class="o">==</span> <span class="nb">count</span><span class="p">(</span><span class="nv">$args</span><span class="p">)</span> <span class="o">?</span> <span class="nv">$args</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">:</span> <span class="k">null</span><span class="p">;</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">[</span><span class="nv">$property</span><span class="p">]</span> <span class="o">=</span> <span class="nv">$value</span><span class="p">;</span>
        <span class="p">}</span>
    <span class="p">}</span>

<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="c1">// Enable magic __call</span>
<span class="nv">$accessor</span> <span class="o">=</span> <span class="nx">PropertyAccess</span><span class="o">::</span><span class="na">getPropertyAccessorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">enableMagicCall</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">getPropertyAccessor</span><span class="p">();</span>

<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;wouter&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="o">...</span><span class="p">));</span>

<span class="k">echo</span> <span class="nv">$person</span><span class="o">-&gt;</span><span class="na">getWouter</span><span class="p">();</span> <span class="c1">// array(...)</span>
</pre></div>
</div>
</div>
<div class="section" id="checking-property-paths">
<h2>Checking Property Paths<a class="headerlink" href="#checking-property-paths" title="Permalink to this headline">¶</a></h2>
<div class="versionadded">
<p><span class="versionmodified">New in version 2.5: </span>The
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_isReadable" title="Symfony\Component\PropertyAccess\PropertyAccessor::isReadable()"><span class="pre">PropertyAccessor::isReadable</span></a></tt>
and
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_isWritable" title="Symfony\Component\PropertyAccess\PropertyAccessor::isWritable()"><span class="pre">PropertyAccessor::isWritable</span></a></tt>
methods were introduced in Symfony 2.5.</p>
</div>
<p>When you want to check whether
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_getValue" title="Symfony\Component\PropertyAccess\PropertyAccessor::getValue()"><span class="pre">PropertyAccessor::getValue</span></a></tt>
can safely be called without actually calling that method, you can use
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_isReadable" title="Symfony\Component\PropertyAccess\PropertyAccessor::isReadable()"><span class="pre">PropertyAccessor::isReadable</span></a></tt>
instead:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">isReadable</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;firstName&#39;</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The same is possible for <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_setValue" title="Symfony\Component\PropertyAccess\PropertyAccessor::setValue()"><span class="pre">PropertyAccessor::setValue</span></a></tt>:
Call the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html#method_isWritable" title="Symfony\Component\PropertyAccess\PropertyAccessor::isWritable()"><span class="pre">PropertyAccessor::isWritable</span></a></tt>
method to find out whether a property path can be updated:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="k">if</span> <span class="p">(</span><span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">isWritable</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;firstName&#39;</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// ...</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="mixing-objects-and-arrays">
<h2>Mixing Objects and Arrays<a class="headerlink" href="#mixing-objects-and-arrays" title="Permalink to this headline">¶</a></h2>
<p>You can also mix objects and arrays:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="k">class</span> <span class="nc">Person</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="nv">$firstName</span><span class="p">;</span>
    <span class="k">private</span> <span class="nv">$children</span> <span class="o">=</span> <span class="k">array</span><span class="p">();</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">setChildren</span><span class="p">(</span><span class="nv">$children</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span> <span class="o">=</span> <span class="nv">$children</span><span class="p">;</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">getChildren</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">children</span><span class="p">;</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="nv">$person</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">();</span>

<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;children[0]&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Person</span><span class="p">);</span>
<span class="c1">// equal to $person-&gt;getChildren()[0] = new Person()</span>

<span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">setValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;children[0].firstName&#39;</span><span class="p">,</span> <span class="s1">&#39;Wouter&#39;</span><span class="p">);</span>
<span class="c1">// equal to $person-&gt;getChildren()[0]-&gt;firstName = &#39;Wouter&#39;</span>

<span class="k">echo</span> <span class="s1">&#39;Hello &#39;</span><span class="o">.</span><span class="nv">$accessor</span><span class="o">-&gt;</span><span class="na">getValue</span><span class="p">(</span><span class="nv">$person</span><span class="p">,</span> <span class="s1">&#39;children[0].firstName&#39;</span><span class="p">);</span> <span class="c1">// &#39;Wouter&#39;</span>
<span class="c1">// equal to $person-&gt;getChildren()[0]-&gt;firstName</span>
</pre></div>
</div>
<div class="section" id="enable-other-features">
<h3>Enable other Features<a class="headerlink" href="#enable-other-features" title="Permalink to this headline">¶</a></h3>
<p>The <tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessor.html" title="Symfony\Component\PropertyAccess\PropertyAccessor"><span class="pre">PropertyAccessor</span></a></tt> can be
configured to enable extra features. To do that you could use the
<tt class="docutils literal"><a class="reference external" href="http://api.symfony.com/master/Symfony/Component/PropertyAccess/PropertyAccessorBuilder.html" title="Symfony\Component\PropertyAccess\PropertyAccessorBuilder"><span class="pre">PropertyAccessorBuilder</span></a></tt>:</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$accessorBuilder</span> <span class="o">=</span> <span class="nx">PropertyAccess</span><span class="o">::</span><span class="na">createPropertyAccessorBuilder</span><span class="p">();</span>

<span class="c1">// Enable magic __call</span>
<span class="nv">$accessorBuilder</span><span class="o">-&gt;</span><span class="na">enableMagicCall</span><span class="p">();</span>

<span class="c1">// Disable magic __call</span>
<span class="nv">$accessorBuilder</span><span class="o">-&gt;</span><span class="na">disableMagicCall</span><span class="p">();</span>

<span class="c1">// Check if magic __call handling is enabled</span>
<span class="nv">$accessorBuilder</span><span class="o">-&gt;</span><span class="na">isMagicCallEnabled</span><span class="p">()</span> <span class="c1">// true or false</span>

<span class="c1">// At the end get the configured property accessor</span>
<span class="nv">$accessor</span> <span class="o">=</span> <span class="nv">$accessorBuilder</span><span class="o">-&gt;</span><span class="na">getPropertyAccessor</span><span class="p">();</span>

<span class="c1">// Or all in one</span>
<span class="nv">$accessor</span> <span class="o">=</span> <span class="nx">PropertyAccess</span><span class="o">::</span><span class="na">createPropertyAccessorBuilder</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">enableMagicCall</span><span class="p">()</span>
    <span class="o">-&gt;</span><span class="na">getPropertyAccessor</span><span class="p">();</span>
</pre></div>
</div>
<p>Or you can pass parameters directly to the constructor (not the recommended way):</p>
<div class="highlight-php"><div class="highlight"><pre><span class="c1">// ...</span>
<span class="nv">$accessor</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">PropertyAccessor</span><span class="p">(</span><span class="k">true</span><span class="p">)</span> <span class="c1">// this enables handling of magic __call</span>
</pre></div>
</div>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">The PropertyAccess Component</a><ul>
<li><a class="reference internal" href="#installation">Installation</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#reading-from-arrays">Reading from Arrays</a></li>
<li><a class="reference internal" href="#reading-from-objects">Reading from Objects</a><ul>
<li><a class="reference internal" href="#accessing-public-properties">Accessing public Properties</a></li>
<li><a class="reference internal" href="#using-getters">Using Getters</a></li>
<li><a class="reference internal" href="#using-hassers-issers">Using Hassers/Issers</a></li>
<li><a class="reference internal" href="#magic-get-method">Magic <tt class="docutils literal"><span class="pre">__get()</span></tt> Method</a></li>
<li><a class="reference internal" href="#magic-call-method">Magic <tt class="docutils literal"><span class="pre">__call()</span></tt> Method</a></li>
</ul>
</li>
<li><a class="reference internal" href="#writing-to-arrays">Writing to Arrays</a></li>
<li><a class="reference internal" href="#writing-to-objects">Writing to Objects</a></li>
<li><a class="reference internal" href="#checking-property-paths">Checking Property Paths</a></li>
<li><a class="reference internal" href="#mixing-objects-and-arrays">Mixing Objects and Arrays</a><ul>
<li><a class="reference internal" href="#enable-other-features">Enable other Features</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="index.html"
                        title="previous chapter">PropertyAccess</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../routing/index.html"
                        title="next chapter">Routing</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/property_access/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../routing/index.html" title="Routing"
             >next</a> |</li>
        <li class="right" >
          <a href="index.html" title="PropertyAccess"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2 Framework Documentation  documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >PropertyAccess</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright .
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>