body {padding-top: 0}
.jumbotron { margin-bottom: 20px; height: auto;}
h2 { margin-top: 30px; border-bottom: 1px solid #e5e5e5}
#content { padding: 0 20px; }
#toc { margin: 0 0 20px 20px; border: 2px solid white; }

