body { background-image: url(../images/subtlepatterns/bright_squares.png); padding-top: 60px; padding-bottom: 0; }
.panel-heading { font-size: 1.5em; text-align: center; font-weight: bold; }
.jumbotron { margin-bottom: 0; height: auto; background: url(../images/subtlepatterns/denim.png); color: #fff; vertical-align: center;}
footer { text-align: center; padding: 20px 0; margin-top: 40px; border-top: 1px solid #e5e5e5; background-color: #2c3e50; }
footer p { margin-bottom: 0; color: #777; }

html, body { margin: 0; padding-top: 30px;; height: 100%; }
iframe {
    position: absolute;
    top: 5%; left: 0; width: 100%; height: 95%;
    border: none; padding-top: 32px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}

header {z-index: 10000; }
.navbar { opacity: 0.9}

h2 { margin-top: 30px; border-bottom: 1px solid #e5e5e5}
#content { padding: 0 20px; }
#toc { margin: 0 0 20px 20px; border: 2px solid white; }

section { min-height: 700px; width:100%; min-width:100%; margin-top:-5px; position:relative; }
section > .pattern { position:absolute; background: url(../images/subtlepatterns/bright_squares.png) repeat scroll 0 0 transparent; opacity: 0.35; width:100%; height: 100%;}
section > .container { position: relative; }
section .container h2 { margin-top: 80px; border-bottom: none;}

.page-header { border-bottom: 1px solid #2c3e50; }


#section1 { background-color: #bbb}
#section2 { background-color: #ddd}
#section3 { background-color: #ccc}
#section4 { background-color: #fefefe}
#section5 { background-color: #aaa}
#section6 { background-color: #dedede}
#section7 { background-color: #bbb}
#section8 { background-color: #ddd}
#section9 { background-color: #ccc}
#section10 { background-color: #fefefe}
#section11 { background-color: #aaa}
#section12 { background-color: #dedede}


