<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /docs/php/br/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) /docs/php/br/manual-lookup.php?pattern=$1&lang=br [L]
</IfModule>

