

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Working with Tagged Services &mdash; Symfony2Docs v2.1.0 2.1.0 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.1.0',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2Docs v2.1.0 2.1.0 documentation" href="../../index.html" />
    <link rel="up" title="Dependency Injection" href="index.html" />
    <link rel="next" title="Using a Factory to Create Services" href="factories.html" />
    <link rel="prev" title="Compiling the Container" href="compilation.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="factories.html" title="Using a Factory to Create Services"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="compilation.html" title="Compiling the Container"
             accesskey="P">previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v2.1.0 2.1.0 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" accesskey="U">Dependency Injection</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="working-with-tagged-services">
<span id="index-0"></span><h1>Working with Tagged Services<a class="headerlink" href="#working-with-tagged-services" title="Permalink to this headline">¶</a></h1>
<p>Tags are a generic string (along with some options) that can be applied to
any service. By themselves, tags don&#8217;t actually alter the functionality of your
services in any way. But if you choose to, you can ask a container builder
for a list of all services that were tagged with some specific tag. This
is useful in compiler passes where you can find these services and use or
modify them in some specific way.</p>
<p>For example, if you are using Swift Mailer you might imagine that you want
to implement a &#8220;transport chain&#8221;, which is a collection of classes implementing
<tt class="docutils literal"><span class="pre">\Swift_Transport</span></tt>. Using the chain, you&#8217;ll want Swift Mailer to try several
ways of transporting the message until one succeeds.</p>
<p>To begin with, define the <tt class="docutils literal"><span class="pre">TransportChain</span></tt> class:</p>
<div class="highlight-python"><pre>class TransportChain
{
    private $transports;

    public function __construct()
    {
        $this-&gt;transports = array();
    }

    public function addTransport(\Swift_Transport  $transport)
    {
        $this-&gt;transports[] = $transport;
    }
}</pre>
</div>
<p>Then, define the chain as a service:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><pre>parameters:
    acme_mailer.transport_chain.class: TransportChain

services:
    acme_mailer.transport_chain:
        class: %acme_mailer.transport_chain.class%</pre>
</div>
</li>
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="nt">&lt;parameters&gt;</span>
    <span class="nt">&lt;parameter</span> <span class="na">key=</span><span class="s">&quot;acme_mailer.transport_chain.class&quot;</span><span class="nt">&gt;</span>TransportChain<span class="nt">&lt;/parameter&gt;</span>
<span class="nt">&lt;/parameters&gt;</span>

<span class="nt">&lt;services&gt;</span>
    <span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;acme_mailer.transport_chain&quot;</span> <span class="na">class=</span><span class="s">&quot;%acme_mailer.transport_chain.class%&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/services&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\Definition</span><span class="p">;</span>

<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setParameter</span><span class="p">(</span><span class="s1">&#39;acme_mailer.transport_chain.class&#39;</span><span class="p">,</span> <span class="s1">&#39;TransportChain&#39;</span><span class="p">);</span>

<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;acme_mailer.transport_chain&#39;</span><span class="p">,</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span><span class="s1">&#39;%acme_mailer.transport_chain.class%&#39;</span><span class="p">));</span>
</pre></div>
</div>
</li>
</ul>
</div>
<div class="section" id="define-services-with-a-custom-tag">
<h2>Define Services with a Custom Tag<a class="headerlink" href="#define-services-with-a-custom-tag" title="Permalink to this headline">¶</a></h2>
<p>Now we want several of the <tt class="docutils literal"><span class="pre">\Swift_Transport</span></tt> classes to be instantiated
and added to the chain automatically using the <tt class="docutils literal"><span class="pre">addTransport()</span></tt> method.
As an example we add the following transports as services:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><pre>services:
    acme_mailer.transport.smtp:
        class: \Swift_SmtpTransport
        arguments:
            - %mailer_host%
        tags:
            -  { name: acme_mailer.transport }
    acme_mailer.transport.sendmail:
        class: \Swift_SendmailTransport
        tags:
            -  { name: acme_mailer.transport }</pre>
</div>
</li>
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;acme_mailer.transport.smtp&quot;</span> <span class="na">class=</span><span class="s">&quot;\Swift_SmtpTransport&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;argument&gt;</span>%mailer_host%<span class="nt">&lt;/argument&gt;</span>
    <span class="nt">&lt;tag</span> <span class="na">name=</span><span class="s">&quot;acme_mailer.transport&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/service&gt;</span>

<span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;acme_mailer.transport.sendmail&quot;</span> <span class="na">class=</span><span class="s">&quot;\Swift_SendmailTransport&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;tag</span> <span class="na">name=</span><span class="s">&quot;acme_mailer.transport&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/service&gt;</span>
</pre></div>
</div>
</li>
<li><em>PHP</em><div class="highlight-php"><div class="highlight"><pre><span class="k">use</span> <span class="nx">Symfony\Component\DependencyInjection\Definition</span><span class="p">;</span>

<span class="nv">$definitionSmtp</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span><span class="s1">&#39;\Swift_SmtpTransport&#39;</span><span class="p">,</span> <span class="k">array</span><span class="p">(</span><span class="s1">&#39;%mailer_host%&#39;</span><span class="p">));</span>
<span class="nv">$definitionSmtp</span><span class="o">-&gt;</span><span class="na">addTag</span><span class="p">(</span><span class="s1">&#39;acme_mailer.transport&#39;</span><span class="p">);</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;acme_mailer.transport.smtp&#39;</span><span class="p">,</span> <span class="nv">$definitionSmtp</span><span class="p">);</span>

<span class="nv">$definitionSendmail</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Definition</span><span class="p">(</span><span class="s1">&#39;\Swift_SendmailTransport&#39;</span><span class="p">);</span>
<span class="nv">$definitionSendmail</span><span class="o">-&gt;</span><span class="na">addTag</span><span class="p">(</span><span class="s1">&#39;acme_mailer.transport&#39;</span><span class="p">);</span>
<span class="nv">$container</span><span class="o">-&gt;</span><span class="na">setDefinition</span><span class="p">(</span><span class="s1">&#39;acme_mailer.transport.sendmail&#39;</span><span class="p">,</span> <span class="nv">$definitionSendmail</span><span class="p">);</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>Notice that each was given a tag named <tt class="docutils literal"><span class="pre">acme_mailer.transport</span></tt>. This is
the custom tag that you&#8217;ll use in your compiler pass. The compiler pass
is what makes this tag &#8220;mean&#8221; something.</p>
</div>
<div class="section" id="create-a-compilerpass">
<h2>Create a <tt class="docutils literal"><span class="pre">CompilerPass</span></tt><a class="headerlink" href="#create-a-compilerpass" title="Permalink to this headline">¶</a></h2>
<p>Your compiler pass can now ask the container for any services with the
custom tag:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Compiler\CompilerPassInterface;
use Symfony\Component\DependencyInjection\Reference;

class TransportCompilerPass implements CompilerPassInterface
{
    public function process(ContainerBuilder $container)
    {
        if (false === $container-&gt;hasDefinition('acme_mailer.transport_chain')) {
            return;
        }

        $definition = $container-&gt;getDefinition('acme_mailer.transport_chain');

        foreach ($container-&gt;findTaggedServiceIds('acme_mailer.transport') as $id =&gt; $attributes) {
            $definition-&gt;addMethodCall('addTransport', array(new Reference($id)));
        }
    }
}</pre>
</div>
<p>The <tt class="docutils literal"><span class="pre">process()</span></tt> method checks for the existence of the <tt class="docutils literal"><span class="pre">acme_mailer.transport_chain</span></tt>
service, then looks for all services tagged <tt class="docutils literal"><span class="pre">acme_mailer.transport</span></tt>. It adds
to the definition of the <tt class="docutils literal"><span class="pre">acme_mailer.transport_chain</span></tt> service a call to
<tt class="docutils literal"><span class="pre">addTransport()</span></tt> for each &#8220;acme_mailer.transport&#8221; service it has found.
The first argument of each of these calls will be the mailer transport service
itself.</p>
</div>
<div class="section" id="register-the-pass-with-the-container">
<h2>Register the Pass with the Container<a class="headerlink" href="#register-the-pass-with-the-container" title="Permalink to this headline">¶</a></h2>
<p>You also need to register the pass with the container, it will then be
run when the container is compiled:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;

$container = new ContainerBuilder();
$container-&gt;addCompilerPass(new TransportCompilerPass);</pre>
</div>
</div>
<div class="section" id="adding-additional-attributes-on-tags">
<h2>Adding additional attributes on Tags<a class="headerlink" href="#adding-additional-attributes-on-tags" title="Permalink to this headline">¶</a></h2>
<p>Sometimes you need additional information about each service that&#8217;s tagged with your tag.
For example, you might want to add an alias to each TransportChain.</p>
<p>To begin with, change the <tt class="docutils literal"><span class="pre">TransportChain</span></tt> class:</p>
<div class="highlight-python"><pre>class TransportChain
{
    private $transports;

    public function __construct()
    {
        $this-&gt;transports = array();
    }

    public function addTransport(\Swift_Transport $transport, $alias)
    {
        $this-&gt;transports[$alias] = $transport;
    }

    public function getTransport($alias)
    {
        if (array_key_exists($alias, $this-&gt;transports)) {
           return $this-&gt;transports[$alias];
        }
        else {
           return;
        }
    }
}</pre>
</div>
<p>As you can see, when <tt class="docutils literal"><span class="pre">addTransport</span></tt> is called, it takes not only a <tt class="docutils literal"><span class="pre">Swift_Transport</span></tt>
object, but also a string alias for that transport. So, how can we allow
each tagged transport service to also supply an alias?</p>
<p>To answer this, change the service declaration:</p>
<div class="configuration-block">
<ul class="simple">
<li><em>YAML</em><div class="highlight-yaml"><pre>services:
    acme_mailer.transport.smtp:
        class: \Swift_SmtpTransport
        arguments:
            - %mailer_host%
        tags:
            -  { name: acme_mailer.transport, alias: foo }
    acme_mailer.transport.sendmail:
        class: \Swift_SendmailTransport
        tags:
            -  { name: acme_mailer.transport, alias: bar }</pre>
</div>
</li>
<li><em>XML</em><div class="highlight-xml"><div class="highlight"><pre><span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;acme_mailer.transport.smtp&quot;</span> <span class="na">class=</span><span class="s">&quot;\Swift_SmtpTransport&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;argument&gt;</span>%mailer_host%<span class="nt">&lt;/argument&gt;</span>
    <span class="nt">&lt;tag</span> <span class="na">name=</span><span class="s">&quot;acme_mailer.transport&quot;</span> <span class="na">alias=</span><span class="s">&quot;foo&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/service&gt;</span>

<span class="nt">&lt;service</span> <span class="na">id=</span><span class="s">&quot;acme_mailer.transport.sendmail&quot;</span> <span class="na">class=</span><span class="s">&quot;\Swift_SendmailTransport&quot;</span><span class="nt">&gt;</span>
    <span class="nt">&lt;tag</span> <span class="na">name=</span><span class="s">&quot;acme_mailer.transport&quot;</span> <span class="na">alias=</span><span class="s">&quot;bar&quot;</span> <span class="nt">/&gt;</span>
<span class="nt">&lt;/service&gt;</span>
</pre></div>
</div>
</li>
</ul>
</div>
<p>Notice that you&#8217;ve added a generic <tt class="docutils literal"><span class="pre">alias</span></tt> key to the tag. To actually
use this, update the compiler:</p>
<div class="highlight-python"><pre>use Symfony\Component\DependencyInjection\ContainerBuilder;
use Symfony\Component\DependencyInjection\Compiler\CompilerPassInterface;
use Symfony\Component\DependencyInjection\Reference;

class TransportCompilerPass implements CompilerPassInterface
{
    public function process(ContainerBuilder $container)
    {
        if (false === $container-&gt;hasDefinition('acme_mailer.transport_chain')) {
            return;
        }

        $definition = $container-&gt;getDefinition('acme_mailer.transport_chain');

        foreach ($container-&gt;findTaggedServiceIds('acme_mailer.transport') as $id =&gt; $tagAttributes) {
            foreach ($tagAttributes as $attributes) {
                $definition-&gt;addMethodCall('addTransport', array(new Reference($id), $attributes["alias"]));
            }
        }
    }
}</pre>
</div>
<p>The trickiest part is the <tt class="docutils literal"><span class="pre">$attributes</span></tt> variable. Because you can use the
same tag many times on the same service (e.g. you could theoretically tag
the same service 5 times with the <tt class="docutils literal"><span class="pre">acme_mailer.transport</span></tt> tag), <tt class="docutils literal"><span class="pre">$attributes</span></tt>
is an array of the tag information for each tag on that service.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Working with Tagged Services</a><ul>
<li><a class="reference internal" href="#define-services-with-a-custom-tag">Define Services with a Custom Tag</a></li>
<li><a class="reference internal" href="#create-a-compilerpass">Create a <tt class="docutils literal"><span class="pre">CompilerPass</span></tt></a></li>
<li><a class="reference internal" href="#register-the-pass-with-the-container">Register the Pass with the Container</a></li>
<li><a class="reference internal" href="#adding-additional-attributes-on-tags">Adding additional attributes on Tags</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="compilation.html"
                        title="previous chapter">Compiling the Container</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="factories.html"
                        title="next chapter">Using a Factory to Create Services</a></p>
  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/dependency_injection/tags.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="factories.html" title="Using a Factory to Create Services"
             >next</a> |</li>
        <li class="right" >
          <a href="compilation.html" title="Compiling the Container"
             >previous</a> |</li>
        <li><a href="../../index.html">Symfony2Docs v2.1.0 2.1.0 documentation</a> &raquo;</li>
          <li><a href="../index.html" >The Components</a> &raquo;</li>
          <li><a href="index.html" >Dependency Injection</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2012, Symfony Team.
      Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.1.3.
    </div>
  </body>
</html>