/* common */
/* updated */

html {
	overflow-y: scroll;
}


p, div, body {
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 0.5em;
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

th {
	border: solid 1px black;
	padding: 5px; 
	background-color: #e0f0ff;
	text-align: left;
}

td {
	border: solid 1px black;
	padding: 5px; 
}

body {
	background: #ffffff;
	font-family: Verdana, arial;
	font-size:12px;
	line-height:1.4;
	color:#333;

}

a, a img {
	border: none;
}

a {
	color: #3366cc;
	text-decoration: underline;	
}

a:hover {
	color: #ff0000;
}

p {
	margin-bottom: 1em;
}

#wrapper{
	width:1000px;
	margin:0 auto;
	position:relative;
}


#header {
	height: 132px;
	clear: both;
}

#logo {
	position:absolute;
	left:0;
	top:30px;
}
#logo a{
	text-decoration:none;
	color:inherit;
	font-weight:bold;
	font-size: 13px;
}
#logo span {
	display:block;
	margin-bottom:9px;
}



#call {
	position:absolute;
	right:0;
	top:30px;
	font-weight:bold;
	font-size: 13px;
}

#download td
{
         border: none;
         padding: 0px;
         vertical-align: top;
         padding-right: 10px;
}


#follow, #follow li{
	display:inline;
	padding:0;
	margin:0;
}

#follow span {
    display: none;
}

#follow a {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align:bottom;
	background-image: url('/images/icons-follow.png');
}

#follow2 a{
	background-position: -16px 0px;
}

#follow3 a{
	background-position: -32px 0px;
}

#follow4 a{
	background-position: -48px 0px;
}



#topnav {
	position:absolute;
	right:0;
	top:70px;
	width: 775px;
	background: url('images/bg-topnav.png') repeat-x left bottom;
	height:30px;
	margin:0;
	padding:0;
	
}

#topnav >li {
	float: left;
	list-style:none;
	margin:0;
	position:relative;
}
#topnav >li:first-child {
	margin-left:30px;
}
#topnav >li.current {
	background: url('images/topnav-cur.png') no-repeat left bottom;
}
#topnav >li  a {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
	line-height:30px;
	display:block;
	padding:0 25px 0 15px ;

}
#topnav >li >a:after {
	content:url(images/bg-topnav-el-after.png);
	position:absolute;
	right:9px;
	top:-1px;
}
#topnav >li >a.current,#topnav >li:hover >a {
	background:#155ba9;
}
#topnav >li >ul{
	display:none;
	position:absolute;
	left:0;
	top:100%;
	margin:0;
	padding:5px 0;
	min-width:140px;
	background:#155ba9;
    z-index: 1000;
}
#topnav >li:hover >ul{
	display:block;
}
#topnav >li >ul li{
	margin:0;
	padding:0;
	list-style:none;
}
#topnav >li >ul li a{
	line-height:20px;
	padding:0 20px;
	color:#fff;
	white-space:nowrap;
}
#topnav >li >ul li a:hover {
	background:#428ddf;
}






.header {
	font-size: 24px;
	line-height:30px;
	font-weight: normal;
	margin: 0 0 15px;
	color: #000000;
}
#beef>.header:first-child {
	border-bottom:#c1c1c1 1px solid;
}
#footer {
	height: 30px;
	background: #2260ad;
	line-height:30px;
	color:#fff;
	text-align:center;
}

.col {
	background: #f8f8f8;
	width: 445px;
	margin-right: 15px;
	padding: 15px;
	float: left;
}

small {
	font-family: Verdana;
	font-size: 11px;
}

.sep {
	height: 15px;
	clear: both;
}

/* front-only */

#promo {
	width: 965px;
	height: 185px;
}

#latest {
	width: 980px;
	margin: 0 auto;
	padding-left: 15px;
	clear: both;
	overflow: hidden;
}

#latest div {
	float: left;
	background-color: #f8fcff;
	width: 445px;
	margin-right: 15px;
	padding: 15px;
	margin-bottom: -1000px;
	padding-bottom: 1000px;
}

#sitemap {
	background: url('/images/bg-map.png') repeat-y top;
	overflow:hidden;
}

.sitemapcol {
	min-width: 126px;
	margin: 20px;
	float: left;
}
#sitemap h5{
	font-size:18px;
	margin:0 0 10px;
}
#sitemap h5, #sitemap a {
	font-weight: 100;
	color: #ffffff;
}

#sitemap a {
}

#sitemap a:hover {
	color: #ccc;
}

#sitemap ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

#sitemap li {
	margin-bottom: 0.25em;
}

#frontfooter {
	padding: 8px 23px 8px 8px;
	float: right;
}

#banner {
    height: 220px;
}

/* The Nivo Slider styles */
.nivoSlider {
    margin-left: auto;
    margin-right: auto;
	position:relative;
    width: 1000px;
    height: 170px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top: 0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
    position: relative;
    top: 160px;
    text-align: center;
}
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(images/nivo/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	padding: 20px 0;
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:21px;
	height:21px;
	background:url(images/nivo/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:none;
	width:30px;
	height:30px;
	background:url(images/nivo/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/* inner-only */

#sidebar {
	width: 280px;
	float: left;
	margin-right: 20px;
	margin-bottom:1em;
}

#sidebar a.current {
	color: #000000;
	text-decoration: none;
}

#beef {
	overflow:hidden;
	margin-bottom:1em;
}

.testimonial {
	margin-bottom: 2em;
}

.clean td, .clean th {
	border: none;
	background: none;
}

.dl {
	width: 100%;
}

.dl td {
	border: none;
	border-bottom: solid 1px gray;
}

.dl td img {
	width: 16px;
	height: 16px;
	margin-top: 3px;
}

#outdated {
	border-width: 1px;
	background-color: black;
	padding: 17px;
	color: ghostwhite;
	font-variant: small-caps;
	font-size: 11pt;
	outline-width: 2px;
}

#outdated a {
	color: cornflowerblue;
	text-decoration: none;
	font-weight: bold;
}

/* forum */

#forum {
/*	width: 935px; */
	float: left;
/*	background: url('/images/main-back.png') repeat-x top;*/
/*	padding: 15px;*/
}

#forum table {
	border: none;
	border-left: solid 1px gray;;
	border-right: solid 1px gray;;
	margin-bottom: 1em;
}

#forum table td {
	border: none;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
	padding: 6px;
}

#forum_user {
	float: right;
}

.forum_light {
	vertical-align: top;
}

.forum_dark {
	background-color: #f0f8ff;
	vertical-align: top;
}

.forum_unread {
	color: red;
}

.forum_text {
	color: black;
	font-size: 10pt;
}

.forum_quote {
	color: gray;
}

.forum_title {
	font-family: Tahoma;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 15px;
}

.forum_team { font-style: italic; }
.forum_tiny { font-size: 10pt; }
.forum_tiny_gray { font-size: 10pt; color: black; }
.forum_tiny_to { font-size: 10pt; text-decoration: none; }
.forum_error { color: red; font-weight: bold; }
.forum_subscribe { color: blue; font-weight: bold; }
.forum_facebook { color: blue; font-weight: bold; }
.forum_success { color: #003399; font-weight: bold; }
.forum_input { background-color: white; border: 1px solid #666666; }
.forum_button { border: 1px solid #999999; }

/* blog */
.post{
	margin-bottom:1.5em;
	overflow:hidden;
}

.post-teaser .date{
	float:left;
	width:60px;
	text-align:center;
	padding-right:6px;
	margin-right:10px;
	height:20px;
	line-height:20px;
	background:url(images/bg-post-date.png);
	font-size:11px;
	color:#fff;
	margin-top:5px;
}

.post-teaser .date_featured{
        float:left;
        width:60px;
        text-align:center;
        padding-right:6px;
        margin-right:10px;
        height:20px;
        line-height:20px;
        background:url(images/bg-post-date-featured.png);
        font-size:11px;
        color:#fff;
        margin-top:5px;
}

.post-teaser .entry{
	overflow:hidden;
}
.post .head{
	margin:0;
	font-size:18px;
	margin-bottom:0.3em;
	font-weight:100;
}
.post .head a{
	color:#000;
}
.post .head a:hover {
	color:red;
}

.posthead {
	border: 1px solid #e0e0e0;
	padding: 10px;
}

.post .posthead {
	border: 1px solid #cce0ff;
	background-color: #f0f8ff;
}

.entry {
	
}

.entry h2 {
	font-family: Tahoma;
	font-size: 23px;
	font-weight: normal;
	margin-bottom: 15px;
	color: #3366cc;
}


#whous h4{
	font-size:24px;
	margin:0;
	line-height:1.6;
	font-weight:100;
}
#whous .content{
	border-top:1px solid #000;
}
#whous {
	margin:20px 0;
}

.clear{
	clear:both;
}

#hot{
	background:#f2f2e5;
	-moz-border-radius:2px;
	border-radius:2px;
}
#hot h4{
	background:#ebebe3;
	-moz-border-radius:2px 2px 0 0;
	border-radius:2px 2px 0 0;
	margin:0;
	font-size:24px;
	line-height:40px;
	padding:0 15px;
	font-weight:100;
	border-bottom:#d8d8cc 1px solid;
}
#hot .hot-el{
	border-top:#fff 1px solid;
	border-bottom:#d8d8cc 1px solid;
	padding:15px;
	overflow:hidden;
}
#hot .hot-el.last{
	border-bottom:none;
}

#hot .hot-el .img{
	float:left;
	margin-right:1ex;
}
#hot .hot-el .title{
	font-size:18px;
	overflow:hidden;
}

#hot .hot-el p{
	margin:0;
	overflow:hidden;
}

#sidebar >.menu, #sidebar >.menu {
	margin:0;
	padding:0;
	list-style:none;
}
#sidebar >.menu a{
	padding-left:20px;
	line-height:30px;
	font-size:18px;
}

#breadcrumb{
	margin-bottom:1em;
}

#search{
	position:absolute;
	top: 70px;
	right:0px;
	height:30px;
	width:38px;
	background:url(images/bg-search.png) 50% no-repeat;
	opacity:.5;
	cursor:pointer;
}
#search:hover {
	opacity:1;
	cursor:pointer;
}
#search form{
	display:none;
}

#search.active{
	width:275px;
	background:url(images/bg-search-a.png);
	opacity:1;
	top:101px;
}
#search.active form{
	display:block;
}
#search form label{
	margin-left:22px;
	color:#fff;
	line-height:30px;
	display:inline-block;
	width:60px;
}
#search form input[type="text"]{
	border:none;
	height:18px;
	padding:4px;
	display:inline-block;
	-moz-border-radius:3px;
	border-radius:3px;
	width:183px;
}

#search form input[type="submit"]{
	background:url(images/bg-search-button.png) 50% no-repeat;
	height:30px;
	width:38px;	
	position:absolute;
	top:0;
	right:0;
	border:none;
	cursor:pointer;
}

#centered td {
    text-align: center;
}

#slider {
background:url(/images/nivo/loading.gif) no-repeat 50% 50%;
}

.wp_syntax .code pre {
        white-space: pre-wrap !important;
        white-space: -moz-pre-wrap !important;
        white-space: -pre-wrap !important;
        white-space: -o-pre-wrap !important;
        word-wrap: break-word !important;
}

