{% extends 'index.html.twig' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Symfony 1.4 Docs</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Getting Started</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="getting-started/01-Introduction.markdown">Introduction</a></li>
                            <li class="list-group-item"><a href="getting-started/02-Prerequisites.markdown">Prerequisites</a></li>
                            <li class="list-group-item"><a href="getting-started/03-Symfony-Installation.markdown">Symfony Installation</a></li>
                            <li class="list-group-item"><a href="getting-started/04-Project-Setup.markdown">Project Setup</a></li>
                            <li class="list-group-item"><a href="getting-started/05-Web-Server-Configuration.markdown">Web Server Configuration</a></li>
                            <li class="list-group-item"><a href="getting-started/06-Environments.markdown">Environments</a></li>
                            <li class="list-group-item"><a href="getting-started/07-Whats-Next.markdown">Whats Next</a></li>
                            <li class="list-group-item"><a href="getting-started/A-Sandbox.markdown">Sandbox</a></li>
                            <li class="list-group-item"><a href="getting-started/B-License.markdown">License</a></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Forms</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="forms/01-Form-Creation.markdown">01. Creation</a></li>
                            <li class="list-group-item"><a href="forms/02-Form-Validation.markdown">02. Validation</a></li>
                            <li class="list-group-item"><a href="forms/03-Forms-for-web-Designers.markdown">03. Forms for web Designers</a></li>
                            <li class="list-group-item"><a href="forms/04-Propel-Integration.markdown">04. Propel Integration</a></li>
                            <li class="list-group-item"><a href="forms/08-Internationalisation-and-Localisation.markdown">08. Internationalisation and Localisation</a></li>
                            <li class="list-group-item"><a href="forms/11-Doctrine-Integration.markdown">11. Doctrine Integration</a></li>
                            <li class="list-group-item"><a href="forms/A-Widgets.markdown">A. Widgets</a></li>
                            <li class="list-group-item"><a href="forms/B-Validators.markdown">B. Validators</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Gentle Introduction</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="gentle-introduction/01-Introducing-Symfony.markdown">01. Introducing Symfony</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/02-Exploring-Symfony-s-Code.markdown">02. Exploring Symfony's Code</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/03-Running-Symfony.markdown">03-Running-Symfony</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/04-The-Basics-of-Page-Creation.markdown">The Basics of Page Creation</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/05-Configuring-Symfony.markdown">Configuring Symfony</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/06-Inside-the-Controller-Layer.markdown">Inside the Controller Layer</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/07-Inside-the-View-Layer.markdown">Inside the View Layer</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/08-Inside-the-Model-Layer-Doctrine.markdown">Inside the Model Layer</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/09-Links-and-the-Routing-System.markdown">Links and the Routing System</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/10-Forms.markdown">Forms</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/11-Emails.markdown">Emails</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/12-Caching.markdown">Caching</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/13-I18n-and-L10n.markdown">I18n and L10n</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/14-Admin-Generator.markdown">Admin Generator</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/15-Unit-and-Functional-Testing.markdown">Unit and Functional Testing</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/16-Application-Management-Tools.markdown">Application Managment Tools</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/17-Extending-Symfony.markdown">Extending Symfony</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/18-Performance.markdown">Performance</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/19-Mastering-Symfony-s-Configuration-Files.markdown">Mastering Symfony's ConfigurationFiles</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/A-Inside-the-Model-Layer-Propel.markdown">Inside the Model Layer Propel</a></li>
                            <li class="list-group-item"><a href="gentle-introduction/B-License.markdown">License</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Reference</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="reference/01-Introduction.markdown">01 - Introduction</a></li>
                            <li class="list-group-item"><a href="reference/02-YAML.markdown">02 - YAML</a></li>
                            <li class="list-group-item"><a href="reference/03-Configuration-Files-Principles.markdown">03 - Configuration Files Principles</a></li>
                            <li class="list-group-item"><a href="reference/04-Settings.markdown">04 - Settings</a></li>
                            <li class="list-group-item"><a href="reference/05-Factories.markdown">05 - Factories</a></li>
                            <li class="list-group-item"><a href="reference/06-Admin-Generator.markdown">06 - Admin Generator</a></li>
                            <li class="list-group-item"><a href="reference/07-Databases.markdown">07 - Databases</a></li>
                            <li class="list-group-item"><a href="reference/08-Security.markdown">08 - Security</a></li>
                            <li class="list-group-item"><a href="reference/09-Cache.markdown">09 - Cache</a></li>
                            <li class="list-group-item"><a href="reference/10-Routing.markdown">10 - Routing</a></li>
                            <li class="list-group-item"><a href="reference/11-App.markdown">11 - App</a></li>
                            <li class="list-group-item"><a href="reference/12-Filters.markdown">12 - Filters</a></li>
                            <li class="list-group-item"><a href="reference/13-View.markdown">13 - View</a></li>
                            <li class="list-group-item"><a href="reference/14-Other-Configuration-Files.markdown">14 - Other Configuration Files</a></li>
                            <li class="list-group-item"><a href="reference/15-Events.markdown">15 - Events</a></li>
                            <li class="list-group-item"><a href="reference/16-Tasks.markdown">16 - Tasks</a></li>
                            <li class="list-group-item"><a href="reference/A-What-s-New.markdown">A - What's New</a></li>
                            <li class="list-group-item"><a href="reference/B-Upgrade.markdown">B - Upgrade</a></li>
                            <li class="list-group-item"><a href="reference/C-Deprecated.markdown">C - Deprecated</a></li>
                            <li class="list-group-item"><a href="reference/D-License.markdown">D - License</a></li>
                        </ul>
                    </div>
                </div>
          </div>

          <div class="clearfix"></div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">More with Symfony</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="more-with-symfony/en/01-Introduction.markdown">Introduction</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/02-Advanced-Routing.markdown">Advanced Routing</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/03-Enhance-your-Productivity.markdown">Enhance your Productivity</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/04-Emails.markdown">Emails</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/05-Custom-Widgets-and-Validators.markdown">Custom Widgets and Validators</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/06-Advanced-Forms.markdown">Advanced Forms</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/07-Extending-the-Web-Debug-Toolbar.markdown">Extending the Web Debug Toolbar</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/08-Advanced-Doctrine-Usage.markdown">Advanced Doctrine Usage</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/09-Doctrine-Form-Inheritance.markdown">Doctrine Form Inheritance</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/10-Symfony-Internals.markdown">Symfony Internals</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/11-Windows-and-Symfony.markdown">Windows and Symfony</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/12-Developing-for-Facebook.markdown">Developing for Facebook</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/13-Leveraging-the-Power-of-the-Command-Line.markdown">Leveraging the Power of the Command Line</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/14-Playing-with-Symfony-Config-Cache.markdown">Playing with Symfony Config Cache</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/15-Working-with-the-Symfony-Community.markdown">Working with the Symfony Community</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/authors.markdown">A) sfWidgetFormGMapAddress</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/B-Custom-Installer-Example.markdown">B) Custom Installer Example</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/C-License.markdown">C) License.markdown</a></li>
                            <li class="list-group-item"><a href="more-with-symfony/en/translators.markdown">Translators</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Jobeet</div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><a href="jobeet/en/01.markdown">Day 1</a></li>
                            <li class="list-group-item"><a href="jobeet/en/02.markdown">Day 2</a></li>
                            <li class="list-group-item"><a href="jobeet/en/03.markdown">Day 3</a></li>
                            <li class="list-group-item"><a href="jobeet/en/04.markdown">Day 4</a></li>
                            <li class="list-group-item"><a href="jobeet/en/05.markdown">Day 5</a></li>
                            <li class="list-group-item"><a href="jobeet/en/06.markdown">Day 6</a></li>
                            <li class="list-group-item"><a href="jobeet/en/07.markdown">Day 7</a></li>
                            <li class="list-group-item"><a href="jobeet/en/08.markdown">Day 8</a></li>
                            <li class="list-group-item"><a href="jobeet/en/09.markdown">Day 9</a></li>
                            <li class="list-group-item"><a href="jobeet/en/10.markdown">Day 10</a></li>
                            <li class="list-group-item"><a href="jobeet/en/11.markdown">Day 11</a></li>
                            <li class="list-group-item"><a href="jobeet/en/12.markdown">Day 12</a></li>
                            <li class="list-group-item"><a href="jobeet/en/13.markdown">Day 13</a></li>
                            <li class="list-group-item"><a href="jobeet/en/14.markdown">Day 14</a></li>
                            <li class="list-group-item"><a href="jobeet/en/15.markdown">Day 15</a></li>
                            <li class="list-group-item"><a href="jobeet/en/16.markdown">Day 16</a></li>
                            <li class="list-group-item"><a href="jobeet/en/17.markdown">Day 17</a></li>
                            <li class="list-group-item"><a href="jobeet/en/18.markdown">Day 18</a></li>
                            <li class="list-group-item"><a href="jobeet/en/19.markdown">Day 19</a></li>
                            <li class="list-group-item"><a href="jobeet/en/20.markdown">Day 20</a></li>
                            <li class="list-group-item"><a href="jobeet/en/21.markdown">Day 21</a></li>
                            <li class="list-group-item"><a href="jobeet/en/22.markdown">Day 22</a></li>
                            <li class="list-group-item"><a href="jobeet/en/23.markdown">Day 23</a></li>
                            <li class="list-group-item"><a href="jobeet/en/ack.markdown">ack</a></li>
                            <li class="list-group-item"><a href="jobeet/en/A-License.markdown">License</a></li>
                        </ul>
                    </div>
                </div>
            </div>

      </div>
{% endblock content %}



