<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>O Componente Config &mdash; Symfony2.4Docs 2.4 documentation</title>
    
    <link rel="stylesheet" href="../../_static/default.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '2.4',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <link rel="top" title="Symfony2.4Docs 2.4 documentation" href="../../index.html" /> 
  </head>
  <body>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li><a href="../../index.html">Symfony2.4Docs 2.4 documentation</a> &raquo;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body">
            
  <div class="section" id="o-componente-config">
<span id="index-0"></span><h1>O Componente Config<a class="headerlink" href="#o-componente-config" title="Permalink to this headline">¶</a></h1>
<div class="section" id="introducao">
<h2>Introdução<a class="headerlink" href="#introducao" title="Permalink to this headline">¶</a></h2>
<p>O Componente Config fornece diversas classes para lhe ajudar a buscar, carregar,
combinar, autopreencher e validar valores de configuração de qualquer tipo, não
importando qual o tipo de fonte (arquivos Yaml, XML, INI, ou por exemplo, um banco de dados).</p>
</div>
<div class="section" id="instalacao">
<h2>Instalação<a class="headerlink" href="#instalacao" title="Permalink to this headline">¶</a></h2>
<p>Você pode instalar o componente de 2 formas diferentes:</p>
<ul class="simple">
<li>Utilizando o repositório Git oficial (<a class="reference external" href="https://github.com/symfony/Config">https://github.com/symfony/Config</a>);</li>
<li><tt class="xref doc docutils literal"><span class="pre">Instale</span> <span class="pre">via</span> <span class="pre">Composer</span></tt> (<tt class="docutils literal"><span class="pre">symfony/config</span></tt> on <a class="reference external" href="https://packagist.org/packages/symfony/config">Packagist</a>).</li>
</ul>
</div>
<div class="section" id="secoes">
<h2>Seções<a class="headerlink" href="#secoes" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li><a class="reference internal" href="resources.html"><em>Carregando recursos</em></a></li>
<li><a class="reference internal" href="caching.html"><em>Caching baseado em recursos</em></a></li>
<li><a class="reference internal" href="definition.html"><em>Definindo e processando valores de configuração</em></a></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">O Componente Config</a><ul>
<li><a class="reference internal" href="#introducao">Introdução</a></li>
<li><a class="reference internal" href="#instalacao">Instalação</a></li>
<li><a class="reference internal" href="#secoes">Seções</a></li>
</ul>
</li>
</ul>

  <h3>This Page</h3>
  <ul class="this-page-menu">
    <li><a href="../../_sources/components/config/introduction.txt"
           rel="nofollow">Show Source</a></li>
  </ul>
<div id="searchbox" style="display: none">
  <h3>Quick search</h3>
    <form class="search" action="../../search.html" method="get">
      <input type="text" name="q" />
      <input type="submit" value="Go" />
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
    <p class="searchtip" style="font-size: 90%">
    Enter search terms or a module, class or function name.
    </p>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../genindex.html" title="General Index"
             >index</a></li>
        <li><a href="../../index.html">Symfony2.4Docs 2.4 documentation</a> &raquo;</li> 
      </ul>
    </div>
    <div class="footer">
        &copy; Copyright 2014, Symfony Team + Symfony pt_BR Team.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.2.2.
    </div>
  </body>
</html>